[2016-04-15 14:30] cryos commented on #370
I will rebuild latest on Linux and see if it is happening here too, thanks for pointing this out.

[2016-04-15 17:09] cryos commented on #370
Just merged a trivial fix to restore two columns, seems to be behaving as expected here at least. Getting back to my bigger set of UI changes that will deprecate that widget.

[2016-04-15 17:09] #370 closed

[2016-04-19 18:02] Hovden opened #373 "Generating Sample Data Crashes Again"
Tomviz is back to crashing when a user runs generated sample data.

Repeatable on OSX by running "Sample Data" > "Random Particles".

[2016-04-19 18:03] mathturtle commented on #373
I'll take a look at it.

[2016-04-19 18:05] Hovden commented on #373
It looks like all the Python routines are not working on my cdash build (OSX). 0.7.2-117-g

[2016-04-19 18:17] mathturtle commented on #373
It is just ITK that is broken.  But due to the global import in tomviz.utils, nothing works if ITK is not found.  I'll put up a fix.

[2016-04-19 18:25] Hovden commented on #373
Great.

[2016-04-20 18:20] #373 closed

[2016-04-21 20:18] Hovden opened #376 "Minor UI Menu reorganization"
The "visualization" icons should be moved to the left of the top menu. They are used the most and have a stronger relation to the visualization modules panel.
<img width="1305" alt="screen shot 2016-04-21 at 4 16 38 pm" src="https://cloud.githubusercontent.com/assets/6197997/14722967/9436e3e4-07dc-11e6-83da-2d22810909ff.png">

[2016-04-21 20:37] cryos commented on #376
Agreed

[2016-04-27 23:12] ercius opened #377 "Suggested screen shot features"
using: tomviz 0.7.2-122-g6c7ae98

I have a couple of usability suggestions for the Save screenshot feature:

1) Allow for a transparent background. This makes really nice figures for presentations, or allows you to change the background later for a paper figure. It could be an option in the Override color palette drop down box.

2) The Lock Aspect option (little red button on the right of the reso

[2016-04-27 23:32] ercius opened #378 "Crop transform not saved in state file"
If you crop a data set and then save a state file, the crop transform is not reapplied when loading the state file. A `transform_scalars()` transform is instead placed in the Data transforms flow.

[2016-04-28 19:01] mathturtle commented on #378
Good catch!  Working on a fix now.

[2016-04-28 20:00] mathturtle commented on #377
1) I think this is a really good idea.  I don't know how difficult it will be to implement though.  It may already be in ParaView.

2) I think this is much more user-dependent.  Lock Aspect locks the aspect ratio of the output image to your VTK view's current aspect ratio which can be really strange.  Depending on the user and how their panels are laid out, they may or may not want this on.  When

[2016-04-29 18:21] ercius opened #380 "Global mapping data for data set not available"
I found a bug with respect to the "global" mapping data for a data set in 0.7.2-122-g6c7ae98. Click on a data set name in the Viz Modules list. The mapping data graph in the Properties box is not shown. I also can not click on the Set Range button to set a global range for all subsequent visualization modules. See attached file for details.

Correct view (from 0.7.2):
![mappingdatacorrect](https:/

[2016-04-29 18:30] ercius opened #381 "Setting global mapping data range makes state file saving/loading unstable"
tomviz version: 0.7.2 (release)
OS: Windows 7

1) Click on the data file name in the Viz Modules.
2) In the properties box click on the Set range button located to the right of the Mapping data (second from the top, looks like a C) and enter any values in the popup box
![mappingdatacorrect](https://cloud.githubusercontent.com/assets/15657108/14925583/03de6bb0-0dfd-11e6-86c5-0e6070085111.jpg)
3) Sa

[2016-04-30 00:37] ercius opened #382 "Add camera linking"
It would be useful to be able to link two camera views together allowing you to compare two reconstructions or visualizations. This would also allow a screen shot with the same view orientation and magnification to be exported easily.

Paraview implements this already, but I do not see the same function in tomviz.

[2016-05-03 14:22] mathturtle opened #383 "Histogram colormap gets messed up after applying operator"
I found that if I load a dataset and apply a square root or other operator to it then the histogram will exhibit some very strange behavior (see image).  Reproducable on Linux (haven't tested other platforms).

![tomviz_histogram_point_placement_bug](https://cloud.githubusercontent.com/assets/553788/14986139/93fd135e-1118-11e6-9658-3caae8579e11.png)

@cquammen

[2016-05-03 15:06] cryos commented on #380
@cquammen any ideas on this?

[2016-05-03 15:06] cryos commented on #381
@mathturtle can you look into this issue please.

[2016-05-03 15:15] cquammen commented on #380
Will take a look this afternoon.

[2016-05-03 15:57] #378 closed

[2016-05-03 17:46] cryos opened #384 "Migrate to pqProxyWidgetDialog from pqWriterDialog"
The pqWriterDialog has been removed in ParaView master, comments indicate that pqProxyWidgetDialog supersede this class. We need to migrate before we can push the ParaView SHA forward.

[2016-05-03 18:28] #384 closed

[2016-05-03 20:14] cquammen commented on #380
Hmm, I am unable to reproduce locally. The color map editor is not even present when the "global" color map is in effect.

Against which version of ParaView did you build tomviz? Or is this a binary you downloaded?

[2016-05-03 20:19] mathturtle commented on #381
I've tried a few things and I'm not seeing the instability/crash right now.  I even checked out that commit and didn't see this.  I didn't see anything in valgrind either.  I know that #378 has been fixed since this commit, so maybe that was causing this.  Or one of the bugs I fixed while working on my progress bar branch... I don't know.

@ercius Can you give me more details?  Do you have any tra

[2016-05-03 20:29] cryos commented on #380
He says in the report - release compared to 0.7.2-122, I am guessing this is from a nightly build. I was just looking at this. I have a build on Linux with 0.7.2-127 here, using ParaView master from this morning. I see the global mapping data - you have to click on the data set in order to see it show up. It seems to appear as expected here, and I can rescale the range by clicking on the rescale b

[2016-05-04 04:37] ercius commented on #381
I'll check this tomorrow. I also had issues with the crop transform but I
used a fresh Tomviz state to produce this issue.

On Tue, May 3, 2016, 1:19 PM Shawn Waldon <notifications@github.com> wrote:

[2016-05-04 14:52] Hovden opened #386 "Website: Replace visualization on homepage with animated gif"
On the homepage of tomviz.org, replace the current visualization (star particle) with the rotating graphic (gif of nanoparticles on support) on the github page.

Also remove the download button below current visualization (star particle).

[2016-05-04 14:54] Hovden opened #387 "Website: Documentation link at top of page"
On the homepage place a documentation link at the top menu that links to the documentation on the github page:

https://github.com/OpenChemistry/tomviz
or
https://github.com/OpenChemistry/tomviz/blob/master/README.md

[2016-05-04 15:15] cryos commented on #387
That is just our git repository, I think we should consider something that is more end-user oriented, such as https://www.gitbook.com/ which could then be developed using tools more dedicated to authoring/hosting documentation, or publishing a github site for the project.

[2016-05-04 15:47] Hovden commented on #387
gitbook looks like it could be a good solution.

[2016-05-04 15:53] cryos commented on #387
https://www.gitbook.com/book/openchemistry/tomviz has the new skeleton, if you have an account on there (or link it to your GitHub profile) I can give you edit permissions.

[2016-05-04 15:55] Hovden commented on #387
It's been linked to my github profile:
https://www.gitbook.com/@hovden

[2016-05-04 16:45] ercius commented on #381
@mathturtle Looks like this was an issue with my own system. I rebooted it last night to install updates and now all of the state files I had trouble with load fine. Sorry for the confusion.

[2016-05-04 16:51] ercius commented on #380
I just tried this again today after rebooting my Windows 7 system. The mapping data is not available in the nightly version as I previously reported. I also can not click on the buttons to the right of the mapping data plot.

Im currently downloading the newest nightly and will check with that. It was likely related to other updates occurring during that time and fixed shortly after I downloaded t

[2016-05-04 17:22] cryos commented on #380
It could be a Windows issue too, I can take a look on my Windows 7 test machine later today. I want to make sure we address these issues as we prepare to make our next release.

[2016-05-04 18:21] mathturtle commented on #381
Ok.  Glad it's fixed now.

[2016-05-04 18:22] cryos commented on #381
Thanks for following up on this @ercius

[2016-05-04 18:22] #381 closed

[2016-05-04 19:21] cquammen commented on #380
Thanks for the clarification, Marcus. I just tried to reproduce the observed behavior observed by @ercius with version 0.7.2-122-g6c7ae98 on Windows 10 and could not.

I'm not exactly clear on what you are seeing, @cryos. I can rescale to a range entirely inside the range [0, 255] and the color bar and opacity function appear reasonable. I can edit any of the colors by double-clicking on their con

[2016-05-04 19:34] cquammen commented on #383
Confirmed on Windows 10 and Mac OS X. Will have a look. I probably just need to update the axis for the color bar.

[2016-05-04 21:00] ercius commented on #380
Im on Windows 7 machine with a Nvidia GeForce GTX 280. I downloaded the nightly to another computer running Windows 10 with a Geforce Nvidia card (had never run tomviz before) and see the same exact issue. I also tried loading the sample data set and see the same issue. I can screen share or upload a video of this in action if you cant reproduce it.

To reproduce the issue:
1) Load a fresh instanc

[2016-05-04 21:05] mathturtle commented on #380
Yeah, the binaries for Windows are lagging a bit.  We share the machine with some other projects and we are queued behind a bunch of SMTK builds right now.

[2016-05-04 21:08] ercius commented on #377
I think 1 will be very useful.
Maybe I am expecting different behavior from the screen shot function. I want to capture exactly what is in the VTK viewer just at higher resolution than my screen resolution. Ill try it your way and see how it works.

[2016-05-04 21:12] cquammen commented on #380
@ercius Any chance we can get the TIFF image you are loading?

[2016-05-04 23:17] cryos commented on #380
@cquammen the sample data set is bundled with the binaries offered for download, and available from the menu. You can see the URL in the superbuild somewhere - it is pretty small.

[2016-05-05 17:07] #383 closed

[2016-05-05 17:46] cryos commented on #380
The issues I mentioned have gone away after a reboot/rebuild, may have been an inconsistent build. I was able to reproduce the issue with the missing transfer function editor on Linux now though - built master (0.7.2-136), with the latest ParaView (13c765a), and loading the MEDIUM or SMALL data set, clicking on the data item in the visualization modules, the mapping data is showing as blank for me

[2016-05-05 18:02] cquammen opened #392 "UI that incorporates new data generated by data transforms"
Some data transforms may generate new data sets, such as label maps that describe segmented objects. Linking these new data objects to their source in the UI so that the user knows what is being visualized is very important, as is maintaining the link between original and derived data for data provenance.

Here is a mockup of a potential UI to show original data, the transforms applied to it, and

[2016-05-05 18:38] mathturtle commented on #380
I tried with a fresh build of ParaView and tomviz master branches and still couldn't reproduce (I'm on Ubuntu 15.10).

[2016-05-05 18:53] cquammen opened #393 "Cube axes have been removed from ParaView"
When building against latest ParaView, this warning message appears:

ERROR: In /Users/cory.quammen/src/paraview-tomviz/ParaViewCore/ServerManager/Core/vtkSMNamedPropertyIterator.cxx, line 151
vtkSMNamedPropertyIterator (0x7fd5392c0090): In proxy GeometryRepresentation no property named CubeAxesVisibility was found.

Warning: In /Users/cory.quammen/src/paraview-tomviz/ParaViewCore/ServerManager/Co

[2016-05-05 19:06] cquammen commented on #380
Hmm, this is frustrating. I cannot reproduce with the same versions of tomviz and ParaView as @cryos on Mac OS X.

I ***have*** noticed some repainting problems in ParaView built against Qt 5. If you scroll the Color Map Editor, the transfer function editor widgets do not repaint as expected. They stay in place with some artifacts or go black while the surround UI moves with the scroll action. Mou

[2016-05-05 19:20] cryos commented on #393
Yes, we should get this fixed before the new release. We need to move ParaView forward for some Qt 5 fixes/updates but still want support for axes.

[2016-05-05 19:23] cquammen commented on #393
I'm happy to do it. Shouldn't be too much work.

[2016-05-05 19:26] cryos commented on #393
Thanks @cquammen!

[2016-05-05 21:46] Hovden opened #394 ""Show Axis Grid" makes volume render disappear"
The axis grid doesn't appear compatible with the volume visualization (tested on OSX)
1) Load dataset and Volume visualization
2) In top menu select "Tools > Show axis grid"
The volume render will disappear / only appear on surfaces of bounding box. After turning off "Show axis grid" volume render remains broken.

[2016-05-06 02:26] cquammen commented on #394
Bug confirmed.

[2016-05-06 03:00] cquammen commented on #394
This bug also exists in ParaView master.

[2016-05-06 03:07] cquammen commented on #394
This is apparently a regression since the 5.0.1 release. I will file a bug for ParaView.

[2016-05-06 03:27] cquammen commented on #394
Bug filed: http://www.paraview.org/Bug/view.php?id=16111

[2016-05-06 13:31] Hovden commented on #392
It looks good from a user design perspective.

Would the data transforms then only apply to the parent dataset, before segmentation?

[2016-05-06 13:56] Hovden opened #396 "Make "Output Messages" Embeddable as a Panel in Main Program ux"
The "Output Messages" often gets lost behind the main program or pops up and has to be moved out of the way. This could be avoided by allowing the output window to be embeddable. Also, by having the output window always visible the user is much more likely to see output messages. I would probably default to embedding it as a small box in the lower right of the UI.

This request is similar to #94,

[2016-05-06 14:46] cquammen commented on #392
In my view, a segmentation is just another form of data transform, but it is one that produces new data. With that view, you can just chain the data transforms together as you would do now. After segmentation, you might want a transform that yields a volume measurement, for example, so you could add a volume measurement transform after segmentation.

[2016-05-06 14:49] cryos commented on #392
It breaks the model we chose for Tomviz, where we generally keep no mid points, so it is not possible to visualize things in the middle of a pipeline. Does this become an exception, how do we best express that, perhaps it is reasonable.

[2016-05-06 14:52] cquammen commented on #396
This is something we want to do in ParaView as well. It isn't on the feature list for 5.1 or 5.2, though, so I'm not sure when to expect it.

[2016-05-06 15:01] Hovden commented on #396
Can we throw it a couple upvotes?

[2016-05-06 15:02] cquammen commented on #392
I'm aware that I may be biased from my work on ParaView, so I'm trying hard to do what is best for tomviz users rather than just revert to what is familiar.

In my image analysis work, I have found it is useful - necessary, even - to visualize mid points, particularly if you have a set of processing steps that you apply to different tomographic reconstructions and something goes wrong in the outpu

[2016-05-06 15:36] cryos commented on #392
You can view them, but you need to remove the other pipeline objects after them. The memory requirements are an issue when working with real systems, and outside of debugging I am not sure we need to revert the work done here for what appears to be a minority use case.

This may not work as well for multiple segmentation operations, and so like I said it may be worth exploring alternatives, and we

[2016-05-06 15:40] cryos commented on #392
Just to add that ITK operations tend to be a little different as they produce generally smaller label maps, most of which do not change the output of the pipeline. We knew going in they were different, and exploring how best to add them more visually to the pipeline is something we knew would take some work. Having multiple label maps seems manageable, but it would be harder to support them operat

[2016-05-06 16:52] Hovden commented on #392
However we decide to handle the segmented data, we might want to handle reconstructions in a similar way. For tomographic reconstruction, we will have a derived dataset where it assumed that the user will not change or will not be allowed to change the data processing steps done to the parent data (tilt series).

[2016-05-06 17:05] cquammen commented on #392
How about this?

- List the segmentations under the data set in the Visualization Modules list.
- In visualization modules that support the use of a label map, show a combo box of label maps as a property in the Properties panel

Here's a mockup of what it would look like.

![image](https://cloud.githubusercontent.com/assets/360056/15080259/3008fb68-138b-11e6-90d8-c795a5a387a6.png)

[2016-05-06 17:28] Hovden commented on #392
I'd like to think of an approach in line with what @cryos suggested:
"...we had already talked about making this somewhat of a hybrid approach where some operations are stored/cached (such as reconstructions)."

For reconstruction it might work like this:
Tiltseries is loaded, several data transforms are applied, finally a reconstruction is ran. When the reconstruction is complete it appears as an

[2016-05-06 18:02] mathturtle commented on #392
I like this idea of "locked" transforms.  It prevents some of the corner cases I have been wondering about on the progress bar branch (and in general) when something at the top of the list is edited and everything re-executes.

[2016-05-06 20:28] cquammen commented on #396
I'll talk to one of the developers :-)

[2016-05-09 19:00] cryos commented on #380
I just merged #397, which helps on Linux but I want to see if it does the same on other platforms. If nothing else this is a better pattern where we avoid processing/initialization until the point at which it will be shown on the screen. I was unable to reproduce this bug on Linux with this patch, but could repeatedly do so before.

[2016-05-11 16:00] mathturtle commented on #38
The last PR has been merged and you can move objects whenever the mode is enabled, regardless of what is selected.  Can we close this or are we waiting for something else?

[2016-05-11 16:01] #38 closed

[2016-05-11 17:33] Hovden opened #400 "Properties Panel repeats and is glitchy"
Within the last couple merged pull requests the data properties menu has gotten really long. It repeats information. It also is glitchier than previous (I know that is vague).
<img width="306" alt="screen shot 2016-05-11 at 1 33 03 pm" src="https://cloud.githubusercontent.com/assets/6197997/15190256/e9d24e42-177c-11e6-997e-0105b4d103ae.png">

[2016-05-11 17:36] Hovden commented on #400
Version OSX 0.7.2-143-g7d9b1b2

[2016-05-11 17:45] mathturtle commented on #400
Confirmed.  Doesn't happen on Linux (with my local build), but the OSX binaries reproduce this for me.

[2016-05-11 18:08] cryos commented on #400
PR #399 was intended to address that, it was a Mac OS X specific bug. This was merged this morning, the -140- binaries from yesterday also exhibited that problem. I can confirm it is no better with that change on bigmac either, @utkarshayachit any other ideas on that one?

[2016-05-11 18:11] mathturtle commented on #400
I'm going to try removing the QVTKWidgets from the properties panel temporarily and see if that fixes it.  If so it is a problem with QVTKWidget and Qt5... @utkarshayachit suggested it as a first step in debugging this.

[2016-05-11 18:19] cryos commented on #400
Testing on bigmac, I see that -138- has a working panel, https://open.cdash.org/viewFiles.php?buildid=4354229 is the link, does that work for you too @Hovden? Just trying to at least narrow down what changes may have triggered this.

[2016-05-11 18:27] Hovden commented on #400
Properties panel in build -138- is working as was normal (only minor glitch in "Mapping Data" appearance)
Properties panel in build -140- and -143- is not working (repeats information and glitchy)

[2016-05-11 19:00] cryos commented on #400
Confirmed here, and with @mathturtle. I am going to try moving the ParaView SHA back and see if that confirms that it is isolated to recent changes in ParaView (that appears to be the case from what I can tell).

[2016-05-11 20:39] mathturtle commented on #400
Did VTK change between the ParaView updates?  More specifically QVTKWidget?  I just did a build with the QVTKWidget removed from the pqTransferFunctionEditor and it gets rid of the bug.  (Of course it doesn't really show anything useful there anymore, but we have the histogram colormap editor now...)

If anyone is interested, here is the ParaView patch I used to remove the QVTKWidget:
[remove-qvtk

[2016-05-11 22:32] cryos commented on #400
I am sure the VTK submodule did change, I have confirmed the new build with the reverted ParaView SHA looks better on Mac OS X. It is the more recent of the builds today. Not marking this as fixed, but it may be better for us to stay on an older SHA for this release.

[2016-05-12 15:33] mathturtle commented on #400
@utkarshayachit's QT_WS_*/QT_OS_* change to VTK/ParaView doesn't affect this bug.  I figured I'd try it (or revert it if it was already in) since it is the only recent change to QVTKWidget that I know of.

[2016-05-12 15:48] cryos commented on #400
I think we are OK for now, and don't see any point in putting more time into investigating at this stage. Before the 0.9 release I would like to replace that dialog so as to reduce the duplication of functionality, and improve the consistency of our user interface - I am not sure it is worth investing more effort looking into this for us.

[2016-05-12 15:48] #400 closed

[2016-05-13 13:09] cquammen commented on #394
Bug in ParaView is now fixed: https://mail.google.com/mail/u/0/#all/1549b1da814fc49f

[2016-05-17 09:50] cquammen commented on #393
Merged in PR #395

[2016-05-17 09:50] #393 closed

[2016-05-17 14:37] cryos commented on #45
Sorry about this, I really wanted to get this in but the move to Qt 5 took a lot more time than planned.

[2016-05-17 19:24] yijiang1 opened #402 "Instruction for installing ITK"
The build version of tomviz now requires ITK. Can we update the instruction page (https://github.com/OpenChemistry/tomviz/blob/master/BUILDING.md) to show how to install ITK properly?

[2016-05-17 19:44] cquammen commented on #394
ParaView's VTK version is being bumped to get the new fix:

https://gitlab.kitware.com/paraview/paraview/merge_requests/777

[2016-05-17 21:58] Hovden commented on #45
No worries. This also ties in with the recent "cached" / "cached transforms" discussed in #392 .

[2016-05-17 23:54] cryos commented on #394
We will have to hold off until we have the rendering issues on Mac figured out to move ParaView/VTK forward for this (or any other) fix.

[2016-05-20 20:38] ercius commented on #380
@cryos I missed your comment that this patch was applied. I just downloaded 0.7.2-145 and this seems fixed on Windows 10 (I recently updated). Thanks for addressing this!

[2016-05-20 20:38] #380 closed

[2016-05-23 15:38] Hovden opened #405 "Downsample x2 not efficient. Memory fills up for 1GB datasets"
We need a more efficient Python approach to downsampling by 2.

Solution 1:
Change python code from order 4 spline to order 3 (bilinear) and turn prefilter off.
    result = scipy.ndimage.interpolation.zoom(array, (0.5, 0.5, 0.5),output=None, order=1,mode='constant', cval=0.0, prefilter=False)

Solution 2:
FFT image and throw away half of data at high-frequencies.

Problem:
When I load a large 1GB

[2016-05-23 16:35] Hovden opened #407 "Interactive Crop Box appear at incorrect position when viz object has been shifted"
1) open a dataset, and shift the visualization using the "hand on box" icon.
2) crop dataset

The crop box will appear where the dataset originally was placed, not where it is has been shifted to.

Also applies to Clear Volume Box

[2016-05-23 18:24] Hovden opened #408 "Save State / Save Data menu on OSX"
It would be better if the Save State / Save Data matched the "Open" data menu layout. Is this easy?

Open data looks like this:
<img width="706" alt="screen shot 2016-05-23 at 2 21 01 pm" src="https://cloud.githubusercontent.com/assets/6197997/15480143/e6d32936-20f1-11e6-949d-6e1c85431161.png">

Save data looks like this:
<img width="683" alt="screen shot 2016-05-23 at 2 21 31 pm" src="https://clo

[2016-05-23 18:58] mathturtle commented on #408
Not really.  The open data menu is using ParaView's custom UI that which shows all available readers.  I just limit the available readers via a whitelist in the proxy definition manager.

Save Data could use this infrastructure if you are OK with selecting from all the ParaView writers... I guess I could add a whitelist here too, so this isn't *that* hard.  Right now it uses a default QFileDialog

[2016-05-23 22:09] Hovden commented on #408
Ok, good to know. Let's leave it for another time. It is low-priority.

[2016-05-25 13:47] cryos commented on #380
Thanks for confirming, this is in the 0.8.0 release we just tagged.

[2016-05-25 19:38] mathturtle commented on #407
I don't even have to test it... as soon as you pointed it out, I knew it was broken.  Those features don't know about each other.  I'll put up a fix.

[2016-05-25 23:02] Hovden commented on #405
Changed the spline interpolation to order 1. It is faster and uses less memory. 1024^3 datasets won't crash on mac laptop when downsampling.

[2016-05-25 23:02] #405 closed

[2016-05-26 16:35] cryos commented on #386
Done

[2016-05-26 16:35] #386 closed

[2016-05-26 17:40] mathturtle commented on #402
In my experience, you have to either build ITK yourself, or change the compiled in RPATHs on Linux/OSX to get this to work.  The superbuild works by replacing these paths, which you can do locally (it is complicated though).  Otherwise you really need to compile it yourself.  Do you want instructions (or possibly a script) to build ITK or instructions for fixing up the ITK that the superbuild uses

[2016-05-26 19:03] Hovden commented on #402
I suggest building ITK instructions / script if it is less complicated and avoids ad-hoc solutions.

[2016-05-26 19:08] cryos commented on #402
Let's just document the ITK build steps, same as we do for ParaView.

[2016-05-27 17:09] #402 closed

[2016-05-27 20:44] mathturtle commented on #376
@Hovden I noticed that you also moved the 'Move data mode' button over.  Do you want this change as well or just the Visualization modules moved all the way to the left?

Notes to anyone trying to do this: there is no way to tell Qt Designer which order the toolbars go in.  You have to edit the UI file and reorder the <widget> tags for the toolbars.  Their order in the file directly corresponds to

[2016-05-27 20:52] Hovden commented on #376
Yes. I think the 'Move data mode' should be next to or included with the axis tools (e.g. show axis, move center, etc.).

[2016-05-27 22:07] Hovden opened #413 "Add "invert data" to data transforms"
It will be useful to invert the dataset values. It can be a python based transform:

result = np.amax(array) - array

[2016-05-27 22:11] Hovden opened #414 "UI Crashes when clicking between visualization modules."
Crashes when clicking between visualization modules (OSX):
1) open two datasets, such as sample data reconstruction.
2) click quickly between visualization modules and datasets in the pipeline

[2016-05-28 15:19] mathturtle commented on #414
This doesn't appear to have anything to do with the visualization modules... It is clicking on the dataset that is crashing tomviz for me.  This is another OSX + Qt5 issue (or so it appears).  When the data properties panel is loading, I get a lot of messages like this:
[code]
Each time I switch between the module properties panel being shown and the data properties panel being shown (especially i

[2016-05-30 18:03] #413 closed

[2016-06-02 14:34] Hovden commented on #392
Here is what I propose:

At the end of a python routine the user can call tomviz utils to set the data one of three ways:
1) utils.set_array() to set the new values in place of existing data
2) utils.clone() to clone the dataset
3) utils.makechild() to lock transforms on the existing dataset and create a new dataset under it (see Cory's picture at the top of this thread)

[2016-06-05 16:11] #376 closed

[2016-06-06 17:26] #369 closed

[2016-06-06 17:27] #276 closed

[2016-06-07 16:19] #407 closed

[2016-06-09 15:52] Hovden commented on #28
This was addressed in merge #416

@mathturtle Great job adding the slider. With the fast contour rendering it is nice and interactive.

I have two minor tweaks before closing:
1) text to the left of slider should read "value" instead of "isosurface"
2) make specular lighting default value non-zero, maybe 0.3?

[2016-06-10 22:28] ercius opened #418 "Minor cosmetic issue: Pipe line tab name"
A **very** minor, cosmetic issue. The name of the Pipe lines tab (directly above the word Visualization) has an extra '&' symbol. It currently reads Pipe&lines. See attached screen shot.

![clipboard02](https://cloud.githubusercontent.com/assets/15657108/15980331/a231bfd6-2f1f-11e6-9113-fde602a8b461.jpg)

[2016-06-10 22:35] ercius opened #419 "Retrieve data from slice and/or orthogonal slice"
I often want to export the data displayed in the orthogonal slice or (more importantly) the arbitrarily angled slice module as a 2D image (or data set). Is there a way to do this currently or to access the slice data in the tomviz python console? It would be very useful for measurements if this was possible including some sort of way to determine the scale of the data (pixel --> nanometer calibrat

[2016-06-13 14:24] Hovden commented on #419
I don't think there is a good way of doing this other than the screen shot.

It's not a good solution, but it wouldn't be hard to write a python routine that writes out an orthogonal slice.

Implementation of scale (pixel -> nm) is long overdue. We should prioritize this.

[2016-06-13 14:28] Hovden opened #420 "Kill / Abort function for python"
If a python function hangs for too long, the user should be able to abort.

[2016-06-13 14:48] Hovden opened #421 "Axis grid should be part of "Outline""
The axis grid and its properties should be part of the"outline" visualization module.

The axis ticks should then match the outline colors. This will solve the problem of white axis ticks on a white background.

Also, it will allow us to add options to the axis grid, like displaying the actual scale (e.g. in nanometers)

This may also be a better approach in Paraview.

[2016-06-13 14:50] Hovden commented on #396
Any feedback from ParaView on this?

[2016-06-13 15:25] cryos commented on #420
This is surprisingly hard to accomplish. The Python code running in a background thread would need to check for an aborted flag in its tight loops, or we would need to run it in a background process which we could kill. Easiest option is going to be moving to a background thread and making the Python code cooperative.

[2016-06-13 17:19] Hovden commented on #420
Could we call a cancel gui or progress bar within Python?

[2016-06-13 19:06] ercius commented on #419
scipy.interpolate has griddata() (unstructured data) and RegularGridInterpolator(). I have it working in 2D but not 3D yet.

It would be great to be able to directly correlate the point/normal values for a non-orthogonal plane in tomviz to where the plane lies within the 3D volume. This is already possible with the orthoSlice since the "slice" value is in volume coordinates. The point displayed in

[2016-06-13 20:36] cquammen commented on #396
Alas, this will likely not make it into the 5.1 release, which is coming out in the next month.

[2016-06-13 21:10] Hovden commented on #396
My thought is this could provide a temporary solution to the progress bar problem. When python routines are running, we can write terminal output progress bars and messages that are visible to the user. This way it doesn't seem like tomviz has frozen when long python processes are running.

[2016-06-13 21:16] mathturtle commented on #396
@Hovden It won't work.  Unless you expect them to run tomviz from a terminal where they can see the output in the terminal.  And since few of our users are on Linux, that is probably unrealistic.  The GUI (including the output window) can't update during the python routine since the python never passes control back to it for event processing.  To do anything about the progress bar problem we have

[2016-06-13 21:33] Hovden commented on #396
I see.

[2016-06-15 13:19] Hovden opened #424 "Crashes when most new View panels are created."
Most View Panel Modes crash:
1) Open tomviz and split view panel
2) Select any view panel other than "Render View"

Solution:
Disable all other view modes and automatically create "Render View" when a panel is split.

[2016-06-15 15:53] ercius commented on #424
Do any of the other render modes work?

On Wed, Jun 15, 2016, 6:19 AM Robert Hovden <notifications@github.com>
wrote:

[2016-06-15 16:02] cryos commented on #424
There is a missing null check that should be fixed, that is causing the crash. I think we should improve the dialog too, but am hoping to make some of the other views useful. The code currently assumes all views will have an axes grid, get the proxy, and then use it without checking for null. Many other views do not have the axes grid.

[2016-06-15 18:49] mathturtle commented on #414
So I actually managed to track this down a bit more today (Well, I found the DataPropertiesPanel was slow to load and did some debugging to find out why, then remembered this issue).  Anyway, the problem is in DataPropertiesPanel where we override paintEvent to call our update() method before repainting.  But update() modifies the UI, which then triggers another round of repaints and another paint

[2016-06-15 20:17] cryos commented on #424
#425 fixes the crash, we will look into a better solution to address other issues.

[2016-06-15 20:18] cryos commented on #418
That is strange, and should not be. I will look into it.

[2016-06-15 20:20] cryos commented on #414
Hopefully this is fixed, I didn't look at this particular issue directly, but I did rename the slot, made it a protected member, and removed the render slot that wasn't needed. I think update() was badly named, let me know if things look better the loop should hopefully be gone now.

[2016-06-15 20:20] mathturtle commented on #418
I have checked this while debugging other things on Linux and OSX and haven't found a system that reproduces it yet.

[2016-06-15 20:30] mathturtle commented on #414
I just tried and couldn't reproduce this bug.  It seems fixed to me.  @Hovden?

...I did find a new bug, but I'll create a new issue for that.

[2016-06-15 20:33] mathturtle opened #426 "DataPropertiesPanel doesn't update when switching between datasets"
1) Load two different datasets.
2) Select one of them (not a module) so that the data properties panel is shown
3) Select the other dataset -> the data properties panel still displays the other dataset's information

This only happens when clicking back and forth between the datasets.  If you click on a module in between, then it updates correctly since hiding it and re-showing forces a new paintE

[2016-06-15 21:59] Hovden commented on #418
It doesn't appear in last weeks nightly build for OSX

[2016-06-15 22:23] Hovden commented on #19
I think there is a Qt config that needs to be set. The jump to high DPI monitors should be noticeable on most of the application (text etc.) even if the icons are not at 2x.

http://doc.qt.io/qt-5/highdpi.html

[2016-06-16 05:59] ercius commented on #418
I've seen it on Windows for a few releases but never brought it up because
it's so minor. I'll check it on a Mac tomorrow.

On Wed, Jun 15, 2016, 2:59 PM Robert Hovden <notifications@github.com>
wrote:

[2016-06-16 17:52] Hovden commented on #306
Is this currently addressed with the "Specify Data Range" button?

[2016-06-16 17:58] cryos commented on #306
I would like to add the graphical equivalent to the chart, I really just moved the button closer to the central widget.

[2016-06-16 18:01] Hovden opened #428 "Add Colormap Buttons to Histogram"
Histogram UX should have buttons to change colormap. Most of this has already been addressed by @cryos . Just needs the "invert contrast" button.

Also making this issue to keep track of features.

[2016-06-17 14:06] cryos commented on #428
I think #430 completes the changes we wanted (for now at least).

[2016-06-17 14:15] Hovden commented on #428
Great. Merge and close?

[2016-06-17 14:23] cryos commented on #428
Yes, let me know if you think of anything else.

[2016-06-17 14:23] #428 closed

[2016-06-17 19:36] cryos commented on #426
Ah yeah, I see it, I will see what I can do - I think we are missing a signal slot connection on data source changed to the properties panel.

[2016-06-20 15:41] VeraBeer opened #431 "Can't open Tomviz 0.8.0 on OSX 10.8"
I downloaded the newest stable release on my OSX 10.8 and could not open it. The error message said "tomviz quit unexpectedly".

The full error report is below.

Process:         tomviz [684]
Path:            /Applications/tomviz.app/Contents/MacOS/tomviz
Identifier:      ???
Version:         ??? (0.8.0)
Code Type:       X86-64 (Native)
Parent Process:  launchd [173]
User ID:         509

Date/Tim

[2016-06-20 15:50] mathturtle commented on #431
Unfortunately I know exactly what this is.  With the switch to Qt 5, specifically their latest release of Qt 5.6, I had to change the minimum OSX version our binaries can work on up to 10.9.  I couldn't get a build compatible with 10.8 that had C++11 support to work.  So I had to choose and I chose the C++11 support.  What this means is that running this on OSX 10.8 won't work.

@cryos is OSX 10.8

[2016-06-20 15:59] cryos commented on #431
@mathturtle was this due to the OS X C++ libraries being broken for C++11 combined with 10.8? Checking Qt's compatibility http://doc.qt.io/qt-5/supported-platforms-and-configurations.html they seem to think that 10.8 should still be supported even though 5.7 now requires C++11, we should look into whether this can be supported.

Is there a reason to remain back on 10.8? As I remember it we had an

[2016-06-20 16:37] ElliotPadgett commented on #431
No, we are updating now, but it would be nice if the website download page told you the OS requirements.

[2016-06-20 16:50] cryos commented on #431
@ElliotPadgett, yes sorry about that, it was an oversight that it didn't make it onto the download page. I will add it, and we can revisit if there is a compelling reason to support 10.8.

[2016-06-20 16:59] cryos commented on #431
I updated the downloads page, the jump to Qt 5 moved the minimum up on all platforms.

[2016-06-20 17:10] mathturtle commented on #431
As I recall, the ifdef that broke compilation had to do with C++11 in Qt.  So I had to build Qt from source and I couldn't get the 10.8 compilers to do that with C++11 support enabled.

[2016-06-20 17:36] VeraBeer commented on #431
Thanks for your help!
This answers it for me, so we can close the issue whenever you are ready

[2016-06-20 17:40] cryos commented on #431
Thanks for reporting the issue, and hopefully this is clearer to others in the future.

[2016-06-20 17:40] #431 closed

[2016-06-20 18:12] ElliotPadgett opened #432 "Progress indicator for Image Alignment (Auto)"
It would be nice if there was a progress indicator of some type for the Image Alignment (Auto) data transform since it may take a long time if the user has a large dataset.  The python transform has a for loop in it iterating over images in the stack so there is a clear way to measure the progress.

[2016-06-20 20:22] ElliotPadgett opened #433 "Auto and manual alignment should treat shifts the same way"
Right now the automatic alignment applies its shifts irreversibly when it is done, while the manual alignment saves its shifts in the special alignment object, allowing them to be updated later.  There are several problems with this:
1) The inconsistent behavior is confusing to users.
2) The automatic alignment has to be re-run every time the pipeline is refreshed.  For real datasets (~1024X1024X8

[2016-06-20 21:06] ElliotPadgett opened #434 "Manual image alignment double-counts shifts"
If the user uses the manual alignment tool to align the data, then clicks "ok" when finished, tomviz applies the shifts to the data and ALSO keeps the shifts in the manual alignment box.  Then, if they open their alignment operator again to update it, tomviz applies the saved shifts on the already shifted data, making the alignment incorrect.

To work around this the user can build up a stack of m

[2016-06-20 21:12] ElliotPadgett opened #435 "Turn off image smoothing in manual alignment widget"
Is it possible to turn off the image smoothing in the manual alignment widget so that it is easy to see the pixel edges?  It is nice to see the pixels so that you can tell how precisely you have aligned your data.

[2016-06-20 21:14] mathturtle commented on #433
Hmmm.... you have a point, it is silly to treat them differently.  Your idea about saving the shifts as metadata could work, though it puts more of a burden on the reconstruction algorithms since they have to know to do the alignment before starting.  Or tomviz has to know that a particular transform is a reconstruction and do the shifts internally for you before running it.  You may run into trou

[2016-06-20 21:32] mathturtle commented on #434
You're right, it is broken.  The first set of shifts are the only ones applied if you go back and edit the shifts it doesn't work.  I'll look into it.

[2016-06-21 14:06] mathturtle commented on #434
I've pushed a pull request that should fix this (I merged another related change last night for a bug I found when testing this).  @ElliotPadgett can you and/or @yijiang1 test this and see if it fixes what you were seeing please?

[2016-06-21 14:08] ElliotPadgett commented on #433
All things considered I think that's a good solution.  With #434 fixed that should also make it easy for users to save partway, quit, and resume without unnecessary waiting.

@yijiang1 @Hovden what do you think?

[2016-06-21 14:10] ElliotPadgett commented on #434
I can test after it comes out in the nightly build.

[2016-06-21 14:28] yijiang1 commented on #433
Agreed.

This is pretty much what @ElliotPadgett and I discussed yesterday.
To accomplish this we should rewrite the auto alignment method in C++ instead python.

[2016-06-21 14:44] mathturtle commented on #433
If you want to.... I can call a python function from wherever I want.  It really just needs to be changed to return the list/array of shifts.  If you feel like rewriting it in C++ at the same time (so that it could give status updates to a progress bar and/or for the speed improvement of compiled code) then you can.

[2016-06-21 15:03] mathturtle commented on #434
Ok, so I tried a different dataset and now I see what you are talking about.  The fix in #437 addresses a related issue, but doesn't address this.  Working on a fix for this now.

[2016-06-21 18:34] yijiang1 opened #439 "Image should not freeze when "stop" button is clicked in manual alignment widget"
In manual alignment widget, the image cannot be changed when the "stop" button is clicked.
We should allow this to happen. The "stop" button should only stop flashing two images.

[2016-06-21 19:04] mathturtle commented on #434
@ElliotPadgett #440 should fix this issue.  Sorry about the confusion earlier.

[2016-06-21 19:34] yijiang1 commented on #434
@ElliotPadgett I've tested and the bug is fixed now.

[2016-06-21 19:34] mathturtle commented on #439
Good catch.  Try out the change in #441 and see how that works.

[2016-06-21 19:47] mathturtle commented on #424
Didn't #427 finish fixing this?

[2016-06-21 19:47] mathturtle commented on #426
This is fixed by #438.

[2016-06-21 21:19] ElliotPadgett commented on #28
Slider works great!  I agree with @Hovden about (1).  The slider label should say "Value".  Is having specular lighting a good default though?

[2016-06-22 21:12] yijiang1 opened #442 "utils.set_tilt_angles does not work properly"
Here is a strange bug:
1. Open tomviz and load a dataset.
2. Click "Generate Tilt Series" in Tomography menu. Use default parameters.
3. When finished, the dataset is marked as a tilt series. However, its tilt angles are still zero.
<img width="282" alt="screen shot 2016-06-22 at 5 11 48 pm" src="https://cloud.githubusercontent.com/assets/13088588/16283828/78e539a6-389c-11e6-8548-2f686fcd4330.png"

[2016-06-22 21:18] mathturtle commented on #442
I've seen this myself and tracked it down to the same root issue as #426.  But it should have been fixed by #438.  Have you tried this with a build from today?  (I know the windows build machine is a bit behind, so only the OSX builds are up to date)

[2016-06-22 21:24] yijiang1 opened #443 "tomviz crashes when generate tilt series from a tilt series"
1. Open tomviz and load a dataset.
2. Click "Generate Tilt Series" in Tomography menu. Use default parameters.
3. Open the python script for  "Generate Tilt Series" in the data transform pipeline.
<img width="1280" alt="screen shot 2016-06-22 at 5 16 50 pm" src="https://cloud.githubusercontent.com/assets/13088588/16284000/362ef646-389d-11e6-93ac-a4d90ae1b2ac.png">

4. Click "OK" and tomviz crashes

[2016-06-22 21:26] yijiang1 commented on #442
Yes I'm running on the latest build.

[2016-06-23 14:52] mathturtle commented on #442
I just tried the latest build and it worked fine.  Maybe the build for that merge hadn't finished when you downloaded yours?

[2016-06-23 16:22] yijiang1 commented on #442
I just tried the latest build (on Mac) and still have the problem.

[2016-06-23 17:18] ElliotPadgett commented on #433
What kind of timeline do you think we are likely to have for making this change to the alignment widget?

[2016-06-23 17:25] ElliotPadgett opened #445 ""Mark as tilt series" must be run twice for some datasets to unlock tomography menu"
After loading a tilt series in tiff format, when I click "Mark as tilt series" and fill in the angle selection popup the angles get populated correctly but the tomography menu options are all greyed out except "Mark as volume" and "Generate tilt series".  I can work around the bug by clicking "Mark as volume" and then "Mark as tilt series" again, which makes the menu options available.

I have rep

[2016-06-23 17:30] ElliotPadgett commented on #443
I agree on the issue of cloning the data.  This makes much more sense from the users point of view.  A tilt series and a reconstruction are totally different types of objects and it doesn't make sense to convert one into the other.

[2016-06-23 17:33] mathturtle commented on #433
@ElliotPadgett Depends how complicated the change to the automatic generation of shifts is.  I haven't really looked at how that works.  And how high priority the issue is on my list.

@Hovden @cryos Worth doing for 0.9?

[2016-06-23 18:30] ElliotPadgett commented on #445
@yijiang1 pointed out that this does not always reproduce, so I went and tried to see what conditions cause it and I noticed a few things:
1) Pushing the cancel button on "Mark as tilt series" does not stop it from marking it as tilt series (I can open a separate issue for this.
2) Deleting a dataset or pushing File>Reset with something open may be necessary to trigger the bug.
3) When it works co

[2016-06-23 18:56] mathturtle commented on #442
So I tried it again.... re-reading the issue and doing exactly what you said.  And I was able to reproduce it.  Actually @ElliotPadgett clued me into what was going on in his point 1 on #445.  Since I thought it was a display update issue, I was re-running the transform.  And the second time, since the dataset was *already* a tilt series, it worked fine.  Then on the newer builds I was only testin

[2016-06-23 19:08] mathturtle commented on #445
I think I have actually seen this once, but I couldn't reproduce it at all so I didn't mention it.  If you've seen it enough to report (and track down conditions to make it happen) then I can start debugging.  Thank you for taking the time to figure out some of what causes this.  Reading your list triggered an idea of what was going on in another issue too.

I can explain 1 from your list above...

[2016-06-24 14:51] ElliotPadgett commented on #439
This looks good now in today's nightly build.

[2016-06-24 14:51] #439 closed

[2016-06-24 19:14] ElliotPadgett opened #449 "Orthoslice slider is too coarse"
When looking at a 512X512X512 reconstruction with an orthoslice visualization the slider takes steps of about 10.  I often want to scroll around in 1 pixel steps around a region of interest, and typing the value is not very convenient.  Is it possible to make the sider have finer control?

[2016-06-24 19:44] ElliotPadgett opened #450 "Save as PNG does nothing"
When I try to save a tilt series or a reconstruction as a PNG the program closes the save dialog as if it were successful but does not produce a file and does not show any error.  I don't know if you can even have image stacks in PNG format, but there should at least be an error message if no saved file is produced.

[2016-06-24 20:21] ElliotPadgett commented on #434
Tested again.  This is now fixed

[2016-06-24 20:21] #434 closed

[2016-06-24 20:31] yijiang1 opened #451 "Perform Fast Fourier Transform in C++"
Is there a way to do FFT in C++ now?
If yes, can some one provide me a sample c++ script as a quick tutorial? Thanks.

[2016-06-24 20:41] ElliotPadgett opened #452 "Isosurface render hangs easily when typing in box"
When using the isosurface visualization module by typing in the value box it easy to cause the program to hang because the visualization tries to update before the user is finished typing.

If the user tries to type in the box and either uses the backspace key or highlights the value and types a new one the program tries to update immediately and will try to draw an isosurface at a very low value

[2016-06-25 02:48] ercius commented on #449
I think you can use the keyboard arrow keys to take single steps once the
slice slider bar is clicked.

On Fri, Jun 24, 2016, 12:14 PM Elliot Padgett <notifications@github.com>
wrote:

[2016-06-27 12:58] Hovden commented on #450
Yep. This happens on my OSX machine.

[2016-06-27 13:13] Hovden commented on #449
I cannot adjust with the keyboard on OSX. Maybe other OS's treat it different. Keyboard adjustment would address this issue.

This may be an opportunity to also discuss improvement UX on the orthoslice:
<img width="306" alt="screen shot 2016-06-27 at 9 08 46 am" src="https://cloud.githubusercontent.com/assets/6197997/16380760/ee114ce4-3c46-11e6-9e89-30236f518541.png">
1) "Slice Direction" should r

[2016-06-27 16:02] cryos commented on #452
Agreed, I pointed this out when it was first added and want to make more customized interfaces where we have more granular control over when things happen. There is some work in progress, and we should hopefully have it ready soon.

[2016-06-27 16:45] ercius commented on #450
PNG does not allow for stacks. I suggest removing PNG as an output type for
data.

On Mon, Jun 27, 2016, 5:58 AM Robert Hovden <notifications@github.com>
wrote:

[2016-06-27 19:27] cryos commented on #433
I think we should consider it, but want to finish up some of the other items first.

[2016-06-28 20:21] Hovden commented on #451
@cquammen @cryos Can we readily call the FFT from VTK (http://www.vtk.org/doc/nightly/html/classvtkImageFFT.html) or ITK (https://itk.org/Doxygen/html/group__ITKFFT.html)?

I assume we have those bundled into tomviz. If so, a short sample code of their implementation can get Yi started on advanced reconstruction algorithms.

[2016-06-29 15:29] mathturtle commented on #442
@yijiang1 The branch for this is merged now.

[2016-06-29 15:33] #426 closed

[2016-06-29 15:35] mathturtle commented on #414
@Hovden ping?  Can we close this?

[2016-06-29 15:40] #442 closed

[2016-06-29 15:44] mathturtle commented on #394
As soon as the Linux build on the new build machine finishes and I can test it, I will move ParaView forward.

[2016-06-29 17:11] Hovden commented on #414
Looks ok. Can't break it.

[2016-06-29 17:11] #414 closed

[2016-06-29 17:26] Hovden commented on #424
No longer crashes. I'm ok with closing this issue.

[2016-06-29 17:43] mathturtle commented on #452
My branch to update the Contour UI (#453) fixes this as far as I can tell.  I made it wait until the focus leaves the box (or the user presses Enter) to run the update.

[2016-06-29 18:02] #424 closed

[2016-06-29 18:28] cryos commented on #451
Sorry about the delay in replying, @mathturtle do you have any time to look into this? I haven't used either class, but we should be able to get an example together. I would suggest the ITK class as it abstracts FFTW nicely. We would have to link to an ITK library, so it will require some modification of the build system too (we are already finding ITK now).

[2016-06-29 18:43] mathturtle commented on #443
The crash appears to have been fixed by one of my recent changes (I suspect #440 or #446).  But we should discuss what to do about the other point you raised.

[2016-06-29 18:56] mathturtle commented on #451
So I don't know much about the ITK one but I can take a look at it.  I think from discussions with @cquammen, the issue we foresee is that it only takes itkImages as its input.  So we will have to convert the data into itkImage and back, which will probably require the ITKVTK bridge.  It may be better to just link to fftw directly and use that.

[2016-06-29 19:01] mathturtle commented on #450
@utkarshayachit @cquammen We are directly using ParaView here, is this a problem with ParaView's implementation of the PNGWriter or is it incorrectly reporting which readers support the data type?  Or something else?  I can fairly easily search/replace the filetype containing PNG from the valid file types passed to the dialog, but is that the right way to go here?

[2016-06-29 19:10] cryos commented on #450
I agree with @ercius, we should just remove PNG as it does not support the type of output required.

[2016-06-29 19:18] Hovden commented on #443
If crash is fixed, we can close this.

The other point raised is contained in #392

[2016-06-29 19:20] Hovden commented on #451
It does not necessarily have to be FFTW, a simple FFT function might work well enough.

[2016-06-29 19:24] yijiang1 commented on #451
Yeah, I just want to do FFT in C++ right now. I don't really care which library I use.

[2016-06-29 19:25] Hovden commented on #450
Also, the JPG does not save a stack, but appears to save the first slice. If there is not stack support we should also remove jpg. Not to mention jpg is a questionable format for science.

[2016-06-29 19:25] cryos commented on #451
OK, @mathturtle can you just take a look at getting a C++ example together for the VTK class, and we can work with them to confirm it has the basic features needed. The tests are Python and Tcl, perhaps convert one of them to C++, verify it, and make a pull request.

[2016-06-29 19:27] yijiang1 commented on #443
OK. The bug mentioned in this issue is fixed now.

[2016-06-29 19:27] #443 closed

[2016-06-29 19:29] cryos commented on #450
Agreed, JPEG has no stack support I am aware of.

[2016-06-29 19:49] Hovden opened #454 "Glitchy zoom on Mac"
The two finger zoom on mac is glitchy. This has been true for some time, but I noticed a feature in the glitch. When it starts and stops the zoom action (touching the trackpad with two fingers) it will make a two discrete steps of a zoom out (one step upon touching, one step upon releasing). I'm wondering if this behavior can be easily fixed by not having it zoom out upon touch and release. This a

[2016-06-29 20:15] mathturtle commented on #451
So I have been reading over the APIs for FFTW, ITKFFT, and VTK's FFT.  It looks like the most appropriate to use will depend on the data type that you have.  If you have an ITK image, you'll want to use the ITK one.  If you have a VTK image then the VTK one will be the easiest to use.  And if you have a raw array of floats then it will probably be easiest to use FFTW directly (this may also be the

[2016-06-29 22:31] cryos commented on #451
VTK is great for now, let's not overthink it too much until it starts being used - vtkImageData is going to be the main target.

[2016-06-30 03:03] #450 closed

[2016-06-30 14:18] #60 closed

[2016-06-30 14:18] cryos commented on #418
Need to verify on latest builds

[2016-06-30 14:28] cryos commented on #37
Consider whether this still makes sense

[2016-06-30 15:02] Hovden commented on #418
Not present on OSX.

[2016-06-30 15:08] mathturtle commented on #418
I can still reproduce this on Windows.  Apparently a Windows bug.  I'll see what I can find.

[2016-06-30 15:13] mathturtle commented on #418
So this may be a bug in Qt.  I found [this](https://bugreports.qt.io/browse/QTBUG-12547#) which was closed due to Qt 4.x end of life.  It is possible that the inconsistent behavior for Windows still occurs in Qt5.

[2016-06-30 17:45] mathturtle commented on #418
Reported to Qt: https://bugreports.qt.io/browse/QTBUG-54485

[2016-06-30 19:12] #418 closed

[2016-06-30 20:05] yijiang1 opened #459 "Crash when loading a transform after tomographic reconstruction"
This happens on latest binary.
1. Open tomviz, load a dataset.
2. Mark it as tilt series. Do a reconstruction (e.g. weighted back projection).
3. Now, do a python-based data transform (e.g. rotate).
4. Double-click the transform in pipeline, and tomviz crashes.
<img width="263" alt="screen shot 2016-06-30 at 4 04 03 pm" src="https://cloud.githubusercontent.com/assets/13088588/16502428/5df439b2-3ed

[2016-07-06 13:34] cryos commented on #394
Any update on this issue?

[2016-07-06 13:41] cquammen commented on #394
Yes, this is fixed in ParaView master. Not sure if it is in 5.1

[2016-07-06 13:49] cryos commented on #394
No, I meant more as in did anyone verify the latest Tomviz build/move ParaView forward, I know it is fixed in ParaView master, @mathturtle was looking at this and I would like to close the issue once verified.

[2016-07-06 13:51] cquammen commented on #394
Ah, sorry, no I haven't verified in tomviz.

[2016-07-06 13:52] mathturtle commented on #394
I tested it locally on Linux and OSX after I bumped ParaView last week and it was fixed.  I thought I'd commented on here, but apparently not.

[2016-07-06 14:25] Hovden commented on #394
Great. We can close #394

Can you look at #421  since the axis grid should be associated with one particular bounding box, not all datasets.

[2016-07-06 14:26] #394 closed

[2016-07-06 18:53] cryos commented on #45
![image](https://cloud.githubusercontent.com/assets/42214/16630668/6e85e24c-4389-11e6-9c69-ea4b86766b2b.png)

[2016-07-06 22:11] Hovden commented on #45
Looks nice.

Does the title take on the python name title so it can be changed (this is the current behavior)?

Users might accidentally click the x's. Not sure if there is a clean way to handle that scenario.

[2016-07-07 18:34] yijiang1 opened #461 "More ways to rescale Fourier magnitude"
@Hovden
When visualizing the Fourier magnitude of a dataset, tomviz should provide different ways to rescale the magnitude.
Right now, the "FFT (abs log)" transform takes the logarithm of the magnitude, which is not always the best option. For instance, if the dataset is low-pass filtered (often done by some constraint-based reconstruction algorithms), then taking log of 0 leads to -Inf.

[2016-07-08 14:16] cryos commented on #45
The names are whatever has been defined, I was thinking about the accidental clicks too, I don't see a clean way, we can remove them, but wanted to give you a preview of a working version. I am working on restoring other features such as double clicking on items to edit operators, context menu, etc.

[2016-07-08 14:43] Hovden commented on #45
Moving the X's a little to the left so they do not align with the eyes would reduce accidental clicks. It would improve UI but aesthetically it would look a little worse.

[2016-07-08 14:44] Hovden commented on #45
Another thought, adding an global eye to the dataset that turns on or off all the eyes on that dataset could help. I suspect that I will accidentally click an X when I am clicking on and off all of the eyes.

[2016-07-08 15:51] ElliotPadgett opened #464 "Add pad data transform"
We should include a data transform to pad the data with zeros or the edge value to increase the size of the data.  Sometimes this is useful to avoid having part of the object going out of the field of view during shift alignment.

[2016-07-08 16:20] Hovden commented on #464
Numpy has a pad image routine: numpy.pad()
http://docs.scipy.org/doc/numpy/reference/generated/numpy.pad.html

[2016-07-08 17:37] VeraBeer opened #465 "Keyboard Shortcuts for Manual Alignment"
Hi, during manual alignment I realized that it would be great to have keyboard shortcuts for the start/stop and frame rates like for changing images.
Vera

[2016-07-08 20:23] yijiang1 opened #468 "Orthogonal slice does not update when the slice No. is changed in property panel"
This may be related to #453 .
When I change the slice number in property panel
<img width="299" alt="screen shot 2016-07-08 at 4 18 19 pm" src="https://cloud.githubusercontent.com/assets/13088588/16700366/a441edf0-4527-11e6-9c8e-67fb61557559.png">

The the slice in the "RenderView" window no longer update automatically.

[2016-07-08 20:48] yijiang1 commented on #464
@ElliotPadgett @Hovden Should I set the default pad size to 0? Or do you prefer some other numbers?

[2016-07-08 20:59] Hovden commented on #464
Zero is fine if you also include some of the other padding options.

[2016-07-10 19:25] Hovden commented on #19
Any luck with setting QT_AUTO_SCREEN_SCALE_FACTOR to "1" ?

[2016-07-10 19:30] Hovden commented on #468
Yep. Orthoslice is not moveable on recent release (OSX).

[2016-07-11 00:30] Hovden opened #470 "Scientific notation on Histogram y axis"
Scientific notation should begin at 10000 so it reads 1e+4

This will reduce whitespace on the left side.
<img width="89" alt="screen shot 2016-07-10 at 8 29 47 pm" src="https://cloud.githubusercontent.com/assets/6197997/16717111/21518eca-46dd-11e6-848e-70d0a455949e.png">

[2016-07-11 00:36] #464 closed

[2016-07-12 13:34] cquammen commented on #306
I experimented with preliminaries for this, and this is mostly a note to whoever implements this. You may want to override the member functions

`vtkChartHistogram::MouseButtonPressEvent(const vtkContextMouseEvent &m)`
`vtkChartHistogram::MouseButtonReleaseEvent(const vtkContextMouseEvent &m)`

For instance, you may want to set some state that you have selected a data range marker in the button pr

[2016-07-12 13:39] ElliotPadgett commented on #28
I think this has been addressed well.  I will open a new issue for the single color selection request.

[2016-07-12 13:39] #28 closed

[2016-07-12 13:42] ElliotPadgett opened #473 "Add single color selection for isosurface contour"
It would be very convenient to have an interface for selecting a single color for an isosurface rendering.  I think this is most often the preferred method for setting up an isosurface. @mathturtle

[2016-07-12 14:16] floridian0105 opened #474 "Remove data within sphere"
Much like the cube clear function, only a sphere.

[2016-07-12 14:30] floridian0105 opened #475 "Perona-malik (anisotropic nonlinear diffusion) filter"
Denoising filter

Example (with Python code):

https://itk.org/ITKExamples/src/Filtering/AnisotropicSmoothing/ComputePeronaMalikAnisotropicDiffusion/Documentation.html

[2016-07-12 17:07] cquammen opened #477 "Qt error messages when loading image"
The following error messages are reported in the latest master (439aa1d0f71d92f6c323a1068821275f35bb3391) when loading an image file:

    QAbstractItemModel::endInsertRows:  Invalid index ( 2 , 1 ) in model tomviz::PipelineModel(0x7fa57dd04d80) (:0, )
    QAbstractItemModel::endInsertRows:  Invalid index ( 2 , 0 ) in model tomviz::PipelineModel(0x7fa57dd04d80) (:0, )

A cursory look in `PipelineM

[2016-07-12 17:14] cquammen commented on #470
Does https://github.com/OpenChemistry/tomviz/pull/476 sufficiently address this issue?

[2016-07-12 17:35] ercius opened #478 "Incorrect tilt angles attribute when saving as XMF/HDF5"
tomviz 0.8.0-110- crashing (Windows 10) when setting data set as Tilt series for data loaded from XMF/HDF5 files.

1) Load a data set and set as tilt series with tilt angles specified
2) Save a data set as XMF (also generates .h5 HDF5 data file)
3) Load the XMF file.
4) Press set data set as tilt series (Notice that a single tilt angle is specified already)
5) Press OK to set the tilt angles and t

[2016-07-12 17:37] Hovden commented on #470
I think so. We will wait to see if people complain about scientific notation. I think it looks better though.

[2016-07-12 17:37] #470 closed

[2016-07-12 17:40] Hovden commented on #478
Can you send a sample of the file?

[2016-07-12 17:48] ercius opened #479 "Typing in boxes in tilt axis alignment GUI"
The tilt axis alignment GUI  immediately updates the reconstructions when typing in any input box. This becomes tedious when for example you want to set the axis shift value to 20. It first shifts to 2, recalculates, then shifts to 20 and recalculates.

Further, the <Enter> keyboard button is connected to the the "Transform" button. I often accidentally press enter when trying to update a value th

[2016-07-12 17:57] ercius commented on #478
The system originally rejected my XMF data set. I generated a 100x100x10 data set From the Sample Data menu and reproduced the error. See the data in the attached ZIP file.
[testZeros.zip](https://github.com/OpenChemistry/tomviz/files/359955/testZeros.zip)

[2016-07-12 18:04] ercius opened #480 "Strange behavior for Crop input boxes"
tomviz 0.8.0-110-... on Windows 10

The input boxes in the Crop GUI have a strange behavior.

1) Load a data set and then select Crop from the Transforms menu.
![image](https://cloud.githubusercontent.com/assets/15657108/16777818/ff784c78-481f-11e6-92b1-0e9241861e8f.png)

2) Type a number (for example 10) in the X start box
![image](https://cloud.githubusercontent.com/assets/15657108/16777829/0d69

[2016-07-12 18:04] Hovden opened #481 "Add small padding on the histogram buttons"
Buttons to left of histogram need a tiny bit of padding on the right of histogram so they appear centered between the histogram the end of right panel. Minor tweak to improve layout on Mac OSX.

[2016-07-12 18:06] cryos commented on #477
Yeah, I see it, and will take a look at it soon.

[2016-07-12 18:07] Hovden commented on #480
Yep. This is because we don't allow the start value to be higher than the end value. If you type the end value first, you won't have this problem.

How should we handle this?

[2016-07-12 18:08] Hovden commented on #480
@mathturtle might have a fix.

[2016-07-12 18:24] thebner15 opened #482 "Color Map Change in Manual Alignment"
Would be nice to have ability to change color map within the same window while aligning a tilt series.

[2016-07-12 18:30] ercius commented on #482
Also would be useful to be able to control the contrast/brightness of the images.

[2016-07-12 18:32] ercius commented on #468
Same on Windows 10 in 0.8.0-110. I also get this error message:
`QAbstractItemModel::endInsertRows:  Invalid index ( 2 , 0 ) in model tomviz::PipelineModel(0x219d2b5f830) (:0, )`

[2016-07-12 18:32] Hovden commented on #482
Yep. We might have to make a separate issue for that one. There is a simple solution for this colormap issue.

[2016-07-12 18:33] ercius commented on #480
Maybe its better to check these values when the user presses OK rather than on the fly.

[2016-07-12 18:36] #452 closed

[2016-07-12 18:37] cquammen commented on #468
The error message is not exclusive to the orthogonal slice: see #477.

[2016-07-12 19:21] mathturtle commented on #480
I've changed it to wait until the editor loses focus (you click outside it) or Enter is pressed to do the validation.  The branch is up for review now.

[2016-07-12 19:32] #480 closed

[2016-07-12 20:00] Hovden commented on #482
Should be solved in #485

[2016-07-12 20:36] cquammen opened #488 "Crash when Spread Sheet View is open and state is saved"
Steps to reproduce:

- launch tomviz
- split the view
- click on SpreadSheet View
- File -> Save State

tomviz crashes with

    * thread #1: tid = 0x2025ea, 0x0000000105628577 libvtkPVServerManagerCore-pv5.1.1.dylib`vtkSMRemoteObject::GetGlobalIDAsString(this=0x0000000000000000) + 23 at vtkSMRemoteObject.cxx:83, queue = 'com.apple.main-thread', stop reason = EXC_BAD_ACCESS (code=1, address=0x48)

[2016-07-12 22:32] #488 closed

[2016-07-12 22:38] cryos commented on #488
Glad you spotted this, I thought we had found all the issues lurking with this. I want to actually start showing spreadsheet views soon too, once we have numeric data coming out of some of the filters.

[2016-07-12 22:41] cryos commented on #480
Good stuff, should hopefully be more intuitive now.

[2016-07-13 02:45] cquammen commented on #488
I actually caught it during an autosave - after 5 minutes (I think that's the time period) tomviz suddenly crashed when my SpreadSheet view was open. Critical bug to fix ahead of working with the spreadsheet view...

[2016-07-13 19:28] ercius opened #491 "Loading state file does not show transforms in Pipelines"
Windows 10, tomviz-0.8.0-126... (newest nightly)

1) Apply a transform (invert is a clear transform to apply)
![image](https://cloud.githubusercontent.com/assets/15657108/16816897/081aea5e-48f5-11e6-8684-681f64fa067d.png)
2) Save a state file
3) Load the state file
4) Data loaded and transform is applied
5) Pipelines window shows no transforms and they are no longer editable
![image](https://cloud

[2016-07-13 19:35] ercius opened #492 "Invert transform is not general"
The invert transform is not general for all data types.

Most FEI mrc files are saved as unsigned integers which is not technically part of the MRC file specification. tomviz loads these as signed integers. My data typically is half negative and half positive.

To apply a general invert, the data set has to be converted to float in order to fit all data values within the bit range.

Proper general

[2016-07-13 19:37] Hovden commented on #492
Should we be shifting the value here, or simply cast the scalars to float32()?

[2016-07-13 20:01] Hovden commented on #492
Nevermind. I agree. Changing now.

[2016-07-13 20:28] ercius commented on #492
Im not sure if we want to cast back to the original data type. This is possible using np.dtype() and np.astype()

[code]

[2016-07-13 20:30] ercius commented on #492
Argh. I made a mistake and the previous code wont work. Its probably best just to leave it as float.

[2016-07-13 21:03] cryos commented on #491
I will look into it, this is likely related to the change I merged on Sunday.

[2016-07-14 00:20] ercius opened #494 "Negative numbers in tilt series data sets introduces issues during alignment"
MRC data from FEI microscopes uses a non-standard MRC format and unsigned integers. tomviz imports this data as shorts (signed integers) which does not lose any data (even though this is unphysical) but creates problems later during tilt series alignment. For example, when doing shift alignments, areas shifted from outside of the data are set to 0. This is not the minimum value of a data set with

[2016-07-14 12:38] mathturtle commented on #494
Ok, we already have a problem here.  I'm not sure how much we can do to help this in an automated way.  I don't know if changing the reader to handle this will break the reader for some other data file.  If you have any more details on what their non-standard format is, can you link to them on here?  Is there a way to tell if a file is in this format versus a normal MRC file?

Like I mentioned abo

[2016-07-14 18:53] ercius commented on #494
Here is [a link](http://bio3d.colorado.edu/imod/doc/mrc_format.txt) to an explanation of the MRC standard. Notice that the mode determines the data type and that mode == 6 is unsigned integer (non standard). Im not sure how the tomviz reader handles mode == 6, but this might be an easy way to fix this.

The FEI MRC files are fairly easy to distinguish if you want to be sure about this. You can see

[2016-07-14 20:12] ercius opened #495 "Shift transform is very slow"
The uniform shift transform applied by the manual tilt axis alignment widget is unnecessarily slow. This is because the default spline order parameter in the ndimage.interpolation.shift() is order = 3.

We are using integer pixel shifts for manual alignment and so interpolation to apply these shifts is unnecessary. I suggest we set order = 0 to significantly improve performance.

[2016-07-14 20:54] Hovden commented on #492
Ok. Should be fixed in #493

[2016-07-18 03:21] cquammen commented on #396
I have made some progress on this feature on the ParaView side. Docking the output window (and python console) is now possible. The remaining issue is ironing out problems with test images generated by the ParaView tests. Once that is finished, I have a branch for tomviz with necessary changes to use the newly dockable windows.

[2016-07-18 15:31] cquammen opened #497 "Add vtkTable output capability for Operators"
Table output will be needed to store and display attributes of segmented objects.

[2016-07-18 15:33] cquammen opened #498 "Compute surface area, volume, and surface area to volume ratios for label objects"
For identified objects in a segmented image, support computation of surface area, volume, and surface area to volume ratios

[2016-07-18 15:34] cquammen commented on #498
#496 makes some progress to this end.

[2016-07-18 18:29] cryos commented on #491
Pull request #499 should address this issue, and in local testing does so. We will get it merged, and it should be in the nightly binaries tomorrow.

[2016-07-18 21:13] mathturtle commented on #468
This should be fixed (not the error message, the bug).

[2016-07-18 21:16] mathturtle commented on #459
This should be fixed by #501.

[2016-07-18 21:51] ercius opened #502 "Missing Adjust Camera feature in recent nightlies"
Above the render view for 0.8.0 there used to be a series of options for the camera and object selections:
![image](https://cloud.githubusercontent.com/assets/15657108/16931588/8c10191a-4cf6-11e6-97ae-57f37a5b264c.png)

The newest nightly removed most of these options:
![image](https://cloud.githubusercontent.com/assets/15657108/16931607/a4661866-4cf6-11e6-8163-142fd6d1e228.png)

I found the Adjus

[2016-07-18 22:31] Hovden opened #503 "Crashes when deleting data from pipeline"
Load a dataset.
Press delete key.

(Confirmed on OSX)

[2016-07-18 22:32] #482 closed

[2016-07-18 22:33] #481 closed

[2016-07-18 22:46] ercius commented on #468
Orthoslice updates properly using the latest binary on Windows 10.

On Mon, Jul 18, 2016, 2:13 PM Shawn Waldon <notifications@github.com> wrote:

[2016-07-18 23:25] Hovden commented on #468
Yep. Good on OSX too.

[2016-07-18 23:26] #468 closed

[2016-07-18 23:32] Hovden commented on #459
When double clicking, it reruns all the transforms above it before displaying the python code.

[2016-07-18 23:34] Hovden commented on #502
I agree. I noticed a lot of that was removed.

[2016-07-19 12:16] Hovden opened #504 "Pipeline does not allow collapsing but has arrows indicating it does"
The pipeline does not allow indented items to be collapsed, but the arrows next to it indicate that it does. We should either remove the arrows or allow indentation.

<img width="314" alt="screen shot 2016-07-19 at 8 13 36 am" src="https://cloud.githubusercontent.com/assets/6197997/16949462/ee0c5d4e-4d88-11e6-91fb-cf8ec21ae3f9.png">

[2016-07-19 13:35] mathturtle commented on #459
It should do that now... part of the fix in #440, we have to recompute the data just before the operation before showing the operation dialog.  At least in some cases like the alignment widget.... I think I might be able to skip it if the dialog doesn't need it.  Let me try that.

[2016-07-19 14:02] cryos commented on #503
I can't reproduce here, can I just confirm the complete recipe. I am trying this - I load a data set, press OK on the reader parameter dialog, if I press delete now nothing happens, so I click on the data set that just loaded, and then I press the delete key. This doesn't crash here, I will give it a try on a Mac and see if I can reproduce there.

[2016-07-19 14:06] Hovden commented on #503
It crashes anytime I highlight something in the pipeline and press the delete key on my Mac OSX.

I can recheck on todays OSX build. But it is doing it on yesterday's build.

[2016-07-19 14:10] cryos commented on #503
Good to know what you are seeing, I will take a look.

[2016-07-19 14:10] Hovden commented on #503
Deleting by other means works fine (i.e. right clicking or clicking the gui x mark) .

[2016-07-19 14:48] mathturtle commented on #459
So that wasn't very hard and it seems to work.  It will help with perceived responsiveness of the application too. I've made it a little bit better by not recomputing if it isn't used.  I added a new commit to #501 to add this.

[2016-07-19 14:49] cryos commented on #503
Confirmed, seems unique to Mac OS X, I will dig into it.

[2016-07-19 15:52] cryos commented on #502
I simplified it, but perhaps too much. Feedback on which ones you would like back, or all of them? It is relatively simple to filter the list and whitelist what makes sense in tomviz.

[2016-07-19 15:53] cryos commented on #479
@mathturtle didn't you address this issue in a recent pull request?

[2016-07-19 15:56] Hovden commented on #502
For 0.8.0 let's put back the "3D" and "Adjust Camera". I used those two. There might be other useful ones, but I haven't discovered a use (I will explore in detail later).

[2016-07-19 16:00] Hovden commented on #479
No, it was only addressed for the cropping in  #486

The fix used there was:
-  this->connect(ui.startX, SIGNAL(valueChanged(int)),
 +  this->connect(ui.startX, SIGNAL(editingFinished()),

[2016-07-19 16:27] cryos commented on #479
Ah, OK - then @mathturtle can you look at adding a similar change there, and see if you can spot anywhere else the same pattern might have been inadvertently used.

[2016-07-19 17:52] cryos commented on #502
Closing as this was merged.

[2016-07-19 17:52] #502 closed

[2016-07-19 17:53] cryos commented on #491
Closing as #499 addresses this, please reopen if you see any remaining issues.

[2016-07-19 17:53] #491 closed

[2016-07-19 18:46] cryos commented on #45
I am going to mark this as closed, they are now merged. We have some additional bugs for new issues, and we can certainly revisit the UI, layout, etc in other issues as is happening now.

[2016-07-19 18:46] #45 closed

[2016-07-19 21:46] mathturtle commented on #478
So I've fixed the crash, but the data is still questionable.  It looks like a limitation or bug in the XMF/HDF5 writer where it isn't handling field data arrays the way we would expect.  It is only saving the first tilt angle in the array and setting the array size to 1.

@utkarshayachit Is this correct behavior of the XMF writer/reader?

[2016-07-19 21:46] VeraBeer opened #511 "Display Problem when opening on Mac"
When opening the newst Tomviz version on Mac it looks "glitshy", see screenshot.

![screen shot 2016-07-13 at 4 06 19 pm](https://cloud.githubusercontent.com/assets/20047722/16967766/be7fe672-4dd8-11e6-9624-ee44e147e4fe.png)

![screen shot 2016-07-13 at 4 11 43 pm](https://cloud.githubusercontent.com/assets/20047722/16967770/c24407f2-4dd8-11e6-97ac-baf1648cc4f8.png)

[2016-07-19 21:47] Hovden commented on #478
@ercius Can you test now that #510 is merged?

[2016-07-19 21:48] Hovden commented on #511
Woah. Haven't seen that. My version works. Does it always look like that?

[2016-07-19 21:52] VeraBeer commented on #511
Yes, always since I downloaded the latest version, all the times slightly different. I know that others had the same.
But forgot to mention, as soon as I scroll or move the mouse it disappears

[2016-07-19 21:56] mathturtle commented on #511
It isn't nearly as bad here, but I do see some small glitches like this when I open it on my mac.  For me it is just a black bar on the right of the view.  Then again I don't have other applications using the GPU, and it looks like it is dumping out uninitialized GPU memory to the screen.

[2016-07-19 21:58] cquammen commented on #511
I first noticed this when tomviz moved to Qt 5.6. @VeraBeer  Is this from a nightly binary downloaded from http://www.tomviz.org/downloads/ or built on your machine locally?

[2016-07-19 22:14] VeraBeer commented on #511
The nightly one

[2016-07-19 22:21] ElliotPadgett commented on #511
I see this too on the nightly binary I downloaded today.  Here's an example:
![tomvizglitch](https://cloud.githubusercontent.com/assets/12242066/16968556/9bde8268-4ddd-11e6-8a45-75e074e823ee.png)

[2016-07-20 01:46] ElliotPadgett opened #512 "Isosurface opacity and specular text entry boxes gone"
I noticed that that the boxes to type in values for the opacity and specularity of isosurfaces are gone in the latest nightly binary.  I don't know if this is a bug or a design choice but this feature is important for making consistent visualizations for multiple datasets, so it would be nice to get it back.

[2016-07-20 02:32] ElliotPadgett opened #513 ""orbit" animation no longer guesses center"
In 0.8.0, the "orbit" animation no longer guesses the particle center, (as it did in previous versions,) making it inconvenient to use.

[2016-07-20 02:42] Hovden commented on #512
Yeah. Textboxes missing in OSX.
<img width="295" alt="screen shot 2016-07-19 at 10 41 26 pm" src="https://cloud.githubusercontent.com/assets/6197997/16973487/090b8fba-4e02-11e6-9fd0-61d48f73fd5d.png">

[2016-07-20 02:59] Hovden commented on #513
The center shows up as blank and I can't figure out how to use the orbit tool. (OSX) This was working in v7.2

[2016-07-20 13:46] cquammen commented on #511
FWIW, I am building tomviz against a very recent ParaView master, and I no longer see these rendering issues. I think @utkarshayachit did some recent Qt5-related work to fix this in ParaView and/or VTK.

[2016-07-20 13:48] cryos commented on #503
@cquammen can you take a look at this, you develop mainly on Mac don't you? It reliably crashes for me, but I don't have a debug build for the Mac handy (and doesn't crash on Linux).

[2016-07-20 13:58] cquammen commented on #503
Sure thing.

[2016-07-20 14:11] cquammen opened #514 "tomviz settings files are stored under a directory named 'Kitware'"
Should these files be stored in a tomviz directory instead?

[2016-07-20 14:30] cquammen commented on #503
In my development version I cannot seem to reproduce when loading the example TIFF files I have or when generating sample data. I follow the recipe: click a Data Source in the pipeline, then press the delete key. Control-clicking the Data Source and choosing Delete through the context menu also does not cause a crash.

I am downloading the latest nightly and will try that out.

[2016-07-20 14:38] Hovden commented on #514
Sounds better to me.

[2016-07-20 14:47] cquammen commented on #503
I *do* see the crash in the nightly download. The stack trace (which can be obtained by clicking on the "Report" button after the application crashes), contains:

    Thread 0 Crashed:: Dispatch queue: com.apple.main-thread
    0                                   0x0000000101ac601a tomviz::PipelineModel::dataSource(QModelIndex const&) + 10
    1                                   0x0000000101ac7d30

[2016-07-20 15:08] Hovden opened #515 "Autosave dialogue appears after minimization (OSX)"
Minimize tomviz. Then open it back up. Autosave dialogue appears.

[2016-07-20 15:18] cryos commented on #514
I think this is just a result of the organization being set, and is not normally seen by any end user. I would drop this to a pretty low priority level as we fix up other things for the release.

[2016-07-20 15:20] cryos commented on #503
It does, but not very much as I would have told you the top three function calls were there, I guess we now know it probably gets to the dataSource call, and am happy to add the guards you suggest but would be surprised if this fixes the crash. Odd that you cannot reproduce in a debug build, but it can't hurt to give it a try.

[2016-07-20 15:23] cquammen commented on #515
Just tried it, didn't see an Autosave dialog. Is it the dialog that warns you that autosave files exist?

[2016-07-20 15:28] mathturtle commented on #515
You have to wait 5 minutes for the first autosave file to be created... but I just reproduced this.  My guess is that I am using the wrong signal for when to show this.

[2016-07-20 15:29] cquammen commented on #503
Well it certainly helps more than nothing 😸 I don't think the stack trace from the release shows you all the way into the internal classes.

I'll take that as approval and merge. These checks should be there anyway, though the check for the QModelIndex being valid may be overkill.

[2016-07-20 15:34] cryos commented on #503
I think you need to remove the dependency on the other topic though.

[2016-07-20 15:35] cquammen commented on #515
Ah, okay. I'll leave this to you, @mathturtle.

[2016-07-20 15:36] cryos commented on #512
This is the custom UI that @mathturtle added, it sounds like you would like text boxes back. I would like to keep the custom UI (and add more of it), but it shouldn't be too difficult to add back the text entry. We are seeking the sweet spot of just enough interface without too much, thanks for the feedback.

[2016-07-20 15:47] mathturtle commented on #512
@cquammen I missed you had this assigned, sorry.

[2016-07-20 15:50] cryos commented on #503
Unfortunately the binaries may take a while for Mac, but I will keep an eye out. If we can't get to the bottom of it then I can disable the delete key action for Mac only for this release. Fingers crossed the guards will do it, but that would mean our binaries are producing an invalid index and the items will not be deleted correctly (but we will avoid the crash).

[2016-07-20 15:51] mathturtle commented on #513
Orbit tool? This may have to do with the default animation that is set up when you load a dataset.  I can't remember when we added that.  What exactly are you trying to do? (screenshots would help)

[2016-07-20 15:53] cquammen commented on #512
No problem, @mathturtle. We should definitely assign issues to ourselves when we begin working on them.

[2016-07-20 15:53] cquammen commented on #504
Would you like to be able to collapse them?

[2016-07-20 15:54] cryos commented on #512
Agreed, and if there isn't an issue create one quickly and assign it so we have an overview of what is happening. Fix looks good.

[2016-07-20 15:54] cquammen commented on #511
Update: I still don't usually see this when starting tomviz, but I did just see it one time this morning.

[2016-07-20 15:58] cryos commented on #504
I think possibly, but there are some odd interactions if we allow that and I disabled it as I expand everything whenever the model changes. I think this one might have to wait. I think right now we should look at how easily they can be removed, and we can revisit this.

[2016-07-20 18:22] ercius commented on #478
The crash is fixed now and it operates exactly as @mathturtle describes.

It would be nice to save the tilt angles and automatically set the data as a tilt series when loaded. But this is a minor point which possibly can be answered by @utkarshayachit

[2016-07-20 18:22] #478 closed

[2016-07-20 18:27] ercius commented on #445
Not sure what the status of this issue is, but the newest binary (0.8.0-151) requires the user to run "mark as tilt series" multiple times to unlock the Tomography menu. This was working correctly in a previous nightly (0.8.0-135) but is now broken again in 0.8.0-151.

[2016-07-20 18:32] cquammen commented on #512
Fix merged into master.

[2016-07-20 18:32] #512 closed

[2016-07-20 18:33] mathturtle commented on #445
I was looking into it earlier and could only reproduce it when I do File->Reset.  I'm still trying to figure out why this happens.  @ercius are you on OSX?  Maybe it happens more there.

[2016-07-20 18:47] cquammen commented on #454
@Hovden Are you swiping with two fingers, with the two fingers moving together? Or are you spreading your fingers apart to zoom in and pinching to zoom in?

In either case, my zooming in and out seems to work as expected on my MacBook Pro. Two finger swiping is a little jerky, but if I press down to make the track pad click, zooming is much smoother.

Another way to zoom in/out is to hold down the

[2016-07-20 18:56] cquammen commented on #268
Is this still an ongoing issue, or can it be closed?

[2016-07-20 19:02] Hovden commented on #454
That's right. Clicking or using the ctrl key behaves normally. But placing two fingers and swiping up or down doesn't work properly. For large datasets, it can become problematic.

[2016-07-20 19:03] #268 closed

[2016-07-20 19:18] mathturtle commented on #445
Nevermind, I think I finally tracked this down.  There should be new builds with my fix tonight.  @ercius Can you try tomorrow's build?  The fix is in 0.8.0-156-g6bd70ae (so if you have a number > 156 it should be there).

FYI: the 'g6bd70ae' part of the version (from the version I gave above) is actually the most useful thing you can tell me to identify the version you are running.  The other par

[2016-07-20 19:25] ElliotPadgett commented on #454
I have similar issues with scrolling on my Mac desktop "magic" mouse.  It
jumps in big discreet steps and sometimes takes steps back from whatever
direction you are trying to go it.  Ctrl-click zooming is well behaved.

On Wed, Jul 20, 2016 at 3:02 PM, Robert Hovden <notifications@github.com>
wrote:

[2016-07-20 19:56] Hovden commented on #503
Doesn't crash on newest OSX build.

[2016-07-20 19:56] #503 closed

[2016-07-20 19:59] Hovden commented on #515
When I "force quit" I am not prompted to load an autosave when restarting. I don't know how to crash it to test that it is working properly.

[2016-07-20 19:59] cryos commented on #503
That is great, does it still delete the objects from the pipeline?

[2016-07-20 20:01] Hovden commented on #503
I have deleted every combination of ways I can think of (including datatransforms). No problems.

[2016-07-20 20:02] mathturtle commented on #515
If you run the executable directly from the command line (run `tomviz.app\Contents\MacOS\tomviz`), then you can press Control-C in the terminal and it will kill it.  I think force quit may try a normal quit first before killing it.  Or you could try to find the equivalent of Task Manager's End Process button in the OSX Activity Monitor.  Remember you have to wait about 5 minutes to kill it so that

[2016-07-20 20:05] cryos commented on #503
Great, thanks for the confirmation. Should have had the guards Cory added from the start but it is odd - I guess the binaries must be firing some additional signals with invalid indexes.

[2016-07-20 21:06] Hovden commented on #318
Draft written, but won't go online for 0.9 release.

[2016-07-20 21:49] Hovden commented on #515
Looks good. It was fixed in the next build.

[2016-07-20 21:49] #515 closed

[2016-07-20 21:51] cquammen commented on #19
I didn't have luck with `QT_AUTO_SCREEN_SCALE_FACTOR `, but did have some success augmenting the `Info.plist` file with the following keys and values:

    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>NSHighResolutionCapable</key>
    <string>True</string>

One must force the OS to update its cache of the `Info.plist` file by renaming the tomviz application in the Finder

[2016-07-20 21:55] Hovden opened #520 "Make "Plasma_17" the default colormap."
Now @mathturtle added clean matplotlib colormaps, I would like to set the "Plasma_17" as default. It looks a lot nicer and has a monotonically increasing intensity. Implementation should have a safety in case a future version fails to load these custom colormaps.

[2016-07-20 21:56] Hovden commented on #306
If schedule is tight, I'm cool with moving this to next release.

[2016-07-20 22:02] Hovden commented on #520
Sorry to add non-bug related features to the stack last minute, would be great to tackle if it's easy. Could move #306 off the stack.

[2016-07-20 22:08] Hovden commented on #19
@utkarshayachit @cryos Has anyone got this to work in Paraview?

[2016-07-20 22:11] Hovden commented on #513
Orbit tool is working correctly in the latest build.

[2016-07-20 22:15] #492 closed

[2016-07-20 22:18] Hovden commented on #459
This issue is fixed in latest OSX build.

[2016-07-20 22:18] #459 closed

[2016-07-20 22:20] ercius commented on #494
I checked this and casting to float is the only way that tomviz will allow this to work. It seems that the python embedded in tomviz only accepts int or float.

Many more numpy datatypes should be available [as per this help file.](http://docs.scipy.org/doc/numpy/user/basics.types.html). However, I receive an error message for any other datatype:
`NameError: global name 'int16' is not defined`

He

[2016-07-20 22:23] ercius commented on #495
I recently tested this and the shift is 5x faster with order = 0. I do not think that any data is lost if we only use integer pixel sized shifts.

[2016-07-20 22:31] Hovden commented on #495
Ah, I see. I wasn't looking in the right place.

[2016-07-20 22:55] Hovden commented on #495
In the file python/Shift3D.py

data_py_return = ndimage.interpolation.shift( data_py, SHIFT )

should become

data_py_return = ndimage.interpolation.shift( data_py, SHIFT, order=0 )

[2016-07-21 00:33] ercius commented on #445
@mathturtle

Most definitely.

Thanks for the info and will do going forward. I should have recognized the second part as a GIT commit hash value.

[2016-07-21 01:18] cquammen commented on #19
Not fully. See, for example, http://www.paraview.org/Bug/view.php?id=15826

[2016-07-21 01:35] cquammen commented on #495
Address in #521.

[2016-07-21 01:50] cquammen commented on #513
Great! Shall we close?

[2016-07-21 01:51] #513 closed

[2016-07-21 01:52] Hovden commented on #19
It looks like point 1 and 2 have been addressed.
Quote from your link:
"
Here is what need to be done:
1. NSHighResolutionCapable set to true needs to be added to app's bundle Info.plist file
2. ParaView needs to be build with Qt5, which provides complete support for Retina
3. Several views need to take into account running on HiDPI display, eg. render view which has wrong dimensions when running

[2016-07-21 02:35] cquammen commented on #495
#521 was merged into master.

[2016-07-21 02:35] #495 closed

[2016-07-21 13:54] mathturtle commented on #19
In tomviz yes.  The problem is that ParaView still uses Qt4 by default and they probably won't get around to fixing point 3 until they move to Qt5.  I don't know what the timeline is for ParaView fixing this and moving to Qt5.

[2016-07-21 13:58] cquammen commented on #520
#306 won't be ready for this weekend. But this one is easier to implement. Addressed in #523.

[2016-07-21 14:02] cquammen commented on #19
ParaView 5.2 should come out sometime in late October/early November, but I'm not sure if we are switching to Qt 5 for that release. @utkarshayachit ? It may be possible to make changes that work with both Qt 4 and 5.

[2016-07-21 14:15] cquammen commented on #514
Agree that this is minor, but when the organization is changed, it will have the relatively minor effect of resetting tomviz settings for users when they install the version of tomviz that first has the change. Not a big deal, but not fully transparent to the end user if a change is made. Probably better to make it now rather than when everyone is using tomviz. Plus, it's a super quick change.

Ad

[2016-07-21 14:15] cquammen commented on #497
Also, move label map output from segmentation algorithms to a new vtkImageData object

[2016-07-21 14:25] cquammen opened #525 "Create JSON files to describe operators"
Somewhat similar to the XML files in ParaView that describe readers, writers, filters, etc., create a JSON-formatted description file for operators. A non-exhaustive list of things needed in the description:

* input requirements for the operator, e.g., data object type.
* types of output(s) produced by the operator
* operator parameters to show in the UI

[2016-07-21 15:51] mathturtle commented on #494
I think for those other datasets you have to do `np.int16`.  If you just put `int16` it searches the global python namespace where it is not defined.  The only datatypes that python understands in that global namespace are int and float.

[2016-07-21 16:03] mathturtle commented on #494
That is the MRC standard I was working from... Digging into the vtkMRCReader, it was supposed to already handle this case, but since I didn't have test files for all of the types of MRC files this bug must have slipped through.  Can you send me an example file to test with please?

[2016-07-21 18:39] cryos commented on #504
#526 clears this up for you I think, we can revisit interaction in the future.
![image](https://cloud.githubusercontent.com/assets/42214/17034501/ecc91656-4f50-11e6-9218-23ae45e9cefc.png)

[2016-07-21 19:10] cquammen commented on #504
#526 was merged.

[2016-07-21 19:10] #504 closed

[2016-07-21 20:48] ercius commented on #494
@mathturtle Your first comment is correct. astype also accepts np.uint16 and other dtypes. So the code below works but is specific to int16 --> uint16 conversions. This could be generalized but would have to take numerous cases into account. The old version uses floats and is more general (although memory intensive).
[code]

As for you second comment I can provide MRC files. What is your preferenc

[2016-07-21 21:06] mathturtle commented on #494
Sort of.  You would need to change your negative value fixing line to: `array[array < 0] += 65536` because that is the conversion from int16 to uint16.  And the more specific version may warn/fail since it is an unsafe (data changing) operation.  Apparently numpy has a flag you have to set to enable those.  But you can't do this generally.  You have to know the data type you are converting from an

[2016-07-21 21:09] ercius commented on #445
@mathturtle I just tried build g4f0edc9. Mark data as tilt series works as expected now. Thanks for fixing!

[2016-07-21 21:25] cquammen commented on #520
#523 has been merged. Plasma_17 is the new default.

[2016-07-21 21:25] #520 closed

[2016-07-21 21:48] ercius commented on #494
I do not think this will work for tomography data. This will fit all negative integer values into the values above 32768. I want to keep the values in the same order, but just shift all the values to positive values.  The actual minimum does not matter just the order of intensities. I can provide some more context in the near future,

I sent you a file through google drive and can provide more if

[2016-07-21 22:26] mathturtle commented on #494
That's what I'm trying to fix.  If it is reading in unsigned integers as signed integers, then the values greater than 32767 will get interpreted as negative values according to the inverse of that transform.  So your order is already messed up and that transform should fix it.

I got it, thanks!  I'll take a look at what is happening tomorrow.

[2016-07-21 23:15] ercius commented on #494
Ah! Now I see the miscommunication here. Your assumption that the order is incorrect...is incorrect. The image I see using the orthoslice for the integer data (see screenshot in first post of two crossing wires surrounded by vacuum) **looks** exactly like the image I acquired on the microscope as uint data. However, the data values range from -32000 to 32000 instead of 0 to 65000. The MRC uint16 d

[2016-07-21 23:24] cquammen commented on #514
#524 is merged

[2016-07-21 23:24] #514 closed

[2016-07-22 02:53] Hovden opened #530 "Layout Tweaks"
The new Pipeline with the Properties Panel is a great improvement.

Can we reduce the width of the right panels and the height of the animation panel. The current build:
<img width="1285" alt="screen shot 2016-07-21 at 10 08 25 pm" src="https://cloud.githubusercontent.com/assets/6197997/17045150/1b7aa642-4f95-11e6-9454-a75b633f9758.png">

A preferred appearance:
<img width="1276" alt="screen shot

[2016-07-22 14:58] mathturtle commented on #494
Ok, I misunderstood.  And looking at the file, I see why it is reading in the data that way.  In the file you sent me mode is 1, not 6.  A mode of 1 being interpreted as signed 16 bit integers is correct.

So what you would like is a transform to convert the data to floating point and add a constant to it so that the minimum is 0?

[2016-07-23 15:20] ElliotPadgett opened #534 "Tomviz 0.9.0 fails to open on Mac"
Running Mac OS X 10.10.5.  Opening tomviz 0.9.0 fails and throws this error message:

![tomviz0 9error](https://cloud.githubusercontent.com/assets/12242066/17078683/572296ae-50c7-11e6-9b3e-5f2e04ab6713.png)

[2016-07-23 15:35] cryos commented on #534
I am looking into this right now, something went awry with the packaging in the final binary.

[2016-07-23 18:27] ercius commented on #494
Im sorry. There might be other MRC files I have that have mode = 6. I guess FEI changed it, but its weird to write uint16 --> int16 and then have people work with negative numbers. FEI makes weird decisions in their programs. Anyway...

I guess it would be best to cast to float, shift the values to positive by 32768 ((2^16)/2), and then cast to uint16. That would produce the same values (+/- 1?) a

[2016-07-23 18:42] cryos commented on #534
Updated DMG uploaded that works locally, I would appreciate feedback on it. Still working on getting the singing tool to work with our application.

[2016-07-24 00:10] Hovden commented on #534
OSX is working on the new binary.

[2016-07-24 00:28] cryos commented on #534
Thanks for the confirmation, closing this issue.

[2016-07-24 00:28] #534 closed

[2016-07-24 00:28] cryos commented on #530
This was merged, closing.

[2016-07-24 00:28] #530 closed

[2016-07-24 00:29] cryos commented on #511
Hopefully this is improved now, it seemed to alleviate the obvious issues on some test systems.

[2016-07-24 00:29] #511 closed

[2016-07-24 00:29] cryos commented on #479
This should hopefully be resolved, please reopen if not.

[2016-07-24 00:29] #479 closed

[2016-07-26 02:19] yijiang1 opened #536 "Manual tilt axis alignment UI doesn't initialize properly"
On v0.9, when I first open the manual tilt axis alignment UI, the three reconstruction windows show the tilt image instead of reconstructions.

[2016-07-28 01:42] magnunor opened #537 "tomviz as Python library?"
Is it possible to use tomviz as a Python library? Ergo, calling and accessing processing functionality from other programs?

It would be very useful to do `import tomviz` in a program like HyperSpy (https://github.com/hyperspy/hyperspy), and run a multidimensional dataset (for example a tilt-series) from HyperSpy through the tomography processing functions. And having it as a library/module would

[2016-07-28 02:01] yijiang1 opened #538 "Reconstructions in tilt axis alignment UI do not scale properly with data size"
Images in reconstruction windows in the manual tilt axis alignment UI do not scale properly with data size.
<img width="828" alt="screen shot 2016-07-27 at 9 57 46 pm" src="https://cloud.githubusercontent.com/assets/13088588/17198742/b0bfbe22-5445-11e6-8bd4-633910ea1c3d.png">

[2016-08-01 01:07] bdalevin commented on #538
To add to Yi's comment. The brightness/contrast in each of these reconstruction slices needs to be individually autoscaled. Otherwise it is very difficult to spot artifacts in the reconstruction. Fixing this is very important for making the software easy for general users to use.

It would also be very helpful to be able to change the colour maps assigned to these reconstruction slices to help loo

[2016-08-01 01:37] bdalevin opened #539 "Downsample x2 Needs to be Different for Tilt Series Data"
When data is marked as Tilt Series Data, Downsample x2 should only scale the data along the X and Y spatial dimensions, and should leave the tilt dimension alone.
Currently, Downsample x2 acts the same as it does on volume data, scaling along all 3 dimensions, including tilt, which is bad.

Alternatively this Transform could be disabled for tilt series data, forcing users to use Resample instead.

[2016-08-01 16:57] mahsasina opened #540 "Tilt axis alignment"
The three reconstructions on the bottom become very small and its very difficult to do the tilt axis alignment.

[2016-08-02 02:02] Hovden commented on #540
Thanks for reporting this issue. This was recently reported in #538.

We will get it fixed.

[2016-08-02 03:28] mahsasina commented on #540
Great, thanks.

On Mon, Aug 1, 2016 at 7:02 PM, Robert Hovden <notifications@github.com>
wrote:

[2016-08-02 20:45] cryos commented on #538
Can you look into this bug @mathturtle please.

[2016-08-02 21:31] mathturtle commented on #538
So it turns out this is a side effect of #536.  I have a branch that will fix the issue that @yijiang1 reported.  My question is: how many of the things that @bdalevin asked for do we want done immediately?  @cryos @Hovden

[2016-08-03 00:11] Hovden commented on #538
Only need to fix the bug. We can make a separate issue for the issue raised by @bdalevin and discuss / prioritize it later.

[2016-08-03 00:27] ercius opened #542 "Modifying the Crop Transform runs all transforms"
Tomviz 0.9.0 on Windows 10. Modifying the crop transform causes all other transforms to run twice:
1) Add a rotate transform (for example)
2) Add a crop transform and crop the data
3) Double click on the crop transform to modify it
4) All previous transforms (the rotate transform in this case) are run again before the Crop GUI shows up
5) Crop the data to new values and click OK
6) All previous tr

[2016-08-03 00:31] ercius opened #543 "Histogram Sig Figs"
Can we lower the number of significant digits on the histogram y-axis? Maybe we need only one decimal (X.Y or e.g. 1.0e6) at the most?
![clipboard01](https://cloud.githubusercontent.com/assets/15657108/17349904/a364bada-58d6-11e6-8a39-c1b0e0ee6e19.png)

[2016-08-03 17:49] mathturtle commented on #538
Ok, then the branch I have in that MR should be sufficient.

[2016-08-03 19:56] ercius opened #544 "Indicate currently applied colormap"
I am not able to find a place where the name of the current colormap is indicated. It would be useful to show this. For example, the currently selected preset could be highlighted by default in the Choose Preset window:
![clipboard01](https://cloud.githubusercontent.com/assets/15657108/17379964/904c5e64-5979-11e6-8172-89d12323eace.png)

[2016-08-03 20:06] ercius opened #545 "Crop GUI box highlighting incorrect"
The GUI for the crop tool highlights (in yellow) the same face of the box regardless of which handle the user is currently changing. Either no box face should be highlighted or the face currently being manipulated should be highlighted. The former could block the view needed to precisely crop something, but the latter nicely shows where the crop ends. I could go either way depending on how its imp

[2016-08-04 00:01] ercius opened #546 "Rotate GUI will not accept negative values"
The Angle box in the Rotate GUI will not accept negative values. Either typing a negative value like -6.5 or pressing the down arrow to go below 0.0 does not work. Most likely a range check error in QT for the box.
![clipboard01](https://cloud.githubusercontent.com/assets/15657108/17386035/9ac04fd2-599b-11e6-8666-202b14489e37.png)

The user is able to change the ROT_ANGLE variable in the Rotate Tr

[2016-08-04 13:59] mathturtle commented on #546
I think the initial thought must have been that you can put in 270 for -90.  But allowing negative values makes sense, so I've changed the minimum on the range for that spin box.  When the branch is merged, you will be able to use any value in the range [-360, 360].

[2016-08-04 19:39] #546 closed

[2016-08-04 19:41] mathturtle commented on #542
I know why it does this right now and I'll see if I can restructure it so that it doesn't.

[2016-08-06 21:03] cquammen commented on #477
I think I have this bug fixed in #550.

[2016-08-07 17:05] cryos commented on #543
I will look into this, it should not be showing that many figures, in fact I set it to show none but it is possible there is a big in the tick generation code on Windows (I am assuming this is Windows - I just checked and don't see this issue on Linux).

[2016-08-07 19:28] ercius commented on #543
Yes. It's windows 10.

On Sun, Aug 7, 2016, 10:05 AM Marcus D. Hanwell <notifications@github.com>
wrote:

[2016-08-08 13:33] mathturtle commented on #538
So are we making a new issue for the additional requests?  I have a local branch that takes a first pass at the separate colormaps scaled to the range of the slice thing.  It looked useful.

[2016-08-08 13:42] mathturtle commented on #538
See #552.

[2016-08-08 13:55] Hovden commented on #538
Great, thanks for handling @bdalevin suggestion.

[2016-08-08 13:58] Hovden opened #553 "Import XYZ file reader from Paraview"
Can we look into adding the XYZ file reader from Paraview? I want to see what kind of features we can easily add for the atom probe tomography users.

[2016-08-08 20:22] cquammen commented on #392
Could someone provide me a pointer or instructions on performing a reconstruction from a tilt series? It is the use case with which I am least familiar, and knowing the typical workflow for reconstruction will help me contribute to this discussion.

[2016-08-08 20:26] cquammen commented on #392
Another use case we should consider includes transforms or operators that produce data tables that we would like to display and save to an output file. For instance, a table of nanoparticle surface areas, volumes, etc.

[2016-08-09 02:48] Hovden commented on #392
To demonstrate the simplest workflow:
1) Load tiltseries data (Sample Data > Star nanoparticle (tilt series) )
2) "Tomography > Mark data as tiltseries". Press ok when prompted to enter angles.
3) Run any reconstruction method (e.g. Tomography > Direct Fourier Method)

Normally, there are a lot of alignment steps and normalization transforms that occur between step 2 and 3.

[2016-08-09 03:10] cquammen commented on #392
Here's one proposal for what the UI might look like incorporating most of @Hovden's suggestions:

* Dataset
    * Transform 1
    * Transform 2
        * Segmentation A
            * Transform A
            * Transform B
            * Visualization A
    * Visualization 1
    * Visualization 2

Here, the theme is data first, then nested transforms followed by visualizations. Keeping the visualizat

[2016-08-09 15:43] Hovden commented on #392
I can provide immediate input to how the tomography reconstruction pipeline could work. I think it should look very similar to your proposal. However I would like the visualizations appear before the derived dataset (the child data). Transforms on the parent dataset are locked once a child is made. However visualization are still allowed. To make a child, there should be a python command to simply

[2016-08-09 15:50] cquammen commented on #392
Thanks @Hovden! That is very useful feedback. I think keeping the visualizations up by the transforms makes a lot of sense.

Now let's suppose that a segmentation produces a table of data values that you want to see, say, one row per object with some information about the object. Where would you like to see that in this outline?

[2016-08-09 16:14] Hovden commented on #392
I think there are two aspects to the segmentation. 1) is the creation of indexed values in the volume. 2) is the creation of statistics from a routine.

If it is possible to decouple these things in the workflow / pipeline. It might make things easier.

Regarding part (2), one approach is to have a new pipeline module—perhaps called "spreadsheet"—that contains spreadsheet data with anything one ca

[2016-08-09 18:27] cquammen commented on #392
Regarding (2), could we indent the Spreadsheet result from Transform 2 to indicate it was produced by the transform?

* Parent Dataset (e.g. a volume)
    * Transform 1
    * Transform 2 (calls create spreadsheet and populates with info)
        * Spreadsheet
    * Transform 3
    * Visualization 1
    * Visualization 2

[2016-08-09 18:30] Hovden commented on #392
I like that.

[2016-08-09 18:37] cquammen commented on #392
Should we support each transform producing one or more spreadsheets? I would think so.

[2016-08-09 19:17] cryos commented on #392
I think what you are proposing sounds good, and inline with some of our previous discussions. I would certainly expect the outputs of the transforms to be indented. I think starting on spreadsheets and then extending to volumes would be great. Clicking on a spreadsheet would support viewing in a spreadsheet or chart view.

It sounds like there is a reasonable agreement on the direction for the sim

[2016-08-09 19:24] cquammen commented on #392
Great, I'll push forward on the initial UI changes and should have a reasonable first branch to look at soon. I have a much better understanding of the PipelineModel class now and am comfortable changing it to whichever layout we wish.

[2016-08-09 20:18] cquammen commented on #477
Bug fix merged.

[2016-08-09 20:18] #477 closed

[2016-08-09 21:13] mathturtle commented on #540
This should be fixed in the latest version as of last Friday.

[2016-08-11 14:41] #277 closed

[2016-08-11 14:45] mathturtle commented on #540
@mahsasina So in case noone has given you an update on this, this bug is fixed in the current development build.  So if you download the latest development build binaries it will be fixed.  We are planning to make a bugfix release in the next week to address this and a few other issues that were found in 0.9.0.

[2016-08-12 14:49] cquammen commented on #525
Shall we start sketching out what these JSON files will look like? I'm at the point where I need to tell the operator how many artifact data sets it produces and will need to tell it how many segmentation data sets are produced. I can use a workaround for now, but we should start thinking about this.

Here are my first thoughts:

    {
        "name" : "MyDataTransform",
        "artifacts" : [

[2016-08-12 14:57] cquammen commented on #392
We need a way to return new data objects created in Python operators to the C++ side. I propose to have the `transform_scalars` function optionally return a dictionary containing the name of an output artifact as the key and the new VTK data object as the value.

[2016-08-12 18:25] mathturtle commented on #539
@Hovden which approach do you think fits here?  I'm more in favor of changing how it works to only scale in X and Y, but I'm not a scientist... What would make the most sense to you?

[2016-08-12 18:41] mathturtle commented on #545
Ok, I can reproduce this.  Now to figure out why...

[2016-08-12 18:44] ercius commented on #539
I would leave this transform as is and add a similar one to the tilt series
menu which does what was requested (xy binning only). That would allow for
both transforms and keep the confusion to a minimum.

On Fri, Aug 12, 2016, 11:25 AM Shawn Waldon <notifications@github.com>
wrote:

[2016-08-12 20:40] mathturtle commented on #545
I have traced this all the way down to a bug in VTK's OpenGL2 rendering backend where some update call is missing.  I've reported a bug to them https://gitlab.kitware.com/vtk/vtk/issues/16812

So this will take a while to fix, but the process is started now.

[2016-08-12 20:55] mathturtle commented on #449
This should be fairly simple now.  I'll just do the same thing I did for the Contour module for the orthoslice.

[2016-08-16 17:52] yijiang1 commented on #539
I prefer @ercius 's approach. I can add this to tomviz if no one is working on it.

[2016-08-16 17:55] mathturtle commented on #539
AFAIK, noone is working on it.  Go ahead.

[2016-08-16 19:57] yijiang1 commented on #538
Right now, only the third reconstruction window is zoom-able. We should allow zooming for all three windows.

[2016-08-16 20:37] ercius commented on #540
@mahsasina is at NCEM this week. We were discussing tomviz in general and this bug came up.

It looks like the original bug is fixed now as per #538. However I still see some odd issues with contrast/brightness. The 3 reconstructed slices are mostly washed out. Changing the max/min instensity range in the main GUI window (next to the histogram) affects these images, but only after clicking on the

[2016-08-16 21:45] mathturtle commented on #538
@yijiang1 Strange... I see that behavior too.  I'll look at it.  So you want zoom and pan and probably a reset camera button for each reconstruction window?  This should be a new issue.

[2016-08-16 21:48] mathturtle commented on #540
The bugfix release 0.9.1 will be released today/tomorrow and contains the fixes for this.  Or you can download the latest binaries from tomviz.org, those should have that fix too.  It was merged last Friday, but there was a bug that kept the builds from happening until yesterday morning.

[2016-08-17 03:03] ercius commented on #539
@yijiang1 I suggest renaming the current transform to indicate it operates on the full volume. "Bin volume x2" for example.

[2016-08-17 13:33] yijiang1 commented on #538
@Hovden and @ElliotPadgett may have stronger opinions on this than I do.
I just think the three recon windows should behave similarly.

[2016-08-17 14:54] bdalevin opened #563 "Show Orientation Axis Label Issue (white on white background)"
I'm working on some _tomviz_ figures for a Microscopy Today type article that need light backgrounds.
The trouble is that the show orientation axis labels (x, y, and z) are only displayed as white, so they don't show up on a light background (see example below)
![axis label colour](https://cloud.githubusercontent.com/assets/12704237/17741052/d2ebbf2c-6468-11e6-81fc-a625f7dd510d.PNG)
.
My suggested

[2016-08-17 15:01] bdalevin opened #564 "Show Orientation Axis Change Size and Colour"
When preparing Figures, it would be helpful to be able to change the colour of the orientation axes to have better contrast against the background colour. It would also be useful to be able to change the size of the axes displayed to make them easier to see in Figures.

[2016-08-17 19:56] bdalevin commented on #540
Downloaded the latest binary, and tested out the tilt axis alignment. It's working well for my data.

[2016-08-17 20:15] #540 closed

[2016-08-18 18:14] ercius commented on #377
Bump.

Any chance we can get this impemented? It will help with journal figure and presentation preparation.

[2016-08-18 19:15] ercius opened #565 "State file does not save colormap range or opacity settings"
Windows 10, tomviz 0.9.0 (release)

State files do not reload colormap range and opacity settings.

I want to recall these settings in the Histogram using a state file to produce a nice visualization:
![clipboard02](https://cloud.githubusercontent.com/assets/15657108/17787261/458fe736-653d-11e6-9a74-0afc007b6d9d.png)

However, saving a state file and reloading it sets the opacity and range to the

[2016-08-19 03:38] Hovden commented on #377
@ercius
As a temporary solution you can use a white background for figures

[2016-08-19 03:40] Hovden commented on #565
This is important for reproducibility

[2016-08-19 12:40] mathturtle commented on #565
I'm going to look at this today.

[2016-08-19 17:59] mathturtle commented on #377
So I just did some digging into the code that creates screenshots and it turns out there is a way to do 1.  ParaView has this same feature in progress.  I can put in a hack that will enable this feature in tomviz now and remove it when ParaView has this option in its save screenshot dialog.  I don't see any pressing bugs so I'll work on this this afternoon.

Notes to self: ParaView saves the value

[2016-08-22 20:42] cquammen commented on #565
Fix was merged.

[2016-08-23 16:57] Hovden commented on #449
bump (I'm orthoslicing frequently this week)

[2016-08-24 00:07] Hovden opened #570 "[Paraview] Animation tool doesn't register axis"
The up direction parameter for the orbit does not behave as expected. the [100] up direction and [001] rotate about the same axis. However, other axis behave properly. I think the z axis (i.e. [00z]) might not be working.

[2016-08-24 14:02] bdalevin commented on #421
Adding an option to display actual scale in nanometers would be a great addition to the software. It would be particularly helpful for generating figures for publication.

[2016-08-24 14:11] bdalevin opened #571 "User guide for tomviz"
I have written a draft user guide for tomviz that runs users through the basics of how to use the software for tomography and visualization. This will improve user-friendliness by helping new users get to grips with the software more quickly.

Is it possible to get the guide put on the web, with a link to it from the tomviz.org website?

Once we figure out how to put the user guide online, is it p

[2016-08-25 14:44] Hovden commented on #377
Transparent feature works great! These little things can go a long way when preparing figures for manuscripts.

I'm going to close this issue. @ercius feel free to open up the lock aspect option as a new issue.

<img width="900" alt="screen shot 2016-08-25 at 10 42 20 am" src="https://cloud.githubusercontent.com/assets/6197997/17973499/b6804a30-6ab0-11e6-8f96-beadc319a11f.png">

[2016-08-25 14:44] #377 closed

[2016-08-25 16:12] cryos commented on #571
Can you share what you have with me, and I can look at where best to host it.

[2016-08-25 17:39] bdalevin commented on #571
I'll email you the files right away.

[2016-08-29 20:57] Hovden opened #572 "Crashes when deleting data / All datasets deleted when deleting top dataset"
Crashes:
1) open two datasets
2) delete the second dataset from pipeline
3) crashes
Deletes all data
1) open two datasets
2) delete the top dataset from pipeline
3) both datasets deleted

Tested on OSX

[2016-08-31 14:30] cquammen commented on #572
Confirmed crashing when deleting data sets, but with a different testing sequence:

1) Open two datasets
2) Delete first
3) Delete second. Crash.

Confirmed deletion of all data sets using the "Delete" key. Cannot reproduce by deleting with "Delete" option in context menu with right-clicking the data source in the pipeline.

[2016-08-31 14:32] cquammen commented on #572
By the way, catching crash in debugger doesn't reveal anything obvious. Whoever modifies the `PipelineModel` class to support child data sets should look at this, too.

[2016-09-01 17:13] cryos commented on #392
I didn't notice the proposal to lump all derived data at the end like that, visually I am not sure I see how that will work and offer a reasonable summary of the pipeline. Disconnecting derived data from the operators that produce them also leads to confusion when deleting an operator and seeing what look like disconnected pieces (derived data) disappear.

I could see a possibility of moving the o

[2016-09-01 17:17] cquammen commented on #392
It is in principal possible that Transform 3 modifies the data in the original data set as well as produces child data. In that case, putting the visualizations above Transform 3 would be confusing.

[2016-09-01 17:22] cryos commented on #392
Sure, and so I would propose:

* Parent Dataset (e.g. a Tiltseries)
    * Transform 1
    * Transform 2
    * Transform 3
        * Child Data A (e.g. a reconstruction from Transform 3)
            * Visualization A
    * Visualization 1
    * Visualization 2

As the least confusing solution there, where most people can understand a tree structure, or something I was a little biased towards making

[2016-09-01 17:31] cquammen commented on #392
* Dataset
    * Transform 1
    * Transform 2
        * Segmentation A
            * Transform A
            * Transform B
            * Visualization A
    * Visualization 1
    * Visualization 2

was my initial proposal, which I think matches your first proposal above, so I don't need any convincing. Should we wait until @Hovden weighs in before changing the implementation?

[2016-09-01 17:40] cryos commented on #392
No, I think that is one of the options that will cause the least surprise, and be most intuitive under the current pipeline model. As it doesn't affect existing features I think we can proceed on this path for now, as with anything once we have it and are working with it then we may want to make further adjustments. I missed some of the mid-steps in this conversation, but think maintaining the con

[2016-09-01 17:43] cquammen commented on #392
Agreed. I'll make that change, which shouldn't be too hard.

[2016-09-02 17:10] cquammen commented on #572
This *seems* to be resolved in the latest master. Please report if you continue to have problems.

[2016-09-02 17:12] cquammen commented on #544
A potential undesirable aspect of this feature is that as soon as a color map is edited, the current color map will no longer match what was previously selected.

[2016-09-02 17:14] cquammen commented on #525
Initial JSON description files can be found in:

`tomviz/python/ConnectedComponents.json `
`tomviz/python/BinaryThreshold.json`

[2016-09-02 17:15] cquammen commented on #498
This is available in the Connected Components operator. It produces a table of surface area, volume, and surface area-to-volume ratio that can be viewed in the SpreadSheetView.

[2016-09-02 17:15] #498 closed

[2016-09-02 17:16] cquammen commented on #497
Implemented in #577.

[2016-09-02 17:16] #497 closed

[2016-09-02 17:19] cquammen opened #580 "Add suitable icon for table data operator results"
The icon is blank now. ParaView has a reasonable icon.

[2016-09-02 17:19] cquammen opened #581 "Prevent deletion of child data sets"
Child data sets should not be deletable - they should only be deleted when the producing operator is deleted.

[2016-09-02 17:22] cquammen opened #582 "Adding operators to child data sets is not working"
- open file
- select Data Transforms -> Connected Components
- select "Label Map" child data set in Pipelines window
- select Data Transforms -> Convert to Float

Nothing happens

[2016-09-02 18:52] #581 closed

[2016-09-02 19:58] Hovden commented on #544
@cquammen raises a good point.

[2016-09-02 20:11] ercius commented on #544
Hmm...that is a good point. However, I'm not sure how often users edit color maps. In that situation no preloaded color map would be selected? I'm also perfectly OK with leaving it as is and closing this request. Any preference @hovden?

[2016-09-03 14:35] cquammen opened #587 "Crash when SpreadSheet view is active and data is loaded"
I suspect tomviz is trying to add proxies defined in a `Module` to the spreadsheet view, but have not investigated to confirm.

[2016-09-05 13:24] mathturtle commented on #587
Yes, that is what is happening.  And those proxies expect a Render View.

[2016-09-05 17:04] yijiang1 opened #589 "Reset center of rotation after transforms"
The default rotation center is at the center of the matrix:
<img width="318" alt="screen shot 2016-09-05 at 12 54 24 pm" src="https://cloud.githubusercontent.com/assets/13088588/18254092/623c39be-7368-11e6-817b-95f40fb218ff.png">

If I do some transform that changes data size, say downsample by 2, then the rotation center often ends up at the corner like this
<img width="447" alt="screen shot 2016

[2016-09-05 20:52] #580 closed

[2016-09-06 23:27] ercius opened #592 "Center moved and reset button disabled"
tomviz 0.9.1, Windows 10
tomviz 0.9.1-101, WIndow 10

I see strange behavior with regards to the data center connected to the slice and orthoslice modules. Ive also seen this in previous builds but only just figured out how to reproduce it. Here is a set of instructions to create the issue.
1) Load the sample data reconstruction
2) Turn on Show Center. It is at the center of the data as expected
3

[2016-09-07 16:54] yijiang1 commented on #571
We should put the user guide somewhere in tomviz's website (http://www.tomviz.org/downloads/). General users probably won't check the github page.

[2016-09-07 16:55] Hovden commented on #571
We will do that once the guide is in a more complete form.

[2016-09-07 16:58] bdalevin commented on #387
Now that we have a User Guide on github, it would be very useful to link to it from the tomviz website.

[2016-09-07 17:00] Hovden opened #597 "Link to additional large datasets within "Sample Data""
Now that we have released large datasets under a creative commons license we should link to them in the "Sample Data" menu. It would be nice to have something like "Sample Data > Download More Datasets" that takes the person to: http://www.nature.com/articles/sdata201641

[2016-09-07 17:03] bdalevin commented on #571
I'm going to close the issue. We can look at the best place to host the guide in future, as we add more to it. What we have now is OK as a starting point.

[2016-09-07 17:03] #571 closed

[2016-09-07 21:08] bdalevin commented on #387
This is the link: https://github.com/OpenChemistry/tomviz/blob/master/docs/TomvizBasicUserGuide.pdf

[2016-09-09 19:44] yijiang1 opened #599 "display python errors instead of crashing the program"
Whenever there is an error in python transform, tomviz should simply display the error message instead of crashing the entire program...

[2016-09-09 19:45] cjh1 commented on #599
@yijiang1 Can you give an example of the step to recreate this crash ...

[2016-09-09 21:22] yijiang1 commented on #599
say I run a python script with the following code:
import numpy as np
a = np.array([1,2,3])
a[4] = 0

Normally, python would print out a message saying "IndexError: index 4 is out of bounds for axis 0 with size 3". In tomviz, this would simply crash to program.

It'd be great if tomviz can catch python errors as people often make small mistakes when programming.

[2016-09-12 13:22] cjh1 commented on #599
@yijiang1 Thanks for the details.

[2016-09-13 19:49] cjh1 opened #602 "Unsafe use of toLatin().data() without holding reference to QByteArray"
This following code can result in segfaults:

[code]
toLatin1() creates a QByteArray that is immediately destroyed as no reference to it is held. So the pointer returned by data() is likely to point to garbage. The QByteArray should be stored in a local variable to prevents this

[code]

git grep shows the following location we are using this pattern:

[code]

[2016-09-13 20:22] cjh1 opened #603 "Enforce python coding convention using flake8"
We can use autopep8 and autoflake to reformat our current python code. Then we can run flake8 on Travis to ensure branches have the correct formatting.

[2016-09-14 13:42] cjh1 commented on #602
https://wiki.qt.io/Qt_project_org_faq#How_can_I_convert_a_QString_to_char.2A_and_vice_versa.3F

[2016-09-14 13:54] cquammen commented on #602
I think the cases where the you are calling `string.toLatin1().data()` as an argument to a function are okay. The `QByteArray` should still exist until the called function returns and the pointer should be valid until that point.

[2016-09-14 15:07] cjh1 commented on #602
[Correct](http://stackoverflow.com/questions/3041249/when-are-temporaries-created-as-part-of-a-function-call-destroyed) so there are probably lots ( if not all! ) of false positives in my grep ...

[2016-09-15 19:08] #445 closed

[2016-09-15 19:08] #542 closed

[2016-09-15 19:08] #538 closed

[2016-09-15 19:08] #536 closed

[2016-09-20 20:08] yijiang1 opened #607 "Streak artifacts in volume rending (windows 7)"
Sometimes there are strong steak artifacts when rotating a data in volume rending.
![artifact](https://cloud.githubusercontent.com/assets/13088588/18686907/bb4872fe-7f4b-11e6-93b6-4966928522e2.png)

This doesn't happen all the time so I don't know how to reproduce it...

[2016-09-20 21:01] Hovden commented on #607
Is it only while rotating? Does it look better when you stop?

[2016-09-20 21:03] #597 closed

[2016-09-20 21:05] Hovden commented on #572
Only partially fixed. No longer crashes, but still deletes all data:
1) open two datasets
2) delete the top dataset from pipeline
3) both datasets deleted

[2016-09-20 21:12] Hovden opened #608 "Set Units and Size (Data Properties Menu)"
It would be great to complete the Set Units and Size feature in tomviz.

<img width="247" alt="screen shot 2016-09-20 at 5 07 25 pm" src="https://cloud.githubusercontent.com/assets/6197997/18688982/c78fa146-7f54-11e6-89f5-f434f9714618.png">

Under "Units and Size" it should display something like:
(100 x 200 x 235) nm

The change units button can be an editable box like the x,y,z values.

We will

[2016-09-20 21:35] yijiang1 commented on #607
Yes the artifacts disappear when I stop rotating.
Also, I don't see this kind of artifact on Mac.

[2016-09-21 13:36] cryos commented on #607
This is likely level of detail artifacts, I can look at reducing how aggressive it is, but there are LOD artifacts.

[2016-09-21 14:31] yijiang1 commented on #607
Just curious: would the artifacts also depend on which monitor I'm using?

[2016-09-21 15:17] cryos commented on #607
They shouldn't, but may be more/less apparent depending on pixel density, resolution, graphics card, VSYNC, etc.

[2016-09-21 16:15] ElliotPadgett opened #609 "Add opacity/transparency option to orthogonal slice visualization"
It would be nice to have an opacity/transparency control for orthogonal slice visualization modules like we have for contour visualizations.

I want to make some visualizations for a publication where I have orthogonal slices shown as 2D images alongside a 3D visualization.  I will make the 2D images in ImageJ, but I would like to indicate where the slices came from in the 3D volume without having

[2016-09-21 20:37] Hovden commented on #609
I believe this was present in older versions of tomviz, it looks like it has been removed in the new interface. If so, we should add it back.

[2016-09-22 15:38] Hovden commented on #609
@mathturtle , is turning on the opacity to the orthoslice easy? If so, Elliot is making scientific figures this month.

[2016-09-22 15:44] mathturtle commented on #609
Yes it is fairly easy.  I'll put up a branch later.

[2016-09-23 14:57] Hovden commented on #609
I understand your concerns, but in some circumstances we have used it in our visualizations.

Primarily, it is useful to make the background (low intensity) transparent. That way, you can create several stacked slices without the background blocking the rest of the image. Also, a transparent contour surface with a slice through the object core can look nice.

[2016-09-23 23:37] #544 closed

[2016-09-26 20:02] cquammen opened #616 "State files do not restore child data sets"
Steps to reproduce.
- Start Tomviz
- Load `SMALL_PtCu_NanoParticle.tif`
- Run Data Tranforms -> Binary Threshold, default settings
- File -> Save State
- File -> Reset
- File -> Load State (load saved .tvsm file)

The child data set will not appear in the Pipelines dock widget

[2016-09-27 17:14] Hovden opened #618 "Crashes when running "Sample Data > Generate Random Particles""
Click "Sample Data > Generate Random Particles"
Then click OK.
Crashes

[2016-09-27 17:19] mathturtle commented on #618
My first thought was a packaging issue, so I took a look.  But I can reproduce this in an environment where I know the dependencies are found.  Here is the relevant part of the stack trace:

[code]

@cjh1 It looks like something with python is failing.  Could this have to do with your python in the background thread branch?

[2016-09-27 17:26] cjh1 commented on #618
Yes, very likely, I was not aware of PythonGeneratedDatasetReaction, all the Python C API calls will need to be modified to work correctly with the GIL.

[2016-09-27 17:33] cryos commented on #618
This is great, I wanted to have time to shake out all these corner cases before we make another release. Thanks for reporting these issues, and helping us track everything down!

[2016-09-27 17:43] Hovden opened #619 "Add Otsu Segmentation"
As just discussed with @cquammen, @cryos , @ElliotPadgett we will add the Otsu method of Segmentation.

To start, we can just add a simple implementation of these algorithms and test them on datasets (for Otsu, user simply specifies the number of classes and any other basic parameters). We can make more advanced graphical interfacing part of another issue.

[2016-09-27 17:51] cquammen opened #620 "Add morphological filters"
Provide implementations for morphological:

* dilation
* erosion
* opening
* closing

Initially, use a 3x3 structuring element.

[2016-09-27 17:58] Hovden opened #621 "Add Paraview Ruler Tool for Quantitative Analysis of Data"
Ruler tool in Paraview would let us measure distances in the sample. It is a nice feature we should consider adding.

<img width="1044" alt="screen shot 2016-09-27 at 1 56 48 pm" src="https://cloud.githubusercontent.com/assets/6197997/18885634/7987c6a2-84ba-11e6-9845-1ceacf768795.png">

[2016-09-27 18:00] cryos commented on #621
We were just talking about this, @mathturtle it would be a nice addition and I think you said you were working on this feature in ParaView.

[2016-09-27 18:02] Hovden opened #622 "Add Paraview Text Annotation"
The Text annotation in Paraview would be useful.

<img width="1125" alt="screen shot 2016-09-27 at 1 59 13 pm" src="https://cloud.githubusercontent.com/assets/6197997/18885709/c6b87fd4-84ba-11e6-8b29-1e3f98027d87.png">

[2016-09-27 18:14] #609 closed

[2016-09-27 18:25] ElliotPadgett opened #623 "Binary threshold error"
In today's nightly built. Dataset is a 32-bit tiff stack.  Binary threshold operator makes an empty space in the pipeline and throws the error:
"
Exception encountered while running BinaryThreshold
No ITK type known for vtkFloatArray
"

Seems like a problem with the datatype?

[2016-09-27 18:33] cquammen commented on #623
Yep. We'll need to build ITK with float type support by turning ITK_WRAP_float:BOOL on in ITK's CMake configuration.

[2016-09-27 18:37] cquammen commented on #623
Odd, that option is on by default. I'll download the binary and take a look.

This will impact other segmentation features work, so prioritizing.

[2016-09-27 18:40] ElliotPadgett opened #624 "Child visualization not deleted with segmentation object"
If I make a visualization from an object produced by a binary segmentation module and then delete the segmentation module the visualization module disappears from the pipeline but the visualization does not go away.

<img width="1299" alt="screen shot 2016-09-27 at 2 39 30 pm" src="https://cloud.githubusercontent.com/assets/12242066/18886848/b2658f40-84bf-11e6-810a-8263d961b4ad.png">
<img width="1

[2016-09-27 18:44] cquammen commented on #624
Is that the case if you click in the rendering window after removing the Binary Threshold transform?

[2016-09-27 18:45] cquammen commented on #624
Nevermind, I can confirm the visualization module still exists.

[2016-09-27 18:57] cquammen commented on #623
Okay, the ITK that is shipped with the nightly checks out okay. I've discovered a typo in the code that converts from VTK images to ITK images... will submit a patch shortly.

[2016-09-27 19:18] #623 closed

[2016-09-27 19:57] cquammen commented on #623
This should be fixed in the next nightly. Please reopen this issue if it is not.

[2016-09-27 21:03] cquammen opened #628 "Too many spreadsheet views created when double clicking table data"
If the render view has focus and a table data operator result is double clicked, a new spreadsheet view will be created, even if there is an existing spreadsheet view.

Steps to reproduce:

* Load `SMALL_PtCu_NanoParticle`
* Data Transforms -> Connected Components, choose defaults
* Double click the Component Statistics operator result. A spreadsheet view will appear
* Double click the Component S

[2016-09-28 17:35] #618 closed

[2016-09-28 18:28] cquammen commented on #619
Branch pushed to #630.

[2016-09-28 20:11] mathturtle commented on #449
Can this be closed now?

[2016-09-28 21:32] ElliotPadgett commented on #449
Still an issue for me. I'm on Mac, and I have a ~400 voxel long dataset and the orthoslice slider jumps 5 slices at a time and there's no easy way to move it with the keyboard except typing in the number.

[2016-09-29 00:32] ElliotPadgett commented on #609
@Hovden @mathturtle

Actually this has some strange behavior when present with volume render visualizations.  Adding any amount of transparency to the slice causes the entire volume rendering to appear "in front" of the slice.  See the example below.  Can this be fixed?

This does not appear to be an issue with contour renderings.

![capture1](https://cloud.githubusercontent.com/assets/12242066/18

[2016-09-29 14:14] cryos commented on #609
This is a known issue with the volume rendering, there are some plans to look into fixing it but I am not sure on the timeline. It is not as simple as it sounds due to the way volume rendering, depth peeling, and transparent geometry all render (and getting the interaction right such that the result looks correct).

[2016-09-29 14:18] Hovden commented on #609
Ok. Just to keep track of it, we can create an issue on tomviz and ping Paraview.

[2016-09-29 14:37] cryos commented on #609
This is a VTK issue, and there are several discussions on the VTK mailing list related to this.

[2016-09-29 15:30] cquammen opened #631 "Missing toolbar buttons"
As of 8bcac91386ea1f3e1b9f6db7c7521b9111e9515f, there are some missing toolbar button icons on Mac OS X:

![image](https://cloud.githubusercontent.com/assets/360056/18960347/683c6a96-8637-11e6-9fa6-e450a7350617.png)

Reverting to 513d551d6b210fd68faddd79af646189a953299f, the icons are there.

![image](https://cloud.githubusercontent.com/assets/360056/18960540/1a079476-8638-11e6-9b9d-05708819e4f3.p

[2016-09-29 15:35] cjh1 commented on #631
@cquammen I am seeing the same on linux, I will look into it.

[2016-09-29 17:16] cryos opened #633 "Expose advanced features in the volume rendering"
The default rendering using the volume looks like:

![image](https://cloud.githubusercontent.com/assets/42214/18964410/c0fec5c0-8646-11e6-99ab-f847b8380835.png)

Enabling lighting can offer this effect (parameters may need tweaking):

![image](https://cloud.githubusercontent.com/assets/42214/18964431/dc558be2-8646-11e6-98ee-c52e8fd9ffeb.png)

and maximum intensity can show the brightest parts of t

[2016-09-29 18:26] Hovden commented on #633
Very cool.

[2016-09-29 20:26] yijiang1 opened #635 "ITK segmentation doesn't work on sample datasets"
I get this error when doing segmentation on sample datasets:

Exception encountered while running BinaryThreshold
"itkTemplate : No template [<class 'itkImagePython.itkImageD3'>] for the itk::PyBuffer class"

[2016-09-29 20:30] cquammen commented on #635
Is this a local build or nightly binary?

[2016-09-29 21:02] yijiang1 commented on #635
My local build.

[2016-09-29 21:10] cquammen commented on #635
The nightly binary downloaded yesterday appears to work fine and @cjh1 successfully tested the new Otsu thresholding transform on his local build, so I think this is a build issue.

Did you compile according to the directions posted at https://github.com/OpenChemistry/tomviz/blob/master/BUILDING.md? For convenience, I've reposted them here:

[code]

Note that I have only found ITK git tag v4.9.0 t

[2016-09-29 21:16] yijiang1 commented on #635
Yes I built my ITK following the instruction above.
Sorry I just realize that my description is not clear enough. My segmentation actually works well on the data imported from files. It only fails on the data generated from the "Sample Data" menu.

[2016-09-29 21:39] cquammen commented on #635
Ah, thanks, that's a big help 😸

On my system, I actually get a crash with all the data sets in the "Sample Data" menu. The crash is at `OperatorPython.cxx:111-112`.

[code]

Interestingly, the sample tif files load work just fine. The main difference between the tif files and generated sample data is that the sample data has a `double` voxel type whereas the loaded data sets are `unsigned char` o

[2016-09-30 11:29] yangking91 opened #636 "Segmentation fault after manually tilt axis alignment"
Dear Sir,
I built tomviz in Ubuntu 16.06 according to the description in building.md file. But when I use manually tilt axis alignment and click align data to the tilt axis, the program will crash and the terminal will show segmentation fault. Do you know what happened in here. There is no additional information provided by the program, just segmentation fault (core dumped).

Cheers,
Taimin

[2016-09-30 12:51] cjh1 commented on #635
I am able to recreate this so will take a look.

[2016-09-30 13:04] cjh1 commented on #635
It seems its any python operator applied to a generated sample dataset.

[2016-09-30 13:15] yangking91 opened #637 "QCoreApplication::postEvent: Unexpected null receiver and four warnings for auto tilt axis align"
Dear Sir,
I also found that if I open tomviz and close without loading any data, QCoreApplication::postEvent: Unexpected null receiver will pop out. Another thing is when I use automatic tilt axis alignment, four warnings also popped out: Auto Tilt Axis Align:62: VisibleDeprecationWarning: using a non-integer number instead of an integer will result in an error in the future
Auto Tilt Axis Align:6

[2016-09-30 13:23] bdalevin commented on #539
I've tested this out on the latest build. It works well. I'm happy to close the issue.

[2016-09-30 13:23] #539 closed

[2016-09-30 13:24] bdalevin commented on #633
I second that. Very cool.

[2016-09-30 13:33] cjh1 commented on #635
So I found an issue in PythonGeneratedDataSource, doesn't look like a new issue (was not introduced by the operator cancellation work). A [fix](https://github.com/OpenChemistry/tomviz/pull/638) for this resolves the crash on my system. However, its not clear to me how the two issue are linked. Please try out the fix, thanks.

[2016-09-30 14:08] mathturtle commented on #636
Segfaults are tricky to debug unless you have more information.  If I had to guess, it is missing a python module that it is looking for and not handling the python exception right.  Are numpy and scipy installed on your system?  I thought we handled that.  If that isn't the problem, then I'll need more information since on my system it doesn't crash.

Are you using the sample datasets that come w

[2016-09-30 14:16] mathturtle commented on #637
For this:

I haven't had time to track down where it is happening, but it is only a warning and you don't have to worry about it.

I don't see the others in my build, but you may have different versions of something from me.  They are deprecation warnings which mean that something we are using will not be supported in a future version of that library.  But you don't have to worry about them now.

[2016-09-30 14:24] cquammen commented on #635
Okay, now that @cjh1 has solved my crash, I see @yijiang1 's originally reported bug.

This error is caused because images with voxel type `double` are not supported by the ITK build specified by our build instructions. The workaround is to run `Convert to Float` first, then Binary Threshold.

Longer term, we should do some combination of the following to handle this situation:

1. Enable wrapping

[2016-09-30 14:35] cryos commented on #635
I prefer 3, and in general think the use of 64 bit double precision floats is not needed, and certainly won't be visible in any visualization we produce unless it goes through a number of operations that are sensitive to some small deviations on a large signal.

[2016-09-30 14:53] yijiang1 commented on #636
@yangking91

Do you mean you clicked the "Transform Data to Axis of Rotation" button?

[2016-09-30 14:54] Hovden opened #639 "Cdash Build Errors"
https://open.cdash.org/index.php?project=TomViz

[2016-09-30 14:58] mathturtle commented on #639
Looks like buildbot didn't realize we had a submodule now.  I'll have to go through and remove the source directories... I know a clean checkout inits submodules.

[2016-09-30 14:58] cryos commented on #639
This is because the submodule is not being fetched, I thought @mathturtle said it would fetch submodules without issue - he will look into it soon hopefully.

[2016-09-30 14:59] cryos commented on #639
@mathturtle while you are doing that we should ensure updates will init/update any submodules, maybe just add the sync call in too so that we don't need to revisit this should anything move.

[2016-09-30 15:57] yangking91 commented on #636
@yijiang1 Exactly, by just clicked that button, a segfault will pop out.

[2016-09-30 16:03] yangking91 commented on #636
@mathturtle Hello Sir, thank for your reply. Before I run tomviz, I set PYTHONHOME and PYTHONPATH. Will this affect anything? I try to use GDB but with this two environmental variable, I cannot even use GDB because gdb will complain:
"Fatal Python error: Py_Initialize: Unable to get the locale encoding
  File "/usr/local/anaconda2/lib/python2.7/encodings/__init__.py", line 123
    raise CodecRegis

[2016-09-30 16:07] yangking91 commented on #637
@mathturtle OK, thanks.

[2016-09-30 16:17] mathturtle commented on #636
If your python is not in a standard location (which it isn't), you need those two environment variables.  Make sure you are exporting them and not simply setting them.  The environment variables shouldn't affect anything as long as they are properly exported.  I set PYTHONPATH and export it in my setup to work on tomviz and that has worked so far.

You are using conda.  I don't know if anyone has

[2016-10-01 11:18] yangking91 commented on #636
@mathturtle Hello sir, I did what you suggested. I use a non-conda python for tomviz. The python I use is my system install python. I modified the python-related items in the cmake-gui for paraview, itk and tomviz. My python is Python 2.7.12 (default, Jul  1 2016, 15:12:24) [GCC 5.4.0 20160609] on linux2. Now I can use gdb and open python console without export pythonpath or pythonhome. But when I

[2016-10-03 13:12] mathturtle commented on #636
Something went wrong in python, but it was probably tomviz that caused it.  My first guess would be a reference count problem somewhere.  How recent is the tomviz you are trying to build? (run `git rev-parse HEAD` and paste the output if you are unsure)

@cjh1 Any ideas?  You've worked with the python operators more recently than I have.

[2016-10-03 13:13] cquammen commented on #636
@mathturtle This might be fixed in master.

@yangking91 could you please update your tomviz to the current master branch with `git pull origin master` and see if the segmentation fault persists? Thanks, and thanks for your bug report.

[2016-10-03 13:21] cjh1 commented on #636
@mathturtle I think @cquammen is right this may already be fixed in master, if not I will take a look.

[2016-10-03 14:24] cquammen commented on #631
All fixed now.

[2016-10-03 14:24] #631 closed

[2016-10-03 14:26] cquammen commented on #619
Merged. UI makes it possible to specify number of thresholds to use.

[2016-10-03 14:26] #619 closed

[2016-10-03 14:29] cquammen commented on #603
@cjh1 Is this ready to close?

[2016-10-03 14:29] cjh1 commented on #603
Yep

[2016-10-03 14:29] #603 closed

[2016-10-03 14:36] cquammen commented on #602
I just reviewed all uses of `QString.toLatin1().data()` and all but one occur as function arguments. The one call that does not occur as a function argument keeps a reference to the `QByteArray` returned by `QString.toLatin1()` in the scope where it is used.

[2016-10-03 14:36] #602 closed

[2016-10-03 14:49] cquammen commented on #599
I am unable to reproduce with current master.

I tested the following Python script:

[code]

In the Output Messages window (and at the command line), tomviz reports:

`Failed to execute the script. (/Users/cory.quammen/src/tomviz/tomviz/OperatorPython.cxx:351, virtual bool tomviz::OperatorPython::applyTransform(vtkDataObject *))`

and it does not crash.

We should add display of the particular Py

[2016-10-03 14:51] cjh1 commented on #599
@cquammen Are you not seeing the traceback? I think it would be useful to have that as well? This may have been lost / changed by my work.

[2016-10-03 14:52] cquammen commented on #599
Indeed, I do not see the traceback.

[2016-10-03 14:53] cjh1 commented on #599
Ok, leave this one open and I will take a look.

[2016-10-03 14:56] cquammen commented on #582
This works fine now in master.

[2016-10-03 14:56] #582 closed

[2016-10-03 14:59] mathturtle commented on #639
@cryos So the submodule is working and bigmac is working.  Windows has issues finding python, @cjh1 is looking at it.  Our Linux builder needs a newer compiler... which is apparently not an easy thing to get on Debian 7.  But pybind11 and gcc 4.7 don't get along.  We may have to switch which distro we are based on to find one that has an old enough glibc and support for gcc 4.8/4.9.  I am open to

[2016-10-03 15:07] yijiang1 commented on #599
Me too. Running the code above doesn't crash my tomviz anymore.
Maybe some recent changes fix this problem?

[2016-10-03 15:16] yijiang1 commented on #599
Yeah it'd really awesome if tomviz can print out python's error message (like "IndexError: index 4 is out of bounds for axis 0 with size 3" for the example above).

[2016-10-03 15:18] mathturtle commented on #639
Some discussions with Ben later... CentOS 6 is what ParaView uses for its binaries and I can copy parts of that Dockerfile that Ben has set up for them.  They are using gcc 4.9 which should be new enough.  Our binaries should still run on Debian 7 though, so no problems there.

[2016-10-03 15:36] cquammen commented on #537
This is not currently supported to my knowledge.

[2016-10-03 15:37] cquammen commented on #525
This is well underway in #640.

[2016-10-03 15:53] cryos commented on #639
Sounds great, please keep us posted as progress is made.

[2016-10-03 15:59] mathturtle commented on #639
So Qt5 and CentOS6 have some issues.  Rather than debug them, I'm just updating our baseline to Debian 8 like you suggested.  Hopefully that just works.

[2016-10-03 16:01] cryos commented on #639
Sounds good.

[2016-10-03 16:28] Hovden commented on #537
This request would really pertain to the VTK libraries, not so much tomviz. It is more likely that we would include hyperspy in tomviz.

[2016-10-03 16:44] cryos commented on #537
Sorry I missed this, but I wonder if the opposite might be easier. Tomviz at its core is a tomography application that bundles Python and a number of useful Python modules. We could potentially bundle hyperspy within the Tomviz installer.

[2016-10-03 17:42] Hovden commented on #537
Yep. We can create a new issue that requests to include hyperspy.

My thought is that this would take is in the direction of spectroscopic data and may require future funding.

[2016-10-03 17:43] cquammen commented on #543
Behavior confirmed on Windows 10 with latest nightly build.

[2016-10-03 17:45] cryos commented on #543
I see this too, and it is a VTK bug in the charting code. It appears the API we are using fails to respect the requested significant figures. This is not intended behavior, we actually tried to make this look simpler/tweak the display of the chart.

[2016-10-03 22:46] yangking91 commented on #636
@mathturtle @cquammen @cjh1 Hello guys, I use "git pull origin master" command for ITK, paraview and tomviz. And I also clone the paraview source code again and then build. I accidentally found that there are some modified and unchecked files in my paraview. At first I try to build paraview in the same folder as the original source code folder. I deleted the control lines in CMakeLists file in ord

[2016-10-04 11:10] #637 closed

[2016-10-04 14:19] cjh1 commented on #636
@yangking91 I was unable to recreate the crash you are seeing when running the direct fourier method, are you using one of the sample datasets? I did run into an assert error when running "Transform Data to Axis of Rotation" which I have push a fix for in the [following PR](https://github.com/OpenChemistry/tomviz/pull/644).

[2016-10-04 14:28] cquammen commented on #636
Hi @yangking91. I have run into similar problems using the latest versions of ITK, but haven't had a chance to debug. Currently, only ITK tag v4.9.0 is known to work. Please compile that version of ITK. You can use `git checkout v4.9.0` to obtain that version of ITK.

Also, on a side note, we highly recommend building ParaView and other projects in build directories that are separate from the sour

[2016-10-04 15:31] cquammen commented on #420
We have cancelling functionality for some transforms. Can we close this issue?

[2016-10-04 15:33] cquammen commented on #392
I consider this done. Please open additional issues for related bugs.

[2016-10-04 15:33] #392 closed

[2016-10-04 17:42] cquammen opened #648 "Progress dialog does not appear when applying operator to child data set"
Steps to reproduce:
- Load data set
- Data Transforms -> Binary Threshold, accept default settings
- Select "Thresholded Segmentation" child data set
- Data Transforms -> Otsu Multiple Threshold

Notice that the progress dialog does not appear

[2016-10-04 18:13] cjh1 opened #650 "Change Operator:transform(...) return type to be an enum"
We need to be able to represent success, failure and canceled.

Related to #649

[2016-10-04 18:54] cquammen commented on #620
Fulfilled by PR #641.

[2016-10-04 18:54] cquammen commented on #475
Request fulfilled by #645.

[2016-10-04 18:54] #475 closed

[2016-10-04 19:19] #599 closed

[2016-10-05 02:12] #620 closed

[2016-10-05 14:49] Hovden commented on #607
@yijiang1 Is this fixed by the anti-aliasing?

[2016-10-05 15:08] Hovden opened #653 "Orbit Camera default missing"
I am trying to make a basic animation in tomviz where the object rotates about it's center.

It appears that datasets other than the sample dataset, or a dataset that has been cropped, the orbit is not able to provide a default center:
<img width="346" alt="screen shot 2016-10-05 at 11 04 08 am" src="https://cloud.githubusercontent.com/assets/6197997/19118864/caf60e7c-8aeb-11e6-8f51-d4bb52e6d651.p

[2016-10-05 15:09] Hovden commented on #653
Actually, it seems to be connected only to cropped data.

[2016-10-05 15:11] Hovden opened #654 "Deleting top dataset deletes entire pipeline."
Deleting top dataset deletes entire pipeline (bug identified on OSX).

1) Load 2 datasets.
2) Delete the one at the top of the pipeline.

[2016-10-05 15:16] Hovden opened #655 "Right click on dataset to save dataset"
It would be good to be able to save a dataset from the pipeline by right clicking. Currently, we have to save datasets under "File > Save Data", which is fine, but it would be great to also save in the pipeline directly.

[2016-10-05 15:41] Hovden opened #656 "Crashes when running Python transforms (Build 171-OSX)"
I am not able to run any python transforms (OSX)

1) Open dataset
2) "Data Transforms > Rotate"

Crashes.

[2016-10-05 15:43] yijiang1 commented on #656
Crashes on window 7 too.
My local build works fine.

[2016-10-05 15:44] mathturtle commented on #656
I'll look into it.

[2016-10-05 16:04] mathturtle commented on #656
Update: tomviz.utils and tomviz._internals are failing to import, then it tries to call PyObject_GetAttrString on the NULL object.  Looking further, it seems that these files (in fact all files in `Contents/Python/tomviz`) are installed containing nothing.  They are empty placeholder files.  I'll look at why that is after lunch.  @cjh1 Did you change how the files in the tomviz python module are g

[2016-10-05 16:28] cjh1 commented on #656
Yes, there where some packaging changes related to the threading support. I can take a look.

[2016-10-05 17:50] cquammen commented on #607
Anti-aliasing isn't intended to and won't fix the streak artifacts.

[2016-10-06 00:07] Hovden opened #658 "Animation not saving: stops at 200 frames"
I'm trying to make animations with more than 200 frames, however when saving a movie it stops at 200.

1) File > Save Movie
2) Set number of frames to 500.

Tested on OSX and any build 9.1 or greater.

[2016-10-06 00:09] Hovden commented on #658
Fixing this is fairly high priority for me; I am preparing a tomviz talk.

[2016-10-06 09:15] yangking91 commented on #636
Hi @cjh1 @cquammen, indeed I also updated the ITK to the newest version before. After I changed it to version 4.9.0 and rebuild everything, I can run Custom ITK transform, Binary Threshold and Ostu Threshold. But I still cannot run direct Fourier method or constrained Fourier method for the sample data (The star shaped nanoparticle) because the tomviz says it cannot execute the script. I think it

[2016-10-06 09:39] yangking91 commented on #636
@cquammen @cjh1 also the version of numpy I use is 1.11.0. Maybe there are some incompatibility. Perhaps this is also a reason why I cannot run the script.

[2016-10-06 12:49] yangking91 commented on #636
@cquammen @cjh1 Just as I thought, it is the version of pyfftw or numpy that make this error. After I reinstalled pyfftw version 0.9.2 and numpy version 1.8.1, now the direct Fourier method is OK. Thanks for your help.

[2016-10-06 13:54] yijiang1 opened #660 "Simple back projection UI is not visible"
On my local build (OSX), the simple back projection (c++) UI is not visible during reconstruction.

[2016-10-06 15:46] mathturtle commented on #658
This is a bug in ParaView, so it may take a while to fix.  But I have found a workaround for you @Hovden.

If you set the maximum frame number *before* doing File -> Save Movie, you can export an animation of up to that many frames.  You can set that in the text field I have outlined in red in this image:
![screenshot_2016-10-06_11-41-10_edited](https://cloud.githubusercontent.com/assets/553788/19

[2016-10-06 15:49] Hovden commented on #658
Thank you for the temporary fix. This will allow me to continue working.

[2016-10-06 17:56] mathturtle commented on #658
@utkarshayachit figured out what we were doing wrong.  The Save Movie dialog has a setting to select which frames to export (see image below).  This setting is populated based on the initial number of frames and doesn't update when you update the total number of frames.  So you would have to update this option too.  I'm going to look at patching it to automatically update when you update the max n

[2016-10-06 18:05] cjh1 commented on #656
@Hovden I think we have fixed this issue, can you try the latest build:

https://open.cdash.org/viewFiles.php?buildid=4585097

[2016-10-06 18:31] yijiang1 commented on #656
Yep, tomviz doesn't crash on OSX now.

[2016-10-06 18:44] cjh1 commented on #656
@yijiang1 Thanks for the feedback, I will close this now.

[2016-10-06 18:44] #656 closed

[2016-10-06 18:50] yijiang1 commented on #608
@Hovden Remember to make a new issue if you haven't.

[2016-10-06 18:50] #608 closed

[2016-10-06 21:41] mathturtle commented on #639
@cjh1 The windows builds are failing right now, `_wrapping.pyd` is failing to link, saying `cannot open file 'tbb.lib'`.  Do you have any idea why it thinks it needs tbb?

[2016-10-07 17:21] cquammen commented on #636
Great, glad to hear you got it working!

[2016-10-07 17:21] #636 closed

[2016-10-07 17:47] cryos opened #664 "Consider using the Qt5 JSON classes for interface builder"
They are very nice, simple API, integrate well with the Qt APIs, and we already require Qt5 (first release they were a part of). It shouldn't be too hard to convert things over, especially while things are still at a relatively early stage.

[2016-10-07 21:09] Hovden opened #666 "Changing Perspective View?"
Question. I'm looking to demonstrate the effect perspective view can have on the visualization of scientific data. How hard would it be to make the perspective view adjustable so I can demonstrate how varying perspective can affect how your data looks?

[2016-10-07 21:13] Hovden commented on #633
Bumping this—would love to incorporate this into my talk on the variability of tomography visualization.

[2016-10-07 21:27] cquammen commented on #664
I don't see a huge advantage to using the QJson* API. The API for [`QJsonValue`](http://doc.qt.io/qt-5/qjsonvalue.html) is really quite similar to jsoncpp's [`Json::Value`](http://jsoncpp.sourceforge.net/class_json_1_1_value.html), e.g.:

| QJsonValue val; | Json::Value val; |
| ------------ | ------------ |
| val.isArray() | val.isArray() |
| val.isBool() | val.isBool() |
| val.isDouble() | val.i

[2016-10-08 00:08] Hovden opened #667 "Icon Missing on OSX build"
Tomviz icon no longer appears on OSX.
<img width="333" alt="screen shot 2016-10-07 at 8 07 31 pm" src="https://cloud.githubusercontent.com/assets/6197997/19208587/d0947eec-8cc9-11e6-9a72-167378a34aed.png">

[2016-10-08 00:11] Hovden opened #668 "Delete key not working in Pipeline (OSX)"
Pressing the delete key removes many items in the pipeline. However, right clicking selecting delete behaves correctly. This is tested in 0.9.1-307 and 0.9.1-318.

[2016-10-08 15:47] ElliotPadgett commented on #565
This only looks half fixed to me.  The state file now saves the color map but fails to save the opacity settings.

[2016-10-08 15:52] ercius commented on #565
I've also noticed this in recent Windows builds but was holding off
reporting it until I could get the newest nightly from Cdash.

On Sat, Oct 8, 2016, 8:47 AM Elliot Padgett <notifications@github.com>
wrote:

[2016-10-08 20:17] Hovden opened #669 "Use of White in Paraview / Tomviz Often Invisible"
Paraview often chooses white as default for text and lines in the visualization which appears invisible when a white background is used. Since a white background is popular, white should be avoided.

Right now, this affects our crop tool, show axis grid, the orientation axis, etc.

I recommend that Paraview (and tomviz) adopt a new default color. I believe this can be resolved simply if a light gr

[2016-10-09 15:39] cryos commented on #664
Totally aware of the API for both, and have used both. I think in Qt-based classes it makes far more sense to use the Qt APIs. They benefit from things such as copy-on-write, and use of QString and QVariant which are more natural to use with Qt widgets. Unless there is a compelling reason to not use it then I think we should migrate to it, just like we use QList, QString, etc in our Qt code.

[2016-10-10 12:09] mathturtle commented on #667
I saw this on Friday after the builds were fixed.  I don't know why it happens yet, but it started some time last week during the 'tomviz won't build anywhere' mess.  I'm planning to double check the packaging today so I'll look into it as a part of that.

[2016-10-10 14:26] cryos commented on #669
That is a good point, we should work towards this in Tomviz, and put it to the ParaView folks.

[2016-10-10 16:43] #667 closed

[2016-10-10 17:25] yijiang1 commented on #655
Tested on latest binary.

[2016-10-10 17:25] #655 closed

[2016-10-10 18:24] cryos commented on #633
I cleaned it up more, and pushed a branch. You should be able to try it out, I need to look at save/restore before it is really ready to be merged, and there are likely some corner cases I overlooked.

[2016-10-10 20:25] cquammen opened #672 "Probe proxy in ParaView is deprecated"
Replace with ResampleWithDataset.

[2016-10-11 14:48] cquammen commented on #323
Relevant:

http://wiki.slicer.org/slicerWiki/index.php/Documentation/Nightly/Developers/Mac_OS_X_Code_Signing

[2016-10-11 15:02] cryos commented on #323
Thanks Cory, I will get back to this. I had properly signed app bundles, the missing thing was the developer certificate. I have one now, only one person was able to create this (despite me being marked an admin it was not enough). I should have it for the next bundle - the main challenges were making the Qt frameworks comply with the layout, and getting a developer certificate - no other type wor

[2016-10-11 17:22] cquammen commented on #672
Merged in #673 .

[2016-10-11 17:22] #672 closed

[2016-10-11 22:11] yijiang1 opened #674 "Error when running python transform on local build"
I get this error when I run python script on my local tomviz.

RuntimeError: module compiled against API version 9 but this version of numpy is 7
Failed to execute the script. (:0, )
Traceback (most recent call last):
  File "Bin Volume x2", line 5, in transform_scalars
  File "/System/Library/Frameworks/Python.framework/Versions/2.7/Extras/lib/python/scipy/ndimage/__init__.py", line 172, in <modu

[2016-10-11 23:42] ElliotPadgett commented on #565
@cquammen @mathturtle Any comment on this?  Altering the opacity function for a volume rendering is very common, so this issue is really a nuisance for making or sharing volume renderings.

[2016-10-12 03:26] cquammen commented on #674
Do you have a Python installed via `brew`? If so, my guess is that you are compiling against the numpy in that version, but your system Python is found when running.

A solution is to ensure that you are building against your system Python. In CMake for your ParaView build, try setting the following Python settings:

PYTHON_EXECUTABLE:FILEPATH=/usr/bin/python2.7
PYTHON_INCLUDE_DIR:PATH=/usr/includ

[2016-10-12 17:55] yijiang1 commented on #674
My system Python doesn't have packages like scipy, itk, and pyfftw.
What are the correct ways to install them? Thank.

[2016-10-12 19:02] cquammen commented on #565
Sorry, not ignoring. I'll take a look later today.

[2016-10-12 20:54] ElliotPadgett commented on #565
Thanks!

[2016-10-12 21:57] cquammen commented on #660
I could not reproduce on OS X doing the following:

* Launch tomviz
* Sample Data -> Generate Random Particles, accept default parameters
* Tomography -> Generate Tilt Series, accept default parameters
* Tomography -> Simple Back Projection (C++)

Let me know if this is the wrong way to try to reproduce the problem.

[2016-10-12 22:41] cquammen commented on #624
@ElliotPadgett I have a fix for this in #677. Would you mind trying it out? Thanks in advance.

[2016-10-13 00:02] yijiang1 commented on #660
Actually I can't reproduce the bug either on current build. I guess it's somehow fixed in recent changes.

[2016-10-13 00:29] cquammen commented on #660
Great! Please reopen if it is a problem in the future.

[2016-10-13 00:29] #660 closed

[2016-10-13 01:27] cjh1 commented on #639
This is all fixed up now thanks to @mathturtle

[2016-10-13 01:27] #639 closed

[2016-10-13 01:37] cquammen commented on #664
Completed in #675.

[2016-10-13 13:51] #624 closed

[2016-10-13 14:05] cryos commented on #664
Thanks Cory

[2016-10-13 14:05] #664 closed

[2016-10-13 15:37] cquammen commented on #565
Update: it seems that only the default scalar opacity function is being saved to the state file, which means the `DataSource` has a reference to the wrong one. Looking into why.

[2016-10-13 16:26] yijiang1 commented on #674
Ok I've figured out some solutions.
For numpy:
The system python comes with built-in numpy but it's too old for tomviz. I update it by simply running (on OSX 10.11.6)
`sudo easy_install -U numpy`

For ITK:
I build ITK following the instruction here https://github.com/OpenChemistry/tomviz/blob/master/BUILDING.md and then add the python path in my .bash_profile
`export PYTHONPATH="/Users/xxx/itk-bui

[2016-10-13 16:57] mathturtle commented on #674
I generally use virtualenv to create a local python environment and then pip install scipy and numpy there.  Then you just add that path to the PYTHONPATH.  I mostly work on Linux, but that approach *should* work on OSX too.

[2016-10-13 18:08] cjh1 opened #679 "Child data set label and icons not showing up"
If I apply the "Binary Threshold" I see the following:

![empty](https://cloud.githubusercontent.com/assets/1031053/19360883/5dbed712-914e-11e6-8496-4ebd30caad2b.png)

@cquammen Are you seeing this on master too? Its totally possible I broke this somehow.

[2016-10-13 18:12] cjh1 commented on #679
I don't seem to be able to add operators to them either ( child data sources that is ).

[2016-10-13 18:18] cquammen commented on #679
I cannot reproduce on master - everything seems to work as expected.

Two comments:

1). When it works correctly, the name/icon doesn't appear until after the operator completes *and* you click on the item. Not ideal.

2). Check the output at the console. My guess is there was an error and no child data set was generated. In that case, the name/icon will not appear at all. Again, not ideal.

[2016-10-13 18:23] cjh1 commented on #679
The only thing I am seeing in the console is

[code]

[2016-10-13 18:27] cjh1 opened #680 "Window build error on praxis"
[code]

I will take a look.

[2016-10-13 18:54] cquammen commented on #679
Hmm, that looks like it completed just fine.

[2016-10-14 02:12] yijiang1 commented on #674
For some reason (I really don't know what happened...), the scipy error above is gone and everything works now.

[2016-10-14 02:12] #674 closed

[2016-10-14 02:44] yijiang1 commented on #654
Interestingly, my local build works fine. The bug still exits on latest binary version.

[2016-10-14 02:53] yijiang1 commented on #668
The delete key works now on latest binary.
However, the other bug mentioned in #572 still exists.

[2016-10-14 11:34] cquammen commented on #565
Actually, I was wrong in my previous comment. The `ScalarOpacityFunction` proxy is the same in the `DataSource` (when a separate color map is not used).

The actual problem is that the `HistogramWidget` modifies the client-side `vtkPiecewiseFunction`. However, the opacity map values never make it back from the VTK object to the proxy.

A good question is: how does it work with the color map, which

[2016-10-14 15:50] ElliotPadgett opened #684 ""Duplicate Module" feature for visualizations"
It would be nice if there were an option to duplicate a visualization module (next to the delete button in the right click menu, maybe).  I sometimes want to compare to similar but slightly different visualizations, and this would be a nice way to do that without creating them from scratch.

[2016-10-17 14:38] cquammen commented on #565
Hi folks, this should be fixed in #685, which has been merged to master. Please reopen if you have any problems.

[2016-10-17 19:02] cryos commented on #633
There is certainly more to do, but I think the initial merge request will let you test out the functionality, and we can flesh out the exposed properties in future pull requests.

[2016-10-17 19:10] cryos commented on #633
Closing this issue. we can open new issues to track additional features, bugs, etc.

[2016-10-17 19:10] #633 closed

[2016-10-18 00:41] cjh1 commented on #680
Resolved by #683

[2016-10-18 00:41] #680 closed

[2016-10-18 18:23] cryos commented on #679
I took a look and see it complete, and that it is blank while processing, but shows up after. This should be looked at, but I can't reproduce your error here.

[2016-10-18 18:27] cryos commented on #572
I do not see this with master, just following up on old bugs. Is this behavior still an issue for you @Hovden? I tried deleting it both from the top, and from the bottom, using the delete key and the context menu.

[2016-10-18 18:44] Hovden commented on #572
Yeah. Open two sample datasets. Delete a viz module in the top dataset.

I'm finding several bugs in the pipeline (with two datasets try scrolling down by pressing the down arrow key. You'll find it repeats.) I will create a bug list.

[2016-10-18 18:52] cryos commented on #666
I don't see any existing graphical interface exposing this in ParaView, you can compare orthographic to perspective fairly easily, it would be a little more work to expose some of the low level camera API. I think the main class is http://www.vtk.org/doc/nightly/html/classvtkCamera.html, I can take a better look but it may be simpler to simply write a Python example using VTK's wrapped API.

[2016-10-18 18:56] yijiang1 commented on #572
On dashboard, the latest binary's version number is
<img width="313" alt="screen shot 2016-10-18 at 2 52 26 pm" src="https://cloud.githubusercontent.com/assets/13088588/19491899/a42e40a0-9542-11e6-80bb-03d5e81d4763.png">

My local build's version number is
<img width="209" alt="screen shot 2016-10-18 at 2 53 52 pm" src="https://cloud.githubusercontent.com/assets/13088588/19491914/b5d3816c-9542-11e

[2016-10-18 18:56] cryos commented on #572
I see the repeat, I can take a look at it. Not able to reproduce the deletion of all data sets here though. I was going to take a look through the code and see if I can spot anything.

[2016-10-18 18:57] Hovden commented on #669
This would solve the "show axis grid" problem (#421). Which is something Barnaby will use to create a tomviz figure and I might use in my tomviz talk next week.

[2016-10-18 18:57] cryos commented on #572
They are not the same version, the -373- and -365- indicate that they see 373 and 365 commits since 0.9.1 respectively. The letters/numbers after are a short version of the SHA - it is the output of the 'git describe' command.

[2016-10-18 18:57] Hovden commented on #666
Ok. Then don't worry about it. Ortho vs. Perspective is enough to make my point.

[2016-10-18 18:58] yijiang1 commented on #572
I see.

This bug is in the binary version (-373-). My local build ( -365-) works fine.

[2016-10-18 19:00] cryos commented on #572
I am using -373- and not seeing the issue, but on Linux. I will take a look at the packages, maybe there is something different about the binaries. Is this Windows, Mac, or Linux? I will try Mac first, and see what I can see.

[2016-10-18 19:04] yijiang1 commented on #572
This Mac

[2016-10-18 19:06] cryos commented on #572
We have been making a lot of changes to the pipeline, we can spend some time finding bugs that might have been introduced, some may be more difficult to reproduce than others. Confirmed on Mac with the binary package, I will see what I can find.

[2016-10-19 00:18] ElliotPadgett commented on #473
This looks good.  My only comment before closing is that it would be nice if the "Use Solid Color" check box was next to the control to pick the color.  Right now one is at the top and the other at the bottom of the properties panel.

[2016-10-19 14:52] ElliotPadgett commented on #565
Just tried this in the latest nightly build and now neither the color map nor the opacity setting is saved and restored.  Contour rendering with single color specified don't remember their color either.  Is the fix supposed to be in today's nightly?

[2016-10-19 14:56] ElliotPadgett commented on #473
Also, this may be connected to #565 but the color selected for the contour doesn't get saved and restored in state files.  It remembers that you checked the solid color box (and the opacity) but it reverts the color to white.

[2016-10-19 15:08] cquammen commented on #565
I should have some time this afternoon to look at this.

[2016-10-19 16:40] ElliotPadgett commented on #565
@yijiang1 told me that it works in his build, but doesn't seem to in the binary, in case that helps with tracking it down.

[2016-10-19 17:40] cryos commented on #654
We have updated the ParaView SHA, and the ITK binaries, which will trigger a clean build of Tomviz along with all dependencies. I will test the binaries once they are ready, looking into several pipeline issues right now (but unable to reproduce this one in a build tree - I can try to the build on bigmac if it still happens there after the clean builds).

[2016-10-19 17:42] cryos commented on #668
I am tracking down some odd issues with using the arrow keys/delete keys doesn't seem to select what I might normally expect it to. Hopefully I will get to the bottom of it soon, it is quite strange, and something I am seeing in my local build tree.

[2016-10-19 18:29] cjh1 commented on #679
I recompiled using RelWithDebInfo ( I was running Debug before ) and see it update when the processing is complete, looks like some sort of timing issue, I can take look.

[2016-10-19 19:48] cryos commented on #654
Getting closer, need to head out, but I see the cause of the issue now. It is quite odd, and not what I thought at first. This may turn out to be affecting a few of the keyboard related pipeline view interactions.

[2016-10-19 22:49] cquammen commented on #616
More deeply nested trees are not being restored, however.

[2016-10-20 16:05] yijiang1 opened #688 "linear algebra library"
Is there a c++ linear algebra library included in tomviz?
Some advanced tomography reconstruction requires operations such as matrix vector multiplication.

[2016-10-20 16:54] cryos commented on #688
We could quite easily add in Eigen, I know it well, and it would be easy to add. It is header only, and expands out to very efficient code and the API is nice and friendly.

[2016-10-20 16:55] cjh1 commented on #688
pybind11 also has support for wrapping it, which is a bonus if that become necessary.

[2016-10-20 17:45] yijiang1 commented on #688
Eigen seems a good choice.

[2016-10-20 18:36] cquammen opened #689 "Morphological operations on cropped images cause image origin shift"
Steps to reproduce:

* Load data set
* Apply Binary Threshold data transform
* Apply Crop Operator to the child data set of Binary Threshold, make the bounds be entirely inside the original image bounds
* Binary Dilate

The origin of the image will shift back to the origin of the original image.

[2016-10-20 19:25] yijiang1 opened #691 "Add "transform description" in property panel"
It'd be great if we show some descriptions for each transform in the property panel.

For example, if I first select "Orthogonal Slice" in Pipelines and then select a data transform, the Properties panel remains the same, which may be confusing.
<img width="292" alt="screen shot 2016-10-20 at 3 16 25 pm" src="https://cloud.githubusercontent.com/assets/13088588/19574447/5b14dffe-96d8-11e6-92dd-2ea5

[2016-10-20 19:30] cquammen commented on #689
The problem is in the call to `dataobject.SetExtent(...) in utils.set_array(...). It always sets the image extent to (0, xmax, 0, ymax, 0, zmax). However, cropped images sometimes have non-zero minimum extents. Hence the observed shift.

[2016-10-21 16:00] #669 closed

[2016-10-24 14:15] yijiang1 commented on #654
This is fixed on latest binary (-403-).

[2016-10-24 14:16] yijiang1 commented on #668
This is fixed on latest binary (-403-).

[2016-10-24 15:28] yijiang1 opened #702 "flake8 confilcts with "user specified variables" in python"
To pass user-specified-variables to python script, we require python code to have the format of:
`###variableName###`

On the other hand, running `autopep8 --global-config flake8.cfg --in-place xxx.py` automatically changes the code to
`# variableName###`

[2016-10-24 15:29] cjh1 commented on #702
Yup, another reason to move away from templating our python scripts.

[2016-10-24 15:36] yijiang1 commented on #702
So we will use a different format for user specified variables in python?

[2016-10-24 15:41] cjh1 commented on #702
The plan is to inject them as members of an Operator instance in the future I think.

[2016-10-24 15:43] yijiang1 commented on #702
I see. Sounds good to me.

[2016-10-24 15:43] cquammen commented on #702
We could also add an `arguments` Python dictionary to the signature of `transform_scalars`.

[2016-10-24 15:46] cjh1 commented on #702
@cquammen Yes, that is another option.

[2016-10-24 15:49] yijiang1 opened #703 "Remove hot pixels in tilt series"
We plan to add a python transform in tomography menu that removes hot pixels in tilt series.

[2016-10-24 15:50] cquammen commented on #525
A large number of operators now use JSON descriptions. Closing.

[2016-10-24 15:50] #525 closed

[2016-10-24 15:53] cquammen commented on #565
Is this still not working in the nightly build?

[2016-10-24 15:54] cquammen commented on #274
Is this still an issue? I'm not sure which to which icon this was referring.

[2016-10-24 15:55] ElliotPadgett commented on #473
Solid color for contour is now saved, although the icon reverts to showing white instead of the actual color.

[2016-10-24 15:56] cquammen commented on #25
Still valid?

[2016-10-24 16:03] cquammen opened #704 "Replace text substitution method of passing arguments into Python operators"
Alternative implementation possibilities:
- Make all Operators a subclass of the `tomviz.operators.Operator` and provide a member dictionary containing the arguments
- Add a second argument to `transform_scalars` functions that is a dictionary containing arguments
- Global variable that is defined only in the Python environment in which the operator python operates.

Instead of a dictionary, indiv

[2016-10-24 16:04] ElliotPadgett commented on #565
Actually we misidentified this before.  The issue is with the "separate color map" option.

The builds are consistent, and tomviz is correctly saving changes to the global color map.  The problem is that when you check "separate color map" for a visualization and then save/restore tomviz forgets that that box is checked and what color map was set up for it.  @yijiang1 also points out that this see

[2016-10-24 16:07] ElliotPadgett commented on #25
This seems to be working now.

[2016-10-24 16:07] #25 closed

[2016-10-24 16:13] ElliotPadgett commented on #565
No problem for orthoslices either.

[2016-10-24 16:33] cjh1 commented on #704
@cquammen For option one my idea was the actually add the argument as members of the object for example if you had an argument foo, it could be be access inside the operator as ```self.foo```

[2016-10-24 17:11] cquammen commented on #565
Great, thanks for the detailed update. That should make it a lot easier to track down.

[2016-10-24 17:32] cquammen commented on #704
@cjh1 I see, I've updated the original comment to say 'individual Python variables/members could be defined...'. One thing to be careful about with that approach is that there will be some, maybe not many, reserved names that cannot be used as argument names. Also, every Python Operator will have to be updated to be a `tomviz.operators.Operator` subclass. Or maybe there is a fancy way to make top-

[2016-10-24 17:46] cjh1 commented on #704
@cquammen I had thought about the possibility of `name clash` using this approach, both user defined members and system ones, however we could easily warn the user. I think we are going to have to touch every operator anyway if we are moving away from templating the variables, so converting every operator to subclass Operator is not a big deal. However, I am warming to the idea for changing the ``

[2016-10-24 17:46] cryos commented on #565
This is a known issue I introduced, Rob wanted the new volume features, I need to figure out how to save that stuff correctly as after the changes to volume module.

[2016-10-24 17:48] cryos commented on #702
Tried commenting over email, apologies if that shows up later. Short term we should relax or turn off flake8, implement a fix but I don't want it to be rushed for flake8. We discussed some of the options Cory mentioned last week, and there are a number of benefits to moving from text replacement.

[2016-10-24 17:58] cquammen commented on #565
Ah, okay. Thanks @cryos.

[2016-10-24 18:04] cjh1 commented on #702
@yijiang1 For some reason autopep8 isn't respecting the ```ignore:``` section in flake8.cfg, but running with the following options will prevent it reformatting the comments:

[code]

Hope that helps, I will update the doc ...

[2016-10-24 18:18] yijiang1 commented on #702
Yeah this avoids the conflict for now.

[2016-10-24 18:18] #702 closed

[2016-10-24 18:21] cryos commented on #702
Thanks for clearing this up in the short term, we will move away from text replacement at some point. It makes it hard to know if a script was changed or has a GUI, and the GUI cannot be shown again...

[2016-10-24 19:45] #99 closed

[2016-10-25 14:52] #654 closed

[2016-10-25 14:52] #668 closed

[2016-10-25 15:07] cryos commented on #473
We should fix that before closing this issue.

[2016-10-25 18:14] cryos commented on #702
For the short term I think we should turn off flake8, it can be turned back
on but I don't want it to create a false sense of urgency.

On Oct 24, 2016 11:46 AM, "Chris Harris" <notifications@github.com> wrote:

[2016-10-25 18:30] cryos commented on #704
Chris and I chatted about this on Friday a little, members or argument
object both seem reasonable. Short term, flake8 should be relaxed or turned
off so we can continue without the urgency

On Oct 24, 2016 1:32 PM, "Cory Quammen" <notifications@github.com> wrote:

[2016-10-25 19:29] ElliotPadgett opened #707 "State-file-restored volume rendering looks grainy"
I'm not sure exactly how to describe this problem, but I've found that when I save and restore a state file with a volume rendering the volume rendering can come back looking grainy in comparison to the original (see screenshots below).  New volume renderings created with the same data and pipeline in the restored session look normal.  Any ideas about what is going on here?

Normal:
<img width="12

[2016-10-25 20:26] yijiang1 opened #709 "Conflit between clang-format-diff.py and travis test"
Running clang-format-diff.py and travis test sometime give me different results.
For example,
(from travis)
<img width="504" alt="screen shot 2016-10-25 at 4 17 07 pm" src="https://cloud.githubusercontent.com/assets/13088588/19702908/adef7dec-9acf-11e6-87b0-a7ad73d1d3ef.png">

(from clang-format-diff.py)
<img width="462" alt="screen shot 2016-10-25 at 4 20 06 pm" src="https://cloud.githubuserconte

[2016-10-25 21:02] cryos commented on #707
I will investigate

[2016-10-25 21:56] ercius commented on #707
If you rotate the object does it get smoother?

On Tue, Oct 25, 2016, 12:29 PM Elliot Padgett <notifications@github.com>
wrote:

[2016-10-25 22:58] cjh1 commented on #709
@yijiang1 What version of clang-format do you have installed? On Travis we are running 3.8

[2016-10-26 02:37] yijiang1 commented on #709
I downloaded the script here
https://llvm.org/svn/llvm-project/cfe/trunk/tools/clang-format/clang-format-diff.py

[2016-10-26 12:56] cjh1 commented on #709
That is just the python wrapper around clang-format. Can you run clang-format --version?

[2016-10-26 14:00] cjh1 commented on #679
So #710 fixes my issue where the child data source was never showing up, I now see what everyone else was seeing ( it appears when the operation is complete ). So this behavior is a result of us creating the row in the table before we have a data source to populate it, so it appears blank until the child data source has been set. Now we could resolve this in by delaying the creation of the row unt

[2016-10-26 14:37] cryos commented on #679
I would favor probably go with delayed creation - the new operator is there, and once it completes, and there is data, we should then see what it is. Not sure how much utility there is in the promise of data, especially when we have an operator that we can mark as executing in the UI.

[2016-10-26 14:38] yijiang1 commented on #709
I see. Turns out I'm using clang-format version 3.7.
What's the best way to install version 3.8? Thanks.

[2016-10-26 14:38] cjh1 commented on #709
What platform?

[2016-10-26 14:39] yijiang1 commented on #709
on Mac

[2016-10-26 14:43] cquammen commented on #679
Note that the child data source name should be available from the JSON.

[2016-10-26 14:44] cjh1 commented on #709
I think its available on brew?

[2016-10-26 14:47] cryos commented on #679
Even if so you can't do anything with the data until it is available, wouldn't it be more intuitive to show it once it is available? I guess the flip side is if you know it will take a while, and want to chain an operator off of a child data set before it is ready, but would the pipeline function as expected? If we do show it before it is ready we should grey it out to make it clear the data is no

[2016-10-26 15:04] cquammen commented on #679
I don't have a preference either way, implementation was just easier the way it is now.

I think it could be nice to have a place-holding indicating that something is coming. It could be greyed out to show that it isn't ready, and struck through if the production of the child data source fails. But either way is fine with me.

[2016-10-26 16:08] yijiang1 commented on #709
Yes and I can install it by running `brew install homebrew/versions/clang-format38`
Now the conflict is gone.

[2016-10-26 16:08] #709 closed

[2016-10-26 16:56] ElliotPadgett commented on #707
Rotating, hiding and reshowing, and editing the color map don't impact the issue.

I'm not sure what it takes to reproduce it actually.  I tried with the sample data but I don't see the problem there.

[2016-10-26 16:59] ElliotPadgett commented on #707
Actually I also get the issue when I load that dataset from the "recently opened" menu, without any state file saving.

[2016-10-26 17:05] ElliotPadgett commented on #707
Nevermind, I'm very confused now.  Even if I load that dataset directly in a fresh tomviz session it has the grainy appearance.

However, something is definitely going wrong because when I load the original state file with the problem I can have two different volume renders from the same data with the same color map which appear different, just like I show above.

I can share the data and the stat

[2016-10-27 19:48] cquammen commented on #689
Fix in #711 .

[2016-10-27 21:41] cquammen commented on #589
Yes in theory, but in some cases that could lead to annoying behavior. What if you have two images open that occupy different spaces and you want to apply some transforms to both? Then the center will move to whichever transform was performed last, which could be just as irritating as the behavior now. Moreover, if the transforms for both images re-execute, the center could jump around as you are

[2016-10-28 01:19] cjh1 commented on #563
This should be resolved by #695

[2016-10-28 01:19] #563 closed

[2016-10-28 02:13] cquammen commented on #572
I just tried out Nightly build 438 for Mac. I could not reproduce any of the crashes reported here.

[2016-10-28 02:51] #628 closed

[2016-10-28 02:51] #587 closed

[2016-10-28 14:58] yijiang1 commented on #420
Yes I think so.

[2016-10-28 14:58] #420 closed

[2016-10-28 15:00] yijiang1 commented on #691
Is this easy to do? We'd really like to have this feature.

[2016-10-28 16:10] cryos commented on #691
Not as easy as you might think, but I started looking at it. Should have something ready soon.

[2016-10-28 16:12] cryos commented on #572
Yeah, I think this is resolved now.

[2016-10-28 16:12] #572 closed

[2016-10-28 18:35] yijiang1 opened #716 "Tilt angles are not initialized to zero"
1. Load a dataset.
2. Click Tomography menu -> Mark Data As Tilt Series
3. In the "Set Tilt Angles" dialog, switch to "Set Individually" mode.
   <img width="676" alt="screen shot 2016-10-28 at 2 30 06 pm" src="https://cloud.githubusercontent.com/assets/13088588/19817789/1e42a716-9d1b-11e6-8c5f-e0ad443754d1.png">
4. Click OK.
5. Open the "Set Tilt Angles" dialog again from the pipeline. Switch to

[2016-10-28 18:58] mathturtle commented on #716
It is much more sporadic for me but I can reproduce it.  Maybe one in three times i see random data.  I'm looking into why it happens now.

[2016-10-28 19:31] ElliotPadgett commented on #707
Actually @yijiang1 and I figured out what the real problem is.  I will close this and open a new issue.

[2016-10-28 19:31] #707 closed

[2016-10-28 19:38] ElliotPadgett opened #717 "Volume rendering not updated by new transforms"
New transforms added to the pipeline do not update volume renderings created before them.  This problem was responsible for the behavior seen in #707. It does not appear to impact all rendering types (e.g. contours). To reproduce this problem:

1) Open the sample reconstruction and create a volume rendering.

<img width="1284" alt="screen shot 2016-10-28 at 3 29 31 pm" src="https://cloud.githubuse

[2016-10-28 20:18] yijiang1 commented on #589
I can't think of any situations when people want the rotation center to be somewhere else other than the center of the matrix. I'd even automatically reset the rotation center if a transform changes matrix size.
In general, I think the best way to handle multiple datasets is to put them in separate RenderView windows.

[2016-10-28 22:14] cquammen commented on #689
Fix has been merged to master.

[2016-10-28 22:14] #689 closed

[2016-10-28 22:20] cquammen commented on #545
Shawn's fix in VTK is available in ParaView now. It appears to have resolved the identified issue as I could not reproduce it in master. Please re-open if you still observe this behavior.

[2016-10-28 22:20] #545 closed

[2016-10-28 22:21] cquammen commented on #537
Shall we close this issue?

[2016-10-29 01:54] cryos commented on #717
Thanks, you have given me more than enough to take a look (the recipe was enough), I can take a look, I suspect this is related to the changes I made to volume rendering.

[2016-10-29 02:50] cryos commented on #691
So #720 does some of this, we need to do a little more work to get the JSON descriptions in. I will leave this open to track that, and make sure we do it.

[2016-10-29 02:50] #635 closed

[2016-10-29 07:35] #537 closed

[2016-10-31 18:22] mathturtle commented on #716
@cjh1  Can you take a look at this?  The image going into the `ImageFuture` in `DataSource::getCopyOfImagePriorTo(Operator*)` is fine, but the one that comes back out in `EditOperatorDialog::getCopyOfImagePriorToFinished(bool)` has garbage data in the tilt angles data array.... sometimes.

Since it is inconsistent for me, I suspect a threading issue.  But I can't find it.  Valgrind gives a lot of

[2016-10-31 18:23] cjh1 commented on #716
Sure, I will take a look.

[2016-10-31 18:39] cjh1 commented on #716
@mathturtle @yijiang1 Any tips on recreating this issue? A particular data set? I have tried several times with Debug and RelWithDebugInfo and haven't seen it?

[2016-10-31 18:44] mathturtle commented on #716
I just load a dataset and mark it as a tilt series (I'm not sure it matters, but I hit OK on the tab where you set the tilt angles individually rather than by parameters).  Then double-click on the operator in the pipeline to pull up the GUI again and switch back to the set tilt angles individually tab.  About 1 in 3 times I get garbage data displayed for at least some of the angles (usually 6-10