[2015-03-19 15:56] oliveirarodolfo opened #12 "Open Stack of Images"
Hi,

Apparently if I select a stack of images from a folder, it only ends up loading the last one. There should be a way to set the spacing manually or fetching it from either a summary file. I thought that it should be automatically recognized from a ``DICOM`` input, but it didn't work on my end...

[2015-03-19 16:05] utkarshayachit commented on #12
Indeed. A fix is already in development in ParaView. Once that lands, the next version of TomViz will inherit it.

[2015-03-19 16:31] oliveirarodolfo commented on #12
Perfect, thanks!

[2015-03-19 16:31] #12 closed

[2015-03-23 17:41] cryos commented on #12
Thanks @utkarshayachit, just got back from a trip to see this was already answered. Thanks for reporting the issue @oliveirarodolfo!

[2015-04-10 15:33] utkarshayachit commented on #12
Here's the [ParaView Merge Request](https://gitlab.kitware.com/paraview/paraview/merge_requests/50) that fixes this issue.

[2015-04-10 16:51] cryos commented on #12
Very cool - thanks @utkarshayachit!

[2015-04-30 21:46] Hovden opened #13 "Saving video as Ogg not working"
Exporting animation as ogg video not working. It currently throws the following error on Mac OSX:

ERROR: In /Users/kitware/Dashboards/MyTests/NightlyBinary/MatVizSuperbuild-Release/paraview/src/paraview/ParaViewCore/Animation/vtkSMAnimationSceneImageWriter.cxx, line 385
pqAnimationSceneImageWriter (0x11c2c4990): Unknown extension .ogv

[2015-04-30 21:51] Hovden opened #14 "Delete data and transforms is non-obvious"
“Delete data and modules” right now is hidden in the “data transforms” menu. This should be somewhere more obvious. It was one of the first things I looked for in the interface since I loaded my data wrong several times and wanted to clear it without restarting. I expect this will be a common experience.
--Elliot

Proposed solution: Users should be able to delete the data from the pipeline. This w

[2015-04-30 21:52] Hovden opened #15 "Raw reader requires .raw extension to load file"
When importing a .raw file, the "Open File" interface will only display files with *.raw extensions. Often binary files will be stored as a variety of alternative extensions (such as *.bin and *.dat ).

Suggested Solution: when importing raw, either display all files (.) or at least add *.bin and *.dat

[2015-04-30 21:52] Hovden opened #16 "Speed up surface rendering on Windows"
Improving surface rendering speed on Windows would add value to the project.

[2015-04-30 21:53] Hovden opened #17 "Speed up volume rendering on Mac"
Improving volume rendering speed on Mac would add value to the project.

[2015-05-01 20:38] Hovden opened #18 ""Custom Transform" dialogue focus prevents interacting with Python Shell"
Right now I can’t edit a custom transform and type in the python interpreter at the same time, which is unfortunate.
--Elliot

Comment: Users will likely test syntax in the Python Shell as they write code in the "Custom Transform" dialogue. If it is not excessively difficult, this would be a good feature to allow.

[2015-05-01 21:17] Hovden opened #19 "Retina display (Mac) not supported; looks pixelated"
GUI and icons look pixelated due to lack of retna display support. This may be resolvable with QT5 implementation.

[2015-05-01 21:19] Hovden opened #20 "Rotate /Translate Data and Modules in the Visualization"
Objects need to be rotatable and translatable in the visualization. For example, two datasets, each with their own volume and/or isosurface rendering can be moved and rotated relative to each other. Users can display two datasets side-by-side and rotated them each individually. This probably means that the entire dataset and the visualization modules associated with a single dataset all rotate / t

[2015-05-04 20:57] Hovden opened #21 "Viz panels and tabs not loading properly from save State File"
When saving and loading the tomviz state, the panels and tabs are not restored properly. For example, if one has a tab with three split viz panels and a second tab containing a single viz panel the state will restore with four viz panels in a single tab.

Also, the size / spacing of the panel splits are not saved.

[2015-05-04 21:16] Hovden opened #22 "Slice and orthoslice icons look the same"
Orthoslice and slice icons should be distinguishable. For the orthogonal slice, it does not make sense in tomviz (or paraview) to show a tilted slice icon since this is not possible. However, this is great for the slice tool that allows any angle of slicing.

Suggested solution: "Orthogonal Slice" icon should show an orthogonal green slice. "Slice" icon should show a non-orthogonal slice with diff

[2015-05-04 21:21] Hovden opened #23 "Slice tool's orientation arrow cannot be turned off"
The slice tool displays an arrow perpendicular to its surface and allows the user to change the slices orientation. After a user is done choosing an orientation, they should be able to disable the visibility of the arrow.

Suggested Solution: Add a checkbox in the slice view properties that can disable or enable the orientation arrows visibility.

[2015-05-04 21:32] ElliotPadgett opened #24 "Change Color of Bounding Box"
User should be able to change the color of the "Outline" bounding box, like they can change the color of the background.  Currently the bounding box is always rendered in white.

[2015-05-04 21:40] ElliotPadgett opened #25 "Color maps not working for "Threshold" module"
Currently the Threshold module does not respond to a change in its color map, instead always rendering grey.

[2015-05-04 21:47] ElliotPadgett opened #26 "Smooth surfaces for "Threshold" module"
Currently the threshold module renders each voxel as a cube.  For some applications this is distracting and aesthetically unappealing, so it would be nice to have the option to render the surfaces smoothly instead.

[2015-05-04 23:11] cryos commented on #26
How would a smooth surface of a threshold differ from a contour/isosurface in this sense?

[2015-05-04 23:13] cryos commented on #24
Using labels is easier than adding [Feature Request], it would be better to use enhancement, bug, question (let us know if some are missing). I think feature request maps perfectly to enhancement.

[2015-05-05 00:15] Hovden commented on #25
Elliot, I checked this bug on my machine and there wasn't a problem. Not sure what is going on with your tomviz.

[2015-05-05 02:52] ElliotPadgett commented on #24
I was trying to do that but I don't seem to be able to apply labels.

[2015-05-05 03:19] ElliotPadgett commented on #25
I tried with some other data and also didn't get the problem.  I'll try to track down what made it break.

[2015-05-05 04:12] ElliotPadgett commented on #26
Say I have a (segmented) volume with materials A and B with intensities 1 and 2 respectively.  I want to draw the surfaces of each material with different colors.  I can draw an isosurface at 1.5 to show B, but once I draw an isosurface at 0.5 to show A, it covers up B!  So if I want to show both at once, an isosurface isn't the way to do it.

Conveniently, TomViz has a threshold feature which wil

[2015-05-05 15:07] ElliotPadgett opened #27 "Tomviz crashes if user picks a "recently opened" file that has been moved or deleted"
Picking a data file from the "File>Recently Opened" list that has been moved or deleted crashes Tomviz completely, followed by a "Tomviz quit unexpectedly" message on Mac.  It would be better to warn the user with an error saying that Tomviz could not find the file.

[2015-05-05 15:28] ElliotPadgett commented on #25
Ok, so I tried a few more configurations and the key thing to trigger the bug seems to be having a volume with only two values in it (e.g. 0 and 1, or 0 and 2).  Once I add a third value it starts to work again.

[2015-05-05 15:38] ElliotPadgett commented on #25
Also, I just noticed that switching between "Surface" and something else like "Volume" in the "Representation" dropdown makes it update the color to the global color map assignment even if you have checked "Use separate color map for this module".  If I uncheck and recheck that then the problem seems to go away completely and the color updates as it should.  So it seems like it may be a problem wi

[2015-05-05 15:46] ElliotPadgett opened #28 "Add slider for contour threshold"
Currently the user must type the values for single isosurface contours.  It would be nice to be able to use a slider for this.  The nicest would be if you could have the threshold shown on top of the histogram (I think Chimera's volume viewer works this way) as well.

[2015-05-07 20:01] Hovden opened #29 "Downsample Dataset"
Need a datatransform that downsamples the data by factors of 2x, 4x, etc.

Possible solution: Downsampling should not simply read every other datapoint, it should interpolate (most simply, this would be an average of adjacent pixels). This probably means a new dataset will be created in memory - I think this is OK.

[2015-05-07 20:56] ElliotPadgett opened #30 "Error thrown after cross-correlation autoalignment"
I tried loading a tilt series in tiff stack format and running the Auto-Align (xcorr) data transform.  It appeared to run successfully (my data looked aligned afterward) but ended up the following to the "Output messages" box (in Windows):

    Align Images Complete
    ERROR: In C:\DBD\matviz-x64\paraview\src\paraview\VTK\Charts\Core\vtkPlotBar.cxx, line 853
    vtkPlotBar (0000000010BBC7D0): No

[2015-05-12 17:43] Hovden opened #32 "Non-orthogonal slicing, move center of rotation"
Need to be able to move the center of rotation in the non-orthogonal slice tool.

Suggested solution, when clicking the central in-plane part of the arrow (the little ball) the arrow can be translated in the plane of the slice. Also / or slider bars in the module properties could be useful for more exact positioning.

[2015-05-12 18:16] utkarshayachit opened #33 "Drag-n-Drop Python Transforms"

[2015-05-12 18:20] utkarshayachit opened #34 "Caching transform results for save/load state files"
When loading state files, if transforms are slow, we currently have no mechanism to cache the previously computed results. That'd be needed to speed up restoring old states.

[2015-05-12 18:45] utkarshayachit opened #35 "Add ability to set tilt angles for a tilt series"
* Show tilt angles on the Data Properties panel
* Edit tilt angles on Data Properties panel
* Add option to context menu/toolbar to mark a data set as a tilt series.
* Add checkbox to File | Open to open a file as tilt series.

[2015-05-12 18:47] cryos opened #36 "Adjustable cropping box interface"
Pick the subvolume to be opened, only load the subvolume into memory. Provide graphical interface to move the corners etc.

[2015-05-12 18:57] utkarshayachit opened #37 "Fix center of rotation to (0,0,0)"

[2015-05-12 18:57] utkarshayachit opened #38 "Allow moving of objects in the 3D view, interactively as well as using interaction."

[2015-05-12 19:00] utkarshayachit commented on #38
Note all modules should also move when the data is moved.

[2015-05-12 19:12] cryos opened #39 "Write 3D TIFF files from volumes"
VTK doesn't currently support writing 3D TIFFs, add support and expose this in tomviz.

[2015-05-13 17:12] Hovden opened #42 "File Input: White list relevant file types only"
Reduce the list of file types for input in order to reduce potential bugs and make the user experience easier.

.jpg, .png, .tiff, .raw, .txt are all useful

[2015-05-13 17:54] Hovden opened #43 "File Input: White list relevant file types only"
Reduce the list of file types for input in order to reduce potential bugs and make the user experience easier.

.jpg, .png, .tiff, .raw, .txt are all useful

[2015-05-13 17:55] #43 closed

[2015-05-13 17:56] Hovden opened #44 "Colormap editor tab in histogram panel"
In order to make the colormap editor more accessible and useable add a colormap to the histogram panel. Tabs will allow users to jump between the histogram and the colormap editor.

[2015-05-13 17:58] Hovden opened #45 "Merge Data Transforms and Visualization Modules Pipeline"
Merge the datatransform pipeline and the visualization modules pipeline.

The data transforms will appear as objects below the data icon and new transforms will be added below the previous transform. Data transforms will be indented once.

 The visualization modules will appear after the data transforms and indented twice.

[2015-05-13 18:00] cryos opened #46 "Make module and data properties context aware"
The module and data properties as implemented are confusing, it is not clear which module the module properties refer to, and the connection to the data is loose. We always have a selected data item or module - show an integrated properties dialog that shows the properties for the highlighted item.

[2015-05-13 18:01] cryos opened #47 "Make view properties a dialog"
Move the view proprties to a dialog as this is confusing, and doesn't seem like a good fit for a panel.

[2015-05-13 18:04] cryos opened #48 "Context menus/keyboard shortcuts in application"
Add context menus to the module views, along with keyboard shortcuts that make it easy to delete things from the data transforms, etc.

[2015-05-15 18:33] Hovden opened #49 "Fatal Crash when moving view panels"
The crash is recreated simply:

1) Open tomviz and split panel vertical.
2) Move the bottom panel to the top.

[2015-05-18 15:55] Hovden commented on #15
Paraview currently assigns .dat to TecPlot files. The .dat file extension does not belong to TecPlot but rather is a generic extension for any kind of binary data. In both Paraview and tomviz, it would make more sense for .dat to default to the raw reader or not belong to any particular reader.

[2015-05-28 15:47] #18 closed

[2015-05-28 15:54] cryos commented on #27
This should be resolved by #53, please test and reopen if this is not the case (should be in today's build).

[2015-05-28 15:54] #27 closed

[2015-05-28 19:25] #30 closed

[2015-05-28 22:37] ElliotPadgett opened #54 "Uncouple "Set view direction" and "Zoom to data"?"
In the zoom and view direction controls at the top left of the window, pressing one of the "Set view direction to * " buttons both sets the view direction AND also resets the zoom out to show the full view of the data.  Since there is already a "Zoom to data" button, should the "set view direction" buttons just change the direction and let the user keep their zoom?

[2015-05-29 21:32] Hovden opened #56 "File Reader, .MRC read support"
Need to be able to read .mrc files, a popular format for microscopists doing tomography. Writing is probably not necessary.

[2015-05-30 20:40] Hovden commented on #54
Yes.

The orthogonal view buttons should not reset the zoom. Especially since there is a zoom and resent button. I assume this should request should be moved into ParaView issues.

[2015-05-30 21:14] ElliotPadgett opened #57 "Segfault loading tiff stack"
Loading a tiff stack with the default settings crashes Tomviz with a segfault. (Observed on Linux.)

[2015-05-30 23:11] cryos commented on #57
Confirmed (on Linux and Mac). I will debug next week.

[2015-05-31 16:07] ElliotPadgett opened #59 "Manual alignment: allow user to pick direction"
In the current version the user always aligns image n+1 to image n.  The user should be able to choose between "align to next" and "align to previous" options.

[2015-05-31 16:17] ElliotPadgett opened #60 "Manual alignment: difference map comparison mode"
In addition to "flashing" comparison mode where the user minimizes the wobble as the display flashes back and forth between images, it would be useful to have a "difference map" comparison, where the user makes the display of (imageA-imageB) flat around the alignment point.

I'm not sure what the best way is to make this fit with the current color map scheme, since it will need to display positive

[2015-05-31 16:36] ElliotPadgett opened #61 "Manual alignment: erroneous jump with button press"
In the manual alignment widget, after applying a significant shift pressing any key (even ones that should do nothing) causes the image to jump to a location not specified by the user-defined shifts.  I have only observed this starting with unaligned data.

To replicate clearly (with sample star-particle tilt series):
1) misalign the stack with the cross-correlation auto-align.
2) open stack in ma

[2015-05-31 16:44] ElliotPadgett opened #62 "Manual alignment: zoom to any point"
Currently the widget allows the user to zoom in and out in the data view, but the zoom is always centered on the data center point.  It would be useful to be able to zoom in on any part of the data.

[2015-06-02 19:54] mathturtle commented on #14
I was just trying to figure out how to do this...

[2015-06-02 20:11] cryos commented on #14
Yes, it is there but it is not obvious or intuitive!

[2015-06-02 21:21] mathturtle opened #65 "Non-orthogonal slice OpenGL2 warnings"
Using the non-orthogonal slice when the widget first appearsh or when moving the slice plane, I get OpenGL warnings:

Warning: In /home/shawn/dev/tomviz/src/paraview/VTK/Rendering/OpenGL2/vtkOpenGLPolyDataMapper.cxx, line 1418
vtkOpenGLPolyDataMapper (0x6219340): line widths above 1.0 are not supported by OpenGL 3.2

[2015-06-02 22:02] bdalevin opened #66 "Animator fails to rotate past x-y plane"
Simple orbit animation only works around z axis. Around x and y axes, the software tries to flip the image over half way through, and spits out an error message:
Warning: In C:\DBD\matviz-x64\paraview\src\paraview\VTK\Rendering\Core\vtkRenderer.cxx, line 1029
vtkOpenGLRenderer (00000000093D9C80): Resetting view-up since view plane normal is parallel.

[2015-06-02 22:16] bdalevin opened #67 "Building in multiple animations"
When adding an animation in the animator, it seems as though only one animation can be added at a time. I'll explain in more detail referencing the following image:
![animator image](https://cloud.githubusercontent.com/assets/12704237/7948467/2a65f7f4-0952-11e5-9794-b182b283fe0c.PNG)
Here, I've added a simple orbit about the z axis as an animation. This animation is controlled by the row with a re

[2015-06-03 13:16] cryos commented on #66
@utkarshayachit I think this is the bug we looked at while visiting Cornell.

[2015-06-03 17:28] #42 closed

[2015-06-03 17:47] bdalevin commented on #66
I have a movie that illustrates the problem perfectly, but can't attach it here. It's only 1 MB, so will try to forward by email.

[2015-06-03 17:55] #24 closed

[2015-06-03 19:07] ElliotPadgett opened #70 "Manual alignment: allow user to pick static reference image for alignment"
User should be able to pick a static reference image to align to (e.g. align all images to feature in image 15) in addition to using the previous or next images as reference as described in issue 59.

[2015-06-03 20:20] Hovden commented on #24
Nice. Even the small things can add a lot:
![screen shot 2015-06-03 at 4 18 54 pm](https://cloud.githubusercontent.com/assets/6197997/7970472/71195ca8-0a0c-11e5-95f0-36801d8f81bd.png)

[2015-06-03 20:29] Hovden commented on #42
Verified for tiff formats. Works nicely, much cleaner process for loading data.

![screen shot 2015-06-03 at 4 27 54 pm](https://cloud.githubusercontent.com/assets/6197997/7970652/7dfd2d04-0a0d-11e5-922d-917dcd0c4a64.png)

[2015-06-03 20:52] Hovden commented on #13
@cryos Can we close this?

Both *.ogv and *.avi animations are now working in the latest OSX build.

I believe it was solved when ffmpeg was included in the make.

[2015-06-04 14:18] #57 closed

[2015-06-04 14:19] cryos commented on #57
This is closed, fixed in VTK/ParaView.

[2015-06-04 14:21] cryos commented on #13
Yes - this is resolved.

[2015-06-04 14:21] #13 closed

[2015-06-04 20:55] ElliotPadgett opened #72 "State files should use relative paths for data"
State files are storing absolute file paths for data.  If a state file (dir1/state) and data (dir1/data) are packaged in the same directory (dir1), then the entire directory is copied (to dir2) and dir1 is renamed or deleted, opening dir2/state fails and results in an error saying "Initialize: could not open file dir1/data".  Relative file paths should be used instead, so that Tomviz tries to open

[2015-06-04 20:59] cryos commented on #72
I think we can get to it in 0.6, agreed on the use of relative file paths.

[2015-06-05 20:42] #59 closed

[2015-06-05 20:44] #70 closed

[2015-06-06 17:02] ElliotPadgett commented on #72
Is there anything besides data files that needs this done?  Everything else (custom transforms, color maps, etc.) should be contained in the state file, right?

I'm wondering if this can be done entirely in the ModuleManager::serialize function via a file path conversion in the loop over data sources (maybe with an inverse conversion in ModuleManager::deserialize too).

[2015-06-06 17:06] ElliotPadgett commented on #14
A natural place to move this to would be the "Data properties" panel, since this mirrors the design for the delete module button in the module properties box.

[2015-06-09 13:09] Hovden commented on #23
@robertmaynard any chance you could sneak this feature into our upcoming 0.5 release?

We use your slice tool very often, removing the arrow's visibility will allow us to use it in presentations and figures.

[2015-06-09 13:33] mathturtle commented on #23
@robertmaynard isn't on the project anymore. I'll take a look, but I suspect it is too big to get into 0.5 without sacrificing something else.  You'll have to talk to @cryos.

[2015-06-09 14:00] Hovden commented on #23
No worries, a user asked me about it yesterday. Thought it would be a really quick fix for Robert.

[2015-06-09 14:08] cryos commented on #37
We are going to have to push this back as it is tied to another feature that is targeted for 0.6.

[2015-06-09 14:11] cryos commented on #23
This may be tough, there is some infrastructure missing to display a panel for this... I will take a look, but no promises.

[2015-06-09 18:07] mathturtle commented on #47
This is already in a dock widget so that it can be dragged out into its own "dialog".  Would making the widget floating by default be sufficient or do we want a proper dialog?

[2015-06-10 13:18] mathturtle commented on #47
The paraview changes to allow a separate dialog are in: https://gitlab.kitware.com/paraview/paraview/merge_requests/155

[2015-06-10 13:44] cryos commented on #47
I think we want a dialog for this, yes.

[2015-06-10 14:21] cryos commented on #29
Just merged #74 that adds some of this, it may need more work to flesh out the features. We still need to improve the UX for these general types of operation, but I think it should offer a good starting point. Let's open new issues with feature enhancement requests, this is not saved to the XML file yet, but we will work on that and other pieces.

[2015-06-10 17:32] mathturtle commented on #47
We also need this change: https://gitlab.kitware.com/paraview/paraview/merge_requests/157

[2015-06-10 20:20] ElliotPadgett commented on #29
This feature does not work correctly for down-sampling an image stack/ tilt series, where you want to reduce the x and y dimensions but leave the z dimension the same size.

The downsample operation appears to mix data in the z direction, as you can see from the examples below.  Should I open this as a separate issue/bug or should we reopen this?

Original data:
![screenshot from 2015-06-10 16 15

[2015-06-10 20:53] Hovden commented on #29
Yeah. I missed this! The downsampling algorithm is not working correctly. It is interpolating in dimensions that it should not.

Interpolation artifacts are particularly insidious - especially in the reproducibility of scientific data processing. We need to make these methods transparent to the user.

[2015-06-10 23:27] cryos commented on #29
Yeah, that looks pretty terrible. Shawn will look into it, we may have missed some settings. Let us see if we can reproduce this with data we have access to, was there any particular parameter, or pretty much anything produced this?

[2015-06-11 16:05] cryos commented on #39
You wouldn't believe how convoluted this was, I am close to having a working patch but have largely rewritten the TIFF writer, and still need to clean up the patch. The TIFF library isn't easy to debug, and the documentation for their API was quite terse... Sorry it took longer than expected.

[2015-06-11 16:06] cryos commented on #39
To clarify - I have a working patch, but need to clean it up. I was able to round trip data.

[2015-06-11 18:07] #47 closed

[2015-06-11 18:09] cryos commented on #39
Waiting on build bots, and some review, but the patch is there with a merge request for VTK. Next I need to push ParaView forward, and make a merge request with a modified writer XML, and then we can push tomviz' ParaView forward. The VTK merge request for your reference,

https://gitlab.kitware.com/vtk/vtk/merge_requests/298

[2015-06-12 15:24] Hovden commented on #29
Given the time constraint, we may want to pull this from the 0.5 release and try get anything else we can completed. Using SciPy this can be implemented with 1 line of code in way that is transparent and understood by scientists. We can later work on the improved performance provided by VTK implementation.

[2015-06-18 20:58] ElliotPadgett commented on #28
It might be good to add separate modules for "single countour/isosurface" and "contour/isosurface series".  The module as it exists now is great as a "countour/isosurface series" module, but a slider and direct color setting control would be better in a "single contour/isosurface" module.

[2015-06-19 15:56] Hovden opened #81 "About Version Incorrect"
"About" in user menu reads version 0.4, not the current release.

[2015-06-19 16:01] Hovden opened #82 "Auto save state and restore when tomviz crashes."
Tomviz crashes frequently. To alleviate this issue, we should have an auto save state that runs every so often and restores the last known state in the event of a crash. It could prevent a user from losing hours of work.

[2015-06-19 17:00] cryos commented on #81
I will make that a configured variable, sorry I missed that on this release.

[2015-06-19 17:02] cryos commented on #82
We also need to get recipes to recreate the crashes, and fix the issue. Autosave or not, most people will get frustrated with an application that "crashes frequently". I would like to prioritize getting crash reports so that we can work on fixing the underlying bugs.

[2015-06-19 17:44] Hovden commented on #82
Crash reporting would make crashes more transparent and noticed. We'll definitely report re-creatable bug recipes when noticeable. This would just be the ad-hoc "Microsoft Office" solution for everything we don't catch.

[2015-06-22 16:02] #36 closed

[2015-06-23 13:33] Hovden opened #84 "Get / Set Tilt Angles in Python"
In addition to setting the tilt-angles associated with a dataset, we need to be able to get them in Python for reconstruction. Right now they are hard-coded into the reconstruction, but in real life every dataset will have a different set of tilt angles.

It would also be good to set the tilt angles from within Python. There may be reasons to change them.

[2015-06-23 13:35] Hovden commented on #65
This error also occurs when rendering an adjustable box like that of the crop-box.

[2015-06-23 13:37] cryos commented on #65
I need to check on the progress on this, it is currently a warning and does render correctly. I will see if we can silence this, and have already raised the fact that we must continue to support lines wider than 1.0.

[2015-06-23 15:27] cryos commented on #65
Verified that ParaView master with VTK master (not yet moved forward in ParaView renders correctly with no warnings issued. Once it is moved forward our binaries will take advantage of the fixes merged.

[2015-06-23 16:41] bdalevin opened #86 "Tomviz Icon Missing In 0.5 Windows 7 install"
Let's call this a minor branding bug:

Just installed Tomviz 0.5, 64 bit on Windows 7. The tomviz icon is not appearing with the application.
The install package is probably just missing the .ico file.

[2015-06-23 17:47] cryos commented on #86
Thanks for reporting this, I will look into it and get it fixed up.

[2015-06-23 17:49] cryos commented on #39
Forgot to close this, it was merged and should be present in the 0.5 binaries. Testing and verification encouraged as we work towards our next release.

[2015-06-24 03:02] Hovden commented on #39
I can't round trip the data.

It loads with an incorrect extent: it appears to wrap half the values to negative. The Nanoparticle Tiltseries data packaged with the software has all positive values. But when it is saved with the tiff writer it takes on negative values (shown below)
![screen shot 2015-06-23 at 10 59 27 pm](https://cloud.githubusercontent.com/assets/6197997/8321960/f372d766-19fb-11e5

[2015-06-24 14:38] cryos commented on #39
I will take a look now, not what I saw in my testing.

[2015-06-24 16:41] cryos commented on #39
Tracked the source of the issue, I had tested on signed volumes and we are not correctly tagging the volumes as unsigned when necessary. I will get a patch in soon, it may take a few days to filter up to ParaView. Thanks for reporting the problem.

[2015-06-24 17:51] cryos commented on #39
This is awaiting merge into VTK, and then I will see about moving the ParaView version forward and getting fresh binaries. I will update this report once the relevant pieces have been moved forward.

[2015-06-24 19:07] Hovden opened #87 "QT widgets (panels) get lost and unmovable at edge of screen (13" Mac Pro)."
The QT panels get lost and unmovable at the edge of screen. This happened with a fresh install on a 13" Mac Pro where the Pipeline menu was "popped out" and resided half way present on the edge of the screen. The pipeline then could not be moved or re-centered.

[2015-06-25 14:19] cryos commented on #65
Fixed, new SHA for ParaView resolves this.

[2015-06-25 14:19] #65 closed

[2015-06-25 14:21] cryos commented on #56
http://bio3d.colorado.edu/imod/doc/mrc_format.txt is the spec that I found, we need a sample file or two for verification.

[2015-06-25 14:27] bdalevin commented on #86
Just an update in case it helps: I've just installed 0.5 on the other Windows PC in my lab. The tomviz icon is displayed for the installer (tomviz-0.5.0-Windows-64bit.exe), but not in the installed application (tomviz.exe).

[2015-06-25 15:25] Hovden opened #91 "Slice Tool: Add display and adjust Slice number"
Users want to be able to view the current slice number and allow input to view a specific slice number in the slice tool.

Suggested Solution: A slider bar and an editable textbox that displays the current slice number.

[2015-06-25 15:28] Hovden opened #92 "Slice Tool: Display Angles"
In the slice tool properties panel, show the user the current angle of the slice plane.

[2015-06-25 15:34] Hovden opened #93 "On Mac, zooming on a volumetric render is very slow."
Volumetric rendering on the Mac is very slow and can cause the software to become inoperable. It looks like it is incrementally rendering the full resolution throughout the zoom.

[2015-06-25 15:35] Hovden commented on #56
@ElliotPadgett can you provide an MRC dataset?

[2015-06-25 16:20] Hovden opened #94 "Make Python Shell Window Embeddable as a Panel in Main Program"
The Python Shell Window is free floating and separate from the main program. It would be nice to be able to embed this into the main program - like the other QT panels. This way people can type python commands directly into the terminal without switching between windows.

[2015-06-25 17:05] cryos commented on #39
Pushed it forward, binaries will be available soon, verified on char and short volumes in addition to IEEE float that already worked well.

[2015-06-25 17:05] #39 closed

[2015-06-25 20:16] cryos commented on #81
This is fixed, the version is now configured from git, or falls back to information in CMake files. The main window also shows the version in its title so that it is easier to tell what version is being used.

[2015-06-25 20:16] #81 closed

[2015-06-25 20:53] Hovden commented on #72
I noticed this is also a top feature request for Paraview: https://paraview.uservoice.com/forums/11350-general/suggestions/2222119-state-file-pvsm-and-relative-paths

[2015-06-25 21:46] ElliotPadgett commented on #56
I've shared some sample data with you on Dropbox, courtesy of Don Werder.  The folder includes a TEM tilt series in an MRC file generated by SerialEM called replica-tilt-series.st. There is also a copy of it with the file extension changed to .mrc.  IMOD and SerialEM appear to use MRC files with a variety of file extensions such as .st, .rec, and .ali, so we should handle that gracefully in the lo

[2015-06-25 22:11] bdalevin commented on #48
Having tested out both versions 0.4 and 0.5, I have a couple of specific ideas for this that I believe will increase user friendliness a lot.

1) In the piplelines sub-window, if you right click on either a data set, or an individual vizualization module within that data set, there should be an option in the context menu that allows the user to delete that specific dataset / module.

2) When right

[2015-06-26 00:38] cryos commented on #86
I should hopefully have this fixed shortly, just waiting on a Windows binary installer build to verify.

[2015-06-26 00:40] cryos commented on #48
We will get to one soon, and that is exactly what was planned. I will get back to you on two, we are planning on making this more accessible but do you really want to change your background colour that often? I am starting work on a number of interface improvements.

[2015-06-26 01:24] ElliotPadgett commented on #48
In typical use I expect it will not need to be changed very often (not more than once a session probably), but it should be easy to find.

[2015-06-26 13:11] bdalevin commented on #48
Experienced users won't need to change background more than once a session. New users (who, with M&M coming up, are an important target demographic) will want to play around with colour schemes when they first start out.
Either way, since it's a basic feature, users will expect it to be easy to find. Context menu seems like the best place to find it.

[2015-06-26 14:11] cryos commented on #86
Verified this is resolved in the nightly binary, and will be working in the next release.

[2015-06-26 14:11] #86 closed

[2015-06-26 14:26] bdalevin commented on #86
Just tested out the binary, and confirmed icon is back!

[2015-06-26 15:34] ElliotPadgett commented on #48
I don't think it would change with experience level.  Any time you change the color map you may also need to change the background, so maybe it would be useful to also have a button to access the background color near the color map controls.

[2015-06-26 15:39] bdalevin commented on #48
Yeah, that would be a good idea. The choice of background colour and the module colour map are intimately connected, so maybe it makes the most sense to have the controls to change them close together.

[2015-06-27 00:29] ElliotPadgett opened #99 "Automatic in-plane rotation finder"
tomviz should have an automatic routine for determining the rotation of images in a tilt series relative to the tilt axis.

This will probably be an implementation of Yi's FFT variance minimization algorithm.

[2015-06-27 00:37] ElliotPadgett opened #100 "Automatic axis shift estimation"
tomviz should have an automatic routine for estimating the shift of the tilt axis/fiducial/alignment point relative to the image center in a tilt series.

It's not clear what the best way to do this is now, but this could work by optimizing some reconstruction property such as the L2 norm.

[2015-06-27 00:42] ElliotPadgett opened #101 "Manual axis shift and rotation finding tool (Basic Framework)"
tomviz should have a tool to help users manually find the rotation and shift of the tilt axis in a tilt series for fine adjustments and when automatic routines do not work.

This could work by showing the user back-projection reconstruction slices from select parts of the tilt series, and the letting them position the axis to minimize artifacts in the reconstruction visually.

[2015-06-27 16:37] Hovden commented on #99
I created a label "Reconstruction" to better categorize topics that will be require tomographic expertise. I expect many of these topics will utilize Cornell developed algorithms and approaches toward reconstruction.

[2015-06-29 14:48] #17 closed

[2015-06-29 15:32] Hovden commented on #61
Marcus @cryos has fixed this issue by disconnecting the timer from the keypresses.

[2015-06-29 18:50] cryos commented on #61
This is now fixed.

[2015-06-29 18:50] #61 closed

[2015-06-29 18:52] ElliotPadgett opened #107 "Manual alignment: fit default field of view to data size"
Now the widget starts at a fixed view width regardless of the data size.  For larger data sets, this makes the default widget state zoomed in significantly.

The widget should make its field of view match the size of the data.

[2015-06-29 19:29] #107 closed

[2015-06-30 15:45] Hovden commented on #93
The desired zoom behavior can be seen if you hold "command" key and move the mouse up and down.

[2015-06-30 18:27] mathturtle commented on #49
@Hovden does this still happen?

[2015-06-30 18:35] Hovden commented on #49
Yeah. Recreating the error can be more easily done if you don't press any visualization button after you split the panel. Then you move it.

[2015-06-30 18:54] mathturtle commented on #49
Ok, I can reproduce on our Mac, but on my Linux machine this doesn't happen.

[2015-06-30 19:09] mathturtle commented on #49
@cryos Unfortunately on Mac you have to have admin access to run a debugger.

[2015-07-06 16:33] ElliotPadgett opened #111 "Colormap: "Rescale to custom range" does not work for zero lower bound"
This probably needs to be fixed upstream in Paraview.

If I use the "Rescale to custom range" tool I can set any value but zero for the colormap lower bound.  If I pick zero the tool does nothing.  This does not appear to be a problem for the upper bound.

I checked that this happens for both contours and orthoslices.  Can someone else confirm this behavior?

[2015-07-06 20:06] Hovden commented on #111
I am not having this problem. I can set any value in the colormap bounds to any value, including negative values.

[2015-07-07 15:51] ElliotPadgett commented on #111
Ok, I don't have it always either.  It doesn't happen with the sample data for me.  I am testing on OSX.

[2015-07-08 21:44] mathturtle commented on #56
VTK merge request here: https://gitlab.kitware.com/vtk/vtk/merge_requests/387

[2015-07-09 14:04] Hovden opened #113 "Histogram colormap transparency"
For a little while, my local build showed the histogram with the colormap transparency applied. I found the transparency informative. Can we turn this on?

[2015-07-09 16:38] Hovden opened #114 "Adjust camera perspective"
It is important to be able to adjust the camera perspective. [probably good in both Paraview and tomviz view properties]

The best solution would be in the view properties having a perspective slider or input that allows the user to pick the level of perspective wanted. Exploring data with no perspective is a useful task for producing interpretable scientific visualization or looking down a high-s

[2015-07-09 16:57] Hovden opened #115 "Clone tool fails with Crop tool."
The clone tool doesn't work with cropped data. Cropped data needs to be a data transform in the pipeline.

[2015-07-09 18:58] utkarshayachit opened #117 "Leaks reported when tomviz is quit"
If you build ParaView with VTK_DEBUG_LEAKS ON, simply starting and quitting tomviz reports the following leaks.

    vtkDebugLeaks has detected LEAKS!
    Class "vtkPVXMLElement" has 2 instances still around.

[2015-07-10 10:22] cryos commented on #114
We would normally label it parallel projection or orthographic projection - it is still 3D but with no perspective applied. It shouldn't be a problem to offer a switch between the two modes.

[2015-07-10 10:32] #72 closed

[2015-07-10 14:15] Hovden commented on #72
tomviz still crashes when moving directory containing the application and a state file (I'm using the OSX cdash build). As Elliot mentioned, we would like to be able to move a directory that contains the application, the data, and the state file to any other machine or directory. This should be possible using relative paths.

To reproduce / test:
1) Move tomviz.app and data into a directory
2) Run

[2015-07-10 14:45] mathturtle commented on #72
That's probably because the build for the version with the fix included is still in progress...

[2015-07-10 14:53] Hovden commented on #72
Gotcha. Will test again on later build.

[2015-07-10 17:24] Hovden commented on #72
Loading states with relative paths works well on Mac.

States files can now be distributed with the data for sharing visualization and analysis with other scientists.

Nice job.

[2015-07-14 15:11] mathturtle commented on #56
Update: I had to rewrite a big chunk of the reader to work with ParaView's parallel server mode.  We don't need this for tomviz, but @utkarshayachit wouldn't approve the vtk merge request until this was done.

[2015-07-14 15:16] mathturtle commented on #35
@cryos @Hovden:
@utkarshayachit and I talked about this a bit last week.  The general idea is that we will add a metadata array to the dataset either as a field data array in VTK or by adding some 'annotation' mechanism to tomviz DataSource objects for metadata.  Then DataSources will be marked as either a volume or a tilt series and based on that other parts of the GUI will be activated/deactivat

[2015-07-14 15:59] Hovden commented on #35
In its simplest form, it will be a vector of angles often equally spaced, but not always - e.g. [-70, -68, -66 ... +66, +68, +70]. In the most general form, which would apply to a rare set of experiments, the angles could be a vector containing any euler angles. The angles must be modifiable to the user.

Tilt axis is another issue.  In the short term, we can just assume the closest tilt axis is a

[2015-07-15 14:43] mathturtle commented on #22
@cryos Do you have any suggestions on where I should get icons for this?  It is a pretty simple fix once I have the icons, but I'm not that good at image editing.

[2015-07-15 18:17] mathturtle commented on #48
Part (1) is addressed by #121 and is a duplicate of issue #14.

[2015-07-15 20:40] mathturtle commented on #35
Ok, I talked to @utkarshayachit earlier.  For a first pass we are only going to support the single vector of angles.  And @cryos you can ignore the earlier question, @utkarshayachit likes the idea of using the vtkFieldData.

[2015-07-16 14:30] Hovden commented on #48
I think issue this goes a little farther than #14.

For this release I'd say add "clone" to the right click of a module. And, if it is not too much time, right clicking on a render view window to allow the user to change background colour (i.e. access the view properties popup).

Then close this issue.

[2015-07-16 14:34] Hovden commented on #111
@ElliotPadgett Any updates with this? Can you test if this issue remains in the latest builds?

[2015-07-16 15:23] ElliotPadgett commented on #111
Yes, I just checked it out a little more.  The problem still occurs on the latest OSX nightly, but I can only make it happen under special conditions.  To reproduce the problem I think you need a volume that has only 0 and 1 values.  Move the lower bound of the color map from zero and then you can't get it back.

I tried it with a three-value (0,1,2) discrete data set and more typical data sets an

[2015-07-16 15:32] #21 closed

[2015-07-16 20:41] mathturtle commented on #56
Update: I tracked down the bug that the VTK dashboards were catching.  This should be merged to VTK tomorrow.

[2015-07-17 19:15] mathturtle commented on #35
I have a PR to support some of this up ( #122  ).

[2015-07-17 19:33] mathturtle opened #124 "Crash when exiting tomviz after loading data"
This is a timing-related bug.
1. Open a dataset
2. Before the histogram has finished loading, exit tomviz and the HistogramWorker will segfault.

I'm very glad this wasn't introduced on my tilt angles branch.  I thought I had broken something important, but then I was able to reproduce it on master.

[2015-07-17 22:25] mathturtle commented on #117
@utkarshayachit That was a pain to track down, but I have a fix pushed up.

[2015-07-18 13:44] utkarshayachit commented on #117
+2

[2015-07-18 13:45] #117 closed

[2015-07-20 13:44] #124 closed

[2015-07-21 23:18] Hovden opened #127 "Crashes when rescaling colormap with non-orthogonal slice."
Crashes when changing the scale of the colormap (using the "rescale to custom range) when a non-orthogonal slice is in the pipeline. The program crashes immediately upon setting a custom color range. It happened with multiple data sets and the default and grayscale colormaps.

Windows 7, 64-bit, Tomviz 0.5.1
Mac OSX, Tomviz 0.5.1

[2015-07-21 23:28] Hovden commented on #14
Can we close this?

[2015-07-22 00:44] ElliotPadgett commented on #14
Should that wait for the solution to get merged?  I haven't had time to build it for myself to test.

[2015-07-22 01:50] Hovden commented on #127
Added this critical bug into 0.6 and pushed less important bug #66 out of 0.6 and into 0.7 release.

[2015-07-22 14:42] mathturtle commented on #127
I am able to reproduce this and I've tracked down the bug.  It's an assumption being made in ParaView in the colormap editor.  I'll have a patch up to fix it in an hour or two, but since it is a bug in ParaView it may be a day or two before this makes it into TomViz.

[2015-07-22 16:01] mathturtle commented on #127
ParaView merge request here: https://gitlab.kitware.com/paraview/paraview/merge_requests/245

[2015-07-22 16:36] Hovden commented on #127
Great!

[2015-07-22 22:44] Hovden commented on #56
The MRC files are not appearing on my current build. Is this ready for testing?

[2015-07-23 09:47] cryos commented on #56
I need to build the latest master, but I didn't see the commit that added this as a reader to ParaView's reader.xml - Shawn are you working on that, or is there already a ParaView SHA where this was merged?

[2015-07-23 09:51] cryos commented on #22
Yes - Steve, but I think you handled this over email now. Any icon/image needs in general are best worked on with Steve.

[2015-07-23 12:04] utkarshayachit commented on #56
Merged: https://gitlab.kitware.com/paraview/paraview/merge_requests/203

[2015-07-23 14:09] utkarshayachit commented on #48
* Add **Clone** to context menu for Data Source
* Right-click on view to edit view properties to change background color.

[2015-07-23 18:15] mathturtle commented on #127
Building with ParaView newer than commit 275743f9a439ca10cd2b3e29206533c85318b45a fixes this issue.  I have a superbuild patch up to update ParaView, which I'll merge as soon as I've tested OSX and Windows.

[2015-07-23 18:58] cryos commented on #56
That is great - we will need to push the ParaView SHA forward to pull this in.

[2015-07-23 19:03] #22 closed

[2015-07-23 19:29] #56 closed

[2015-07-23 19:42] mathturtle commented on #127
@Hovden  I went ahead and updated ParaView in the superbuild.  After the builds catch up, the latest builds should have the fix for this.  Close this when you confirm it is gone.

[2015-07-23 20:52] Hovden commented on #127
"Rescale to custom range" does not update the histogram colormap. However, if I move the curser of the histogram, it will refresh with the proper colormap.

[2015-07-24 00:02] Hovden opened #131 "Make a default animation when loading."
Currently the user must create an animation in order for it to show any functionality. Having a default animation, such as a simple rotation, will add a lot of value to new users trying to learn the animation tool. It will also make the play button functional when the software is first loaded.

Suggestion:
Make a default animation that rotates about each axis sequentially.

[2015-07-24 14:18] mathturtle opened #132 "Non-orthogonal slice doesn't save its position and orientation"
The non-orthogonal slice module doesn't save its state.  The serialize and deserialize functions are stubbed out with a `//FIXME: implement later` comment.  When loading a state file with a non-orthogonal slice, the slice is reset to the default position.

@cryos @Hovden @utkarshayachit Since this is a reproducibility bug, is it worth trying to get into 0.6?  I don't think it will take very long t

[2015-07-24 14:57] utkarshayachit commented on #132
@mathturtle Yes please. Let's get this fixed esp since it shouldn't take too long.

[2015-07-24 18:02] #23 closed

[2015-07-24 19:30] #132 closed

[2015-07-24 19:47] mathturtle commented on #127
I can confirm that this histogram update issue happens on MacOS but not on my Linux machine... weird.  However this happens regardless of the non-orthogonal slice being there.  I'm building with the old ParaView now to see if this is a ParaView regression or just a bug somewhere.
cc: @utkarshayachit

[2015-07-24 20:27] mathturtle commented on #127
This histogram update should be opened as a separate issue.  I can confirm that the update to ParaView did not affect it.  Building against older ParaView gave the same behaviour.  When the colormap is updated via Rescale to Custom Range, the histogram update is not triggered until the user moves the mouse over the histogram.

[2015-07-24 21:21] mathturtle commented on #93
@Hovden Are you still seeing this?  I know some improvements to volume rendering were added recently that may have been pulled in with the ParaView update from a few days ago.

[2015-07-24 22:04] Hovden commented on #93
For yesterday's cdash build: Things have gotten worse. Once the object is rotated or zoomed in on, the volume render remains downsampled at all times. The downsampled volume viz is fast, but lowres. [Tested on OSX]

Building the newest tomviz now. Also, cdash appears to be down.

The desired behavior can also be shown on the macbook trackpad by clicking with two fingers and moving up and down.

[2015-07-27 14:59] #14 closed

[2015-07-27 21:32] mathturtle commented on #49
ParaView patch here:
https://gitlab.kitware.com/paraview/paraview/merge_requests/250

That took a lot longer than I thought to track down...

[2015-07-28 14:18] mathturtle opened #134 "OpenGL2 errors when non-orthogonal slice widget visible"
When the non-orthogonal slice's plane and arrow widget is visible, OpenGL2 errors appear on OSX.

ERROR: In /Users/hovden/Research/Software/TomViz_working/ParaView/VTK/Rendering/OpenGL2/vtkOpenGLPolyDataMapper.cxx, line 2524
vtkOpenGLPolyDataMapper (0x7fdfb21ae800): failed after BuildBufferObjects 1 OpenGL errors detected
0 : (1281) Invalid value

@Hovden @utkarshayachit
VTK patch for OpenGL2 erro

[2015-07-28 15:25] Hovden opened #135 "Read raw crashes if data extents are left at defaults."
When attempting to load a raw file using default data specification (obviously incorrect) the entire tomviz crashes.

Crash tested on Linux.

[2015-07-28 15:30] mathturtle commented on #135
Confirmed.  Because the default extents are 0 to 0 in all dimensions.  It fails a vtk assertion that min < max.

[2015-07-28 15:32] Hovden commented on #135
Change the defaults from "0 to 0" to "0 to 1" in all dimensions. Might be a quick Paraview fix. @utkarshayachit

[2015-07-28 15:34] utkarshayachit commented on #135
@mathturtle Can we change the assertion to be an error message, rather than an assert? We could change the default too, but seems to me incorrect inputs should not cause a segfault.

[2015-07-28 16:01] Hovden opened #136 "View Menu broken"
[Tested on Linux]
View menu is not accessible, instead it reports an error:

[31mvoid DBusMenuExporterPrivate::addAction(QAction*, int)[0m: Already tracking action "Axes Toolbar" under id 47
[31mvoid DBusMenuExporterPrivate::addAction(QAction*, int)[0m: Already tracking action "Camera Toolbar" under id 48
[31mvoid DBusMenuExporterPrivate::addAction(QAction*, int)[0m: Already tracking action

[2015-07-28 16:01] mathturtle commented on #135
Ok, I was slightly wrong in my diagnosis.  The assert is in vtkSMTransferFunctionProxy, when it goes to rescale the data to the new range and the max and min of the range are the same. Thinking about it a bit more, extents of 0 to 0 should still give 1 element in the image.  I'll have a ParaView MR soon when I've figured out the best way to fix it.

[2015-07-28 16:05] mathturtle commented on #136
This is a know issue with Qt 4 on Ubuntu 14.04.  Apparently Ubuntu's new unity menu system restricts menu items from being in two places in the menus and the menu items only show up in the first place that they are registered (which in this case is NOT in the View menu, so the View menu is empty).

Switching to Qt 5 may fix this (I haven't had a chance to test it yet), but I've known about this fo

[2015-07-28 16:10] utkarshayachit commented on #136
Yes Qt/Core/pqOutputWindow.cxx is supposed to detect these and eat them up. @mathturtle Can you check if some of the recent updates to pqOutputWindow broke this, by any chance? Thanks.

[2015-07-28 16:11] Hovden opened #137 "Histogram does not update after scale is changed on OSX"
On Mac OSX only: "Rescale to custom range" does not update the histogram colormap. However, if I move the curser of the histogram, it will refresh with the proper colormap.

From #127 :
"I can confirm that this histogram update issue happens on MacOS but not on my Linux machine... weird. However this happens regardless of the non-orthogonal slice being there. I'm building with the old ParaView now

[2015-07-28 16:11] #127 closed

[2015-07-28 16:11] utkarshayachit commented on #135
I think that was fixed in ParaView  [recently](https://gitlab.kitware.com/paraview/paraview/commit/a9cb582ed5647f4b34cefc907013a14677924b5c). Can you confirm that this is happening despite this commit?

[2015-07-28 16:44] mathturtle commented on #136
I'm not aware that it **ever** ate those events.  At least not on my system.  I'll have a look.

[2015-07-28 16:49] mathturtle commented on #135
Yes, I'm using paraview master.

[2015-07-28 17:00] mathturtle commented on #136
@Hovden If you put the focus back on tomviz without closing the error dialog, you can access the view menu (without the offending menu items).  The dialog appearing is what cancels the menu access.

[2015-07-28 17:10] Hovden commented on #136
@mathturtle good to know. Thanks. I can move forward with some work.

[2015-07-28 17:19] mathturtle commented on #136
I've put together a ParaView merge request to suppress these errors (actually warnings, which is why they weren't getting suppressed before).

https://gitlab.kitware.com/paraview/paraview/merge_requests/252

[2015-07-28 17:50] mathturtle commented on #135
This is something in ParaView's vtkSMTransferFunctionProxy about line 300ish in the function vtkSMTransferFunctionProxy::RescaleTransferFunction.

[2015-07-29 14:22] mathturtle commented on #49
Utkarsh has an updated ParaView patch that also fixes this but addresses it at a more basic level:

https://gitlab.kitware.com/paraview/paraview/merge_requests/254

[2015-07-29 14:44] Hovden commented on #134
VTK patch appears merged but still seeing an error when using non-ortho slice.

[2015-07-29 14:47] mathturtle commented on #134
I'm working on getting the patch into ParaView right now.  The ParaView patch is here:
https://gitlab.kitware.com/paraview/paraview/merge_requests/253
But it is blocked by an unrelated issue introduced into VTK by someone else.  I've put up a patch for that which is here:
https://gitlab.kitware.com/vtk/vtk/merge_requests/463

[2015-07-29 15:01] Hovden opened #139 "Combine Data Range and Dimensions in Data Properties Appearance"
The Data Properties panel is overfull, but there is unused space in the three lines used for Dimensions and Data Range at the top.

Combine this into two lines, e.g.:
"Original Dimensions & Range"
240 x 180 x 261 ,   0:255
"Transformed Dimensions & Range"
170 x 160 x 241 ,   0:16
<img width="372" alt="screen shot 2015-07-29 at 11 00 17 am" src="https://cloud.githubusercontent.com/assets/6197997/89

[2015-07-29 15:08] cryos commented on #139
I like it, that sounds like a great idea to me.

[2015-07-29 15:21] utkarshayachit commented on #135
Fixed by https://gitlab.kitware.com/paraview/paraview/merge_requests/255

[2015-07-29 17:39] mathturtle commented on #134
Waiting on ParaView's builds to test new VTK commit.

[2015-07-29 17:56] mathturtle commented on #48
@Hovden When you get a chance to test out the new build, can you let me know if all these menus work?  If they do, we can close this issue.

[2015-07-29 17:57] bdalevin commented on #48
Tested. Change background and delete modules from context menu work under
windows.

On 29 July 2015 at 13:56, Shawn Waldon <notifications@github.com> wrote:

--
Barnaby Levin

 Applied Physics PhD Candidate,
Cornell University
​271 Clark Hall,
 142 Sciences Drive,
Ithaca, NY​
 USA
14853

MPhys, Oxford University

[2015-07-29 17:57] mathturtle commented on #35
The branch that supports some/most of this issue has been merged.  However, there is not much that can be done with data that has tilt angles yet.

[2015-07-29 18:01] mathturtle commented on #135
If we can get the ParaView branch merged this will be fixed by the ParaView update that has to be done anyway.  I'm waiting on another branch in ParaView, so I may as well wait on this one too.  Adding it to 0.6.

[2015-07-29 18:16] Hovden commented on #48
Yep. Tested on my Mac and tested on @bdalevin 's Windows.

[2015-07-29 18:16] #48 closed

[2015-07-29 18:22] Hovden commented on #35
The tilt angles should not be visible in the data properties menu unless the dataset has been marked as a tilt series.

We also will need to have a get_tiltangles() routine callable from python. Given the time constraints, I think that the python part is low priority for this release.

[2015-07-29 18:48] mathturtle commented on #35
I'll see what I can do about hiding the tilt angles in the data properties panel.

I'll take a look at the python thing too, I don't think it should be too hard.

[2015-07-29 21:00] mathturtle commented on #35
I've got the python part working too, but in a separate PR so we can choose what makes it into 0.6.

[2015-07-29 21:43] mathturtle commented on #134
The ParaView branch is (finally) merged.  If you update your local build to ParaView's master branch, you should see this is fixed.  I'm holding off updating superbuild for one more ParaView branch that will fix #135.

[2015-07-29 22:59] Hovden commented on #35
Definitely merge into this release if we can. Not having tilt angle metadata has been a big technicality on our claim for proof of concept reconstruction within tomviz. This is an important first step. Thanks.

[2015-07-29 23:10] #139 closed

[2015-07-29 23:39] Hovden commented on #35
When I mark a volume data set as a tilt series, I lose the ability to run the data transforms. They become grayed out for selection on the "Data Transforms" menu. All of the data transforms should be able to run on either data type.

[2015-07-30 12:21] Hovden commented on #136
View menu warnings no longer appear in my newest Ubuntu build.

[2015-07-30 13:43] mathturtle commented on #35
Oh.  We thought that there would be separate data transforms for tilt series data.  But that's a simple fix, I can remove the code that disables them for tilt series.

[2015-07-30 15:52] mathturtle commented on #84
I think this is added by my branch last night, #142.

[2015-07-30 15:58] mathturtle commented on #92
What format would be the most useful for this?  Angle of the plane doesn't make much sense to me: do you want the normal vector and a point on the plane?  Or something else?

I know, this is a 0.7 issue, but my 0.6 issues are done (pending bug reports) and I have to do something...

[2015-07-30 16:01] Hovden opened #146 "Downsampling crashes for large volumes"
[Ubuntu] The scipy interpolation works well for small datasets, but crashes on large datasets.

[2015-07-30 16:02] Hovden opened #147 "Save / Restore State does not keep the "Outline" color."
The color of the bounding box does not save with the state, it remains white at all times.

[2015-07-30 16:04] Hovden commented on #92
Great.
The normal vector and the point on the plane would work.

[2015-07-30 16:11] ElliotPadgett commented on #146
What counts as small and large here?

On Thu, Jul 30, 2015 at 12:01 PM, Robert Hovden <notifications@github.com>
wrote:

[2015-07-30 16:13] Hovden commented on #146
I'm using the star particle data set at full res: 471x957x1057

I actually, am making the assumption about the size of the dataset being the issue, it just works on my smaller datasets (256^3) and not this larger one.

[2015-07-30 17:02] #136 closed

[2015-07-30 17:37] mathturtle commented on #147
Simple enough, fix is up for review.

[2015-07-30 17:40] mathturtle commented on #146
What are you doing in scipy?  Just applying the Rotate or Downsample x2 transforms?

[2015-07-30 17:51] Hovden commented on #146
The downsample x2 transform. I haven't tested the rotate on a large dataset.

[2015-07-30 17:55] mathturtle commented on #146
I just tried both downsample x2 and rotate on the 471 x 957 x 1057 dataset
and it worked fine for me.

[2015-07-30 18:01] Hovden commented on #146
Ok. Maybe we just close this and reopen after I test it more and can provide specifics to the crash.

[2015-07-30 18:01] #146 closed

[2015-07-30 21:38] #147 closed

[2015-07-31 16:02] ElliotPadgett commented on #21
@Hovden I'm noticing a related issue: Not all panels keep their configuration when loaded from state files.  For example, if I set up my window by closing the animation panel and hiding the histogram, save state and then load the state file on another machine the animation panel and histogram will be open anyway.

Tomviz seems to be loading the last panel configuration used locally rather than the

[2015-07-31 17:12] mathturtle commented on #21
@Hovden can answer about desired behavior, but that is that way it currently works.  Which panels are visible is stored on a per-user (I think) basis locally on the machine in the application preferences.

I would argue that it makes sense the way it is: if you send a collaborator a state file, he doesn't want to spend 5 minutes figuring out how you organized your panels, he wants to look at your

[2015-07-31 17:26] ElliotPadgett commented on #21
I think that picture make sense for experienced users who have used the program before and have preferences about the panel setup.  However, if you wanted to be able to distribute a state file bundled with tomviz for a more general audience (mostly new users) to view you might want to set the panels in a particular way, for example to emphasize the histogram for one data set or the 3D view for ano

[2015-07-31 17:40] ElliotPadgett commented on #72
@Hovden @mathturtle Sorry, this still doesn't work for me on either the latest Windows or OSX nightly binaries.  It's still failing the test of changing the name of a higher order directory containing both state file and data.

[2015-07-31 18:15] mathturtle commented on #72
What file type are you using to test this?  It could be that one of the readers is doing something funny and I missed it when searching for filenames.

[2015-07-31 18:20] ElliotPadgett commented on #56
This looks good to me.

[2015-07-31 18:22] ElliotPadgett commented on #72
Raw data.  Let me try with something else.

On Fri, Jul 31, 2015 at 2:15 PM, Shawn Waldon <notifications@github.com>
wrote:

[2015-07-31 18:29] mathturtle commented on #72
Good catch... the raw reader needs to replace the FilePrefix instead of the FileName.

[2015-07-31 18:33] ElliotPadgett commented on #72
Looks like it works with TIFF data!

[2015-07-31 18:40] mathturtle commented on #72
Here is a patch that addresses this:
https://github.com/OpenChemistry/tomviz/pull/150

@cryos @Hovden

[2015-07-31 19:08] ElliotPadgett commented on #72
For Tiff data this works well -- even cross-platform from Windows to OSX.

On Fri, Jul 31, 2015 at 2:40 PM, Shawn Waldon <notifications@github.com>
wrote:

[2015-07-31 19:24] ElliotPadgett commented on #134
When I try this now I don't get any errors on OSX.  Is this ready to close?

[2015-07-31 19:27] mathturtle commented on #134
The ParaView fix is pulled into the binaries, so if you're not seeing the errors anymore, go ahead and close it.

[2015-07-31 19:27] ElliotPadgett commented on #134
Checked Windows too, everything works smoothly.

[2015-07-31 19:27] #134 closed

[2015-08-02 23:32] #93 closed

[2015-08-02 23:33] #49 closed

[2015-08-02 23:35] Hovden commented on #35
Looks good; works properly for this release. Might want to polish up the UX in future issue requests.

[2015-08-02 23:35] #35 closed

[2015-08-02 23:35] #135 closed

[2015-08-02 23:39] Hovden opened #152 "Add resample data function for Data Pipeline"
We should allow users to resample their data - either upsampling or downsampling. This can be in addition to the existing downsample x2 function. ndimage tool in scipy may be a straightforward approach.

[2015-08-02 23:40] Hovden commented on #29
SciPy ndimage libraries work well for now. A more generic resampling has been added for future in #152

[2015-08-02 23:40] #29 closed

[2015-08-11 18:46] bdalevin commented on #131
A single axis orbit animation being loaded up by default would be a nice touch!
A multi-axis orbit will have to wait until #66 is fixed.

[2015-08-11 21:22] bdalevin opened #154 "Trivial Producer and other animator issues"
There are a few sub-issues here, (labeled 1 through 4) but all relate to the animator.

1) Animation that causes instant crash
When you load up a reconstruction and you want to create an animation, there are a number of camera options.
One is called "Trivial Producer 1" (see below)
![trivial producer](https://cloud.githubusercontent.com/assets/12704237/9209048/97d7d10a-4042-11e5-8b44-7cd8e73047e5.

[2015-08-12 02:47] Hovden opened #155 "Save Data default should NOT be .csv - probably tiff"
When saving data the default should not be .csv

Tiff might be the most sensible default.

[2015-08-12 02:52] Hovden commented on #84
@mathturtle can you show me an example of how to get and set the angles for a dataset within python? Then I can test and close this.

[2015-08-12 03:15] Hovden opened #156 "Cannot read tiff files saved with tiff writer."
Data saved with the tiff writer cannot be read back into tomviz. It instead prompts the user with:
"A reader for filename.tiff could not be found. Please choose one:"
Additionally, the tiff writer does not appear in the list of options.

[2015-08-12 03:15] Hovden commented on #156
It also crashes after.

[2015-08-12 03:19] Hovden opened #157 "Slice tool and volume render do not work concurrently."
The volume render always appears atop the slice tool (non-ortho slice). The behavior should be like that of the orthoslice tool where the slice blocks view of the objects behind it.

[2015-08-12 15:15] cryos commented on #156
I tested the round tripping and it was working, but have verified locally with ParaView master/tomviz master that there are issues with the TIFF writer. We will look into it, I am actually seeing it get stuck in a loop and never finish writing on Linux with a small TIFF volume.

[2015-08-12 15:18] Hovden commented on #156
Ok. I was demoing the software last night with someone's data and we ran into trouble. We did a reconstruction on a tiltseries then saved the data and tried to reload it. I will try to reproduce it.

[2015-08-12 15:21] cryos commented on #155
Agreed, will look into reordering this/tidying it up.

[2015-08-13 14:11] Hovden opened #158 "Add ITK"

[2015-08-13 14:18] Hovden commented on #155
<img width="1121" alt="screen shot 2015-08-13 at 10 18 08 am" src="https://cloud.githubusercontent.com/assets/6197997/9252103/b3f201a4-41a4-11e5-9e18-0178a47c2761.png">

[2015-08-13 14:21] Hovden commented on #155
To reproduce:
1) Load tiltseries data that is included.
2) Run the reconstruction.
3) Save data
4) Load data

It ends with a crash.

[2015-08-13 14:58] bdalevin commented on #66
I've been doing some more bug testing of the different animator functions (see #154). I have found that the animator only fails to generate a simple vertical orbit for the "Orbit" and "Follow Path" options. A vertical orbit can be achieved if the user chooses the "Interpolate Camera Positions" animation and creates the orbit with camera positions.

[2015-08-13 15:13] bdalevin commented on #67
An update on this issue. It is possible to make a limited number of combinations. For example, Tomviz allows a contour animation and a camera animation to be added together (example movie to be emailed).
It would still be useful to extend this so that multiple animations of the same type can be stitched together (as suggested in #131) . To make any kind of extended animation, I currently have to i

[2015-08-13 15:21] mathturtle commented on #15
Did you try loading the files or just confirm that they showed up properly in the File -> Open dialog.  I'm still not sure it will use the correct reader for the other extensions.

[2015-08-13 17:22] Hovden commented on #15
It appears to only load the .raw reader when a .raw file extension is opened. I haven't tried opening actual binary data yet. I will dig some up.

[2015-08-13 18:03] #155 closed

[2015-08-13 18:12] Hovden commented on #156
(Note: I originally posted this comment to the wrong issue)

To reproduce:
1) Load tiltseries data that is included.
2) Run the reconstruction.
3) Save data
4) Load data

It ends with a crash.

[2015-08-13 19:47] mathturtle commented on #156
When I try to write the file I get errors printed out by the writer:

ERROR: In /home/shawn/dev/tomviz/src/paraview/VTK/IO/Image/vtkTIFFWriter.cxx, line 139
vtkTIFFWriter (0x8b19940): Unsupported data type: double

ERROR: In /home/shawn/dev/tomviz/src/paraview/VTK/IO/Image/vtkTIFFWriter.cxx, line 257
vtkTIFFWriter (0x8b19940): Problem writing file.

ERROR: In /home/shawn/dev/tomviz/src/paraview/VT

[2015-08-13 20:27] cryos commented on #156
@mathturtle most certainly - the TIFF format does not support doubles. We should do some checks before attempting to write the TIFF - is it a supported type, if not can we convert it. Also, can we ensure the Python code produces either a float, or possibly a type matched with the input.

[2015-08-14 04:05] 5paceManSpiff opened #162 "Error when running tomviz under 64 bit arch linux."
After compiling tomviz under 64 bit arch linux it threw the `SIGABORT` signal and exited.  This is the output of the command.

[code]

[2015-08-14 14:13] mathturtle commented on #162
What does your dataset look like?  Currently tomviz only supports data with single component arrays and this assertion is the check to make sure that the array being processed has only a single component.

@cryos This should probably not be an assert, but a error printout since it can be caused by the user accidentally doing something.  I'll put up a patch to change that.

[2015-08-14 16:01] cryos commented on #162
We should tighten up validation of the data, and pop up a warning dialog instead of using an assert. We currently only support volumes with a single component scalar value.

[2015-08-14 17:30] Hovden opened #164 "Crop Box Does Not Cancel, i.e. Box Persists"
Crop Box should always disappear when the user clicks cancel.

Crop Box tool is not functioning properly. When the user clicks cancel the crop box still remains. This is only true when the user has adjusted the box.

[2015-08-14 17:33] Hovden commented on #164
Nevermind, this was because the user was mislead by the "disappearing" crop dialogue. That is, the crop dialogue moves to the background when a user adjusts the box.

[2015-08-14 17:33] #164 closed

[2015-08-14 17:34] Hovden opened #166 "Crop box dialogue "disappears" to background"
The crop box dialogue moves to the background when the user adjusts box. The crop box dialogue should remain in the foreground.

[2015-08-14 17:58] mathturtle commented on #166
Hmmmm, tricky.  There are only a few options I can find in Qt.  Either the dialog is modal (which is pretty useless in this case) or the current behavior or the dialog floats on top of all windows (even other applicaitons).  One answer on [this stack overflow question](https://stackoverflow.com/questions/26064386/place-non-modal-qdialog-window-only-on-top-of-my-application-instead-of-all-appl) sug

[2015-08-14 18:03] cryos commented on #166
What platform is this? I am looking at it on Linux and it stays in the foreground.

[2015-08-14 18:15] Hovden commented on #166
This is true for OSX. When clicking on the main window, as necessary to adjust the crop box, the focus shifts and pulls the main windows the foreground (in front of the crop dialogue).

[2015-08-14 18:31] cryos commented on #166
This may be a new bug with the latest OS X versions, I have verified that the dialog is parented correctly, and I don't think this is part of the oddness of the OS X UI philosophy with detached menus etc. Windows and Linux behave as expected for me (let me double check Windows later). I found this bug discussing the behavior https://bugreports.qt.io/browse/QTBUG-34767 and it matches my expectation

[2015-08-14 18:33] cryos commented on #166
It looks like most dialogs (the native open/save dialogs seem unaffected) are hit by this regression.

[2015-08-14 21:06] bdalevin commented on #166
On my Windows machine, this issue does not occur. Looks like it's a Mac problem.

[2015-08-17 19:38] mathturtle commented on #46
@cryos Do you want me to take a stab at this for 0.6.1?

[2015-08-19 13:29] cryos commented on #46
Sure, that would be great.

[2015-08-19 18:15] mathturtle commented on #156
#165 addresses part of the problem here, disallowing double precision data from being written to tiff files.  The tiff writer issues that Marcus was seeing have a [fix being merged into VTK](https://gitlab.kitware.com/vtk/vtk/merge_requests/542) (this is taking slightly longer than normal since we want the fix in the current VTK release too, but should be merged to VTK tomorrow).

[2015-08-19 18:16] mathturtle commented on #158
The most recent binaries should have ITK bundled.

[2015-08-19 18:17] Hovden commented on #158
Great. Can you provide a simple example(s) to demonstrate and get us started with tinkering?

[2015-08-19 18:27] Hovden commented on #157
This should be solved when #168 is merged.

[2015-08-19 19:34] #157 closed

[2015-08-19 19:34] #162 closed

[2015-08-19 20:17] mathturtle commented on #46
Making a new panel that shows one or the other based on the selection isn't too hard, but I don't know exactly what you were planning as far as merging the two.  Which things should be visible in both cases?

[2015-08-19 22:23] 5paceManSpiff commented on #162
@mathturtle Can you link to some example data?  I'm not exactly sure how to import content into tomviz.

[2015-08-19 23:48] Hovden commented on #162
Here are some temporarily available datasets for you:
https://drive.google.com/open?id=0B8t3fBhIw9-VMzJaSVE3ZnBwTWc
https://drive.google.com/open?id=0B8t3fBhIw9-VeHo3YktRQkhjSk0

We will have several peer-reviewed datasets publicly available this fall.

[2015-08-23 20:35] 5paceManSpiff commented on #162
How is data encoded into a .tiff like that?

[2015-08-24 18:58] Hovden commented on #46
There will be a single panel that uses the pipeline for context. When a visualization module is selected in the pipeline, the current  "module properties" panel is displayed in the panel. When a data module is selected in the pipeline, the current "data properties" panel is displayed in the panel.

This was our thought toward reducing the confusion of having a module and data properties panel.

If

[2015-08-25 14:22] cryos commented on #156
The patch was merged, but ParaView's VTK has not yet moved forward, we need at least commit 42e4eb0 from VTK for the TIFF fix.

[2015-08-25 14:34] cryos commented on #16
This seems to be working well now, along with volume rendering. Please reopen if you feel this is not the case.

[2015-08-25 14:34] #16 closed

[2015-08-25 18:59] cryos commented on #46
This patch has the expected behavior for me here - please take a look and let me know if you spot any issues.

[2015-08-26 14:33] cryos commented on #46
Closing this out, as I said in the pull request we may want to revisit panels in the future but I think this change makes it more obvious what you are looking at and saves space only having one of the other panels visible at any given time.

[2015-08-26 14:33] #46 closed

[2015-08-26 14:40] cryos commented on #156
We are waiting on [a ParaView merge request](https://gitlab.kitware.com/paraview/paraview/merge_requests/327) to push VTK forward in ParaView.

[2015-08-26 14:42] cryos commented on #158
If you can provide a simple example @mathturtle that would be great, we should also talk to Matt McCormick now that ITK is bundled about some fuller examples.

[2015-08-26 14:44] mathturtle commented on #158
I'm working on it.  I emailed Matt yesterday afternoon asking what some good filters to demonstrate might be.  We may have to update the bundled ITK though to turn more things on in its build process.

[2015-08-26 15:00] cryos commented on #158
Sounds like whilst it is packaged there are some teething issues. We will leave it in the binary so that people can experiment but I don't want to delay our bug fix release. I will move this to the 0.7 milestone as a tracker, and we can continue working on some examples.

[2015-08-26 15:05] cryos commented on #156
I just pushed the ParaView SHA forward, and we will have to wait for updated binaries to test. I think we can safely close this issue once those come back and we verify the TIFF issues are resolved. I think @Hovden already verified the main issue was resolved.

[2015-08-26 20:05] Hovden opened #170 "Improve Python Development Code Structure"
Python development is now ramping up. It is worth thinking about the best way to organize the tomviz code for development and addition of many new python routines and menu items.

[2015-08-26 20:06] Hovden opened #171 "Python Development Code Structure Documentation"
Create a short explanation of the python development code structure and provide a basic tutorial.

[2015-08-27 14:51] yijiang1 opened #172 "Crashes when calling "Set Data Size" without data loaded"
Crashes when calling "Set Data Size" without data loaded (tested on OSX)

Reproduce:
1) open tomviz
2) click Tools>Set Data Size

[2015-08-27 14:56] Hovden commented on #156
My tiff writer is crashing using the test above (load tiltser, reconstruct, save).

Are we still waiting for VTK and ParaView?

[2015-08-27 14:59] Hovden opened #173 "Fatal crash when using data transform."
System crashes (OSX) when calling a simple transform (square root)

Reproduce:
1) Open sample tilt series
2) Data Transforms > Reconstruct
3) Data Transforms > Square Root

[2015-08-27 15:02] Hovden commented on #156
This works, but the system freezes up as tiff writer takes nearly two minutes to save a 256^3 dataset.

[2015-08-27 15:02] mathturtle commented on #173
Your sample tilt series wouldn't happen to have negative values would it?  I think I've seen a crash with applying sqrt to a dataset with negative values before...

[2015-08-27 15:05] mathturtle commented on #156
That is the bug that we were pushing PV forward to fix... Hmmm.

[2015-08-27 15:06] cryos commented on #156
I just used the latest binary on my Mac and it wrote a 688^3 in a few seconds.

[2015-08-27 15:06] Hovden commented on #173
You're right, I'll fix this in the Python code.

The system shouldn't crash though. Users will probably make mistakes when coding.

[2015-08-27 15:12] Hovden commented on #156
Try loading the demo tilt series (256x256x74) then running "Reconstruct (Direct Fourier)" and then saving the data as a tiff.

[2015-08-27 15:20] cryos commented on #156
Did that, took less than a second here using binary with 0.6.0-19-g6f3cd30 on a 2010 Mac running pretty recently updated OS.

[2015-08-27 15:27] Hovden commented on #156
My mistake, spotlight was launching an older version.

Read / Write tiff is very fast in the latest build.

[2015-08-27 15:28] cryos commented on #156
Great, thanks for verifying Rob. Closing this issue out as I think it is fully resolved now.

[2015-08-27 15:28] #156 closed

[2015-08-27 15:29] mathturtle commented on #173
Digging into the code a bit, it seems that the python code is correctly producing NaN when taking the square root of a negative number.  However, our histogram code is then converting this into an index of -2147483648.

My proposed solution to this is to have the create histogram code ignore NaN (or infinite to be thorough) floating point values.  Does that seem reasonable?

[2015-08-27 15:31] Hovden commented on #173
Ignore NaN is a good option.

[2015-08-27 20:42] mathturtle commented on #172
This should be fixed on the master branch now.

[2015-08-27 23:09] Hovden commented on #172
Yep.

[2015-08-27 23:09] #172 closed

[2015-08-28 18:52] mathturtle commented on #173
@Hovden I put up a branch to stop tomviz from crashing even if there is a NaN value in the dataset.

[2015-08-31 21:45] mathturtle commented on #15
Alright, I can confirm that this doesn't work in the current version, but I have a patch in progress that will fix it.

@cryos The patch also adds the ability to add readers (and other things) to tomviz without going through VTK/ParaView first.  I just need to talk to Utkarsh about the plugin loading code and the patch will be done.

[2015-08-31 22:30] ElliotPadgett opened #180 "Open data won't display in new render view"
If I open data and set up visualizations for it then open a new render view, the visualization modules cannot be shown in the new render view -- they are associated with just one render view.  I believe this should work as it does in paraview, where any already existing visualization module can be displayed in a new render view.

[2015-08-31 23:49] Hovden commented on #180
@ElliotPadgett I think this is a matter of preference.

In fact, I kind of like having two different visualization for the same dataset. For example, one might have a contour visualization on one panel and a volume visualization on the other panel.

[2015-09-01 02:20] ElliotPadgett commented on #180
I think you should at least have the option.  The paraview model lets you
choose by letting you set which visualizations are visible in each view.

I also think this model can be more confusing to the user since there is an
implicit association between particular modules and particular views,which
is not shown to the user in any way.  Also, modules can be "orphaned" by
closing their render view, m

[2015-09-01 03:19] Hovden commented on #180
The ability to choose and also preventing orphaned visualizations would be a good addition.

[2015-09-01 17:22] mathturtle commented on #154
I'll take a look at 1) for now.  The others will require some discussion, but I can fix the crash.

[2015-09-01 17:51] mathturtle commented on #154
Ok, this is messy.  Essentially, we have a proxy for the vtkTrivialProducer that shouldn't have any properties listed as animatable since it has no representation.  In fact it shouldn't even appear in this list.  I put together a patch to check the assertion that is failing and avoid the index out of bounds that is occurring, but then adding an animation to the trivial producer defaults to adding

[2015-09-01 17:53] mathturtle commented on #111
@ElliotPadgett can you share your dataset with only 0 and 1 values?

[2015-09-01 20:00] mathturtle commented on #137
This may be another Qt4/OSX bug.  Debugging on linux, I found that the view was being refreshed automatically by Qt rather than by any events.  Whenever the window had focus, the view was getting refreshed.  If I did something silly like adjust the color map and switch applications I could reproduce it, but as soon as the tomviz window had focus, the view was automatically updated.

[2015-09-01 20:01] mathturtle commented on #137
I can't debug on OSX since my account on bigmac apparently is not in the 'Developer Tools' group?

[2015-09-01 20:21] mathturtle commented on #15
This should be fixed now.  @Hovden can you confirm?

[2015-09-01 21:49] mathturtle commented on #113
This should probably be just an option (and not the default).  I'll take a look at how to add it.

[2015-09-02 18:08] ElliotPadgett commented on #111
No problem.  I will try to get this to you today or tomorrow.

On Tue, Sep 1, 2015 at 1:53 PM, Shawn Waldon <notifications@github.com>
wrote:

[2015-09-03 16:04] ElliotPadgett commented on #111
I just verified that this is still a problem in the 0.6.1 binary and the behavior looks the same.  I will email you a test data set.

[2015-09-07 19:48] bdalevin opened #187 "No colour map editor"
In Tomviz 0.6.1, when you open a new dataset, you don't get access to the colour map editor. In previous editions of Tomviz, the colour map appeared instantly under the "Properties" toolbar when data was loaded.
The only way to bring up a colour map editor it is to tick the box that says "Use a different colour map for this module". You have to do this every time you open a new module, which gets

[2015-09-07 20:07] bdalevin commented on #187
Oh! It's a data properties vs module properties issue. This was very confusing, but Elliot explained to me how this is meant to work. Closing the issue.

[2015-09-07 20:07] #187 closed

[2015-09-08 18:05] Hovden opened #188 "Use qcombobox for choosing an Axis for "Rotate" and "Sobel Filter""
Currently the axis is specified as 1,2,3. We should use a qcombobox to specify "x","y","z"

[2015-09-08 18:29] Hovden opened #189 "Add a delete slice"
Users should be able to delete a single slice from 3D data. This especially applies to tiltseries data.

[2015-09-09 19:09] mathturtle commented on #188
I put up a pull request for this #193.

[2015-09-10 13:17] #173 closed

[2015-09-10 13:19] Hovden commented on #15
@yijiang1

[2015-09-10 13:48] mathturtle commented on #113
After some digging, I asked @utkarshayachit.  This happens when you turn on the 'Enable opacity mapping for surfaces' checkbox below the color map.  Note that it suffers from the same 'histogram doesn't update' issue as #137, even on Linux (I may be able to use this to debug that one).  I think we can close this one as 'Already fixed'.

[2015-09-10 14:44] mathturtle commented on #111
@ElliotPadgett did you ever send the dataset?  I just checked my spam filter and didn't find it there.  Was it too large to email?

[2015-09-10 14:44] Hovden commented on #113
I see. The opacity maps to volume rendering though.

The best solution is to have a context aware histogram. This will handle the different (local) colormaps (not just global) and also transparency. For example, when a contour is selected that has its own colormap (by checking "Use separate color map for this module") the histogram will display that colormap.

[2015-09-10 14:46] Hovden commented on #111
Yeah he sent it. I just forwarded it again.

[2015-09-10 18:57] mathturtle commented on #111
It turns out this is a bug in ParaView.  I'll put an update when I have a fix.

[2015-09-10 19:01] Hovden commented on #111
:ok_hand:

[2015-09-10 19:31] yijiang1 opened #196 "New menus for tomography and sample data"
With more and more functions adding into Tomviz, it's better to have a separate menu for tomography-related transforms and sample data generators. See attached figure for details.
![menuui](https://cloud.githubusercontent.com/assets/13088588/9798676/88fedba6-57d0-11e5-8cef-dd6e4e7fb7ca.png)

[2015-09-10 20:24] mathturtle commented on #111
ParaView merge request is [here](https://gitlab.kitware.com/paraview/paraview/merge_requests/372)

[2015-09-11 13:17] #115 closed

[2015-09-11 13:38] cryos commented on #188
This has been merged.

[2015-09-11 13:38] #188 closed

[2015-09-14 20:16] Hovden commented on #196
Looks good to me.

[2015-09-14 20:18] Hovden opened #198 "Histogram / Colormap should not be zoomable"
The colormap and histogram should not be zoomable, or at least not in the way it functions now.

I find myself losing view of the histogram / colormap because I accidentally zoom on my touchpad.

[2015-09-14 20:23] mathturtle commented on #196
I have the rearranging/renaming part done on a branch and the custom python sample data almost works (but I think I need to rearrange the code a bit after I get it working so that it is easier to add new ones, so maybe another day or so).

[2015-09-14 20:26] Hovden commented on #196
Sounds good!

[2015-09-14 21:08] Hovden opened #199 "Delete (zero) data cube for removing data in volume."
Jade is preparing a figures using tomviz and has requested a delete volume feature. I think it would be easy.

Graphically it would work just like the crop box, but it would replace the data inside the box with zeros instead of cropping. This can be done with a transparent python routine.

If the crop code is an easily callable function, we may use it in several upcoming python gui's.

[2015-09-14 21:51] mathturtle commented on #199
re: crop ui: It is pretty tightly coupled to the crop feature right now.  It doesn't have to be and I can refactor it to be a 'select volume of interest' widget that you could use in your python guis.  If this is a high-ish priority assign it to me and I'll look at it later this week.

[2015-09-15 13:51] mathturtle commented on #111
The ParaView change has been merged.  I have a superbuild PR to update paraview [here](https://github.com/OpenChemistry/tomviz-superbuild/pull/51).  Building against ParaView master should also fix this.

[2015-09-15 13:55] mathturtle commented on #154
I patched ParaView so that it won't crash.  Superbuild PR is [here](https://github.com/OpenChemistry/tomviz-superbuild/pull/51).  It still doesn't do the right thing when you have the vtkTrivialProducer selected but it doesn't crash.  Other animation panel issues will wait until we redesign the animation panel to be tomviz-specific rather than just reusing ParaView's.

[2015-09-15 15:37] Hovden commented on #154
If it doesn't crash, we can close this issue and revisit animation down the road.

[2015-09-16 14:43] mathturtle commented on #158
@Hovden here is a sample ITK script for segmentation that can be used in the tomviz 'custom python transform' dialog.  I don't know much about ITK, so this may not be optimal, but I think it works (as far as I can tell anyways).
[code]

[2015-09-16 14:50] mathturtle commented on #84
Given the @yijiang1 is using this in his Delete slices branch #189, I think it can be closed.  For a simple example of how to use this, open a dataset, mark it as a tilt series and create a custom transform.  The python code displayed updates if the dataset is a tilt series to show how to do this.

[2015-09-16 15:07] Hovden commented on #158
Thanks. @yijiang1 and I will dig into what ITK can provide for segmentation.

[2015-09-16 15:12] #84 closed

[2015-09-17 15:14] yijiang1 opened #206 "Crop crashes (on OSX) when start slice is greater than end slice."
The Crop transform crashes (on OSX) when start slice is greater than end slice of the same axis.

[2015-09-17 17:10] mathturtle commented on #111
@ElliotPadgett This should be fixed in today's binaries (which may not have finished building yet...)

[2015-09-17 18:05] mathturtle commented on #137
This should be fixed now.

[2015-09-17 18:06] mathturtle commented on #92
This should be fixed now.  Both the ParaView and tomviz patches are merged.

[2015-09-17 19:07] yijiang1 commented on #158
I get a "No module named itk" error when I import itk.

[2015-09-17 19:09] mathturtle commented on #158
Are you using the binaries or is this a local build?

[2015-09-17 19:16] yijiang1 commented on #158
My local build.

[2015-09-17 19:25] cryos commented on #158
You would need to build/install locally, this is in the superbuild that packages our dependencies. You should just install the package if it is included, just like SciPy etc. Failing that you could build/install it locally for testing purposes.

[2015-09-17 19:26] mathturtle commented on #158
Then it is pretty much expected.  I think the simplest way to fix it is to download the binaries the superbuild uses: [OSX](http://www.tomviz.org/files/itk-4.8.0-macosx10.8.tar.gz) [Windows 64bit](http://www.tomviz.org/files/itk-4.8.0-windows-64bit.zip) [Windows 32bit](http://www.tomviz.org/files/itk-4.8.0-windows-32bit.zip).  Unzip/untar the files, then run the following in your terminal to tell

[2015-09-17 19:46] yijiang1 commented on #158
I see. Thanks!

[2015-09-17 20:41] Hovden commented on #137
Tested on OSX cdash build.

[2015-09-17 20:41] #137 closed

[2015-09-17 22:07] yijiang1 opened #209 "Crashes when cloning "transformed data only""
Tomviz crashes (OSX) when I try to clone a transformed data.
To reproduce the problem:
1. Open a dataset.
2. Do a transform. For example, Downsample by 2.
3. Click "Clone" in data transform menu.
4. Select "Transformed data only".

[2015-09-18 14:40] mathturtle commented on #91
Is this the non-orthogonal slice or the orthogonal slice?  The orthogonal slice has this, but for the non-orthogonal slice this doesn't really make sense...  How do you define slice numbers when the slice can be any arbitrary plane through the image and the data it is colored by is interpolated from nearby points?

[2015-09-18 14:49] #152 closed

[2015-09-18 14:51] #92 closed

[2015-09-18 15:37] mathturtle commented on #113
The branch for what you suggested is merged now.  Is that it for this issue?

[2015-09-18 18:40] #189 closed

[2015-09-18 21:01] yijiang1 opened #211 "Toggle Tilt Series/Volume in Python"
I'm working on functions that generate tomography data (tilt series) from a 3D dataset.
It would be very useful if there is a function that allows me to mark a dataset as tilt series or volume directly in Python.
Reconstruction functions also need this feature.

[2015-09-22 19:13] Hovden commented on #111
@ElliotPadgett Can you test / verify this and we will close the issue.

[2015-09-23 17:08] ElliotPadgett commented on #111
Looks fixed in latest binary!

[2015-09-23 17:08] #111 closed

[2015-09-24 21:19] #211 closed

[2015-09-25 16:57] ElliotPadgett opened #216 "Artifacts for combined Contour and volume rendering"
Splotchy and periodic artifacts appear in volume renderings under contour renderings.  See the attached example images.

This may also be unique to binary-value datasets, as I was not able to reproduce the problem with the sample data.

![tomvizerror1](https://cloud.githubusercontent.com/assets/12242066/10106799/c95231fc-6384-11e5-975e-33ff7d9ae4d7.png)
![tomvizerror2](https://cloud.githubusercont

[2015-09-26 23:44] #206 closed

[2015-09-26 23:46] Hovden opened #217 "Deleting crop doesn't update visualization"
Visualizations is not updated when crop is deleted from Data Transforms.

[2015-09-26 23:47] #154 closed

[2015-09-26 23:48] Hovden commented on #209
Doesn't crash on cdash build (OSX).

[2015-09-26 23:48] #209 closed

[2015-09-26 23:50] Hovden commented on #25
@ElliotPadgett is this still an issue or can we close this?

[2015-09-27 00:04] Hovden commented on #113
Very nice!

[2015-09-27 00:04] #113 closed

[2015-09-28 13:59] Hovden commented on #199
@yijiang1 Now that a crop widget (#208) has been added, this feature (deleting selected data) would be a simple introduction to using this selection tool (which we will probably use for background subtraction too).

[2015-09-28 15:35] mathturtle commented on #216
@ElliotPadgett This is a limitation in VTK right now.  Translucent surfaces (your contour) and volume rendering do not work well together.  I don't really think we can do anything about this.

[2015-09-28 15:54] Hovden commented on #216
We should at least let the VTK team know about the issue. @cryos @utkarshayachit

[2015-09-28 16:00] Hovden commented on #198
@mathturtle I say place a comment with the Paraview team letting them know that the colormap zooming is bad and should be turned off or improved. Then we can close this issue.

@utkarshayachit @cryos

[2015-09-28 16:01] mathturtle commented on #198
@Hovden I've actually got [this fix](https://gitlab.kitware.com/paraview/paraview/merge_requests/392#note_34966) most of the way through ParaView, just working out the last few issues.

[2015-09-28 17:23] ElliotPadgett commented on #25
Yes, I am still seeing this behavior in a recent nightly build.

[2015-09-28 20:26] mathturtle commented on #199
I think we'll have to figure out how to make the python operator dialogs non-modal before this will be "simple".  I'll think about how to do this.

[2015-09-28 20:38] Hovden commented on #199
To be clear, this can be modal c++ code for now. It will operate just like the crop tool to get bounds then it calls python to delete the data within that range.

We don't need generic python code.

[2015-09-28 20:42] mathturtle commented on #199
Sure, it can be modal and will *mostly* still work.  But if the dialog is modal you will only get the six input boxes to type in numbers and not the widget to select the bounds interactively.

[2015-09-28 20:49] Hovden commented on #199
You're correct, my statement was wrong. It cannot be modal—my point was that it only needs to run one time and can be a pop-up prompt where the user clicks once for a one time operation.

[2015-09-28 22:03] yijiang1 opened #221 "Crashes when applying data transform to sample data."
Tomviz sometimes crashes when applying data transforms to sample data.

One example:
1. Open Tomviz.
2. Click "Sample Data"->"Constant Data". Use default parameter.
3. Click "Data Transforms"->"Rotate". Use default parameter.

Note:
1. This does not happen to real data loaded from tiff files.
2. Doing other transforms (for example, "Downsample by 2") before "Rotate" can prevent crashes.

[2015-09-29 20:29] Hovden opened #222 "Add new paraview axis grid"
We need good scale markers for scientific visualization. It looks like the new axis grid implemented in Paraview could address this: http://www.kitware.com/blog/home/post/871

[2015-09-30 14:33] mathturtle commented on #221
This may actually be a bug in scipy.  Here is the line of code causing the problem:
`from scipy import ndimage`
As far as @mathstuf and I can tell it is a binary incompatibility issue with python and scipy.  It is somehow asking for the data size of one of the scipy types and getting a pointer back (instead of the size variable which as far as I can tell is correctly set).  Then it can't allocate

[2015-09-30 14:52] mathturtle commented on #221
@cryos For some reason it is getting a pointer as the size of a scipy type... That's really about as far as I got with the debug package for python on linux.  PyObject_GC_Malloc is failing when it is passed an argument of: basicsize=140735892870160 (0x7fffa0e6d410).  The one fairly consistent way to work around this is to open the python console and import ndimage there.  Sometimes applying other

[2015-09-30 15:00] mathstuf commented on #221
Other notes:

 * It isn't a SciPy type; it's a `PyCFunction` which is defined in Python itself.
 * The pointer appears heap-allocated, but doesn't appear to be stored near the `PyCFunction_Type` object.
 * It occurs when adding the `fourier_filter` method to the `nd_image` module which is 9th in the list.

Has valgrind or asan/ubsan been run over the failing test case?

[2015-09-30 15:15] mathturtle commented on #221
When I forced it to use the superbuild numpy/scipy I think I got a slightly different stack.  I think yesterday it was using the pip installed versions in the virtualenv (which *shouldn't* be a problem...)  I didn't see the scipy module code in there anymore.  Valgrind had only one error in python and it is the invalid read that causes the segfault as far as I can tell.  But the getting a pointer

[2015-09-30 15:58] mathturtle commented on #198
ParaView is having issues right now (someone merged something that broke most of the builds), so this is taking longer to get my change merged than I thought.

[2015-09-30 16:32] mathstuf commented on #221
This is not a stack or heap pointer. It is definitely invalid :) .

[2015-10-01 14:09] mathturtle commented on #91
@Hovden is this taken care of by adding the point and normal vector for the slice plane?  What exactly do you want here?

[2015-10-01 14:24] mathturtle commented on #196
Is this done now or are there other reorganizations you would like me to do?

[2015-10-01 16:35] yijiang1 commented on #196
The last thing I want change right now is to reorganize the code for Tomography menu.
In current version, functions in tomography menu are controlled by three ui labels: "ui.actionAlign", "ui.actionReconstruct", and "ui.actionToggleDataType". As a result, code like  (line 224 in MainWindows.cxx) "ui.menuTomography->insertAction(ui.actionReconstruct, autoAlignAction);" was very confusing to me and

[2015-10-01 16:49] Hovden commented on #91
Sorry about the delayed response. Thanks for the persistence.

Basically, the user interacts with the slicer such that it translates up and down along the normal vector. It would be nice to be able to have a slider that does the same behavior. To give a use case, in one paper, we sliced uniformly incrementally along a non-orthogonal direction taking snapshots at each step. From these published sna

[2015-10-01 16:52] Hovden commented on #217
@cryos It looks like cdash is jammed up again? No recent builds for me to test on.

[2015-10-01 17:01] cryos commented on #217
I have @mathturtle looking into it, he said they made some major update last week that broke a number of projects (including ours), sorry I wasn't aware of this. It should be fixed, but still seems to be having issues as far as I can tell even when merging the last pull request. We will keep you updated, and should hopefully have everything back to normal soon.

[2015-10-01 17:25] mathturtle commented on #217
@Hovden As of late yesterday builds are back on.  The issue was that nothing had been updated since then.  Since we are on Github instead of Kitware's Gitlab, we have to wait for the every 10 minutes 'did something change in tomviz' check for our builds to start.  (The change that broke everything was a way to make builds for projects in Gitlab almost immediate).  Anyway, the latest version is bui

[2015-10-01 17:41] mathturtle commented on #196
I agree that the current way of creating both the Data Transforms and Tomography menus is confusing to new developers looking at these files.  But actionReconstruct describes what that menu item is doing (which you want in a variable name).  The `insertAction` method is saying 'insert this above the reconstruct action'.  Honestly I'd be in favor of having no predefined actions in either of these m

[2015-10-01 17:42] cryos commented on #196
Sounds good to me, and is generally my personal preference too.

[2015-10-01 17:49] mathturtle commented on #91
Ok.  I can see the use case.  I was just trying to see if I had accidentally finished something.  It is always nice when you get to an issue and can say 'oh, I fixed that last week'.  For now let's focus on the higher priority issues.

[2015-10-01 18:27] yijiang1 commented on #196
I completely agree and we should do this asap.

[2015-10-01 19:03] Hovden commented on #217
Works on latest cdash build (OSX)

[2015-10-01 19:03] #217 closed

[2015-10-01 20:04] yijiang1 commented on #15
I can confirm this works. Tomviz can read .raw, .bin, and .dat.

[2015-10-01 21:26] mathturtle commented on #196
#223

[2015-10-01 21:35] Hovden commented on #15
Great. Closing.

We should add GUI labels to tell the reader of the bitdepth of the raw file-types. It is confusing.

[2015-10-01 21:35] #15 closed

[2015-10-02 19:19] mathturtle commented on #180
After a little digging, this is not a trivial as it sounds.  I agree it is a good idea and should be supported though...

Notes to self: representations have a pointer to the view, so this amounts to having a way to create multiple representations per module (or changing the representation's view pointer).  If we are allowing multiple representations per module so that multiple views can contain t

[2015-10-02 20:02] mathturtle commented on #94
Notes to self: this doesn't look particularly difficult.  Change from using ParaView's pqPythonDialog to a dock widget containing a pqPythonWidget.

[2015-10-02 20:44] #196 closed

[2015-10-05 20:10] mathturtle commented on #94
Harder than it looks.  There is some hardcoded singleton stuff with the python dialog in ParaView that is tricky to get around.

[2015-10-06 22:13] yijiang1 opened #228 "Crashes when opening data transform script for sample data"
Tomviz crashes when I try to open the data transform script for sample data. This may be related to #221

To reproduce the crash:
1. Create a sample dataset.
2. Do a data transform (say "Shift Uniformly").
3. Do another data transform (say "Delete slices").
4. In the Data Transform pipeline (lower left corner), double click the first transform ("Shift Uniformly").
![screen shot 2015-10-06 at 6 04

[2015-10-06 22:20] mathturtle commented on #228
Same (or very similar) nasty python stack trace as #221.

[2015-10-07 14:44] mathturtle commented on #228
Ok, this is the same problem (python trying to allocate a pointer's worth of memory), but in a different place while trying to import a different module.  This time it is the import of the `pygments` module in the python syntax highlighter that is failing.  This is the module that does the syntax highlighting for the python editor dialog.

[2015-10-07 15:16] mathturtle commented on #228
This time I can't just import the module from the python console to get around the issue...  It fails regardless of anything I've tried as long as you follow these steps.  I don't know why these steps are so horrible though... the steps themselves don't show any issues in valgrind, so it has to be something with the program setup?

[2015-10-07 20:09] Hovden commented on #221
This may be due to the data types being passed into and out of python functions might be different data types. SciPy / NumPy is bad about standardizing this stuff. For example, one function might take in singles and pass back doubles. Another function might crash if you try to pass it singles because it only handles doubles.

[2015-10-07 20:14] mathturtle commented on #221
No.  I wish it were that simple.  This is the import statement `from scipy import ndimage` crashing because of something deep in python.  The rest of the script never even gets to run.  Our best guess is that we are doing something to get python into an invalid state, but I'm not sure what that might be yet.

[2015-10-07 21:33] mathturtle commented on #221
Hmmm, on second thought I suppose we could be passing in a type that shouldn't be passed in and that is what is corrupting memory...  I'll have to check the numpy/scipy documentation.

[2015-10-08 15:52] yijiang1 opened #229 "Need UI to set tilt angles"
Tomviz need an UI to set angles of a tilt series. This is essential for reconstruction.
The UI allows users to specify the range of tilts for which they want to assign angles. The user also needs to specify the first and last angle. The function assumes equal-angle increment.
Let N = total number of tilts. The default start and end tilt should be 0 and N-1. The UI always assign 0 degree to the mid

[2015-10-09 17:59] mathturtle commented on #222
It turns out that the axis grid breaks volume rendering somehow.  I've reported the bug and they are working on it.

[2015-10-09 20:00] mathturtle commented on #222
Ok, that was easy... after hours of searching how to enable it: It's already there!  It is hiding in the view properties panel.  There is a checkbox with no label that has a button to it's right instead.  The button says Edit Axes Grid and can be used to change parameters of the axes grid.  The checkbox turns it on or off.

Note: there is a bug where volume rendering fails when the Axes Grid is en

[2015-10-09 20:09] mathturtle commented on #222
![checkbox](https://cloud.githubusercontent.com/assets/553788/10404337/f270c848-6e9f-11e5-89b6-625d48e6ee09.png)

This checkbox is the one I mentioned above.

[2015-10-09 20:47] mathturtle commented on #62
The zoom is about the 'center' of the scene.  The center of the scene is also the center of rotation and can be set with the button with this icon:
![pqpickcenter24](https://cloud.githubusercontent.com/assets/553788/10405090/bcdb3b8c-6ea4-11e5-88aa-1d792c57ddb3.png)
Click on this button, then on the part of the scene where you want the new center.  It isn't the best iterface, but it may help with

[2015-10-09 21:03] mathturtle commented on #38
@Hovden @cryos This is another one where I'm not entirely sure how this should work.  From what I recall of our discussions we wanted to move datasets relative to each other and then lock down the center of rotation for the scene to the origin (#37).  Is this still correct?

[2015-10-09 21:05] mathturtle commented on #37
This really depends on getting #38 done first.  Also, I have a feeling that even with #38 done, when they have tried this they may not like it for the same reason this was tied to #38 in the first place.

[2015-10-09 21:06] mathturtle commented on #170
@cryos Essentially we want to install the python files instead of compiling them in right?

[2015-10-15 19:20] mathturtle commented on #229
Did that branch take care of all of this?  Or is this last bit about the tilt angles table still left.  What exactly do you want for that?

[2015-10-15 19:35] yijiang1 commented on #229
I think @Hovden  wants something like this
![uisettiltangles3](https://cloud.githubusercontent.com/assets/13088588/10525355/46847b4e-7352-11e5-99a0-e33d4d0ab02f.png)

[2015-10-15 19:43] mathturtle opened #234 "C++11"
@cryos I'm making this issue to record our discussions about starting to use C++11 features in tomviz since it's been a few weeks and I don't recall all the details anymore.

Things we had talked about starting to use (at least in the short term):
override
std::nullptr

Unlike VTK, we only care about newer compilers.  So the question is do we need to make macros for these or can we just start usin

[2015-10-15 19:48] mathturtle commented on #229
Hmmm. You would at least want some sort of apply button there too.  And keeping the values in those text fields synced with the values in the table would be tricky.  Much easier would be a button that throws up the other UI (equivalent to clicking the menu item).

[2015-10-15 19:56] mathturtle commented on #198
This should be fixed in the latest binaries.

[2015-10-15 19:59] yijiang1 commented on #229
@mathturtle You are right that we definitely need a button. I like the idea of having a button that simply pops up the UI we have now.

[2015-10-16 18:42] yijiang1 commented on #198
Tested on OSX.

[2015-10-16 18:42] #198 closed

[2015-10-16 21:39] yijiang1 commented on #101
Here is a basic mock-up of the UI. I'll be writing a reconstruction function in C++ so the UI can use it.
![axisalignui](https://cloud.githubusercontent.com/assets/13088588/10553948/d8a71290-742c-11e5-806a-e56ee415c1fa.png)

[2015-10-17 14:29] Hovden commented on #101
For this issue, lets just get the basic GUI framework in place.

[2015-10-19 18:31] mathturtle commented on #101
The UI shouldn't be too hard to throw together.  Connecting up all the actions and the reconstruction will be the tricky part.

So if I have this right:
The large image in the upper left is an x-y slice of the current data with the z-value controlled by the 'Projection No.' text field.
The yellow line shows the 'center'.  So is this just a static line I can hard code as halfway up the scene or doe

[2015-10-19 18:59] Hovden commented on #101
Pretty close, which is good given the minimal set of instructions.

Yes. Large image is x-y slice with z-value controlled by Proj. Number.
No. Yellow line will move up and down by the axis position (in pixels).
Yes. Three dashed lines are controlled by the slice number (in pixels).
Yes. Rotation axis is vertical offset and moves yellow line.
No. Rotation angle will change the angle of the yellow l

[2015-10-19 19:18] mathturtle commented on #101
I think I'll make it a simple pop-up window for now.  You'll be able to get to it from a menu item on the 'Tomography' menu.  If I just make it a widget, we should be able to move it around fairly easily if we decide that is not the right place for it later.  Unless you expect to spend a lot of time working with this feature, I don't think a tab or a QDockWidget are appropriate.

I think I have en

[2015-10-19 19:39] yijiang1 commented on #101
@mathturtle Sounds good. A pop-up window is enough for now. Thanks!

[2015-10-19 20:31] ElliotPadgett commented on #101
@mathturtle Either the yellow line should move (as the user adjusts the axis position and rotation) and the image be static or the image should move and the line be static.  From a user's point of view I don't think it matters so if one of those is much easier to code than the other we should go with that.

[2015-10-21 22:04] yijiang1 opened #237 "Add axis labels to SelectVolumeWidget"
Can we add x,y,z labels in the SelectVolumeWidget UI like this?
<img width="390" alt="screen shot 2015-10-21 at 6 01 48 pm" src="https://cloud.githubusercontent.com/assets/13088588/10651558/2eb7191a-781e-11e5-8c3b-492d2d43ef30.png">

[2015-10-22 19:21] mathturtle commented on #101
@Hovden I've put up a work-in-progress version of my code for you and @yijiang1 to try out.  Yi has already given me some good feedback (including several bugs I hadn't caught).

[2015-10-23 14:35] cryos opened #239 "Reconstruction operation in C++"
Need to provide capabilities to perform reconstruction in C++. For the first pass provide a C++ operation that takes in the image stack, converts it to a float, and passes it to the reconstruction routine. The reconstruction routine will return a float volume. Convert vtkImageData to a C array pointer, show layout/give example of going through values in the volume.

[2015-10-23 14:49] cryos commented on #239
Let's do the widget in-place reconstruction first, and then look at C++ operations later perhaps.

[2015-10-23 15:21] yijiang1 opened #240 "Change data type to float when using "Mark As Tilt Series""
Since all tomography operations (such as reconstruction, background subtraction) require the dataset to be float. We probably can enforce a data type conversion in the "Mark As Tilt Series" function.

[2015-10-23 15:38] cryos commented on #240
Why do you want to do this here, rather than before a reconstruction? It would be ncie to understand your motivation here.

[2015-10-23 15:48] yijiang1 commented on #240
We are thinking that other operations such as background subtraction (which will result in negative pixel values) also need to convert data type to float, so maybe we can just do a conversion once in "Mark As Tilt Series"?

[2015-10-23 17:49] cryos commented on #38
This is fairly independent of the other issue, we need to be able to interactively move datasets relative to each other. For example, if I have two volumes loaded I want to display them both in the same view, then translate and rotate the active volume in the scene (the other volumes would remain static).

[2015-10-23 20:41] mathturtle commented on #239
@yijiang1 @cryos Is this enough of an example?  I tried to show how to get the raw data pointer, allocate the output and access the data at an index.  We should talk about the exact signature of your reconstruction function soon so that I will know what input it needs.

[code]

[2015-10-23 21:01] yijiang1 commented on #239
LGTM. Another basic input the reconstruction function need is the tilt angles.

[2015-10-23 21:21] mathturtle commented on #239
Right, tilt angles.  You would do the following:
[code]

I should probably add a helper function to avoid duplicating this get tilt angles code everywhere.  I added one for python, but for C++ they are only accessed in the DataSource so there is no helper yet.

[2015-10-23 21:48] yijiang1 commented on #239
Cool. I think this is enough for me to start working on reconstruction functions.

[2015-10-23 22:20] Hovden opened #241 "Change data type"
We should provide a way for the user to change the datatype.

Primarily, a user may want to go from an unsigned integer to a signed float.

[2015-10-23 22:21] Hovden commented on #240
I've raised a new issue #241 to allow the user to change data type. I think this will address this problem for now and give more capability to tomviz for data processing.

[2015-10-26 17:04] mathturtle commented on #234
Notes:
use check_cxx_compiler_flag for testing c++11 present
see [this](http://review.source.kitware.com/#/c/16780/1/CMake/vtkCompilerExtras.cmake)

windows: VS2013 is minimum supported version since we don't test anything else

linux: looks like we need minimum of debian wheezy (7) to get a new enough gcc to build with c++11

[2015-10-26 21:29] yijiang1 commented on #237
Tested on cdash build.

[2015-10-26 21:29] #237 closed

[2015-10-26 21:29] yijiang1 commented on #229
Tested on cdash build.

[2015-10-26 21:29] #229 closed

[2015-10-27 15:47] #199 closed

[2015-10-27 17:06] yijiang1 commented on #239
Just curious: what would happen if input's type is not float and we run the code above without the type checking part in the beginning? Will it cause Tomviz to crash?

[2015-10-27 17:14] mathturtle commented on #239
Probably.  `GetScalarPointer()` returns an address with no type information and the `static_cast` tells the compiler to treat it as a pointer to some floats.  So you will always get a non-null pointer.  But if the underlying data type is not `float`, you will get garbage data.  And if it uses less bytes than `float`, you will read addresses outside the real array bounds which hopefully will crash

[2015-10-27 17:30] yijiang1 commented on #239
@mathturtle I see. Thanks for the detailed explanation.
I've been getting strange results and crashes using Tiff data (whose type is unsigned char). I think my problem is due to data types. Is there a way to easily change data types (in c++ or Tomviz)?

[2015-10-27 17:46] mathturtle commented on #239
Currently no.  The C++ code looks something like this:

[code]

There may be a few typos, I haven't tested this.  But this should be the outline for the conversion you want.

[2015-10-27 19:27] yijiang1 commented on #239
@mathturtle My program crashes when I run the conversion code above : (

[2015-10-27 20:11] mathturtle commented on #239
Alright, I'll debug it.  I said it was untested.

[2015-10-27 20:20] mathturtle commented on #239
Oops.  Simple typo.  Actually several, it didn't compile at first...  Sorry about that.

[code]

[2015-10-29 14:15] yijiang1 opened #247 "Fast Fourier Transform in C++"
Is there a FFT library I can use in Tomviz? Some tomography reconstruction functions need it.

[2015-10-29 14:32] mathturtle commented on #247
There is pyfftw, but right now that is all we have for FFTs.  Let me talk to @cryos to see what we want to do for this.

[2015-10-29 14:45] cryos commented on #247
Yeah, Rob and I spoke about this some time ago. Surveying the field of available FFT libraries there isn't a lot that really fits our licensing model well. As we already have pyfftw we could make FFTW available, it is one of the fastest and they at least offer the option of paid commercial licensing if people want that in the future.

It looks like FFTW is GPLv2+, and so is compatible with the ITK

[2015-10-29 18:42] Hovden commented on #247
I also saw some FFTs in the ITK and VTK API. They may not be as fast as FFTW, but they might be good.

[2015-11-04 22:45] ercius opened #248 "Change default color map"
The cool-to-warm color map is the default color map, but not very useful for volumetric tomography data.I suggest changing the default color map to gray scale.

[2015-11-05 19:29] Hovden commented on #248
Also, issue #44 would make changing the colormap more accessible.

[2015-11-05 19:31] Hovden commented on #44
This might also simply be a button. Find a solution that balance the quality of UX design with the difficulty to execute.

[2015-11-05 19:31] cryos commented on #248
Thanks for the reminder, we should make this change before the next release (and make the color map easier to change).

[2015-11-05 19:37] Hovden commented on #248
I know gray scale has been advocated. But there are great colormaps that have the same intensity transfer profiles as gray but provide more dynamic range to the human eye (even colorblind people).

Here are the new colormaps used in matplotlib: http://matplotlib.org/1.5.0/users/whats_new.html#new-colormaps

They've been designed by color theorists, a great discussion is given here: https://bids.gi

[2015-11-07 00:41] ercius opened #249 "XMF/HDF5 file no longer supported"
tomviz 0.6.1 stable is able to open HDF5 data sets using an XMF file to describe the data structure. This is no longer available as of 0.6.1-128-g1e0125e. I found this data type very useful for more advanced data structures including EMD format. tomviz is still able to write xmf/hdf5 data sets, but then can not read them back in.

[2015-11-07 00:46] ercius opened #250 "Raw data import defaults"
I suggest changing the "Data byte order" default value in the raw data import dialog from "bigendian" to "littlendian." Little endian is the most common format for all intel processors on modern linux, mac windows machines. This will cause a lot less confusion among most users. Alternatively, the value could be populated by the value of the current host system.

[2015-11-09 18:54] mathturtle commented on #249
Between 0.6.1 and the current development branch we changed from exposing all of ParaView's readers to exposing only readers that our users cared about.  I am happy to add hdf5/xmf files to this whitelist but I suspect that there may be other problems when data is read in from these formats that is not an image volume.  I'll put up a branch that adds this support back in.

[2015-11-10 18:24] cryos commented on #249
I don't think we should worry too much about the side effects at this point, sorry I had forgotten about this use case when we switched to whitelisting. Thanks for reporting this Peter!

[2015-11-10 20:29] Hovden opened #252 "Show Summed Projections in Axis Alignment Widget"
Implement a checkbox to the right of "projection no" so that when it is checked the sum of all projections is displayed instead of one specific particular from the tiltseries.

"I find it easier to do this alignment if you show the sum of all
projections rather than a single projection. The average shows a blur that
is perpendicular to the tilt axis." - Peter

[2015-11-10 20:56] Hovden opened #253 "Autosave crashed when restoring (Mac OSX)"
Autosave crashes when restoring the saved state.
1) Open reconstruction sample data.
2) Click volume render.
3) Wait 5 minutes for autosave.
4) Force Quit to create crash.
5) Open tomviz. Restore state. Then software crashes.

[2015-11-10 21:08] Hovden commented on #62
@mathturtle the tools you are talking about do not exist in the manual alignment widget. They are for 3D visualization.

[2015-11-10 23:20] ercius commented on #249
Thanks for putting this back in. It's really useful as long as you can
figure out how to write the XMF file correctly. I have an example if anyone
is interested.

On Tue, Nov 10, 2015, 10:24 AM Marcus D. Hanwell <notifications@github.com>
wrote:

[2015-11-11 20:52] mathturtle commented on #253
The autosaves were going to the system temporary directory, which on OSX is a nested path in /private/var/... and is symlinked to /var/...  The symlink was causing the state file relative paths to fail when reloading the data files which meant that nothing was loaded and the output of the reader was an empty image.  This was causing the histogram creation code to crash since it didn't expect an em

[2015-11-11 20:54] mathturtle commented on #250
@ercius I don't think I can get the value of the current host system easily in the configuration file that specifies the GUI.  But changing the default to little endian shouldn't be hard and I think it makes sense.

@utkarshayachit Any objections to changing this in ParaView or do I need to override the UI for that reader in tomviz?

[2015-11-11 21:01] mathturtle commented on #62
Oh.  I can get this effect in the alignment tool by click-and-dragging with the middle mouse button to pan the image so that the portion of interest is in the center and then zooming.  (Of course on OSX you may not have a middle mouse button...)  I can look into changing the zoom behavior in this type of view.  It is a VTK level change that will have to be discussed with the VTK community.

[2015-11-11 21:24] Hovden commented on #253
Now works when restoring visualization pipeline on OSX. Now testing with basic data transforms.

[2015-11-11 21:56] Hovden commented on #253
Data transforms also working. Going to close this issue and the milestone issue. If something new pops up, we can start a new bug report.

[2015-11-11 21:56] #253 closed

[2015-11-11 21:57] Hovden commented on #82
Basic use case tested on OSX and Windows 32-bit.

[2015-11-11 21:57] #82 closed

[2015-11-11 22:00] #248 closed

[2015-11-11 22:25] Hovden commented on #249
Closing this for now. In the future we plan to work more on the HDF reader writer for the EMdataset format. Won't make the MRS release.

http://emdatasets.lbl.gov/spec/

[2015-11-11 22:25] #249 closed

[2015-11-12 20:31] yijiang1 opened #257 "Deleting a data transform reset tilt angles to zero"
1. Load a dataset.
2. Mark it as tilt series. Auto fill the tilt angles.
4. Do python data transform.
5. Delete the transform from the pipeline.
6. Now all tilt angles are reset to zero.

[2015-11-13 14:59] Hovden commented on #101
Basic framework is good. Closing this. Will open a new issue for the final polish and testing.

[2015-11-13 14:59] #101 closed

[2015-11-13 15:01] Hovden opened #260 "Axis Alignment Testing and Polish"
The axis alignment tool looks good. It needs testing and validation plus a little polish on the UX.

[2015-11-13 15:13] Hovden commented on #260
Instructions: Adjust the "Shift Rotation Axis" and the "Tilt Rotation Axis" such that the three reconstructions on the bottom look accurate. The yellow line shows the current axis of rotation. The three vertical red lines show where the displayed reconstructions are taken from. It is often useful to reconstruct different slices of the tomogram by changing the corresponding "Slice No.". When comple

[2015-11-13 19:55] yijiang1 commented on #260
@mathturtle Could you add the instructions above? I'm not sure how to edit UI in Qt.

[2015-11-13 21:18] mathturtle commented on #257
I see what is happening here.  When the transform is deleted, the code doesn't know if the tilt angles came from the transform (i.e. your convert to tilt series transform) or from the user.  So they are removed.  Then, since the dataset is still marked as a tilt series a new tilt angles array is created with all 0s.

One solution would be to make the 'auto fill tilt angles' into a transform that s

[2015-11-13 21:23] yijiang1 commented on #257
I think @Hovden does not want this...

[2015-11-13 21:35] mathturtle commented on #257
To really address this we need to save where the tilt angles were added/modified in the sequence of transforms applied to a dataset.  The easiest way to do this would be to insert these events as new transforms.  I'll try to think of something else if @Hovden thinks this is a bad idea.

[2015-11-13 22:37] yijiang1 commented on #260
@Hovden The basic UI is finished now.

[2015-11-14 00:11] Hovden commented on #260
Great. It appears to be working properly.

[2015-11-14 00:11] #260 closed

[2015-11-16 04:52] yijiang1 commented on #158
What is /path/to/extracted/files/ ?  I can't find a directory ending with  "/ITK-4.8/Python" (on Mac).

[2015-11-16 15:25] mathturtle commented on #158
Did you download and extract the file I linked to for your OS?  It should be under lib in the directory you extracted it to.

[2015-11-16 18:51] yijiang1 commented on #158
@mathturtle Sorry I missed this. I just download the binaries and now I'm able to import itk in Tomviz. Thanks!

[2015-11-16 19:10] #239 closed

[2015-11-16 21:16] yijiang1 commented on #158
I first did this:

Next, to reproduce the crash,
1. Open Python.
2. Type "import itk"
3. Type any itk code. For example, "itk_image_type = itk.Image.F3" from the example above.
4. Then, python exits immediately and prints out this message in terminal:
Fatal Python error: PyThreadState_Get: no current thread
Abort trap: 6

[2015-11-16 21:24] mathturtle commented on #158
Strange.  Following those instructions on our OSX machine works fine.

[2015-11-16 21:33] yijiang1 commented on #158
Maybe I did not install ITK properly? Is there other ways to do that?
@Hovden Do you have the same problem?

[2015-11-16 21:35] mathturtle commented on #158
Well, you could build it yourself... but that takes a long time and we're trying to avoid it.  Do you get the same problem if you run the tomviz binaries and try to run the ITK script?

[2015-11-16 21:43] yijiang1 commented on #158
My Tomviz doesn't crash on binaries but prints out a different error message (when I run the example script above):

Failed to execute the script.
Traceback (most recent call last):
  File "Transform Data", line 13, in transform_scalars
  File "/Applications/tomviz.app/Contents/Libraries/ITK-4.8/Python/itkLazy.py", line 42, in __getattribute__
    itkBase.LoadModule(module, namespace)
  File "/App

[2015-11-16 22:16] mathturtle commented on #158
On the bright side, I can reproduce that one locally.  I fixed this when we first started working with ITK, but I don't remember what I did and apparently I didn't update my instructions for building ITK to include the solution.  I'm working on it.

[2015-11-17 15:05] #234 closed

[2015-11-17 15:12] cryos opened #263 "Enhance ITK example script"
We need a minimal example in the ITK segmentation interface already present -import ITK, get input data, setup a basic filter, return the output data to tomviz.

[2015-11-17 15:32] cryos commented on #216
They are well aware of the issue, volume rendering traces rays and only sees opaque geometry, transparent geometry blends all other geometry "behind it" in the scene, you cannot do depth peeling to solve this when combining volumes and transparent geometry unfortunately. We should perhaps consider adding a warning when attempting to combine these, or at least document this limitation. Closing for

[2015-11-17 15:32] #216 closed

[2015-11-18 19:05] mathturtle commented on #158
I have merged a fix for this into the superbuild OpenChemistry/tomviz-superbuild#67.  New binaries should generated in a few hours.

[2015-11-18 19:25] mathturtle commented on #263
I have put up a pull request that does this for the segmentation module (#265).   Do we want a python transform example as well?

[2015-11-19 17:31] yijiang1 commented on #158
@mathstuf I can run the example code without any error on latest binaries.
I'm still having trouble using itk on my local build. @Hovden has the same problem as well.

[2015-11-19 18:02] mathturtle commented on #158
Sorry for the spam Ben :)

Yi: I'm not sure why it is failing for your local builds.  Do you still get that PyThreadState error?  If so then maybe @cryos can give us some input.

[2015-11-19 18:22] mathturtle commented on #158
Something you might try:
There is a script in the superbuild: https://github.com/OpenChemistry/tomviz-superbuild/blob/master/projects/apple/fixup_itk.py
You could try running it with the location you extracted ITK as its argument.  It doesn't really have much of a command line interface (It is only really intended to be run by the superbuild).  I don't know if it will help, but it might.

[2015-11-20 18:29] yijiang1 opened #268 "Fail to Build ParaView"
A student in my class wants to help with the project, but he's having trouble building ParaView.
He followed the instructions in the BUILDING.md document, and failed at the very end with this message:

make[2]: *** No rule to make target `/Users/coldatom/Documents/My/ files/Cornell/ PhD/Courses/cpp_project/paraview-build/Applications/ParaView/Documentation/paraview.qch', needed by `Applications/Pa

[2015-11-20 18:48] mathturtle commented on #268
So I asked around.  Apparently this is a Qt related error.  Where did he install Qt from?  Is the qhelpgenerator program present in the Qt install?

[2015-11-20 18:50] cryos commented on #268
Can we just turn off generation of ParaView documentation? I may have missed that in the building document, and they are unlikely to want/need the help documentation being built.

[2015-11-20 18:54] cryos commented on #263
Looks good, merged.

[2015-11-20 18:54] #263 closed

[2015-11-20 21:27] mathturtle commented on #268
I think it is only fair to warn you though: (building?) ParaView is not officially supported on El Capitan yet.  @danlipsa tried it and said it is still pretty buggy.  You have to build with Qt5 since Qt4 doesn't support it.  We haven't tested tomviz with Qt5 yet.  You may be able to use our binaries, so I might be able to send you a pre-built Qt4... I'll look into it.

If homebrew has Qt4 support

[2015-11-20 22:01] coldatom commented on #268
Hi @mathturtle, I am the student @yijiang1 was referring. I used home brew in installing qt -- "brew install qt", but I didn't include any dependencies (such as d-bus, etc.) I am wondering is it the reason why I got error?

[2015-11-20 22:31] mathturtle commented on #268
Hmmm. I can't see anything wrong with the brew recipe offhand.  As far as I know you shouldn't need any of the additional options.  Do you have the program `qhelpgenerator` in your brew installed Qt?  It should be in the same directory as qmake.

[2015-11-21 02:55] coldatom commented on #268
@mathturtle thanks for quick replies. Yes. I do have the program qhelpgenerator in the same directory as qmake.

[2015-11-23 15:05] mathturtle opened #270 "Animations not saved in state file"
Found when working on #131.

[2015-11-23 15:06] mathturtle commented on #270
@cryos @Hovden

[2015-11-23 15:37] mathturtle commented on #270
This is more complicated than it appears.  I was going to fix it in my default animation branch, but after talking to Utkarsh I have decided to hold off.  We need to decide what we want from animations first.  ParaView saves the animations letting them refer to proxies.  We don't save many of these proxies, so the save animation code in ParaView is mostly useless to us.

[2015-11-23 15:57] mathturtle commented on #268
I'm going to try to borrow an El Capitan machine today and try building on it.  For now, my recommendation would be to get the Qt 5 binaries from [the official site](https://www.qt.io/download/) and build ParaView against Qt5.  There may be other issues with that, but it's the best I can do for now.

[2015-11-23 16:02] cryos commented on #170
Pull request #272 makes a few tweaks to the Python files - switch to symlinks on OSes that support them for the Python files in the build trees, and make the Python files show up in IDEs.

I have a simple JSON sample that would be read in to construct the menu entries below, and a branch where some of this is being read in.

  {
    "name": "Tilt Series",
    "description": "Do a tilt series",

[2015-11-23 16:19] #131 closed

[2015-11-23 16:24] cryos commented on #270
Sounds reasonable, I think we want a higher level view of animations.

[2015-11-23 16:54] cryos commented on #268
You could try to set QT_HELP_GENERATOR in the CMakeCache.txt (or using cmake-gui, toggle advanced). This is a little flimsier in the way it finds the binary, and so it could get you beyond this point at least.

[2015-11-23 16:55] cryos commented on #268
I know tomviz needs some patches to work with Qt 5, so I would advise against trying that route. We held off until ParaView moved forward (but may want to reassess as there are a number of things we would like to use in Qt 5 now).

[2015-11-23 17:06] Hovden commented on #270
Sounds good.

[2015-11-23 20:35] Hovden opened #273 "Slowdown (memory leak?) when using data transforms."
The program gets slower and slower then crashes when using data transforms.

To repeat, simply crop the data. Then delete the crop transform and crop again and delete. Keep repeating and after 2 or three times it will be slow and probably crash.

[2015-11-23 20:40] mathturtle commented on #273
I've seen this before.  I've never actually gotten it to crash (I usually killed it once the transforms were taking 10 minutes each or so).

[2015-11-23 20:42] Hovden opened #274 "Segmentation Icon Confusing"
Right now the segmentation icon is confusing. I'm not sure how it works and why it looks like a calculator. We might want to omit this from the next release.

[2015-11-23 20:45] Hovden opened #275 "Remove Zero Dataset"
The constant dataset and zero dataset are redundant. We can remove the zero dataset and just have the constant dataset.

The constant dataset default value should be zero.

[2015-11-23 20:48] mathturtle commented on #274
Right... when I first put in that module I needed an icon and had no idea what it should look like.... so I borrowed the calculator filter icon from ParaView and then forgot to go back and change it later.

[2015-11-23 20:50] Hovden opened #276 "Reconstruction Progress Update (C++)"
Add a progress bar to the C++ reconstruction code (not python). It will update after each slice of the reconstruction is completed.

[2015-11-23 20:54] Hovden commented on #274
Yeah. Also, I don't understand how to use this tool or if it should be treated differently than the other data transforms. Just need to understand the vision and think about it a little.

[2015-11-23 21:04] Hovden opened #277 "Default Load State"
I found new users that try out the software are lost as to where to start. They just want to see something in 3D and start exploring from there.

I suggest we have a default load state, with a simple isosurface visualization of a small dataset. This might be the star particle and a colorful isosurface.

This should be simple, but one issue to worry about, as tomviz progresses, the state files may

[2015-11-24 01:46] cryos commented on #277
I think we can do that on first load, but we should be careful to make it easy to disable too. You don't want regular users delete the default state every time the application loads, and likely want to offer the option on first load not to show this next time. We already have the sample data to help guide new users, and another option is also popping up a dialog on first load asking if they want t

[2015-11-24 04:38] coldatom commented on #268
Many thanks for the help. I set QT_HELP_GENERATOR using cmake-gui and re-complied the paraview, but the same error messages appeared.

[2015-11-24 14:16] ercius commented on #277
Maybe have a splash screen with options to load a sample dataset and
visualization? Then have a check box that will never show the splash screen
again?

On Mon, Nov 23, 2015, 8:46 PM Marcus D. Hanwell <notifications@github.com>
wrote:

[2015-11-24 14:42] cryos commented on #277
Yes, I think something along those lines would be ideal. Not sure if we can realistically help with shared systems, might need some thought there if we want to help.

[2015-11-24 16:04] mathturtle commented on #268
I borrowed @danlipsa's new Mac this morning and I've tracked down the error.  The issue is that qt4 by default has no database backends and something (qhelpgenerator?) is expecting a sqlite plugin to be installed with qt.  It cannot read some database and is failing to generate the help docs.  Installing a qt sqlite plugin will solve this.  I'm looking for how to do this in homebrew (Dan uses macp

[2015-11-24 16:14] mathturtle commented on #268
With macports, the packages you need are:
qt4-mac
qt4-mac-sqlite3-plugin

[2015-11-24 17:10] yijiang1 commented on #62
#278 works well.
Do we need a button or something that switch back to the initial view (i.e. the entire image)? @ElliotPadgett  Thus it's easier for users to look around and find the best feature for alignment.

[2015-11-24 18:55] ElliotPadgett commented on #62
Yes, zooming back out to the initial view is a requirement.

On Tue, Nov 24, 2015 at 12:10 PM, Yi Jiang <notifications@github.com> wrote:

[2015-11-24 20:42] mathturtle commented on #62
Please try out this new branch where I have added this button

[2015-11-24 20:46] mathturtle commented on #273
It doesn't appear to be a memory leak (at least not on Linux).  I have seen a few crashes while testing it, but I am unable to reproduce them consistently.  It appears to be a memory corruption issue of some sort for the crashes (maybe something to do with crop itself?).  But the slowdown seems to be a separate problem.

[2015-11-24 21:23] mathturtle commented on #273
I figured out the crash.  It was a threading bug.  It has to do with our model of shallow copying the output of a transform into the input vtkImageData.  If you have a large dataset and a fast operation like crop, it is possible for the operation to finish before the histogram building code is done with the dataset.  Then you are shallow copying over something that another thread is using (and del

[2015-11-24 21:25] mathturtle commented on #273
As for the slowness, all of the times I have interrupted the code in the debugger it has been in VTK's garbage collection/destructor code.  I'm not sure why that would take longer the more the program runs though.  Maybe @cryos has an idea?

[2015-11-24 21:27] mathturtle commented on #273
CentralWidget::refreshHistogram is the culprit for the slowness.  All the stack traces pass through there.

[2015-11-24 21:41] cryos commented on #273
We may need to add a QTimer that delays any refresh, and extend the code to be more interrupt friendly if it is being invalidated frequently. It should stay in a background thread, but if it is causing slowdowns enabling it to exit early when the result may not be used would be advantageous.

[2015-11-24 22:10] coldatom commented on #268
I installed qt via macports using
qt4-mac
qt4-mac-sqlite3-plugin

After qt was successfully installed. I typed cmake in the paraview-build directory and
I got this:
-- Found OpenGL: /System/Library/Frameworks/OpenGL.framework
CMake Error at /usr/local/Cellar/cmake/3.4.0/share/cmake/Modules/FindQt4.cmake:1326 (message):
  Found unsuitable Qt version "" from NOTFOUND, this code requires Qt 4.x
Call

[2015-11-24 22:33] mathturtle commented on #268
The issue here is that CMake doesn't know where to find Qt when it is installed via macports.  You need to specify QT_QMAKE_EXECUTABLE to point to the qmake in your new Qt install.

[2015-11-24 23:55] #275 closed

[2015-11-25 00:14] Hovden opened #284 "Default Animation Needs More Frames (200)"
When a user presses play using the default animation, the object frantically spins. The default number of frames is much too low (10) and should be increased. I suggest something at or around 200 frames.

[2015-11-25 04:04] Hovden commented on #62
Works on OSX.

[2015-11-25 04:04] #62 closed

[2015-11-25 15:21] coldatom commented on #268
I installed qt via macports using
qt4-mac
qt4-mac-sqlite3-plugin

I specified QT_QMAKE_EXECUTABLE

It took another 10 hours compiling...

And the same error messages popped out in the end again...

make[2]: *** No rule to make target `/Users/coldatom/Documents/My/ files/Cornell/ PhD/Courses/cpp_project/paraview-build/Applications/ParaView/Documentation/paraview.qch', needed by `Applications/ParaVi

[2015-11-25 16:16] #284 closed

[2015-11-25 17:24] #158 closed

[2015-11-25 17:56] Hovden opened #288 "Add New Matplotlib Colormaps"
Here are the new colormaps used in matplotlib: http://matplotlib.org/1.5.0/users/whats_new.html#new-colormaps

They've been designed by color theorists, a great discussion is given here: https://bids.github.io/colormap/

There are four colormaps released under a CC0 license. I personally like "magma" and "viridis".

[2015-11-25 21:04] Hovden opened #292 "Python Generated Data Crashes"
The "Random Particle" and "Constant Dataset" crashes after a couple uses.

[2015-11-25 22:01] ElliotPadgett commented on #62
This works well, but the buttons are somewhat hidden up at the top.  Can we move them down to be near the other controls?

[2015-11-25 22:06] ElliotPadgett opened #293 "Manual Image Alignment Widget keyboard shortcuts"
Can we put text labels for the keyboard shortcuts in the Manual Alignment Widget next to their respective buttons?  This would make it easier for the user to discover them.

[2015-11-25 22:16] ElliotPadgett commented on #273
I think this is a high priority issue.  The normal use case will be 1024X1024X100 data sets with 5-10 data transforms.  This slowdown is making it practically impossible for me to get through a realistic data set now.

[2015-11-30 18:42] mathturtle commented on #273
@ElliotPadgett I agree.  Is there an older version of tomviz that doesn't have this bug?  I can guess, but if you have any information about when this was introduced please let me know.

[2015-12-02 20:50] #273 closed

[2015-12-02 20:52] mathturtle commented on #221
@yijiang1, you said this was no longer happening?

[2015-12-02 21:07] yijiang1 commented on #221
@mathturtle Correct. The bug in #228 is also fixed somehow.

[2015-12-02 21:22] Hovden commented on #221
Great. Test on the dashboard build and close this issue.

[2015-12-02 21:33] yijiang1 commented on #221
Tested on v0.7.0. The bug no longer happens.

[2015-12-02 21:33] #221 closed

[2015-12-02 21:34] yijiang1 commented on #228
The bug no longer happens in version 0.7.0.

[2015-12-02 21:34] #228 closed

[2015-12-03 18:59] mathturtle commented on #66
I've dug down and found the code in vtkRenderer and vtkCameraInterpolator2 that needs to be changed, but the details of the change need to be discussed with @utkarshayachit who is on vacation until next week since this will affect ParaView as well.

[2015-12-03 19:01] mathturtle commented on #292
This should be fixed now.

[2015-12-03 20:12] ercius opened #299 "2D sobel filter"
The sobel filter in the Data Transforms menu does not do what a user would want. Scipy's sobel is only a 1D filter, but most image analysis should be done in 2D. See attached python script (TXT format) to calculate a 2D sobel filter on a input data set in tomviz.

[2Dsobel.txt](https://github.com/OpenChemistry/tomviz/files/51270/2Dsobel.txt)

[2015-12-03 20:25] ercius commented on #299
Removed a couple of extraneous lines of code. Also, I cast the array to np.float32 before operating to ensure that the values can be stored.
[2Dsobel.txt](https://github.com/OpenChemistry/tomviz/files/51286/2Dsobel.txt)

[2015-12-03 21:18] yijiang1 commented on #299
You are right. "scipy.ndimage.filters.sobel" calculates an approximation of the gradient of the image along a given direction.

Why can't we do this in 3D? You can do this by simply calling
[code]

[2015-12-03 21:50] yijiang1 opened #300 "Dataset disappear in "Recently Opened" menu"
I'm not sure if this is intended, but datasets in "Recently Opened" menu can disappear if users click "Cancel" in the "Configure Reader Parameters" UI.

1. Open a dataset in File->Recently Opened
![screen shot 2015-12-03 at 4 44 01 pm](https://cloud.githubusercontent.com/assets/13088588/11575111/5e2533ea-99dd-11e5-9ff5-0ed2f4e04188.png)

2. Click the "Cancel" button in the "Configure Reader Parame

[2015-12-03 22:04] mathturtle commented on #300
Sounds like a bug to me.  I had noticed files disappearing from the recently opened menu, but I hadn't figured out the pattern.  Usually when I click cancel it is a misclick.  Nice job figuring this out. I'll take a look at it.

[2015-12-03 22:15] mathturtle commented on #288
I have a work in progress branch for this, but I'm going to need to talk to @utkarsh.ayachit when he gets back to figure out the last piece of it.

[2015-12-03 22:30] #300 closed

[2015-12-04 00:11] ercius opened #302 "Manual align wrap around issue"
I completed a manual alignment on a data set with 62 images. I used the 32nd image as a static reference image for all alignments. I started the alignment at image #33. Upon reaching image #62 I pressed "s" to go to the next image, which "wrapped around" to image 1. I thought, "Great feature. Ill keep aligning now starting at image 1." After finishing the alignment I pressed the align data set.

T

[2015-12-04 00:15] ercius commented on #299
There are two different use cases here:

1 use case is to sobel filter the 3D volumetric data set. I think generic_gradient_magnitude will accomplish this. Thanks for mentioning this.

The other use case is to sobel filter each image separately in a tilt series to aid with automated alignment. In this case you want to loop over all projection images and apply a 2D sobel filter to each image then r

[2015-12-04 00:30] ElliotPadgett commented on #302
I think we wanted it to allow you to continue by "wrapping" when you hit the end of the series.  I think this is a bug with generating the aligned data.

I have also had problems with generating the aligned data where I did a full alignment and then hit the generate button and it just copied the original data with no shifts applied.  Perhaps these are related problems.

[2015-12-04 16:07] yijiang1 commented on #299
I've changed the Sobel filter in "Data Transforms" menu to a 3D transform and added the 2D filter to "Tomography" menu.

[2015-12-04 16:29] ercius commented on #299
I think that is a good option. Thanks.

On Fri, Dec 4, 2015, 8:07 AM Yi Jiang <notifications@github.com> wrote:

[2015-12-04 20:31] Hovden opened #306 "Add More Colormap Functionality (Set Extrema)"
There should be a user friendly way in which the user can select the minimum and maximum of the colormap being applied. Right now the user can set these values after clicking an icon and typing values. At our last meeting we discussed a more interactive possibility that is more intuitive to the user.

[2015-12-04 20:34] Hovden commented on #19
@cryos has mentioned a desire to start building with QT5, so I'm marking as 0.8.

[2015-12-05 01:22] ercius opened #308 "Non-orthoganal slice, point on plane issue"
The numbers that show up for the point on the plane do not make intuitive sense. I have a 1024x1024x88 sized array and the "point on the plane" for x maximum is 11604.4386892319.

Also, the point on the plane value could be truncated to 1 - 2 decimal points for easier reading and manipulation.

[2015-12-07 16:59] mathturtle commented on #308
The point on the plane shows the point in a global coordinate system that is not relative to the image.  It would depend on the file format you read the data in from.  Some file formats store metadata about the position and scale of the image in the world coordinate system.  For others that do not have this, tomviz assumes that one corner of the image is at the origin of the world coordinates and

[2015-12-07 17:01] mathturtle commented on #306
This is going to require we pretty much rewrite the color map editor.  I don't think there is a good way to extend the existing one to do this.

[2015-12-07 20:41] cryos commented on #306
It will require a new widget, but there is a fair bit we can reuse from the charting that underlies the color map editor. Not a trivial amount of work, but I think it will be worth it.

[2015-12-07 20:47] ElliotPadgett opened #310 "Make Manual Image Alignment generate python transform"
The manual alignment widget should generate a python transform to shift the data rather than cloning the data and creating a new shifted data set.

The python script should display the shifts that it is applying.

[2015-12-07 20:48] ElliotPadgett commented on #302
@ercius , Actually I think I understand the problem you're having, and it's not related to the wrapping functionality.  When the manual alignment widget makes the aligned data set it leaves the original one open, so as you scroll through slices in the new one it will at some point go "behind" the original one, so it will look like you are just seeing copies of a particular slice.

Do you think tha

[2015-12-07 22:22] yijiang1 opened #311 "Get voxel value"
Is there a way in tomviz to see the value of a particular voxel?

[2015-12-07 22:27] mathturtle commented on #311
Maybe.  We don't expose the ParaView feature I'm thinking of.

It depends how you are specifying the voxel.  Are you interested in the value at an index or the value at a point you can see?  You can select points using the small buttons above the view.  Then in ParaView (not tomviz) you can open a spreadsheet view and show the data for the whole volume or just the selection.  Is that the sort of t

[2015-12-07 22:40] yijiang1 commented on #311
Yeah, sometimes we want to examine values of particular pixels/voxels in order to understand the dataset better.

Do you mean this row of buttons? I can't find one that opens a spreadsheet.
<img width="751" alt="screen shot 2015-12-07 at 5 33 41 pm" src="https://cloud.githubusercontent.com/assets/13088588/11642005/8382a4cc-9d09-11e5-8373-169dc62555b0.png">

[2015-12-07 22:48] mathturtle commented on #311
Yeah, that row of buttons.  You can select the points (they turn purple by default I think).

If you split the view (the buttons on the right in that image) you can open a spreadsheet view as one of the options, but in tomviz there is no way to load the data into it.

[2015-12-08 19:51] ercius commented on #310
I second this suggestion. All alignment functions should do this if posible

[2015-12-08 19:59] ercius commented on #308
It would be useful to know that coordinate system. The metadata from MRC files for example should include the pixel size (in Angstroms), but Im not sure if this is used internally in tomviz. I would assume that the number listed under the "Transformed Dimensions & Range" heading in the data properties window would show if the pixel size is applied. This is not the case for MRC data though.
![image

[2015-12-08 20:01] cryos commented on #308
Yes, I think we need to ensure that we are reading this data from the MRC files, and other formats where practical. We need to take another pass at scale data, units, etc, and make sure we are making the best use of the data (and making it easy to edit/tag when the data is missing).

[2015-12-08 20:04] ercius commented on #302
Yes...you are right. That's embarrassing. Thanks for pointing this out. The function works as expected.

I think that any such future further confusion can be avoided if issue #310 is incorporated into tomviz.

[2015-12-08 20:04] #302 closed

[2015-12-08 20:06] yijiang1 commented on #311
I see. So currently there is no way for users to get voxel values unless they run a python script?

[2015-12-08 20:17] cryos commented on #310
The clone was a temporary crutch we needed in Phase I, and it is time to revisit this now that we have fully function C++ and Python operators. Why must it be translated into Python?

If we are to make it editable I think storing the offset values in C++, and displaying them in the dialog would make far more sense than translating them into an essentially opaque text format. We could offer an expo

[2015-12-08 20:18] cryos commented on #311
That is correct, it will need to be added to our interface.

[2015-12-08 20:35] ercius commented on #310
One reason to have the data transform pipeline is to make it completely transparent to other researchers what you did with the data. Adding the shifts as a python transform would achieve this goal. I think that this is what you mean by: 'I would rather make this an editable operation in the pipeline." To me, it is irrelevant how the shifts are applied (python or C++), but the list of shifts should

[2015-12-08 20:44] cryos commented on #310
Great, that makes it clearer. I totally agree on making the list of shifts transparent, and I think that would be better achieved in a slightly different way. We could then make sure it is stored more clearly in the XML state file as a list of shifts for each slice. Translating that to Python (or other languages) would be far easier, and reusing it in the C++ code would also  be simpler.

[2015-12-08 20:55] mathturtle commented on #308
I know we are reading this data from MRC files.  I remember writing that code.  Assuming I understood the file format specification, we have the metadata.  I agree with @cryos that we should display this better and rework the UI.

@ercius The "Transformed Dimensions and Rage" shows the resulting dimensions after transforms such as downsample, crop, etc. have been applied.  If you have not used tra

[2015-12-08 21:55] yijiang1 opened #316 "Copy tilt angles when cloning datasets"
When users clone a dataset that's marked as tilt series, tomviz should always carry the tilt angles to new dataset.

Right now, this happens only if users choose the "Transformed data only" option. However, it should do the same for "Original data only" and "Original data with transformations". This may be related to #257

We should treat tilt angles as an intrinsic property of the dataset instead

[2015-12-08 21:58] #292 closed

[2015-12-08 22:06] mathturtle commented on #316
This is related to #257.  Same issue.  Tilt angles can be a property of the dataset if no transforms have been applied yet.  But what about cases like your 'Generate Tilt Series' transform where a transform converts between the two types?  If you clone the original dataset those tilt angles should not be cloned.  Or if we ever have transforms that modify the original data's tilt angles...

[2015-12-08 22:34] yijiang1 commented on #316
Eventually, we want to automatically clone the result whenever a transform changes data's type (volume->tilt series for 'Generate Tilt Series' or tilt series->volume for all reconstruction functions).
We need some python utility functions for accomplishing this.

Good point! In such cases can we at least copy the tilt angles of the original data?

[2015-12-09 00:27] ercius commented on #310
@ElliotPadgett I hope this is what you had in mind as well. Chime in if you have a different view!

[2015-12-09 00:29] ercius commented on #308
@mathturtle Good to know. Thanks!

[2015-12-09 17:42] Hovden opened #318 "Improve Documentation (Visualization Introduction)"
Need documentation to lower barrier to running tomviz and creating basic visualizations.

[2015-12-10 14:58] mathturtle commented on #66
I have a ParaView branch [here](https://gitlab.kitware.com/paraview/paraview/merge_requests/514) that addresses this (at least for this specific case).

[2015-12-10 15:02] mathturtle commented on #288
The branch for this is merged... I also have a ParaView branch to add these upstream.  We'll have to take them out when that is merged (or we can have duplicates...)

[2015-12-10 15:45] mathturtle commented on #316
What do you think of this?  I'll add a checkbox to the 'Set Tilt Angles' dialog that is on by default for 'Apply to Original Data'.  If the user unselects this the current behavior is used, but if it is selected the tilt angles will be applied to the original data as well.  (Applying them to the original data will also preserve them when a transform is deleted).

[2015-12-10 15:55] mathturtle commented on #310
So is there a consensus here?  I think the summary is: make align a C++ operator and have the dialog show the offsets.  Is that right?

[2015-12-10 15:56] mathturtle commented on #306
If I'm going to be writing a new widget for this, can we get a list of all the things we would like it to do and iterate a bit on the general design before I jump into working on it?

[2015-12-10 16:14] yijiang1 commented on #316
Sounds good to me. However, I still think users always want to copy tilt angles when cloning a tilt series.
What's your opinion? @Hovden

[2015-12-10 16:21] cryos commented on #310
Yes, and we can add translation of this data to Python/XML/other types as and when required. The dialog should continue as it is, but reload the offsets previously applied if the user edits the operation.

[2015-12-10 16:22] cryos commented on #306
Yes, but not today. There are lots of other things to do first anyway.

[2015-12-10 16:32] ElliotPadgett commented on #310
My one comment is that it would be more flexible if the shifts are associated with a particular transform rather than just having a single list with shifts for each image in the data set.  That way if I wanted to align, then do something like rotate the data, and then apply a second set of shifts to fine-tune (occasionally I want to do this) I can do it.  I'm not sure which way you were thinking o

[2015-12-10 16:36] cryos commented on #310
If this becomes an operation, as stated above, then what you suggest should be possible. You can apply many of the same operation if you wish, and they will be applied in a linear sequence from start to finish.

[2015-12-10 16:56] mathturtle commented on #311
I've been looking at ParaView's Plot Over Line filter to see if we can pull it in to do something like this.  Putting notes here:  Essentially we should be able to use this filter... but we will want to replace the widget used to select the line of interest with one that only selects a subset of our dataset and has options to lock the line parallel to each axis while keeping the ends of the line a

[2015-12-11 14:51] cryos commented on #247
They should be perfect as we can build those APIs using an FFTW backend. We should ensure these are accessible, and can be used.

[2015-12-11 15:20] mathturtle commented on #247
I'm halfway through updating the ITK binaries we use to turn on the FFTW-based modules.  Windows is done (I did that at the same time I fixed FFTW for windows).  I have the binaries built for the other platforms, but the superbuild doesn't use the new ones yet.

[2015-12-11 19:59] mathturtle commented on #114
So to be clear: Is what we want this slider in the view properties or for the interactor style when that button says 2D to allow 3D rotation?   Do we want to relabel that button (I'm not sure ParaView exposes this)?

[2015-12-11 20:11] mathturtle commented on #222
Ok, it is there... We want to expose it more.  Where does this go?  Menu item?  Button in the toolbars?  I don't think we can edit the buttons directly above the view...

[2015-12-11 20:34] cryos commented on #114
In the first instance I want to expose the the tick box for "Camera Parallel Projection", but we should have two entries in the view menu for view mode - perspective and orthographic is what I am used to seeing (and what many other applications use).

[2015-12-11 20:38] cryos commented on #114
It is in the view menu, but the same as the axes visibility - hidden, and using terms that aren't as easily recognized.

[2015-12-11 21:36] mathturtle commented on #114
Notes to self (can't think of anywhere else to put this): You can disable all of the little buttons above the view by putting `<StandardViewFrameActions default_actions="none" />` in the Hints for the view proxy.  We'd have to override the default view.

[2015-12-14 17:54] yijiang1 commented on #299
Tested well on binaries.

[2015-12-14 17:54] #299 closed

[2015-12-14 19:33] mathturtle commented on #268
It looks like homebrew may have updated their formula for qt4 on el capitan.  I was just able to build ParaView fine with their qt4, but a few weeks ago, when I last worked on this I got the error above.

[2015-12-14 21:40] Hovden commented on #268
Having trouble finding cmake-gui using brew installation. It was straightforward using port.

[2015-12-15 15:11] mathturtle commented on #241
So a transform that converted the data to an image of floats would work for this?

[2015-12-17 21:38] #316 closed

[2015-12-17 21:38] #257 closed

[2015-12-17 21:45] mathturtle commented on #38
Progress on this: I have a branch that lets you grab *some* representations of datasets and drag the datasets around.  I'm not getting mouse motion events yet though.  It updates when you release the button.  But there are issues with picking that make this very difficult to use.

* Using ParaView's picking neither the orthogonal slice nor the volume rendering can be selected.  And our non-ortho s

[2015-12-17 22:28] mathturtle commented on #38
Waiting on this ParaView bug too for translating slice representations: http://www.paraview.org/Bug/view.php?id=15891

[2015-12-17 22:29] mathturtle commented on #38
ParaView bug filed for slice representation refusing to translate:
http://www.paraview.org/Bug/view.php?id=15891

[2015-12-18 15:20] Hovden opened #323 "Apple Certification / Trusted Application"
It is time to start thinking about Apple Certification so tomviz can be treated as a trusted application. Right now the right click open thing is throwing off some users.

[2015-12-18 15:26] Hovden opened #324 "Properties Panel too slim on first launch."
The properties panel is too slim when the application is first launched. Since this is how the application appears to first time users, we should fix it (just make it wider).

<img width="932" alt="screen shot 2015-12-18 at 10 24 38 am" src="https://cloud.githubusercontent.com/assets/6197997/11900094/9883afa4-a571-11e5-9e43-d4fb667b9f49.png">

[2015-12-19 02:02] cryos commented on #323
We have been discussing this internally, and I will see what we can do about getting this fixed. This is an issue largely created by Apple, it will likely make the release process more difficult. I am attaching it to the next release, I think we should solve it before making another release.

[2015-12-19 02:04] cryos commented on #38
Thanks for the updates on issues, we will need to figure out how to support volume picking.

[2015-12-30 21:51] #114 closed

[2015-12-30 21:53] #310 closed

[2015-12-30 21:53] #241 closed

[2015-12-31 05:01] yijiang1 opened #328 "Fail to build after merging #327 and #320"
Tomviz can not be built after merging both #320 and #327
See inline comment in #327.

[2015-12-31 19:15] #328 closed

[2015-12-31 21:29] yijiang1 opened #330 "Unable to launch Tomviz"
I'm having trouble launching tomviz, both the build version and the binary version (from dashboards).
Sometime I'm able to open tomviz but it crashes when I mouse over the menus.

@Hovden @ElliotPadgett Can you download the latest binary version and see if you have the same issue? It may be my own computer's fault (for example, my paraview is outdated?) If not, I guess the bug is probably introduc

[2015-12-31 23:39] Hovden commented on #330
Yes. tomviz crashing 75% of the time at launch (Mac OSX). This was not happening on the previous build.

[2016-01-04 16:49] cryos commented on #330
I see that here with the latest master, looking into it now and should hopefully have a patch ready soon. I didn't test #321 as it looked reasonable and I thought @mathturtle had tested it already. In my initial backtrace I see tomviz::ViewMenuManager, so it looks like it may be something with that branch as @yijiang1 said.

[2016-01-04 18:04] #330 closed

[2016-01-06 14:58] Hovden opened #333 "Translation alignment tool not modifiable in the data processing pipeline."
After alignments have been made and they are set into the data pipeline, the user cannot modify them. Users should be able to double click on the alignment in the pipeline and modify the shifts.

[2016-01-06 15:18] cryos commented on #333
Agreed, I know we talked about making this possible already, we will prioritize this feature.

[2016-01-06 16:32] mathturtle commented on #333
This worked when I pushed the branch... But it conflicted with my other
branch where I added the `hasCustomUI()` function to Operator.  You just
defaulted the `Operator::hasCustomUI()` to false.  But if you override it
to return true on the `TranslationAlignOperator`, this will work.

[2016-01-06 18:47] yijiang1 commented on #268
Can tomviz be built on El Capitan now? I need to upgrade my system to run some other applications.

[2016-01-06 18:51] cquammen commented on #268
I just built it on a Mac with El Capitan without problem. I am using homebrew's qt4.

[2016-01-06 19:08] cryos commented on #333
Fixed, we should try to be mindful of conflicts like this. If you are developing both branches, as in this case, just make the second depend on the first (or hold off on submitting the dependent until the parent is merged). I spotted what looked like a bug with parenting too, although in my testing it made no difference.

[2016-01-08 00:36] yijiang1 commented on #268
I reinstalled qt4 but got this error when I try to make tomviz:

[  1%] Built target tomviz_automoc
make[2]: *** No rule to make target `/opt/local/lib/libQtGui.dylib', needed by `lib/libtomvizExtensions.dylib'.  Stop.
make[1]: *** [tomviz/pvextensions/CMakeFiles/tomvizExtensions.dir/all] Error 2
make: *** [all] Error 2

[2016-01-08 00:46] mathturtle commented on #268
@yijiang, Did your qt4 install into exactly the same place?  If not, you
should probably rerun cmake to build tomviz without CMake's knowledge of
the system being polluted.  Since you upgraded your system, I'd recommend
deleting all your build trees and recompiling since things probably
moved/changed during the upgrade.

Shawn

[2016-01-08 04:41] yijiang1 commented on #268
I don't think so. I just did "brew install qt"
How can I delete my build trees?

[2016-01-08 16:44] mathturtle commented on #268
Open a terminal, go to the tomviz build directory for your tomviz build and
run `rm -rf *`.  You will have to reconfigure with CMake, but cmake should
get the correct variables for the current system.  You should do this in
the ParaView build tree as well, (and anywhere else that you built
something locally).

Shawn

[2016-01-08 17:48] cryos commented on #268
Just a quick heads up - I will be porting to Qt 5 in the coming days, and you will need to rebuild ParaView/tomviz against Qt 5. This should work much better on the Mac, but will be somewhat disruptive in rebuilding two code bases.

[2016-01-08 18:35] yijiang1 commented on #268
I'm rebuilding everything by following the instructions here: https://github.com/OpenChemistry/tomviz/blob/master/BUILDING.md

When I run
cmake -DCMAKE_BUILD_TYPE:STRING=RelWithDebInfo \
  -DPARAVIEW_ENABLE_CATALYST:BOOL=OFF \
  -DPARAVIEW_ENABLE_PYTHON:BOOL=ON \
  -DVTK_RENDERING_BACKEND:STRING=OpenGL2 \
  -DVTK_SMP_IMPLEMENTATION_TYPE:STRING=TBB \
  -DPARAVIEW_ENABLE_WEB:BOOL=OFF \
  ../paraview

[2016-01-08 18:40] mathturtle commented on #268
You don't *realy* need it.  It just makes the contour about 15x faster.
To turn it off, remove the `-DVTK_SMP_IMPLEMENTATION_TYPE:STRING=TBB \'
from your cmake line (you may have to clean the build directory, I don't
know how much state CMake is saving).  As for where to find it, look in the
tomviz/superbuild's versions.cmake file (in the root of the project) and
search for tbb.  It should give yo

[2016-01-08 18:43] cryos commented on #268
You could simply look at Intel's site, https://www.threadingbuildingblocks.org/ and they offer downloads, I can add a link to the build instructions. On Linux it will usually be in your package manager, it may be in brew (not on a Mac right now). I think you will generally want it, but as Shawn said it will work without it.

[2016-01-08 18:43] cquammen commented on #268
On Mac, it is indeed available in homebrew.

[2016-01-08 18:46] Hovden commented on #268
Can we add this download to the build instructions?

Somewhat related topic: I've been having a lot of problems building since
upgrading to El Capitan. My entire macports broke. So, I've switched to
Brew since it seems more popular among those at Kitware. However, I'm
having trouble getting cmake-gui.

On Fri, Jan 8, 2016 at 1:40 PM, Shawn Waldon <notifications@github.com>
wrote:

[2016-01-08 18:52] cquammen commented on #268
I use the regular Mac download of CMake (along with it's GUI) to configure ParaView and tomviz.

[2016-01-08 18:52] yijiang1 commented on #268
@Hovden

There is a macports specifically for El Capitan. I don't know how to install cmake-gui using homebrew, but you can do it using macport.

[2016-01-08 18:54] #333 closed

[2016-01-31 08:26] linsheng opened #341 "Error occurred when compile Tomviz using Visual Studio"
Hi,

We're trying to build Tomviz from source code on windows. We have successfully built ParaView 5.0.0 with VS 2010. Then we compile Tomviz 7.0 and got this error.

[code]

Then we updated VS2013, but another error occurred:

[code]

Any suggestion on how to resolve this issue?

Thanks,

Lin Sheng

[2016-02-01 14:56] mathturtle commented on #341
Hmm. I haven't seen that error before.  I have built ParaView 5.0 with VS2013 and built tomviz against it without errors.  Is this error happening when you are building ParaView or tomviz?  If it is building tomviz, then you have to rebuild ParaView with VS2013.  Unfortunately due to some of Microsoft's design decisions you can't link C++ code built with one version of Visual Studio to C++ code bu

[2016-02-01 15:42] cryos commented on #341
I will update the build instructions to make this clearer on Windows, and we will hopefully get support for VS2015 in the near future too. As pointed out you must build all deps with the same version of Visual Studio. It looks like your ParaView build/source tree is bad, I would suggest making a clean build and source tree - vtkPVServerManagerApplication is one of the core ParaView libraries.

[2016-02-02 15:01] linsheng commented on #341
Hi mathturtle & cryos, thanks for the reply. What we're trying to do is to build the laster stable version (0.7.2) on windows using Visual Studio but we got different kinds of errors. There're several things we're still not very clear:

1. When build Tomviz 0.7.2, which version of Paraview should we use?
2. Which version of VS do you recommend?
3. How about the version of Qt? In building document,

[2016-02-02 17:01] cryos commented on #341
I didn't realize the ParaView documentation said that. We are building/testing our stack with MSVC 2013, including ParaView. If you look at https://open.cdash.org/index.php?project=TomViz&date=2016-02-01 you can see a build on praxis using our superbuild (https://github.com/OpenChemistry/tomviz-superbuild) to build on Windows, and that will also take care of building Qt with MSVC 2013 as far as I

[2016-02-03 18:30] mathturtle commented on #341
I didn't realize the ParaView docs said that either.  I have been building Qt4 from source with VS2013 on windows for our binaries and my local builds.  I can walk you through how to do this if you want.

@cryos Since we merged the Qt5 changes, the superbuild will not build Qt on Windows.

@linsheng To follow @cryos's suggestion about using the superbuild you will have to check out the version of

[2016-02-03 18:40] cryos commented on #341
That is a good point, we should tag the superbuild, and force that tag to a specific tomviz tag. We can certainly dig out the relevant SHA for the superbuild.

[2016-02-03 23:35] Hovden opened #342 "Direct fourier recon not working"
Reconstruction of the sample data for direct fourier is not working.

[2016-02-04 03:08] yijiang1 commented on #342
It works on my desktop (stable release 0.7.2, windows).
Could you be more specific about your problem?

[2016-02-04 16:54] Hovden commented on #342
Sorry about the lack of description. I posted this when demoing the software yesterday. Now, I can't reproduce the problem, but the slices were appearing the exact same in the reconstructed volume. Not sure what was happening.

[2016-02-04 16:54] #342 closed

[2016-02-04 17:31] yijiang1 commented on #342
Yeah I've never seen this problem before.

If you set all tilt angles to zero, you can get a summation of all the tilt images.

[2016-02-05 03:30] linsheng commented on #341
We tried using Tomviz's superbuild and VS2013 to build the project. We get following errors:

[code]

We have changed GIT_TAG to 'v0.7.2' in versions.cmake. Any suggestion?

[2016-02-05 14:53] mathturtle commented on #341
Two possibilities come to mind:
1) What version of the superbuild are you using?  The most recent won't work.  I think you want this commit: `010a8ebeed1a61ff524f56bdbe43c7626da06911`
2) On Windows you have to set CMAKE_BUILD_TYPE to Release for the superbuild to work well.  Some of the precompiled things it uses only come built in Release mode and on Windows you can't link between the two.

[2016-02-11 15:01] #288 closed

[2016-02-11 15:02] #222 closed

[2016-02-11 15:02] #66 closed

[2016-02-11 16:13] yijiang1 opened #344 "Error when building tomviz with qt5 on Mac"
I'm getting the following errors when I build latest tomviz. I seems that tomviz is not compatible with my qt5?

[  1%] Automatic moc for target tomviz
[  1%] Built target tomviz_automoc
[  8%] Built target tomvizExtensions
[ 10%] Building CXX object tomviz/CMakeFiles/tomviz.dir/ActiveObjects.cxx.o
In file included from /Users/yijiang/Visualization/tomviz/tomviz/ActiveObjects.cxx:16:
In file inclu

[2016-02-11 16:14] cquammen commented on #344
I suspect your build is pulling in header files from a Qt4 installation. I had similar errors when I had Qt4 installed in the same location as TBB. Can you confirm which version of Qt you have in /usr/local/include?

[2016-02-11 16:25] yijiang1 commented on #344
I have a bunch of qt-related folders in my /usr/local/include directory:
<img width="528" alt="screen shot 2016-02-11 at 11 23 39 am" src="https://cloud.githubusercontent.com/assets/13088588/12982235/f1625ef2-d0b1-11e5-9832-bc567d58423a.png">

How can I check the version of Qt?

[2016-02-11 16:26] cquammen commented on #344
Before you check the version, which Qt are you trying to build against? The one in /usr/local or the one in /opt/local?

[2016-02-11 16:29] yijiang1 commented on #344
In /opt/local.
<img width="714" alt="screen shot 2016-02-11 at 11 29 28 am" src="https://cloud.githubusercontent.com/assets/13088588/12982437/bf9b6052-d0b2-11e5-866f-414f8a6abdef.png">

[2016-02-11 16:35] cquammen commented on #344
Okay. So the problem is indeed that the header files from the other Qt installation are getting picked up during compilation. The easiest way to remedy this is to get rid of the installation in /usr/local/. If you installed the Qt in /usr/local with a package manager, you should be able to remove it with the same package manager. Otherwise, you will need to manually remove it.

If you cannot remov

[2016-02-11 16:39] cryos commented on #344
We should try to get the Qt search paths in earlier, I will take a quick look at this too. It would be nice to make it more robust.

[2016-02-11 16:41] cquammen commented on #344
Indeed. Qt doesn't help much by not versioning their installation directories.

[2016-02-11 16:55] yijiang1 commented on #344
I use homebrew to uninstall the old qt4 and now I'm able to build tomviz successfully.
Problem sovled! Thanks @cquammen

[2016-02-11 16:55] #344 closed

[2016-02-11 16:57] cquammen commented on #344
Three cheers!

[2016-02-11 17:34] yijiang1 opened #345 "Can't import vtk.numpy_interface.dataset_adapter in utils.py"
I'm getting "ImportError: No module named vtk.numpy_interface.dataset_adapter" when I try to do any python transform.

[2016-02-11 22:37] cquammen commented on #345
Could you do the following to help debug this:

Tools menu -> Python Console
In the console, type

`import sys`
`print(sys.path)`

Please report what it says.

[2016-02-11 22:41] yijiang1 commented on #345
<img width="802" alt="screen shot 2016-02-11 at 5 40 59 pm" src="https://cloud.githubusercontent.com/assets/13088588/12993172/a55b4b24-d0e6-11e5-9bc3-9d56cd85172c.png">

[2016-02-11 22:44] cquammen commented on #345
Did you build ParaView with PARAVIEW_ENABLE_PYTHON set to ON?

[2016-02-11 22:53] yijiang1 commented on #345
Yes.

[2016-02-12 15:09] cquammen commented on #345
Hmm, it's odd that none of the ParaView build directories show up in the path. I'll have to think of why that isn't happening.

As a workaround for now, in your terminal window, you can try setting

`export PYTHONPATH=/Users/yijiang/Visualization/paraview-build/lib/site-packages:/Users/yijiang/Visualization/paraview-build/lib/`

modifying the path above to point to your paraview build directory. T

[2016-02-12 15:58] yijiang1 commented on #345
Yeah, adding the path manually fixed my problem.

[2016-02-12 15:58] #345 closed

[2016-02-12 15:58] cquammen commented on #345
You shouldn't have to do that, so I wouldn't consider this fixed just yet :-)

[2016-02-12 18:32] yijiang1 opened #348 "Error when dragging the mouse after a right-click"
1. Load a dataset.
2. Right-click the background, you should see the "Set Background Color" option.
3. Now left-click the background, and drag it.
4. Then this error message pops up:
 QNSView mouseDragged: Internal mouse button tracking invalid (missing Qt::LeftButton) (:0, )

[2016-02-12 18:58] cryos commented on #348
Are you on El Capitan? This looks like a Qt bug, many will be addressed in Qt 5.6.0.

[2016-02-12 19:39] yijiang1 commented on #348
Yes I'm on El Capitan.

[2016-02-16 12:11] luzpaz commented on #348
@cryos where is it indicated that it will be fixed in Qt5.6 ?
(ref: https://bugreports.qt.io/browse/QTBUG-42846)

[2016-02-16 15:39] cquammen commented on #348
Confirmed that this still exists in Qt 5.6 branch from Qt repo.

Maybe some votes on the issue would help encourage a resolution.

This message should not affect interaction. It would be nice to be able to filter out this message, however.

[2016-02-19 01:39] cryos commented on #348
@luzpaz you are right, sorry for any confusion. Voted and watched the issue you linked to, this is very unfortunate. We should filter the message to avoid causing concern needlessly, it seems the list of issues with El Capitan and Qt 5 is growing...

[2016-02-19 01:40] cryos commented on #348
@cquammen can you look into filtering this please, I will assign it to you for now.

[2016-02-19 02:05] cquammen commented on #348
Sure, I will take a look.

[2016-02-23 08:45] linsheng commented on #341
@mathturtle, we checked out commit `010a8ebeed1a61ff524f56bdbe43c7626da06911` and set `CMAKE_BUILD_TYPE` to `Release`. The errors we got are:

[code]

It seems that we need to set the right target. Any suggestions?

[2016-02-23 14:26] mathturtle commented on #341
I haven't seem that one before.  Which CMake generator did you use?  There are separate generators for 32 bit and 64 bit Visual Studio and the error seems to indicate an issue with 32bit/64bit-ness of files.

[2016-02-23 19:11] ercius opened #350 "3D mouse support"
Anyone know if Tomviz supports equipment like the [3D mouse from 3DConnexxion](http://www.3dconnexion.com/products/spacemouse/spacenavigator.html)? It looks like an interesting way to interact with visualizations.

I found [this](http://www.vtk.org/Wiki/VTK/3DConnexion_Devices_Support) in VTK's wiki, but Im not sure if it made it into Tomviz.

[2016-02-23 19:29] mathturtle commented on #350
We don't have support at the moment (that I know of).  But I believe there is a ParaView plugin that has support for alternative input devices like this.  I don't know how much work it would be to incorporate that into tomviz.

[2016-02-23 20:34] cquammen commented on #350
SpaceNavigator support is indeed available in ParaView with the VR plugin enabled (I added it). However, it would take some work to make it work seamlessly so that you can just plug in the SpaceNavigator. On linux, root access is usually required to access connect to USB devices, so it's not always that easy. But on Mac and Windows it works fairly nicely.

[2016-02-24 01:56] Hovden commented on #350
I'll just also throw this into the discussion. Licensing might be the biggest setback though.
https://www.leapmotion.com/

Not sure these add a lot to analysis, but they add a lot to the showmanship and outreach aspect of tomviz and electron tomography.

[2016-02-24 03:00] yijiang1 commented on #350
I own a leap motion controller and it has no advantage whatsoever compare with a normal mouse.

[2016-02-24 14:00] cryos commented on #350
On most Linux distributions they have fixed the permission issue using device IDs and mapping to group permissions, this shouldn't be a major issue. You may need to add a file identifying the device, but that is more a local issue. We could take a look at the VR plugin as it supports a number of devices that our user base might be interested in, not sure what the dependencies/packaging looks like

[2016-02-24 14:02] cquammen commented on #350
Oh, that's great that the permission issues have been addressed!

Checking my Mac binary installed from paraview.org, no, the VR plugin does not ship with it. VRPN is easy to build, though, so it likely wouldn't be too hard to ship it with tomviz.

[2016-02-24 23:28] Hovden commented on #350
If it is easy, I would love to try out the 3D mouse suggested by Peter. I'll order one.

[2016-02-25 04:29] ercius commented on #350
I was going to order one too. Let me know if it works and how you like it!

On Wed, Feb 24, 2016 at 3:29 PM Robert Hovden <notifications@github.com>
wrote:

[2016-02-25 14:38] Hovden opened #351 "Panels no longer moveable (or too glitchy to use)"
Once a panel, such as the properties panel, has been popped out as a separate window I cannot figure out how to return it to the main panel. The behavior has changed from previous builds—presumably a qt5 issue.

[2016-02-25 14:59] cryos commented on #351
This seems to behave as I would expect on Linux, assuming this is Mac, I will take a look there.

[2016-02-25 15:00] Hovden commented on #351
Ok, I reloaded the app and it is more responsive. Not sure what is going on. I will try and pin down the diagnoses.

[2016-02-25 15:17] cryos commented on #324
This should be fixed with #349

[2016-02-25 15:17] #324 closed

[2016-03-04 17:25] Hovden commented on #350
@ercius I tested the 3D mouse without the VR plugin. It works out of the box as an interactive mouse and it can be used to control tomviz. You have to click on and hold on the object to rotate the object (this can be done with a button on the mouse). Although it's scientific motivation is weak, it's definitely an appealing way to demo the tool and marginally better than a mouse. If the user did no

[2016-03-04 20:50] ercius commented on #350
I just bought one to try it out as well based on this feedback. It might be an intuitive way for users unfamiliar with 3D navigation to look at their data. Ill have to try it out, but using the rotation to rotate the object along the "most vertical" direction would be useful.

I will get back to you on how this might work for novices (and experts).

[2016-03-10 18:43] cryos commented on #38
We should get a better icon for this.

[2016-03-22 14:10] mathturtle commented on #293
@ElliotPadgett Have you tried this in the latest release (0.7.2)?  I added these labels a while back and I think the change made it into that release.

[2016-03-22 15:24] mathturtle commented on #270
As I mentioned, this is not going to really be reliable until we redo the animation UI to make it less ParaView centric.  Right now it is animating the ParaView proxies directly.  These have no link to their tomviz module and do not have names that can be reliably linked to their tomviz module.

I'm going to try adding a query method to the module 'Are you responsible for this proxy?'.  That might

[2016-03-22 15:33] cquammen commented on #44
Here is the current implementation that enables one to change the opacity function.

![image](https://cloud.githubusercontent.com/assets/360056/13957083/856d72ba-f021-11e5-99bd-83767884119a.png)

I would appreciate your feedback.

Will you want to be able to set colors in the color map?

[2016-03-22 20:12] cquammen commented on #44
What do you think of the editor on the top, @Hovden?

[2016-03-23 02:00] Hovden commented on #293
Looks ok.

[2016-03-23 02:00] #293 closed

[2016-03-23 02:41] Hovden commented on #44
I've been having trouble building paraview since tomviz moved up to Qt5. The cmake files do not know how to locate my local Qt5: " By not providing "FindQt5.cmake" in CMAKE_MODULE_PATH this project has
  asked CMake to find a package configuration file provided by "Qt5", but CMake did not find one."

Working to resolve this issue so I can test your contribution to the histogram panel.

[2016-03-23 02:52] cquammen commented on #44
With Qt4, you would point to your qmake executable and all the other CMake variables would be filled in.

With Qt5, you need to set a couple variables:

`Qt5_DIR`
`Qt5Core_DIR`

On my Mac, `Qt5_DIR` is set to `/Users/cory.quammen/bin/qt5.6/lib/cmake/Qt5` and `Qt5Core_DIR` is set to `/Users/cory.quammen/bin/qt5.6/lib/cmake/Qt5Core`

[2016-03-23 02:52] cquammen commented on #44
Once you set these CMake variables, the other should be filled in automatically.

[2016-03-23 03:01] Hovden commented on #44
There are a lot of .cmake files in the Paraview build directory. In which one should these qt5 variables be set?

[2016-03-23 03:06] cquammen commented on #44
These variables should be set in CMake during configuration, not in any .cmake files in the build directory. I'm not sure how you configure the build with CMake - if you use cmake at the command line and pass it variables on the command line, or if you use cmake-gui or ccmake to set the variables through a UI. However you specified the ParaView_DIR directory is how you should specify the Qt5 varia

[2016-03-23 15:41] Hovden commented on #44
I see. cmake-gui doesn't install with brew, but I can use ccmake, however the location of the correct qt5 sub-directories are not as transparent for my Brew install (I think they are located somewhere in /usr/local/Cellar/qt5/5.6.0/ ).

I can tinker with this more, but to give immediate feedback based on the screenshot:
The opacity curve editor overlayed with the histogram is a smart approach. Doe

[2016-03-23 15:46] cquammen commented on #44
Indeed, look under /usr/local/Cellar/qt5/5.6.0/lib/cmake. You should have Qt5, Qt5Core, etc. directories under there.

Yes, the opacity function is unique to each color map, so you may have separate opacity functions for each object. It is really just another view/interface to the opacity function displayed in the "Mapping Data" section in the Properties panel.

I am going to work on color editing

[2016-03-23 20:02] #250 closed

[2016-03-24 03:01] cquammen commented on #44
Pull request #356

[2016-03-24 15:40] cquammen commented on #348
This issue does not seem to have any associated usability issues. I have put in a merge request in ParaView to suppress this warning message.

https://gitlab.kitware.com/paraview/paraview/merge_requests/700

[2016-03-25 14:06] cquammen commented on #348
Unfortunately, the official binary release of Qt 5.5.0 on Mac OS X still reports this warning. The ParaView topic mentioned above will suppress it, though.

[2016-03-25 14:32] cquammen commented on #348
The ParaView topic that filters out these messages has been merged. This issue will go away when the ParaView version is moved to current master or newer.

[2016-03-25 14:32] #348 closed

[2016-03-25 17:10] cquammen commented on #44
@cryos Should we close this issue since the PR was merged? Or wait for additional feedback?

[2016-03-25 17:46] cryos commented on #44
No, we can close it and open fresh issues if there is a need for further improvements.

[2016-03-25 17:46] #44 closed

[2016-03-30 20:30] mathturtle commented on #38
We have a better icon now.  Can we close this now or are there other things to fix?  I know the "don't require the datasource to be selected" is still outstanding.

[2016-03-30 20:32] mathturtle commented on #19
Can someone test this with the new nightly binaries?  We are on Qt 5.6 now, but I don't have a retina display to test with.  Is there some Qt config thing we need to enable or should this just work?  @Hovden @cryos @cquammen

[2016-03-30 20:36] mathturtle commented on #247
So the ITK we have is built with FFTW support now.  We can probably just start requiring ITK in the tomviz build and use that module from ITK directly.  This will make it more difficult to get a new (non-superbuild) tomviz build set up though.

[2016-03-30 20:58] mathturtle commented on #44
If you move/click on a color/opacity control point in the new histogram/colormap editor, then one of the control points will stay selected from then until the program closes.  Click outside the widget? Nope, it's still pink.  Delete the control point?  One of the others is now selected.  Should this be a new issue or is this expected?  The built-in PV one seems to work similarly but it only has on

[2016-03-31 02:58] cryos commented on #38
I would like to keep this open to track that outstanding tweak, ideally this should be finished before the release is tagged.

[2016-03-31 03:01] cryos commented on #19
Moving to Qt 5.6 is the first step, we need 2x versions of all icon assets, this is for Tomviz and ParaView icon assets. I think there were some code updates, I can go back to what we did in another project, but until the 2x icons are available the code changes will not do much. Google Qt 5 retinal display - their docs are pretty good.

[2016-03-31 15:38] Hovden opened #358 "Full screen mode has cosmetic glitch (OSX)"
The screen grab shows a repeatable cosmetic glitch when going full screen (OSX)
<img width="1680" alt="screen shot 2016-03-31 at 11 35 49 am" src="https://cloud.githubusercontent.com/assets/6197997/14181440/e0363370-f734-11e5-9bed-39ad9189b87c.png">

[2016-03-31 15:41] Hovden commented on #358
I assume this is the same as issue #101. If it's too similar, we can close this.

[2016-03-31 15:51] mathturtle commented on #358
Confirmed.  I've seen this in non-fullscreen, but never reproducibly.  I'd mentioned seeing it in OpenChemistry/tomviz-superbuild#101, but since we couldn't reproduce reliably we were ignoring it for now.  But switching the application to fullscreen does seem to have this glitch every time.

[2016-04-01 23:39] ercius commented on #350
@Hovden I have spent some time with the mouse and I have found it useful. I mostly tested it out in Avizo (hsssss) because it has better support. I was not able to try it in Tomviz since I don't have the VR plugin eanbled.

When looking at a complex object and trying to make 3D measurements I found the mouse very useful because I could position the measurement tool while rotating the object. Usual

[2016-04-02 02:08] cryos commented on #350
Thanks for testing this out and providing some feedback @ercius, I will see what we can do about getting this enabled/packaged in our binaries for you. I am afraid it may not make the next release, I will see if I can obtain one to do some testing locally too.

[2016-04-03 18:45] cquammen commented on #44
If we really need the points to be unselected, I could probably make it so. As long as it doesn't cause problems, I'm inclined to leave the behavior as it is.

[2016-04-03 22:30] #270 closed

[2016-04-07 01:28] cquammen commented on #247
In ITK, there are two FFT backends, the optional FFTW backend you have been discussing, and the VNL FFT implementation. VNL has favorable licensing, but its FFT implementation is much slower than FFTW.

If an FFT is needed in a C++ module, then it should be no problem to link against the FFT library functions. Do we need the FFT library exposed in Python? If so, the FFT functions in Python-wrapped

[2016-04-07 13:27] mathturtle commented on #247
@cquammen,
@yijiang1 was writing a C++ reconstruction algorithm and wanted an FFT library to call from C++.  We were already providing PyFFTW in the binaries, but it could only be called from python.  So I just changed the builds so that ITK also builds against the FFTW implementation that is a part of those.  This has been done for a while and noone is using it.  I don't know enough about what he

[2016-04-07 13:42] cquammen commented on #247
Oops, should have read the title again. Looks like there is a pathway to using FFTW in C++.

@yijiang1 Can we close this issue and open a new one if there are problems accessing FFTW?

[2016-04-07 13:56] cryos commented on #247
Yes, closing for now as it looks like there is a reasonable path should we want to use FFTs.

[2016-04-07 13:56] #247 closed

[2016-04-07 19:01] cryos commented on #351
Closing this for now, not able to reproduce. Let's reopen if we can come up with a way to reliably reproduce.

[2016-04-07 19:01] #351 closed

[2016-04-13 18:32] yijiang1 opened #368 "SurfaceLIC-related error when building paraview"
I want to get my tomviz up-to-date (on Mac) and get this error when I build paraview:

<img width="884" alt="screen shot 2016-04-13 at 2 31 56 pm" src="https://cloud.githubusercontent.com/assets/13088588/14504854/82d8c800-0184-11e6-82cc-48734297b0e5.png">

[2016-04-13 18:51] cquammen commented on #368
I'm not sure why you are running into this, but please try the following:

cd paraview-build
rm -rf SurfaceLIC
cmake .
make

This should clear out the SurfaceLIC files and generate what is needed prior to the build.

[2016-04-13 18:59] mathturtle commented on #368
This looks like the errors you get when qhelpgenerator is not found by the cmake configuration.  There is an option I added that turns all use of qhelpgenerator off.  Try setting the cmake option PARAVIEW_ENABLE_EMBEDDED_DOCUMENTATION to OFF (it defaults to ON).

[2016-04-13 19:24] yijiang1 commented on #368
@cquammen I tried this but still got the same error.
@mathturtle Setting the cmake option to off avoids the error.

I've successfully built paraview. Now I want to build tomviz, but it seems that I need to have ITK installed?What's the best way to install it properly?

<img width="940" alt="screen shot 2016-04-13 at 3 21 25 pm" src="https://cloud.githubusercontent.com/assets/13088588/14506409/a914

[2016-04-13 19:53] mathturtle commented on #368
I think ITK is still optional to build tomviz.  It may not be for much longer if you want FFTs though.  Anyway, I think the easiest way to get it would be to download the version the binaries use [here](http://www.tomviz.org/files/itk-4.9.0-macosx10.9.tar.gz).  You may have to undo some tricks I added for the superbuild.  (If pointing ITK_DIR at it doesn't work, try this):
[code]

[2016-04-13 20:11] yijiang1 commented on #368
@mathturtle Yeah this fixed my problem. Now I'm able to build and run tomviz.

[2016-04-13 20:11] #368 closed

[2016-04-14 14:26] yijiang1 opened #369 "UI for reconstruction progress"
tomviz needs UI for tomography reconstruction, which often lasts hours for real data.
Here is simple mock-up.
<img width="879" alt="screen shot 2016-04-14 at 10 08 08 am" src="https://cloud.githubusercontent.com/assets/13088588/14530855/d32836fc-0228-11e6-9feb-5757e3586481.png">

The components of this UI is very similar to the ones in manual axis alignment UI (RotateAlignWidget.cxx). As a first s

[2016-04-14 21:42] mathturtle opened #370 "Operators QTreeWidget failing with Qt5"
I found an issue today with the tree widget that shows the operators.  If you double click on a python operator (to see/edit the code) it crashes the application.  The problem appears to be in the itemDoubleClicked signal of QTreeWidget that we are listening to.  It is passing NULL for the item even though one was double clicked on.  Reproduced on OSX and linux just now.

@cryos I can fix the cras