[2016-10-31 19:05] yijiang1 commented on #716
I get garbage data pretty much every time and nearly all of the angles are filled with non-zero values.
@ElliotPadgett can reproduce this bug as well. However his garbage values are more sparse.

[2016-11-01 19:20] cryos commented on #565
#723 should address this issue, and does in my local testing. Still looking into the other issue that looks a little trickier.

[2016-11-02 03:45] yijiang1 opened #724 "The "eye" icon in pipeline doesn't change when modules are highlighted"
When a visualization module in the pipeline is highlighted, the "eye" icon on the right looks the same when I turn on/off the visualization.
<img width="278" alt="screen shot 2016-11-01 at 11 37 00 pm" src="https://cloud.githubusercontent.com/assets/13088588/19915984/682db37e-a08c-11e6-8a8c-1ae3cf3a4fc0.png">

This is kind of annoying especially when there are multiple datasets and visualization m

[2016-11-02 15:27] cryos commented on #565
I fixed half of the issue, @cquammen you added the support for opacity saving on the global color map. Maybe this needs adding to a more central spot so it can be used by both global and separate color maps?

[2016-11-02 17:04] cryos commented on #717
This was merged, and the issue fixed in my tests. Thanks for reporting this, and let me know if you think there are any further issues.

[2016-11-02 17:04] #717 closed

[2016-11-02 17:05] cryos commented on #724
It is grayed, but there is less contrast with the blue background. We can take a look at ways that it might be improved, but even in the screenshot I can see what you mean but see the center is lighter by a few tones. I think we want to keep the transparent background.

[2016-11-02 17:22] yijiang1 commented on #724
If I only see the screenshot above, I can't tell if the data is visible or not on my computer.
How about using a different icon? Something like this?
![a](https://cloud.githubusercontent.com/assets/13088588/19939420/46554000-a0ff-11e6-801c-07ed7c90025f.png)

[2016-11-02 21:00] ElliotPadgett commented on #454
This is working better for me now.  @Hovden what about you?

[2016-11-02 21:01] mathturtle commented on #473
@ElliotPadgett Can you see if #731 fixes this?

[2016-11-02 21:10] ElliotPadgett commented on #717
Looks good.

[2016-11-02 21:12] yijiang1 commented on #473
Yes this is fixed by #731 .

[2016-11-02 21:38] ElliotPadgett opened #732 "Restoring state file forgets view direction and zoom"
The state file should remember the view direction and zoom for a visualization.  Right now, it resets to the default direction and zoom when a state file is loaded.

[2016-11-02 22:28] #473 closed

[2016-11-02 23:47] Hovden commented on #454
Yeah. It's pretty good.

[2016-11-02 23:47] #454 closed

[2016-11-02 23:54] cquammen commented on #724
How about a closed eye to represent not visible, i.e., no pupil shown?

[2016-11-02 23:55] cquammen commented on #703
Did #726 address this?

[2016-11-03 00:00] cquammen commented on #565
Yes, I was thinking that should be done. Will take a look.

[2016-11-03 02:34] yijiang1 commented on #724
I'm ok with any kind of design as long as it's discernible enough.

[2016-11-03 02:37] yijiang1 commented on #703
#726 implements a basic transform but the UI is a bit too simple.
I'd like to keep this issue open for a while as we may discuss better ways to describe the method.

[2016-11-03 13:35] cryos commented on #724
I can see it on my screen, but screens certainly vary. Another option is to look at only selecting the Item rather than the complete row. A closed eye would probably be reasonable, the interaction of the selection color and the background of the selected row certainly makes this harder to see and on poor screens quite possibly impossible.

[2016-11-03 13:48] mathturtle commented on #449
Hmmm. I'll try this on a mac and see if it is different there.

[2016-11-03 13:58] cquammen commented on #565
Okay, final bits should be fixed in #733 for the global and separate color maps.

[2016-11-03 15:44] mathturtle commented on #449
Mac is different.  The slider jumps to where you click on it.  I can make it get keyboard focus when you click on it and then you will be able to use the arrow keys to adjust it.

[2016-11-03 17:04] cryos opened #735 "Add Tomviz version number to the state file"
This will aid in future versions being able to point out it was saved with an earlier version of Tomviz, and will offer metadata that can aid in publication/reproducibility.

[2016-11-03 17:05] cryos commented on #565
Closing this now that #733 is merged, please let us know if the latest binaries from this evening still cause issues.

[2016-11-03 17:05] #565 closed

[2016-11-03 18:17] cquammen commented on #724
How about this for not visible?

![image](https://cloud.githubusercontent.com/assets/360056/19979220/0e4421be-a1d0-11e6-9e22-d3b50987cb05.png)

With one visible:

![image](https://cloud.githubusercontent.com/assets/360056/19979254/2fc31084-a1d0-11e6-9d6a-2b5343a31e5e.png)

[2016-11-03 18:43] cryos commented on #724
Looks good to me, should be visibly different on even the most washed out of screens.

[2016-11-03 18:48] Hovden commented on #724
I like it.

[2016-11-03 18:52] cryos commented on #735
Got to it quicker than I thought, this is now merged and will be accessible in future so that we can add further checks based upon the Tomviz version.

[2016-11-03 18:52] #735 closed

[2016-11-03 18:54] cquammen commented on #724
Addressed by #737.

[2016-11-03 18:55] cryos commented on #724
Looks great

[2016-11-03 19:07] yijiang1 commented on #724
There is a bug in #737 : The icon does not update automatically when I click it in the pipeline.

[2016-11-03 19:09] cquammen commented on #724
You may have to explicitly run `cmake .` in your build directory for the Qt resource stuff to be set up appropriately. Then build after you do so. Does that fix it?

[2016-11-03 19:25] yijiang1 commented on #724
I run `sudo cmake .` in my tomviz build directory but the problem is not fixed.

[2016-11-03 19:31] cquammen commented on #724
Did you build afterwards?

Clicking on the eye icon toggles it on my local system.

BTW, `cmake` shouldn't normally require use of `sudo`.

[2016-11-03 19:44] yijiang1 commented on #724
I did. I run `cmake --build .` after `cmake .`

[2016-11-03 19:45] cquammen commented on #724
Can you post a screen shot of what you are seeing? Thanks for trying this out, by the way.

[2016-11-03 19:47] yijiang1 commented on #724
<img width="709" alt="screen shot 2016-11-03 at 3 45 51 pm" src="https://cloud.githubusercontent.com/assets/13088588/19982518/bcc47c78-a1dc-11e6-930f-88b81a2d7fb7.png">

<img width="413" alt="screen shot 2016-11-03 at 3 46 25 pm" src="https://cloud.githubusercontent.com/assets/13088588/19982521/be16b028-a1dc-11e6-857d-3e7bf18509ec.png">

[2016-11-03 19:53] cquammen commented on #724
How about in the UI? Is it always the open eye icon?

[2016-11-03 20:08] yijiang1 commented on #724
Yes if I only click the icon and do nothing else.

For example, when I click the eye icon for "Orthogonal Slice", the icon does not change no matter how long I wait.
<img width="273" alt="screen shot 2016-11-03 at 3 58 39 pm" src="https://cloud.githubusercontent.com/assets/13088588/19982932/6a7b7118-a1de-11e6-9878-479e679cd3a7.png">

On the other hand, an update can be triggered by extra actions s

[2016-11-03 20:14] cquammen commented on #724
Hmm, how odd. It takes about a second after I click for the eye icon to update, but it does update.

I can't imagine why a change in the image icon would trigger this behavior. Perhaps before the icon change you were seeing the same behavior and that's why the icon didn't look different?

[2016-11-03 20:19] yijiang1 commented on #724
Yeah I think this is the real reason.

BTW, this only happens on my local build. My binary version does update the icon.

[2016-11-04 13:56] cquammen commented on #732
I tracked this down to the view being reset when deserializing the animation cues. Looking into a solution now.

[2016-11-04 14:26] cryos commented on #724
I see this issue on Linux, the eye icon doesn't update for me until I move out of that row, which triggers a repaint. I think we are missing a signal to say that the row/column has changed, and thus needs a repaint.

[2016-11-04 15:33] ElliotPadgett commented on #449
Great.  This solves it!

[2016-11-04 15:33] #449 closed

[2016-11-04 15:40] ElliotPadgett opened #742 "Volume render forgets show/hide status when state restored"
If I make a volume render, hide it, and then save/restore the state it forgets that it is hidden, and is shown anyway.  Other renderings do not have this problem.

[2016-11-04 17:48] cryos commented on #742
This should now be resolved.

[2016-11-04 17:48] #742 closed

[2016-11-04 18:12] cryos opened #745 "Check for minimum OpenGL version before opening application"
There are some reports of issues where it appears the Tomviz application never starts up. I want to add some extra caution by adding some code to our startup, before we show the application, to ensure the machine has at least OpenGL 3.2 and pop up a warning dialog if it does not.

ParaView/VTK should also have some code to check more thoroughly, but I would like to add a little extra checking and

[2016-11-04 18:14] cryos opened #746 "Advanced version information in about dialog"
Augment the about dialog to show some advanced version information, such as runtime Qt version, Python, ParaView, VTK, ITK, NumPy, etc where available. This should help make is easier to diagnose issues, and offer something easy to copy and paste more complete system state. I envision adding the same information to the state file so that is is all recorded, helping make even local builds offer mor

[2016-11-04 19:41] Hovden commented on #688
We're looking to speed up the reconstruction algorithms. Some are slow (~day).

We could either parallelize Python (threading library needed) or implement them in C++ (requiring linear algebra library). Which would be easier?

[2016-11-05 01:16] cryos commented on #688
Adding Eigen is pretty simple, we will just add it to the superbuild. If you want me to put up an example branch to use it I can do that, but you will need to install it locally. I will see if I can put a quick example up tomorrow, this library is great as it is header only, and so there are no additional libraries to take care of. This is probably the easiest path too, I am not that familiar with

[2016-11-05 03:21] ercius commented on #688
Maybe we can integrate tomopy and/or the Astra toolbox? Their algorithms
are well tested and fast. I've been using them a lot recently. I'm not sure
if they have builds for all platforms though. Windows and Linux only?

On Fri, Nov 4, 2016, 6:16 PM Marcus D. Hanwell <notifications@github.com>
wrote:

[2016-11-05 23:36] cryos commented on #688
I have been looking at tomopy, and it looks nice. You have been able to use these in your work with STEM tomography reconstructions? I have not come across Astra.

[2016-11-07 18:09] yijiang1 commented on #716
#744 does not fix this bug

[2016-11-07 18:13] cryos commented on #716
You used the word fix #bug number which GitHub takes to indicate it fixes the bug, and so it auto-closes it on merge. If you want to avoid that then just say issue #xxx and it won't close the referenced bug.

[2016-11-07 18:16] yijiang1 commented on #716
I see. Good to know.

[2016-11-07 18:19] cryos commented on #716
In general we will never assume a pull request fixes a bug unless the commits/conversation state that it does, so saying anything doesn't fix a bug shouldn't be required. @cjh1 is investigating this issue, and will hopefully have more to say soon.

[2016-11-07 18:25] cryos commented on #745
I would appreciate some testing on this now that it is merged. The main idea is to halt the startup if it looks like the computer doesn't have the required OpenGL version, pop up a warning, and then let them click OK to see if it really doesn't work. There have been a few reports that look like Tomviz has crashed, and I would like to more easily rule out simple stuff like not having a graphics car

[2016-11-07 18:26] cryos commented on #745
I am mainly hoping to get tests once the new binaries are build that verify the warning doesn't pop up on your systems.

[2016-11-07 18:49] ercius commented on #688
Tomopy is pretty good, but the [Astra-toolbox](http://www.astra-toolbox.com/) is very fast and flexible. Both can be installed in Anaconda pretty easily to try them out.

You can also call the Astra-toolbox recon algorithms from tomopy which makes setup a little easier in some cases.

Both are parallelized and Astra is GPU capable. Astra seems to be faster in my experience. I have been doing align

[2016-11-07 18:51] ercius commented on #688
.I forgot to mention that the weighted back projection code in tomopy does not work properly. I think it does not apply any weighting, making the low frequencies overpower the reconstruction. If you are testing out tomopy then try the GRIDREC method. Its quite fast and produces nice results.

[2016-11-07 18:51] cryos commented on #688
I would really appreciate that, thanks for providing the links. We can certainly offer Eigen for fast C++ linear algebra. I would really appreciate some example scripts.

[2016-11-07 21:04] cquammen commented on #745
I got a warning on my year-old Mac about OpenGL 3.2 not being supported.

Graphics driver info reported in ParaView:

OpenGL Vendor - ATI Technologies Inc.
OpenGL Version - 4.1 ATI-1.42.15
OpenGL Renderer - AMD Radeon R9 M370X OpenGL Engine

I wonder if the Qt surface is picking up my Intel Iris Pro? That should support OpenGL 4.1 at least, though, according to https://support.apple.com/en-us/HT20

[2016-11-07 21:09] cquammen commented on #745
The `QOpenGLContext` reports version 2.1.

[2016-11-07 21:18] cryos commented on #745
That is weird, yeah both should support 3.2. Thanks for taking a look, I wonder if this is Mac being lame about offscreen contexts. I thought that would be simplest so that no random widget pops up during initialization.

[2016-11-07 21:19] #716 closed

[2016-11-07 21:22] cquammen commented on #745
It might be grouchy about the specific version requested. I wonder if you need to work your way down from requesting version 4.1 to 3.2? I recall having to that for a similar function in a different project years ago.

[2016-11-08 04:16] cquammen opened #750 "Add checkbox to hide the Open GL check warning"
In the dialog that reports that a sufficient version of OpenGL is not available, add a checkbox that prevents the dialog from popping up in the future. This should prevent annoyance on systems on which Tomviz works fine but which for whatever reason report an insufficient version of OpenGL

[2016-11-08 14:16] cryos commented on #750
We can add that, but quite frankly I would much rather improve the detection to be more accurate. The warning on its own will be enough to worry many users, even if they can suppress it. I am more inclined to disable it if it can't accurately detect the correct OpenGL version on all platforms.

[2016-11-08 14:47] cquammen commented on #750
I figured you would say that 😃 . I'll close for now.

[2016-11-08 14:47] #750 closed

[2016-11-08 14:51] cryos commented on #750
I want our users to have a good experience, and don't want to worry them unnecessarily.

[2016-11-08 21:52] mathturtle commented on #658
The ParaView patch for this has been in for a while.  It should automatically update the frame range when you change the number of frames now.  Can we close?

[2016-11-09 15:24] cryos commented on #658
If someone has verified this works in the binaries yes.

[2016-11-09 20:07] yijiang1 opened #751 "Convert VTKArray to numpy array"
Is it possible to convert the array returned by `utils.get_array()`  function to a numpy array?

Some scipy functions only work with numpy arrays.

[2016-11-10 15:06] yijiang1 commented on #745
The current binary version (539) fails to launch on my Windows 7 with this error:
![tomviz](https://cloud.githubusercontent.com/assets/13088588/20181664/08f10954-a72d-11e6-8f9e-8fa21a315c5d.png)

It works fine on Windows 10 without any error or warring.

[2016-11-10 15:07] yijiang1 commented on #745
On my Mac (10.11), I also get this warning message:
<img width="421" alt="screen shot 2016-11-07 at 4 43 37 pm" src="https://cloud.githubusercontent.com/assets/13088588/20181768/74ca27d2-a72d-11e6-8c0b-6a445f78fddc.png">

[2016-11-10 15:15] mathturtle commented on #745
Is your computer current on windows updates?  Report a separate issue and I'll look at this.

[2016-11-10 15:21] cryos commented on #745
The failure to start is an entirely separate issue as Shawn said. I am going to disable this check as it seems at least on Mac there are too many false positives. I will see if I can figure out a more robust way of checking this for the next release.

[2016-11-10 15:22] cryos commented on #732
Any progress on this?

[2016-11-10 15:24] cryos commented on #679
We should not show the child data sets until the operator has completed, let's work on that as the ideal model. When we rerun the pipeline we should grey out any objects that are invalidated, I think they are replaced once the operator at that stage has been rerun.

[2016-11-10 15:32] cquammen commented on #732
Haven't solved it yet.

[2016-11-10 15:33] cquammen commented on #732
Loading the animation cues is what resets the view. I have attempted to store the camera settings from the state file and reapply them after the animation cues have been loaded, but the view is still being reset by something.

[2016-11-11 14:15] cjh1 commented on #751
@yijiang1 It does return a numpy array?

[code]

Is there something in particular that isn't working with scipy?

[2016-11-11 14:37] yijiang1 commented on #751
Yeah. For example, running
`from scipy import ndimage`
`array = utils.get_array(dataset)`
`ndimage.measurements.center_of_mass(array)`

would give me this error:
  File "/Library/Python/2.7/site-packages/scipy-0.18.1-py2.7-macosx-10.11-intel.egg/scipy/ndimage/measurements.py", line 1289, in center_of_mass
    return [tuple(v) for v in numpy.array(results).T]
TypeError: 'numpy.float64' object is no

[2016-11-11 14:46] yijiang1 commented on #658
This is fixed on current binaries.

[2016-11-11 14:46] #658 closed

[2016-11-11 17:34] cjh1 commented on #751
@yijiang1 I will investigate this issue

[2016-11-11 18:19] yijiang1 commented on #751
Thanks. This is not very urgent for me since it's not hard to implement a `measurements.center_of_mass` function.

Also, I notice this difference that may be relevant:
`array = utils.get_array(dataset)`
`print type(array)`
prints out "class 'vtk.numpy_interface.dataset_adapter.VTKArray'"

`array = np.array([1, 2, 3])`
`print type(array)`
prints out "type 'numpy.ndarray'"

[2016-11-11 18:30] cryos commented on #751
Is it because it is seeing a double, and we should prefer 32 bit floats? It looks like it is a numpy array but there is an issue with the type.

[2016-11-11 20:12] cjh1 commented on #751
I don't think its a type issue. I have done a little digging and I think its because the VTK implement of ndarray returns an array when sum(...) is called rather than a scalar, I am trying to figure out why.

[2016-11-11 21:45] #703 closed

[2016-11-11 22:42] ercius commented on #688
@Hovden @cryos I sent you an email with a demonstration script and test data for tomopy and ASTRA. If anyone else watching this thread is interested in these files let me know.

[2016-11-12 00:49] ercius opened #755 "View properties and Parallel projection mode more visible to users"
This request is tangentially related to #666 (spooky).

I just found out that you can change the camera perspective mode by opening the View/View Properties panel and then checking the box next to Camera Parallel Projection. I think this option should be more visible to the user and even possibly replacing the 3D/2D button (the change interaction mode button) at the top of the render window.

The

[2016-11-12 17:40] Hovden commented on #688
@cryos and I discussed this a little over the phone. Most immediately, the focus is on getting a new stable release out. Next week I'll look at tomopy and ASTA with @yijiang1 and get back to you to discuss it further. It sounds like a good idea.

[2016-11-14 14:05] mathturtle commented on #755
There is a menu items in the View menu that lets you change whether the camera uses Parallel projection or not.  See View => Parallel Projection and View => Orthographic Projection.  We can definitely improve the visibility of some of the more useful options.

[2016-11-15 21:23] ercius commented on #755
That works! Sorry I did not see that in the view menu.

[2016-11-15 21:23] #755 closed

[2016-11-15 21:28] ercius commented on #688
This is definitely a more long term part of the project.

I did more testing and ASTRA is not parallelized for CPU (non-GPU) reconstruction (so called 2D CPU algorithm by ASTRA). tomopy implemented parallel versions of the non-GPU ASTRA algorithms. So, this might be more difficult in practice than I previously thought because you need both tomopy and ASTRA to get the full benefit which is only pos

[2016-11-15 21:36] ercius opened #758 "Rotate transform is broken in 0-9-2"
The rotate transform is not working in 0-9-2 on OS X as it is written out from the Tilt Axis Alignment (manual) alignment widget.

Here is the error I get:
[code]
The user specified variable are not currently set by the widget:
[code]
 The user specified variables need to be written into the script. For example:
[code]

[2016-11-15 22:02] mathturtle commented on #758
@ercius I've tracked it down.  The variable names that had to be substituted in changed and the change didn't update this piece of code to use the new names.  I have pushed a branch that will fix this.

[2016-11-16 01:32] ercius commented on #758
@mathturtle Thanks for fixing this so quickly!

[2016-11-16 18:12] #758 closed

[2016-11-17 17:29] cjh1 commented on #751
The [following](https://gitlab.kitware.com/vtk/vtk/merge_requests/2170) merge request in VTK should resolve this issue. Once it has been merged into VTK and will ensure it gets into ParaView and then into tomviz.

[2016-11-18 22:11] cjh1 commented on #704
I have started to prototype pass arguments to the ```transform_scalars``, so for example the signature in GaussianFilter.py changes from:

[code]

to

[code]

My plan was to get it working with a simple operator and see how it works/what it looks like.

[2016-11-21 15:58] yijiang1 opened #764 "Create child datasets in python script"
Is it possible to have a utility function that creates child datasets in python script (.py)?

It seems that child datasets creation is currently done in json script. However, not all transforms (especially tomography reconstruction) can use json script.

[2016-11-21 16:13] cquammen commented on #732
This is also a problem in ParaView if animation scenes are defined. If they are not, then the view direction is preserved in the state file.

[2016-11-21 19:27] cryos opened #765 "Use the CPack wix installer for Windows"
The NSIS installer is deprecated, and .msi is better supported. CMake is already using it to package their binaries, we should also move to it.

[2016-11-23 17:51] cjh1 opened #767 "Crop_Data.py is currently not used, needs to be connect with the "SelectVolumeWidget""
For Crop_Data.py, we want to connect it with the "SelectVolumeWidget" (see the code for "Background Subtraction (Manual)" in AddPythonTransformReaction.cxx for example).

[2016-11-23 17:55] yijiang1 opened #768 "Crash when closing script window after deleting the transform"
1. Load a dataset.
2. Do a transform. For example, "Delete Slices".
3. Open the python script by double-clicking it in the pipeline.
<img width="500" alt="screen shot 2016-11-23 at 12 50 50 pm" src="https://cloud.githubusercontent.com/assets/13088588/20572992/cbec154a-b17b-11e6-8eb9-ef9c2cf44c97.png">

4. Go to main window and delete the transform (keeping the script window open).
<img width="500"

[2016-11-23 18:22] cquammen commented on #732
ParaView's behavior is arguably not a bug. If camera keyframes are defined, the camera will be updated whenever the time is updated, and the time is updated when the state file is loaded. This seems like reasonable behavior within ParaView.

In Tomviz, we should be able to restore the view point from the state file after the camera keyframes have been loaded. The main challenge is to find the righ

[2016-11-23 18:44] cquammen opened #769 "PeronaMalikAnisotropicDiffusion operator fails for non-float input images"
Casting the input image to a float image should be done in the operator to handle more image types.

[2016-11-23 18:50] cryos commented on #732
As a user they both appear to be bugs to me, but Tomviz is the one where I am most motivated to see this fixed, having an animation or not seems somewhat orthogonal to restoring the last active view point. I would like to get this fixed in Tomviz before our next release, totally agree that finding a reasonable call site once the animation frames have been loaded should work for us.

[2016-11-23 19:21] ercius commented on #732
I agree with @cryos. This is very important for sharing data with collaborators.

As a work around can you remove the automatically generated camera orbit in the animations panel? I just tested the following:
1) Load a test data set
2) Move the camera view
3) Save a state file
4) Remove the camera entry in the animations panel
5) Save a state file
The state file in (3) will reset the camera view a

[2016-11-23 19:23] cryos commented on #732
I was wondering if we could avoid the noise of saving an untouched default animation that no one ever cared about, but it would still be useful to then restore a default animation. If someone actually edited the path we certainly want to restore that, but even then I feel like starting at the last active view point would be ideal.

[2016-11-23 19:25] cquammen commented on #732
I am working on a patch to tomviz to restore to the last active view, animation present or not.

[2016-11-23 19:58] bdalevin opened #770 "Set Scale (in nm, angstroms etc.)"
I have a request for a "Set Scale" option. This is for an article Hovden and I are working on.

Currently, tomviz will display the number of voxels along each axis of the bounding box if you select "Show Axis Grid" under the "View" menu. An example is shown below.
![show axis](https://cloud.githubusercontent.com/assets/12704237/20576738/275ae364-b18d-11e6-9b0b-67a6cbc132ea.jpg)

It would be very u

[2016-11-23 20:14] cryos commented on #770
This should already be working, see
![image](https://cloud.githubusercontent.com/assets/42214/20577238/7a64cc8a-b18f-11e6-91fa-957407526188.png)
where I set the units in the data properties to nm, and then are displayed in the axes grid.

[2016-11-23 20:16] cryos commented on #770
You may have to settle for 'A' as the Unicode rendering support is a little tricky in the 3D rendering code (there is some there, but we don't do the work to feed the font rendering engine a full font file (we should consider doing this, but for now you are limited to the standard character set).

[2016-11-23 20:24] bdalevin commented on #770
Thanks for the quick reply! I've got it working.
This is a great feature! I'll add it to the next version of the user guide to make sure others can use it too.

Issue solved.

[2016-11-23 20:24] #770 closed

[2016-11-23 22:07] cquammen commented on #732
PR #772 should resolve this.

[2016-11-23 22:08] cquammen commented on #769
Fixed in #771

[2016-11-23 22:08] #769 closed

[2016-11-28 15:02] cjh1 commented on #704
Fixed in #766

[2016-11-28 15:02] #704 closed

[2016-11-28 18:41] cquammen commented on #768
Thanks for the report. The script dialog is now closed if the operator is deleted.

[2016-11-28 18:41] #768 closed

[2016-11-28 18:42] cquammen commented on #732
Resolved by #772.

[2016-11-28 18:42] #732 closed

[2016-11-28 18:47] cryos commented on #732
Thanks Cory, I haven't had time to test it yet but appreciate you digging into the issue.

[2016-11-28 20:03] cjh1 commented on #751
Ok, the VTK change in now in ParaView, I have pushed the super build forward, so tonight's binaries should have the fix.

[2016-11-30 16:59] cryos commented on #650
We should consider doing this soon, I think it would be a nice small change for the next release.

[2016-11-30 20:29] cquammen commented on #764
You'll likely still need to define the JSON for the Operator to let Tomviz know a child data set is expected. The missing piece is being able to specify that a custom UI is used.

[2016-11-30 20:47] yijiang1 commented on #751
Yes this is fixed on current binaries.

[2016-11-30 20:47] #751 closed

[2016-11-30 20:47] cjh1 commented on #751
Awesome!

[2016-12-01 15:32] cjh1 opened #775 "Modified IntefaceBuilder::buildInterface(...) to return a QWidget subclass"
This would allow us to provide a signal that is fired when value is the UI are changes.

[2016-12-01 15:38] cjh1 opened #776 "Remove description of operator from properties panel"
Allow the user to view it if they want to ...

[2016-12-01 15:40] cjh1 opened #777 "Convert generate_dataset(...) functions to use parameter passing"
Python scripts such as https://github.com/OpenChemistry/tomviz/blob/master/tomviz/python/RandomParticles.py still use templating we should do the same conversion we did for transform_scalars(...).

[2016-12-01 15:59] cquammen opened #778 "Improve transformation between VTK and ITK image data types"
The VtkGlue module in ITK provides conversion utilities that give ITK a view of VTK image data without copying. Enable this to reduce memory usage and improve performance.

[2016-12-01 16:17] cryos commented on #778
We have talked about this before, but we would rather avoid rebuilding ITK every time we update ParaView/VTK. It would increase our build time quite significantly, and it isn't clear that this is a major bottleneck at this time. Ideally ITK exposes its arrays to numpy views in the same way VTK does, I am guessing there is no ItkGlue module as we are recompiling that anyway...

[2016-12-01 16:31] #778 closed

[2016-12-02 19:55] yijiang1 opened #780 "Python script windows does not close automatically when quiting tomviz (OSX)"
1. Load a data set.
2. Do a python transform.
3. Open the python script window from pipeline.
4. Left-click the main window, then click the red cross button at the top-left corner.
<img width="106" alt="screen shot 2016-12-02 at 2 52 39 pm" src="https://cloud.githubusercontent.com/assets/13088588/20848197/03921ede-b89f-11e6-8163-f458bb0a7a8b.png">

5. tomviz exits but the python script window and

[2016-12-02 20:18] yijiang1 opened #782 "Add label to progress bar dialog"
Could we add a label to the progress bar dialog that displays messages and can be updated in python script?
This is very useful for reconstructions which often have several steps. I'd like to print messages such as "Initialization...", "Iteration 1/10" and "Slice 1/256".

[2016-12-02 20:35] cjh1 commented on #782
@yijiang1 Yes, we could do this. We could add an optional parameter to the update method. So you python code would looks something like:

[code]

or we could have a separate method

[code]

[2016-12-02 20:42] yijiang1 commented on #782
Either ways seems good to me. Thanks!

[2016-12-02 22:27] mathturtle opened #784 "New Python Operators don't serialize arguments to python scripts"
We need to save the `QVariantMap` with the arguments out to the xml.  We have some options, but none of them are great:

* Use `QXmlStreamWriter` to write out an xml document, read it back in with `pugixml` and merge the two xmls.
* Use `QJson` to write it to json and store the json in our xml state file.
* Use `QDataStream` to write it to Qt's cross platform binary format, base-64 encode it and i

[2016-12-05 15:13] cjh1 commented on #784
@mathturtle I'm not sure QXmlStreamWriter helps us here, it doesn't have support for writing QVariant?

[2016-12-05 15:15] mathturtle commented on #784
@cjh1 One of the threads I found was using it.  Maybe they had some glue code I missed.

[2016-12-05 15:34] cjh1 commented on #784
Yes, it probably had a case statement to perform the actual conversion. The QJson approach will also be a 'lossy' conversion as several numeric types would just be mapped to JSON's numeric type. The fourth option that we discussed would be write a conversion routine for the subset of QVariant types we use, which is currently just,  int, double, bool and list. We already have similar code that conv

[2016-12-05 15:54] cryos commented on #784
I think embedding JSON in the XML state file would be best, we already embed Python in their for custom scripts.

[2016-12-05 16:43] cjh1 commented on #782
@cryos Do you have preference? I almost think that update(...) was a bad choice of name. May we should just have properties of the form:

[code]

[code]

[2016-12-05 17:02] cryos commented on #782
My take on this is that we don't want to give too much detail (outside of debugging), and I would feed additional detail in as the progress bar title. If we want to support more detail than that then the best method would be to use the status bar of the main window as this is designed to communicate longer messages about the current application state/activities.

I like the proposed API in the pre

[2016-12-07 16:22] cquammen commented on #666
Developer's note from me stumbling into this setting at a ParaView tutorial I was giving:

The `RenderView` proxy has a `CameraViewAngle` property that could be exposed in the Tomviz UI. It is exposed in ParaView's Adjust Camera dialog, which is accessible by clicking on the camera next to the 2D/3D icon in the toolbar above the view, i.e., the icon on the right below.

![image](https://cloud.gith

[2016-12-07 16:29] cryos commented on #666
Wow, it was hiding in plain sight the whole time. That same button is exposed in Tomviz, and the camera angle does indeed offer what you wanted. Probably far too late, I would never have guessed that box was adjusting the perspective. Thanks for pointing this out @cquammen.

[2016-12-07 16:38] cquammen commented on #666
Oh yeah, I didn't think to see that this was exposed in Tomviz. Shall we close this request since this feature is in fact exposed?

[2016-12-07 16:42] cryos commented on #666
Sure, I think it would be great to look at improving the dialog at some point to make this a little more obvious, but closing as it is in fact available if quite difficult to find.

[2016-12-07 16:42] #666 closed

[2016-12-07 16:59] #650 closed

[2016-12-07 18:28] #777 closed

[2016-12-07 20:15] cryos commented on #784
XML or JSON works for me, I wouldn't worry about the numeric issue as the operator JSON specifies the type that could be used for coercion. I would like to look at this before the next release, and I would like to experiment with a more minimal JSON state file so something that was easy enough to reuse would be nice.

[2016-12-07 20:17] cryos commented on #691
I am going to close this, we have added the operator dialog to the panel, and so made it more inline with the other pipeline objects. I think that is a better use of the space, and the description is there (although we are looking at making it into a tooltip/help as it takes up a lot of space in some cases).

[2016-12-07 20:17] #691 closed

[2016-12-07 20:55] yijiang1 commented on #691
What about making the description an editable text field? Thus users can even add notes to their custom transforms.

[2016-12-07 21:11] yijiang1 opened #789 "JSON Error message when clicking python transforms that take no arguments"
1. Load a dataset.
2. Do a transform that does not take any argument. For example, "Invert Data".
3. Click the transform in pipeline
<img width="250" alt="screen shot 2016-12-07 at 4 09 07 pm" src="https://cloud.githubusercontent.com/assets/13088588/20986653/82186e2e-bc97-11e6-9319-056681d14688.png">

4. The output messages dialog now prints this message:
<img width="233" alt="screen shot 2016-12-

[2016-12-08 01:40] #789 closed

[2016-12-08 16:32] mathturtle commented on #780
This seems to be an OSX issue.  The dialog's parent **is** getting set correctly... and the application is supposed to exit when the last QWindow is closed anyway.  It works fine on my Linux desktop, just not on OSX for some reason.  I'm leaning toward this being a bug in Qt 5.7.

[2016-12-08 20:17] #782 closed

[2016-12-08 20:42] mathturtle commented on #780
I can't get this to happen in my simple Qt example, so it must be something we do in tomviz...  But I've tested in tomviz to make sure that the dialog's parent is correct and the dialog and window have the same window flags as the dialog and window in my toy example.

This doesn't happen when you leave the dialog on top and click on the X on the main window.  So possibly a side effect of the dialo

[2016-12-08 20:56] mathturtle commented on #780
Yes.  A few more tests have shown that if the main window doesn't completely cover the dialog it works correctly.  @yijiang1 Do you see that too?  But my simple Qt example still doesn't reproduce this even with this trick.

[2016-12-08 21:04] yijiang1 commented on #780
Do you mean something like this?
<img width="1280" alt="screen shot 2016-12-08 at 4 01 56 pm" src="https://cloud.githubusercontent.com/assets/13088588/21027634/b3b279fc-bd5f-11e6-8076-f4fe5f8d0699.png">

I still have the same problem in this case.

[2016-12-08 21:06] mathturtle commented on #780
Yes

Rats.  I thought I'd figured it out.

[2016-12-08 23:26] cryos opened #793 "Support coloring contours by nearest label map value"
We wrote a blog post showing this feature off, and it would be great to bring it back. We might want to break this out into more issues but going beyond coloring by the ID I would like to color by radius, volume, surface area, or other calculated values from the connected components label for example.

[2016-12-09 13:45] Hovden commented on #19
Any updates on this now that Paraview 5.2 is out?

[2016-12-09 18:59] cryos commented on #19
The 3D rendering widget will now render into a widget of the correct size, but mouse event coordinates are buggy. Once this is resolved we should be able to enable retina in the application on the Mac.

[2016-12-10 01:21] bdalevin opened #794 "Label Positio Errors On Grid Axis"
When viewing an image with axis grid, the axis labels (e.g. 100, 200) and titles (e.g. X (nm)) often overlap with each other (e.g. see below). This is not good.
![axis label positions](https://cloud.githubusercontent.com/assets/12704237/21069941/ecec7c70-be4c-11e6-998e-8530c1c6e9f4.jpg)

Two possible fixes: either the software needs to re-position the titles further from the labels, or the user sh

[2016-12-10 14:28] thomasaarholt commented on #249
Hello. It would be nice to re-introduce hdf5 - over at [Hyperspy](https://github.com/hyperspy/hyperspy) we use that as our default format, and it would be nice to jump in and out with tomviz using it.

[2016-12-10 17:00] ercius commented on #249
CMD/HDF5 is working in the most recent full release (0.9.2). I use it very
often. I have not tried the nightlies though.

On Sat, Dec 10, 2016, 6:28 AM Thomas Aarholt <notifications@github.com>
wrote:

[2016-12-13 14:36] cjh1 opened #796 "Filter available operators based on selected dataset"
Only allow user to add operators that are compatible with currently selected data set. Spawned from #795

[2016-12-13 14:52] cquammen commented on #796
Something to think about implementing: provide some info to the user for disabled operators to say why the operator is disabled. Not sure how to do this, but it would be helpful (ParaView doesn't do this, but it should).

[2016-12-13 16:06] cquammen commented on #796
Another idea: think about doing this in the Python script by executing an optional function that takes a dataset argument and returns a boolean indicating whether the filter can be applied to the dataset.

For example

[code]

Consideration: is the overhead of making a Python call for all the operators too high?

An alternative is adding some JSON to the JSON description, parsing it, and engineeri

[2016-12-13 16:16] cjh1 commented on #796
@cquammen I like this idea, not sure what the overhead would be, we could test it pretty easily. Would also have to provide advice to the implementer to keep it quick ...

Slightly related to this ( but not really! ) you may have noticed that we now have the default value for operator parameters in the JSON files as well as the Python files ( in the function definition ), this pains me slightly. I

[2016-12-15 19:34] Hovden commented on #621
Bumping this. Hoping it would be an easy quantitative tool to add.

[2016-12-15 19:46] cquammen commented on #274
Reposing the question. As I work on adding more segmentation features, I still haven't seen the icon in question.

[2016-12-15 19:49] cquammen opened #798 "Adding a module resets the camera"
I'm creating a series of screenshots. Each time I add a visualization module, the camera resets to fit the data into the render window, and I have to re-zoom in to approximately where I was. I know I could save a camera viewpoint and reset to that, but it doesn't seem like the camera really *needs* to change when a visualization module is added.

[2016-12-15 19:50] mathturtle commented on #274
I don't think this is relevant anymore.  My early attempts to add segmentation as a visualization module used the ParaView calculator icon since I needed a placeholder.  But a) I'm not sure that module exists anymore and b) your segmentation work obsoleted it anyways.  So I think it is safe to close this.

[2016-12-15 19:53] cquammen commented on #274
Thanks, Shawn.

[2016-12-15 19:53] #274 closed

[2016-12-15 21:37] cquammen opened #799 "Adding a Data Transform when child dataset is selected does not always work as expected"
Steps to reproduce

* Open SMALL_PtCu
* Data Transforms -> Binary Threshold, default parameters
* Click on child data set. Data Transforms -> Convert to Float
* Click the default Outline module
* Now click on Convert to Float
* Data Transforms -> Invert Data

The Invert Data transform is applied to the original dataset instead of the Binary Threshold child dataset.

[2016-12-15 21:59] cquammen opened #801 "Cannot save child table datasets to CSV files"
My guess would be that folks will want this capability.

[2016-12-16 03:54] ercius commented on #621
I will bump your bump and think this would be a great tool to add.

On Thu, Dec 15, 2016, 11:34 AM Robert Hovden <notifications@github.com>
wrote:

[2016-12-16 15:09] cryos commented on #621
@mathturtle did some of the work on adding this to ParaView, we will see if we can get this in soon.

[2016-12-16 15:13] cryos commented on #796
I would be concerned as more operators get added about offering a function, it seems like it would get called a lot, and likely on all operators. It would be nice to provide better feedback, another thing that I have seen in other applications was checking as a connection was made - it avoids the cost of checking every operator, but gives a hook for each one to use if they are connected. That in c

[2016-12-16 18:22] cquammen opened #802 "Progress animation does disappears when its row is selected on Mac"
When an operator is running, select the operator's row in the Pipelines panel. You cannot see the progress animation.

[2016-12-16 18:25] mathturtle commented on #802
Is it just that the progress dialog is behind the main window?  That is a known issue on OSX, dialogs are not kept in front of their parent and it is a bug in Qt (if it is a bug).

[2016-12-16 18:26] cquammen commented on #796
Another complication: my understanding is we wish to maintain the current capability of adding an operator while previously added operators are running or queued to run. If the output isn't available yet, we won't be able to filter accurately by looking at the dataset in its current state - it may have additional field data by the time it gets to the operator one wishes to add, for example, but at

[2016-12-16 18:39] cquammen commented on #802
No, I mean the little spinning icon in the Pipeline panel, not the progress dialog.

![image](https://cloud.githubusercontent.com/assets/360056/21274225/06fc25dc-c395-11e6-988c-a8fb7d2491c7.png)

[2016-12-16 18:44] cjh1 commented on #802
I had seen that, not sure why

[2016-12-19 01:28] cjh1 commented on #784
Fixed by #803

[2016-12-19 01:28] #784 closed

[2017-01-02 15:36] cjh1 commented on #765
Fixed in OpenChemistry/tomviz-superbuild#142

[2017-01-02 15:36] #765 closed

[2017-01-12 15:37] cjh1 opened #816 "Histogram remains even after dataset has been removed"
After removing a dataset from the pipeline its histogram remain. See screenshot below.

![screen](https://cloud.githubusercontent.com/assets/1031053/21896073/0b40f8f6-d8b3-11e6-893f-0ad9434268ca.png)

[2017-01-12 18:23] Hovden opened #817 "White Background As Default"
I'd like to suggest a white background as the default. I prefer using a white background as the default for a couple reasons:
(1) It better suits use in a figure for scientific publication (we usually work on white)
(2) The UX looks nicer.
(3) Grey can be a difficult color to reproduce without the hex value.

<img width="1524" alt="screen shot 2017-01-12 at 1 03 57 pm" src="https://cloud.githubuse

[2017-01-12 18:26] Hovden commented on #816
Yep. Thats been a long standing UX issue. Fixing would improve a users impression of tomviz.

[2017-01-12 18:28] ercius commented on #817
I don't like the gray either, but I prefer black rather than white. Volume
visualizations seen to be better visible than on the gray. Ill try white
out to see how it looks though. Ultimately, adding a option to set the
default per user would be best.

Also, I always thought it interesting that data presented at conferences
prepared by Avizo was obvious due to blue default background. It's a subtle

[2017-01-12 18:32] Hovden commented on #817
I use white for manuscripts (and web content), but often use black for presentations. There is a Viz argument for grey (e.g. Maya uses gray as default).

I agree about the advertisement. The biomed community is famous for really nice 3D Viz in their publications and they are most often on white backgrounds. I do think the EM community is advertising for Avizo when they use the blue gradient. It al

[2017-01-13 14:57] cjh1 commented on #621
@mathturtle Can this now be closed?

[2017-01-13 14:59] cjh1 commented on #679
Fixed by #812

[2017-01-13 14:59] #679 closed

[2017-01-13 15:00] cjh1 commented on #648
Fixed by #811

[2017-01-13 15:00] #648 closed

[2017-01-13 15:02] mathturtle commented on #621
We have the ruler added as a visualization module, so probably.

[2017-01-13 15:03] Hovden commented on #621
It would be nice to note what the units are, in this case length = pixels?

[2017-01-13 19:02] ElliotPadgett commented on #817
I would also vote for white, since it is most common (universal?) for manuscripts, and at least as common as dark backgrounds for web and presentations.

[2017-01-13 19:15] ElliotPadgett opened #819 "Cannot move or expand crop box in edit mode"
To reproduce: Run a crop transform on the sample data.  Reopen the crop transform to edit by double clicking,  then try to expand or translate the crop box.  Pushing 'OK' or 'Apply' just restores the box to its original position.  Shrinking the box size works fine. In Tomviz 0.9.2.

(Occasionally I also get erratic behavior where it expands the crop box, but not to the desired size or position, th

[2017-01-13 19:51] ercius commented on #817
I just tested white vs black. I'm a convert to white.

On Fri, Jan 13, 2017, 11:03 AM Elliot Padgett <notifications@github.com>
wrote:

[2017-01-13 21:30] mathturtle commented on #764
So I'm going to use this issue to discuss what I was asked at the meeting... convert the reconstruction operators to create child datasets.  This means converting them to use JSON files.  @yijiang1 I'm curious why you don't think they can use JSON files.

I have a question about the weighted back projection operator.  Right now the output size is a parameter and defaults to the Y size of the input

[2017-01-13 21:52] yijiang1 commented on #764
Some reconstruction methods have very complicated UI like this
<img width="500" alt="screen shot 2017-01-13 at 4 49 15 pm" src="https://cloud.githubusercontent.com/assets/13088588/21946893/63f8a0d6-d9b0-11e6-9db7-28e4ba6f7a52.png">

I have no problem using JSON files if they can create this kind of UI.

[2017-01-13 22:04] cquammen commented on #764
Two approaches:

1). Remove the custom UI and replace it with one generated in JSON. You couldn't reproduce the exact UI shown here with the JSON, but you could probably get close. The labels can contain long descriptive strings, but they currently show up just on the left-hand side while the widgets show up on the right side.

2). Add to the JSON description something that indicates a custom UI i

[2017-01-13 22:07] cquammen commented on #764
No, there isn't anything to set defaults from the input data at the moment. It would be useful to have, though.

[2017-01-16 20:56] yijiang1 opened #821 "Progress dialog's title changes when adjusting window size on Mac"
1. Load a dataset, mark it as tilt series.
2. Run a tomography reconstruction, say Direct Fourier Method.
3. As mentioned in  #786, on Mac, status messages are displayed only in status bar and the progress dialog looks like
<img width="506" alt="screen shot 2017-01-16 at 3 45 11 pm" src="https://cloud.githubusercontent.com/assets/13088588/21998579/b87979e6-dc03-11e6-8803-ff510d0be13e.png">

4. Now

[2017-01-16 20:58] yijiang1 opened #822 "tomviz crashes when running out of memory"

[2017-01-16 21:28] cryos commented on #821
We were aware of this, but it is a macOS/Qt level issue. This is why we added the status bar updates, I am not sure why you are reporting this. I don't see a simple way to force consistency, and I think with the addition of status bar updates gives us a reasonable way of providing updates.

[2017-01-16 21:41] yijiang1 commented on #821
Ah, sorry I missed this report in #786. I thought this is something new.

[2017-01-16 21:41] #821 closed

[2017-01-16 21:52] cryos commented on #822
Yeah, this is a tough one to get right, and there are a number of places this can cause crashes. What operating system are you seeing these crashes on? It would be good to improve reliability here, on Linux Tomviz typically gets very slow due to excessive swapping, and may be killed by the kernel after some time due to excessive memory use/swapping but it rarely crashes.

[2017-01-16 22:29] yijiang1 commented on #822
It crashes on Mac OSX.

[2017-01-17 04:10] cquammen opened #825 "It is possible to delete just a child dataset without deleting the producing operator"
It is currently possible to delete a child dataset:

* Load SMALL_PtCu_NanoParticle.tiff
* Data Transforms -> Binary Threshold, default parameters
* Click on the child dataset named "Threshold Segmentation" and hit the delete key

The child dataset is deleted. It doesn't seem like this should be possible.

Note that the child data set can be regenerated by clicking on the "Binary Threshold" transf

[2017-01-18 16:18] #816 closed

[2017-01-18 16:38] cjh1 opened #828 "vtkColorTransferFunctionItem doesn't resize after being hidden"
Steps to recreate:

1. Load SMALL_PtCu_NanoParticle.tif
2. Load MEDIUM_CoP_NanoParticle.tif
3. Remove MEDIUM_CoP_NanoParticle.tif
4. Remove SMALL_PtCu_NanoParticle.tif
5. Load SMALL_PtCu_NanoParticle.tif

The histogram will look like the following screenshot:

![screen](https://cloud.githubusercontent.com/assets/1031053/22073068/4bbe58f6-dd72-11e6-83e4-970c4f0ee0a8.png)

[2017-01-19 15:16] cquammen commented on #817
Please take a look at the latest master branch. It has a tool bar for picking the default ParaView color palette, a white background color palette, and a black background palette.

![image](https://cloud.githubusercontent.com/assets/360056/22112247/384fa7c0-de30-11e6-902c-f128376f887c.png)

If this is satisfactory, please feel free to close this issue.

[2017-01-19 15:48] yijiang1 commented on #817
1. When first loading tomviz, I still see the old background.
2. Click color palette -> White Background. The background becomes white.
3. Click color palette -> Make Current Palette Default.
4. Click color palette -> Default Background. The background becomes the old one.
Furthermore,
5. Reset tomviz (File->Reset), now I see white background.
6. Click color palette -> Default Background. The back

[2017-01-19 15:49] cryos commented on #817
I didn't think of that, but the naming is confusing. Thanks for the feedback, we should resolve that before closing this issue.

[2017-01-19 15:52] cquammen commented on #817
We can change that to white easily if that is the consensus, which I think it was.

Furthermore,

Ah, I see the confusion. The Default Background really means ParaView's default, but that isn't at all clear. We should probably rename that to Gray Background or something.

This is expected based on your set of actions.

[2017-01-19 15:57] cryos commented on #817
#831 changes the name, still not entirely convinced that the print background is what everyone would want, and find it very stark on the screen.

[2017-01-19 16:02] yijiang1 commented on #817
Another thing:
1. Open tomviz.
2. Right-click in the 3D rendering window, then click "Set Background Color" and set background to a different color.
3. Now, the color palette doesn't work any more.

[2017-01-19 16:10] Hovden opened #832 "Latest Mac build not opening"
The current cdash build for mac is not executing:
<img width="418" alt="screen shot 2017-01-19 at 10 07 41 am" src="https://cloud.githubusercontent.com/assets/6197997/22111930/2e3565a0-de2f-11e6-91a9-5d7fa51dd880.png">

[2017-01-19 16:10] cquammen commented on #817
For better or worse, this is ParaView's behavior for color palettes. Without going into too much detail, once you pick a custom color for the background, the "background property" becomes unlinked from the color palette color. The assumption is that you really want a specific background color instead of one from the palette, so ParaView does't apply the palette background the next time you choose

[2017-01-19 16:11] cryos commented on #817
Confirmed here, I guess the color palettes do not override the background color setting as I would have expected. Reset will reset it, but that it very disconcerting.

[2017-01-19 16:40] cryos commented on #832
I will look into this now

[2017-01-19 20:35] cryos commented on #817
I think overriding the background color when selecting a palette would make the most sense

[2017-01-19 21:16] yijiang1 commented on #608
@Hovden When someone edits the values in X/Y/Z box, should we only change the label in the Axis Grid or resize the data set?

[2017-01-20 14:15] Hovden commented on #608
Either way could work.

Scenario 1:
User specifies aspect ratio of voxels (x,y,z) for the dataset
and also specifies the dimensions (e.g. nm) for x,y,z

Scenario 2:
The aspect ratio is pulled automatically from the x,y,z dimensions set.

We should pick the scenario that is easiest to program.

[2017-01-20 15:15] cryos commented on #832
The fixup bundle script that is used as part of the packaging process is failing early with a non-existent dependent library. We are working on tracking down what is causing the issue, we will hopefully have this fixed up soon.

[2017-01-20 15:32] yijiang1 commented on #608
Right now editing values in X/Y/Z box will "resize" the dataset:
<img width="1051" alt="screen shot 2017-01-20 at 10 21 05 am" src="https://cloud.githubusercontent.com/assets/13088588/22154899/5b37ad7a-defb-11e6-8bae-02bdab3430f3.png">
<img width="1047" alt="screen shot 2017-01-20 at 10 21 54 am" src="https://cloud.githubusercontent.com/assets/13088588/22154903/5ca0f950-defb-11e6-952e-9ea92adce29b

[2017-01-20 15:48] yijiang1 commented on #608
Never mind, I realize my confusion is due to a bug. I'll make a new issue for that.

[2017-01-20 16:29] yijiang1 opened #834 "Visualization does not update automatically when changing the values in "Unit and Size""
1. Load a dataset. Click View Menu -> Show Axis Grid
<img width="1032" alt="screen shot 2017-01-20 at 11 21 22 am" src="https://cloud.githubusercontent.com/assets/13088588/22156814/f57eaf4e-df02-11e6-8355-0b46de7dd2bc.png">

2. Edit X/Y/Z values in the "Unit and Size" panel. The outline and axis grid do not update automatically.
<img width="1029" alt="screen shot 2017-01-20 at 11 22 41 am" src="ht

[2017-01-25 16:41] cryos commented on #832
This is now fixed, it was an issue with our packaging script and some Qt plugins we were not making use of.

[2017-01-25 16:41] #832 closed

[2017-01-25 16:43] cryos opened #836 "Add support for OME-TIFF"
This is an open format that we should add support for, it uses a combination of TIFF for binary data and XML for metadata. The format specification is at the following link:

https://www.openmicroscopy.org/site/support/ome-model/ome-tiff/

[2017-01-25 16:59] thewtex commented on #836
Note that ITK now has very good support for SCIFIO IO, which has support for most of the OpenMicroscopy formats.

[2017-01-25 17:01] thewtex opened #837 "Add support for MetaImage and NRRD Image IO"
I am having a hard time creating 3D images I can view in tomviz.

Most scientific processing tools, especially the ITK-based ones, have support for MetaImage (.mha) and NRRD (.nrrd) formats. They are N-Dimensional, support a variety of pixel types, and have good support for associated image metadata like the origin, etc. I see ParaView has support for these, so hopefully it would not be too much w

[2017-01-25 17:44] cryos commented on #836
I don't want to depend on a Java framework for file IO, it is good to know, but I think for the size of data we are looking at having something read into one memory block in C++ would be preferable. We should investigate how easy it would be to use ITK through the Python interface to load data formats it supports.

[2017-01-25 17:51] cryos commented on #837
I have never heard of these formats, if it is a matter of exposing the ParaView readers it shouldn't be a big deal. We can take a look, but @cjh1 just added support for reading TIFF image stacks, and TIFF volumes have worked well for quite some time. There is also XDMF (HDF5 based) that many people use.

Where are these file formats generated? What domains are you thinking of? It isn't something I

[2017-01-25 18:17] thewtex commented on #837
MetaImage is the most common format I work:

  https://github.com/Kitware/MetaIO

NRRD is pretty common the medical domain:

  http://teem.sourceforge.net/nrrd/format.html

NRRD may not be as applicable to tomviz, but MetaImage is extremely common in the ITK/VTK community.

[2017-01-25 18:56] cryos opened #838 "Crash/render warnings when loading state"
This was a crash, but now results in a number of errors when loading a state file. It looks related to recent changes in ParaView, either the QVTKOpenGLWidget or some updates to active view handling/tracking. Writing this up to track the issue. To reproduce I saved a state file with a small volume, just after loading with an outline/slice. When loading state errors such as those below result (on L

[2017-01-25 19:06] thewtex commented on #837
Confirmed that the TIFF stacks work with the latest Nightly binary :+1: .

Still would like MetaImage support ;-)

[2017-01-25 19:12] cryos commented on #837
We will look into it, do you know where some sample files with volumes in them might be? I have seen that library name, but know little else about them. Looking at the links they seem very medical which might explain it :-) We have a simple file reader white list, so it shouldn't take much work to test and add them once we have a sample file.

[2017-01-25 19:19] thewtex commented on #837
Thanks for the consideration.

Here's a file from the VTK test suite:

  https://midas3.kitware.com/midas/folder/10149

There are a bunch more:

  https://midas3.kitware.com/midas/search/index?q=.mha

[2017-01-25 20:49] cryos commented on #838
Confirmed on some older nightly builds that all works well, this is certainly related to changes in VTK/ParaView master. There have been quite a few in both the OpenGL2 low level rendering, ParaView active view logic, and the QVTKOpenGLWidget. With master of VTK/ParaView on Linux I am seeing many errors when closing Tomviz too.

[2017-01-26 02:39] cryos commented on #802
This is now fixed

[2017-01-26 02:39] #802 closed

[2017-01-26 16:20] cryos commented on #837
So we have MetaIO, it should be in one of the next binaries. We should see if we can do the same for NRRD, https://midas3.kitware.com/midas/search/index?q=.nrrd doesn't show any obvious volumes, is there a good sample file you have to hand there?

[2017-01-26 16:57] cryos commented on #838
After trying quite a few different VTK SHAs with Tomviz master none of them crash, but there are some timer firing warnings, and with VTK master a large number of ERROR lines from the OpenGL2 rendering code.

[2017-01-26 17:29] thewtex commented on #837
Thank you!

Here's a testing dataset for NRRD:

  https://data.kitware.com/#item/588275628d777f4f3f30816e

[2017-01-26 18:11] cquammen commented on #837
Just to chime in here - there are restrictions on which kind of Nrrd files ParaView can load - compressed Nrrds cannot be read, for instance. The full list is at: http://www.vtk.org/doc/nightly/html/classvtkNrrdReader.html#details

[2017-01-26 18:15] cryos commented on #837
That sounds fine, we aren't going to extend the format in ParaView but if it would be useful to read in volumes from the format with a few lines of code I am all for it.

[2017-01-28 00:02] JeremyHorst opened #842 "Volume render unresponsive"
Hi Team, Love your software.
1. Downloaded nightly build on 2017-01-27 onto a mid-2012 macbook pro (new), loaded data great, 2D views perfect. Add volume render, icon appears, but no rendering. Turned off, tried again with different data set, all that. No dice.
2. Could you please please add in an option for a scale bar?
Peace and Thanks,
Jeremy - UCSF DeRisi Lab

[2017-01-28 02:25] Hovden commented on #842
Jeremy,

Thanks for the input. We will look into the rendering. Just a note, I have had issues when OSX is not fully updated. Make sure the "eye" icon is not "off" in the data pipeline (shouldn't be off by default).

We will add features that improve the scientific display of scale as soon as possible.

[2017-01-28 03:34] yijiang1 commented on #842
The visualization is On when the icon looks like this

<img width="249" alt="screen shot 2017-01-27 at 9 32 47 pm" src="https://cloud.githubusercontent.com/assets/13088588/22393627/6633e102-e4d8-11e6-84cb-4f75cab90909.png">
Off looks like

<img width="251" alt="screen shot 2017-01-27 at 9 32 39 pm" src="https://cloud.githubusercontent.com/assets/13088588/22393626/6184fce0-e4d8-11e6-9b98-1a372197e8

[2017-01-28 06:57] JeremyHorst commented on #842
Huh. Thanks very much for the quick reply. Do you have a concept of how large a tiff stack can be handled by TomViz? I have 16GB, so thought a 700MB stack would be okay (with minimal other processes running), but I think the problem was simply that the file was too big. I downsized with to ~135MB in imageJ and then bin-2-ed it in tomviz, and it loaded & showed. When it loaded it did so shifted a b

[2017-01-28 16:41] cryos commented on #842
I test quite regularly with a 510MB and 909MB TIFF volume, I just took a look at the latest nightly binary with the 909MB stack and it worked fine on the Mac test machine I have. I also test a 1025^3 volume, and just verified the volume rendering there. It is possible you are hitting the limits of your graphics card, which is harder to detect for us. The volume rendering code uploads the volume to

[2017-01-29 15:48] JeremyHorst commented on #842
Thanks very much for your time in looking into this and responding. I used another machine and it worked fine. Sorry about the trouble. Please feel free to close or delete the issue I brought up, or instruct me how to do so.

I do reiterate the issue on the scale bar - it would be sweet to have an unobtrusive scale bar that could hide in a corner, instead of the big encompassing prism.

And thank

[2017-01-29 16:18] Hovden opened #843 "Scalecube"
We should add a scale cube to the volume reader. It would be a small cube that is labeled with its size (e.g. 10nm, 10um, etc.).

[2017-01-29 16:20] Hovden commented on #842
Great. We have worked hard to make 3D viz accessible on low performance machines, but for ultimately big datasets will require more resources.

I have added a scale cube to the feature request: https://github.com/OpenChemistry/tomviz/issues/843

[2017-01-29 16:20] #842 closed

[2017-01-29 19:14] cryos commented on #843
Isn't this a visual element you are suggesting, not seeing why it would be added to a reader.

[2017-01-30 01:59] Hovden commented on #843
Corrected. You are right, it is a visual element—was a typo, meant to say "render".

[2017-01-30 15:20] cryos commented on #843
No worries, I wanted to confirm I understood.

[2017-01-30 16:09] cryos commented on #19
This has been a longstanding issue, I have https://github.com/cryos/tomviz/commit/8075d32c88653e8ae8d3fa0312f00fc936a9b61f which changes Tomviz to use retinal display, but https://gitlab.kitware.com/vtk/vtk/merge_requests/2434 is needed in VTK, and https://gitlab.kitware.com/paraview/paraview/merge_requests/1322 is needed in ParaView. I am working with @utkarshayachit on getting them ready to be m

[2017-01-31 15:32] cryos commented on #19
So we have merged the VTK and ParaView patches, I just bumped our ParaView and will keep an eye on the build. I am tempted to turn this on, and see what the binaries look like. I would still like to tag a release today/tomorrow so that wouldn't leave a lot of time for testing - thought @Hovden? I intend to make another release at the end of February/early March.

[2017-01-31 15:49] Hovden commented on #19
I can do some quick testing Wednesday night / tomorrow morning. We could tag tomorrow afternoon.

[2017-01-31 17:02] cryos commented on #19
I tested the binary that was just uploaded and it looks very good on the whole, interaction worked well. The font in the chart is very small, but I think workable and we can look at DPI awareness or workarounds. The rendering is looking great, comparing pre and post retina the retina looks better and works well. So I would use that even with some of the imperfections, we can get feedback, and alwa

[2017-01-31 17:24] yijiang1 commented on #19
@Hovden Here is a screen shot:
<img width="600" alt="screen shot 2017-01-31 at 12 13 41 pm" src="https://cloud.githubusercontent.com/assets/13088588/22476093/1e432892-e7af-11e6-87d8-cb38c0252bc5.png">

[2017-01-31 17:32] yijiang1 commented on #19
Find a bug: when I use the two manual alignment and simple back projection (C++), the main window goes black.
<img width="1280" alt="screen shot 2017-01-31 at 12 30 45 pm" src="https://cloud.githubusercontent.com/assets/13088588/22476643/228df1d2-e7b1-11e6-8f28-f82dc9e474e1.png">

[2017-01-31 18:05] cryos commented on #19
I missed a few places where we use QVTKWidget. I will submit a pull request migrating them over to the new QVTKOpenGLWidget. I should have a patch soon, and am able to reproduce this locally. Thanks for the report!

[2017-01-31 18:34] Hovden commented on #19
Thanks for testing @yijiang1 . Assuming the bugs are patched, the retna makes a substantial difference on the mac.

I was surprised to see how much more space efficient and modern the histogram now looks.

Many icons are still low res, but I imagine that is easier to address. I would like to replace a few icons anyways.

[2017-01-31 18:43] mathturtle commented on #837
@thewtex When I try to read your test dataset I get:
[code]

ParaView just won't read it.  Tomviz segfaults.... I'll look into the crash.

[2017-01-31 19:47] mathturtle opened #849 "When loading state, operators run out of order"
1) Start tomviz, load a dataset.
2) Apply an operator that converts the dataset type to tilt series (I used Project Tilt Series from Volume, an operator that takes a few minutes to run).
3) Apply a reconstruction operator that converts it back to a volume
4) Save the state file
5) Restart tomviz and try to load the state file -> the two operators try to run at the same time and the reconstruction

[2017-01-31 19:48] cryos commented on #19
I pushed #848, but it appears to be revealing a new bug I hadn't observed before - upon closing these dialogs everything goes black and the OpenGL widgets fail to render.

[2017-01-31 20:41] yijiang1 opened #850 "Crash when closing progress message dialog during transform"
tomviz crashes if I close (by clicking the cross button <img width="22" alt="screen shot 2017-01-31 at 3 39 30 pm" src="https://cloud.githubusercontent.com/assets/13088588/22483492/864ea6a2-e7cb-11e6-9523-025097509c0d.png">) the progress message dialog during a transform.

[2017-01-31 20:51] yijiang1 commented on #19
There is still a minor issue
On Mac, if I close the alignment ui by clicking <img width="22" alt="screen shot 2017-01-31 at 3 39 30 pm" src="https://cloud.githubusercontent.com/assets/13088588/22483763/967862e2-e7cc-11e6-87a1-3b71eb4ddbd8.png">, a black square will appear
<img width="300" alt="screen shot 2017-01-31 at 3 42 12 pm" src="https://cloud.githubusercontent.com/assets/13088588/22483828/d

[2017-01-31 20:55] cryos commented on #19
Yeah, I think this is how it looks on the Mac and what I was referring to above. Upon closing the dialogs the main render widgets are getting corrupted, looking into it.

[2017-01-31 21:22] cryos commented on #19
Think I found a fix, but it will need a VTK, ParaView, Tomviz superbuild update unfortunately.

[2017-01-31 21:28] Hovden opened #851 "Default to Jitter ON"
I like the volumetric jitter function that was added for reducing aliasing / sampling artifacts. I propose that we turn this on as a default. Thoughts?

[2017-01-31 21:40] yijiang1 commented on #851
1. What exactly does "jittering" do?
2. I don't see significant changes for the datasets I have (sample data and Elliot's nanoparticles).

[2017-01-31 22:01] mathturtle commented on #850
We were testing similar things... if you have a transform running and click the X button on the tomviz main window, you end up with a zombie background thread that is stuck in its event loop.  I have #852 to help steer users away from this, but it doesn't actually fix it.

[2017-01-31 22:21] Hovden commented on #851
For the undersampled datasets (e.g. the start np) you will notice it "washes" out the effects of pixelation slightly. It adds a grainy texture in place of a pixelated texture. This is most noticeable when tomviz heavily downsamples during a users rotation (e.g. load your generate nps at 256^3 and rotate it around).

It is a form of dithering—I haven't looked into the details. Some information here

[2017-01-31 22:32] yijiang1 commented on #851
This is a 128^3 random data set. With or without jittering look very similar to me.
<img width="300" alt="screen shot 2017-01-31 at 5 26 33 pm" src="https://cloud.githubusercontent.com/assets/13088588/22487320/e494c728-e7da-11e6-8757-e68c75644c62.png">    <img width="300" alt="screen shot 2017-01-31 at 5 26 45 pm" src="https://cloud.githubusercontent.com/assets/13088588/22487321/e56e95a2-e7da-11e6

[2017-01-31 23:30] cryos commented on #851
I don't think it has an enormous effect, it was actually on by default and they changed the default last year some time in VTK. I think it would be reasonable to make it default, and that can be reflected in the user interface.

[2017-02-01 15:00] mathturtle commented on #837
It looks like we don't check if the reader fails, we just create a DataSource with the empty image... and then the code to make the histogram crashes because it doesn't handle that.

[2017-02-01 20:40] cryos commented on #19
So I got the change in VTK, but they did some upgrades on the dashboards, and the ParaView change bring the VTK change is held up in testing right now. It is fixed in my testing, but I need to do some verification on Windows and macOS once I have new binaries.

[2017-02-01 22:59] Hovden commented on #19
I'm getting an error on OSX when running the "manual tilt axis alignment" (just launch it and close it).
<img width="644" alt="screen shot 2017-02-01 at 5 58 18 pm" src="https://cloud.githubusercontent.com/assets/6197997/22530104/274138ea-e8a8-11e6-9e78-fdcb9b4e1b38.png">

[2017-02-02 15:37] Hovden opened #854 "Automatic Axis Shift Alignment"
Create a python algorithm to estimate axis of rotation shifting. Target datasets for demonstration are the star nanoparticle and the carbon nanotube.

[2017-02-02 15:41] cryos commented on #19
Yes - this is the fix I was referring to in VTK, once it is in I need to push our ParaView SHA forward, and it should be resolved on all platforms.

[2017-02-02 15:47] yijiang1 commented on #843
The current axis grid encloses all datasets in rending window.
<img width="514" alt="screen shot 2017-02-02 at 10 45 29 am" src="https://cloud.githubusercontent.com/assets/13088588/22556388/f494d432-e934-11e6-8f00-33195d424247.png">

[2017-02-02 16:23] yijiang1 opened #855 "Progress bar stop updating during reconstruction"
Sometimes the progress bar stop updating during reconstruction (especially back projection).
After reconstruction is done, some dialogs such as set tilt angles become black.

![ezgif com-video-to-gif 1](https://cloud.githubusercontent.com/assets/13088588/22557721/5db22420-e939-11e6-8ce1-8cf9d78ab99a.gif)

[2017-02-02 16:27] cquammen commented on #855
Tangential question: how do you make the animated GIF?

[2017-02-02 16:32] yijiang1 commented on #855
I use QuickTime Player to record a video and then use http://ezgif.com/video-to-gif to convert mp4 to gif.

[2017-02-02 16:38] cjh1 commented on #855
@yijiang1 Can you confirm that the progress.update(...) calls are being make in your python script?

[2017-02-02 16:47] yijiang1 commented on #855
There is a progress.update function?
I use "self.progress.value = step" to update progress bar.

[2017-02-02 16:51] cjh1 commented on #855
Sorry yes, that is what I meant

[2017-02-02 17:12] yijiang1 commented on #855
The Direct Fourier Method doesn't have this problem.
Maybe it's caused by calling another function in for-loop?
<img width="463" alt="screen shot 2017-02-02 at 12 01 31 pm" src="https://cloud.githubusercontent.com/assets/13088588/22559651/cc7a253c-e93f-11e6-94e9-654e629f619f.png">
(code in Recon_WBP.py)

[2017-02-02 17:37] yijiang1 commented on #843
A temporary solution is to implement a transform that adds a cube to data set?
<img width="300" alt="screen shot 2017-02-02 at 12 33 43 pm" src="https://cloud.githubusercontent.com/assets/13088588/22560914/49c3ddc2-e944-11e6-9a79-1b04ff667459.png">

[2017-02-02 17:38] cjh1 commented on #855
That is what I am wondering, if you put a print before and after that function call, we can see if it getting stuck there.

[2017-02-02 18:31] yijiang1 commented on #855
I add a print statement before the wbp2 function and the progress bar no longer gets stuck!

[2017-02-02 19:24] cryos commented on #19
So this seems to work well, unfortunately the machine ran out of disk space, breaking the automatic upload of the installer. iMac with retinal display and regular Mac both looked good, just taking a look on Windows. Linux saw the same issue, and that is where I resolved the bug. So we are in pretty good shape I think.

[2017-02-02 20:00] thewtex commented on #837
@mathturtle Thanks fro the update and effort.

It sound the crash further in the pipeline is worth a fix for other reasons.

The lack of gzip support in NRRD is not worth pursuing further -- MetaImage support is good for me.

Thanks for the help on this issue!

[2017-02-02 20:00] #837 closed

[2017-02-02 22:09] Hovden commented on #19
I haven't crashed the latest build. @yijiang1 does it work well for you?

[2017-02-02 22:25] yijiang1 commented on #19
I haven't encountered any new problem related to retina display, though I can easily crash tomviz in other ways.

[2017-02-02 23:27] cryos commented on #19
I am going to mark this as resolved. If we ever want to make a release we have to draw a line somewhere. Create issues for the ones that you can offer a recipe to reproduce, and we will see what we can do. I am marking this as resolved, Steve is coming up with more icons, but they will take time. I will be tagging the release soon, we will fix as much as we can for the next release in about a mont

[2017-02-02 23:27] #19 closed

[2017-02-03 02:40] Hovden commented on #19
Great. I agree. Things look good for a release.

I would like to discuss icons with you before Steve invests too much time. Maybe we can chat briefly tomorrow.

[2017-02-03 14:18] Hovden commented on #607
I believe dithering "i.e. Jitter on" would alleviate this. #851

[2017-02-03 14:27] Hovden commented on #621
-If the ruler reported the voxel values at the start and end points then we could knock off issue #311

Cosmetic comments:
-Turning the "eye" off does not make the arrow disappear. Thus users must delete all their measurements for visualization.
-There is a large lag between the ruler annotation and arrow when moving points around. If its easy to make the refresh time faster, that would help.

[2017-02-03 14:38] cryos commented on #607
It would be good to hear, I didn't have time to change the default but we will get it in soon. Streak artifacts are usually much larger scale, it sounds more like a level of detail artifact.

[2017-02-03 15:12] yijiang1 commented on #607
@Hovden Nope, jittering does next to nothing to visualization and artifacts:
![no_jittering](https://cloud.githubusercontent.com/assets/13088588/22596156/75d21c62-e9f8-11e6-9900-8b9881deb7d7.PNG) --> ![with_jittering](https://cloud.githubusercontent.com/assets/13088588/22596160/79743c1a-e9f8-11e6-8a51-de04a17f2648.PNG)

On the other hand, I can't reproduce the steak artifacts in current version. M

[2017-02-03 15:17] Hovden commented on #607
I do see a difference in those two images. The one of the right has slightly reduced the pixelation with a grainy texture (it is minor but visible). I am glad that the dithering is conservative / subtle—it is was too strong then I would be more worried about unexpected artifacts.

[2017-02-03 15:17] #607 closed

[2017-02-03 16:21] yijiang1 opened #858 "Text resolution changes in open file dialog"
Click menu -> Open
Mouse over different regions, sometimes text resolution changes for about a second.
![ezgif com-video-to-gif 1](https://cloud.githubusercontent.com/assets/13088588/22598674/3d116bd0-ea02-11e6-914d-2bcae350053d.gif)

This is minor but noticeable.

[2017-02-03 16:52] cryos commented on #858
To the best of my knowledge this is a native macOS dialog, and we are using it. I see what you mean, but I think it is a macOS bug, and so there is no way we can fix it (you could report it to Apple). If any of our macOS experts know better please let me know, I actually want to make sure we always use the native dialogs where possible as they have better OS integration (favorites, etc), but we lo

[2017-02-03 18:06] cjh1 commented on #855
@yijiang1 I am unable reproduce this issue are there particular parameters you are providing to the transform and which dataset are you using?

[2017-02-03 18:15] yijiang1 commented on #855
I'm using default parameters and the star-shaped sample dataset.

[2017-02-03 18:17] cjh1 commented on #855
And this happens every time for you? ( i am using the same dataset and defaults )

[2017-02-03 18:20] yijiang1 commented on #855
Pretty much, though it gets stuck at different steps.

[2017-02-03 18:21] cjh1 commented on #855
Does it get unstuck?

[2017-02-03 18:22] yijiang1 commented on #855
Nope

[2017-02-03 18:26] cryos commented on #855
Is this on macOS, Windows, Linux? I know a lot of your recent testing seems to be on macOS where we have seen some update issues. Are using the binaries we generate? If not it may also be worth updating to Qt 5.8.0 as it has quite a few fixes for different platforms (not sure if anything specifically addressing this).

[2017-02-03 18:26] cjh1 commented on #855
but does the reconstruction complete?

[2017-02-03 19:44] yijiang1 opened #859 "Fail to import scipy v0.9.3 Mac OS"
I get errors when using scipy functions

Traceback (most recent call last):
  File "Gaussian Filter", line 6, in transform_scalars
  File "/Applications/tomviz.app/Contents/Python/scipy/ndimage/__init__.py", line 172, in <module>
    from .filters import *
  File "/Applications/tomviz.app/Contents/Python/scipy/ndimage/filters.py", line 37, in <module>
    from scipy.misc import doccer
  File "/App

[2017-02-03 19:48] yijiang1 commented on #855
Yes, and after that the ui goes crazy.

It's on macOS

It seems the binaries work fine. I'll update my Qt.

[2017-02-03 20:13] mathturtle commented on #859
@cryos I can reproduce.  And I think the problem is this part (emphasis added):

@yijiang1 What version of OSX are you using?

[2017-02-03 20:14] yijiang1 commented on #859
OS X El Capitan 10.11.6

[2017-02-03 21:27] cjh1 commented on #855
Lets close this for now and reopen if you still have problems with latest  Qt

[2017-02-03 21:27] #855 closed

[2017-02-03 22:06] yijiang1 commented on #854
ok I've found a dumb way that estimates the shift within 1 or 2 pixels accuracy.
Works well on star nanoparticle and 180 carbon nanotube.
<img width="250" alt="screen shot 2017-02-03 at 5 03 38 pm" src="https://cloud.githubusercontent.com/assets/13088588/22610337/fbdc2a20-ea32-11e6-8d18-73f6209f6286.png"> ----> <img width="250" alt="screen shot 2017-02-03 at 5 04 42 pm" src="https://cloud.githubus

[2017-02-03 22:40] Hovden commented on #854
Seems to work well on those datasets. I look forward to the details of how it works.

[2017-02-04 00:39] cryos commented on #859
I updated the binary, and the nightly, if you give them a try they will hopefully be working better.

[2017-02-04 17:54] cryos commented on #858
Closing this for now as this looks like an operating system level dialog bug, updating to Sierra may improve things. Please reopen if it looks like it might be something at the Tomviz level.

[2017-02-04 17:54] #858 closed

[2017-02-04 19:11] yijiang1 commented on #859
I still get errors on latest binary (0.9.3-2-ge47bb8d).

[2017-02-04 23:26] Hovden commented on #859
I moved forward with promoting this release. We have nearly a hundred new users downloading v0.9.3

[2017-02-06 15:53] mathturtle commented on #859
Hopefully most of them run Sierra and downloaded before we found this.  I don't think the newer binary will work there either... I only had half the fix we needed, and the halfway fix won't work anywhere.  Anyway, I think I've fixed the rest now and a new package is building.

[2017-02-06 17:23] Hovden commented on #859
I see, if it works on the latest OSX then we should simply make note of that in the installation instructions.

[2017-02-06 18:24] cryos commented on #859
I should have an updated installer shortly that will work on older versions, and I think we should support them. It has finished generating, just going to get someone to test it out.

[2017-02-06 18:44] cryos commented on #859
Updated the binary for the release at http://www.tomviz.org/downloads/, Shawn just tested it and it looked good. This should support at least down to 10.10, which I think is reasonable. I can update the page to say that is our new minimum (most would work down to 10.9, but SciPy will not).

[2017-02-06 20:20] yijiang1 commented on #859
I upgraded my system to Sierra (v10.12.3) and the still get errors on 0.9.3-2-ge47bb8d.
The newer version (0.9.3-16-g6b94623) does fix the problem.

[2017-02-06 20:35] cryos commented on #859
The binary installer was fixed at http://www.tomviz.org/downloads/ for older versions of macOS, i.e. 0.9.3, and the later builds will work. The 0.9.3-2-ge47bb8d needed some extra changes to the fortran library, and so will never work. It sounds like this is resolved, and in our testing it at least worked on El Capitan, and should go back to 10.10.

[2017-02-06 20:35] #859 closed

[2017-02-06 21:22] yijiang1 commented on #855
How can I update my qt to 5.8 (on Mac)?

[2017-02-07 18:40] yijiang1 commented on #850
The latest binary (0.9.3-16-g6b94623) on Mac still crashes when doing tomographic reconstructions.

[2017-02-07 20:01] mathturtle commented on #850
The fix for this issue didn't make it into the release.  Did you click the X button on the progress dialog when testing this or did the reconstructions crash without you doing anything?  I'm having trouble making it crash, although I am seeing some errors when trying to run the FFT-based reconstructions.

[2017-02-07 20:02] mathturtle commented on #850
Misclicked the 'comment and close button'... oops.

[2017-02-07 20:07] yijiang1 commented on #850
Yes. The reconstruction works fine itself.

I often use Weighed Back Projection for testing (with default parameters).

[2017-02-07 22:27] yijiang1 commented on #100
This is same as #854

[2017-02-07 22:27] #100 closed

[2017-02-07 22:32] yijiang1 commented on #724
I don't have this problem any more on Mac.
Feel free to close the issue if it's fixed on other platforms.

[2017-02-07 22:53] yijiang1 opened #869 "Crash when closing RenderView window"
Binary: 0.9.3-16-g6b94623 on Mac
1. Load a data set
2. Close RenderView by clicking the x button:
![picture1](https://cloud.githubusercontent.com/assets/13088588/22715245/14f720b8-ed5e-11e6-8878-3e2674d41a14.png)
3. Crash

[2017-02-07 22:58] yijiang1 opened #870 "Can't load datasets to multiple RenderViews"
Binary: 0.9.3-16-g6b94623 on Mac

When there are multiple RenderViews, dataset l load or generate always show up in the first RenderView.

[2017-02-07 23:30] cryos commented on #870
Confirmed, you can add stuff to the views but the data load only works in the first view in master.

[2017-02-08 01:11] ercius opened #872 "Tilt axis alignment (manual): change 'enter' and 'return' keys default action"
Im working with the tilt axis alignment (manual) GUI in the newest release. If you change a number then the GUI does not update until you click somewhere. (This is a known QT issue).

However, my first instinct is to press the 'enter' key to update the GUI. By default this exits the GUI and starts the shift/rotate functions. I constantly have to start this process over due to my own reflexes.

Can

[2017-02-08 01:14] ercius opened #873 "Stop pipeline from executing"
Is it possible to delete multiple pipeline operators at once without having the pipeline execute between each one?

For example, if you make a mistake in the Tilt Axis Alignment (manual) GUI then you have to delete a rotate and a translate operator before you can try again. Its very slow and inefficient.

[2017-02-08 01:21] cryos commented on #872
That is a great suggestion, I was looking at the interaction in this dialog today and spotted a few issues. We will see if we can improve it, and make this more intuitive.

[2017-02-08 01:24] cryos commented on #873
I will see if we can expose a method of pausing the pipeline, or perhaps selecting multiple operators to delete. Thank you for the feedback, this is not optimal when you want to remove multiple items.

[2017-02-08 14:40] cjh1 opened #874 "Remove top layout tab UI to reclaim some space"
We don't really use this feature so it might be nice to get this space back.

[2017-02-08 14:45] cjh1 opened #875 "Histogram doesn't seem to restore correctly from state file"
![histo](https://cloud.githubusercontent.com/assets/1031053/22742021/4cdfbf82-ede3-11e6-9d6b-df12f0b47980.png)

[2017-02-08 15:39] #849 closed

[2017-02-08 15:49] yijiang1 commented on #869
After #871 , clicking the X button no longer crash tomviz.

However, there is a new bug:
After closing the RenderView, information about the dataset still exists in the pipeline. Clicking it can crash tomviz.

[2017-02-08 15:53] cryos commented on #869
Yes, we were looking at this, the visualization modules need to be removed if a render view is removed otherwise things will crash. This was the simplest fix, but we will follow up with more fixes to resolve outstanding issues.

[2017-02-08 18:33] #873 closed

[2017-02-08 19:43] Hovden commented on #874
I agree that layout / renderview UX could use some optimization. I'm open to ditching the tabs—but wonder the role they might play in stats segmentation work. @cquammen

[2017-02-08 19:47] cquammen commented on #874
Do you mean just this part?

![image](https://cloud.githubusercontent.com/assets/360056/22754350/3a347128-ee0d-11e6-8d79-7cba1a261eaf.png)

Or the whole

![image](https://cloud.githubusercontent.com/assets/360056/22754373/516a80ee-ee0d-11e6-9358-65d1827a2ac1.png)

As @Hovden suggests, we'll need to be able to have multiple views open and we'll want to be able to close them I would imagine, so we'l

[2017-02-08 19:47] Hovden opened #878 "Integrate tiff reader data spacing into "data properties panel""
Integrate tiff reader data spacing into "data properties panel".

Marcus had a good suggestion: The current popup to specify the data spacing gets annoying. We could integrate these parameters under a new section in the "data properties" panel. Perhaps call it "Voxel spacing (aspect ratios)"

[2017-02-08 19:53] cryos commented on #874
I just mean the top thing, Layout #1, etc. It is not well integrated, and I think the splits, etc in the RenderView will be more than enough for our use case, and would free up a good chunk of space (i.e. Layout #1, the +, etc would be removed).

[2017-02-08 19:57] cryos commented on #878
Yes, this sounds good, and then we would stop showing the panel for loading TIFF data. It should go above or below the data scale user interface, and would need similar interaction (we need to fix that too so that we rescale the view when the scale or spacing is changed).

[2017-02-08 19:58] cquammen commented on #874
Just wanted to clarify. Right, the tab portion shouldn't be necessary for anything we are doing or have planned.

[2017-02-08 20:01] cryos commented on #874
Yes, to avoid any confusion, I mean remove this, and all the empty space left to its right on Linux (and to either side of it on macOS).

![image](https://cloud.githubusercontent.com/assets/42214/22755017/6e9ef06c-ee0f-11e6-8e31-3e74f17d09b2.png)

[2017-02-08 20:02] cryos commented on #874
I very much want to keep
![image](https://cloud.githubusercontent.com/assets/42214/22755052/8c9a528c-ee0f-11e6-93f6-f8de31b1ad7d.png)

[2017-02-08 20:03] cryos commented on #874
I also want to figure out why the icons are so bad on the Mac! Along with the text.

[2017-02-08 20:18] cryos commented on #851
This is now merged

[2017-02-08 20:18] #851 closed

[2017-02-09 00:22] ercius opened #880 "C --> Fortran array deep copy"
The console keeps printing out the following information:

...done.

This seems very inefficient. I am not sure why tomviz has to keep changing the array from Fortran -->C-->Fortran ordering. This happens for almost any numpy operation since numpy is C ordering.

As a test I modified the rotation script to print out the ndarray flags at various points:
[code]

Here is the output:

  C_CONTIGUOUS :

[2017-02-09 13:17] #432 closed

[2017-02-09 13:39] yijiang1 opened #881 "Crash when deleting data transforms"
Binary: 0.9.3-61-g4ff32c6.  macOS

1. Load a data set.
2. Do two data transforms.
3. Right-click the first transform and delete it.
4. Crash

[2017-02-09 14:18] yijiang1 commented on #780
I no longer have this problem. Seems it's fixed now.

[2017-02-09 16:15] cjh1 commented on #881
@yijiang1 Is the transformation running when you do the delete? Following the instruction provided above seems to work on linux.

[2017-02-09 16:26] yijiang1 commented on #881
No. I delete the transforms after they finishes.

Maybe it's only Mac's problem. Here is part of error message I get:

Process:               tomviz [10483]
Path:                  /Applications/tomviz.app/Contents/MacOS/tomviz
Identifier:            ???
Version:               ??? (0.9.3)
Code Type:             X86-64 (Native)
Parent Process:        ??? [1]
Responsible:           tomviz [10483]
Use

[2017-02-09 18:55] cjh1 commented on #881
What particular transform are you using?

[2017-02-09 19:09] yijiang1 commented on #881
Pretty much any transform can cause crash.
Also, it seems resetting tomviz may temporarily fix the problem.
For example,
1. Open tomviz. Click File-->Reset.
2. Load a sample data set.
3. Do Rotate transform.
4. Do another Rotate transform.
5. Delete the first transform. No crash.
6. Do a third Rotate transform.
7. Delete the first transform again, tomviz crashes.
@Hovden Can you reproduce this pro

[2017-02-09 19:36] cjh1 commented on #880
@ercius #882 resolves this issue for rotation, but we will have to apply a similar fix else where.

[2017-02-09 21:50] Hovden commented on #881
Confirmed. Repeating 1-7 causes a crash on OSX v0.9.3-61.

[2017-02-09 21:51] Hovden opened #883 "Histogram colorscale incorrect after transform"
1) Square root data
2) Histogram colorbar is incorrect:
<img width="1248" alt="screen shot 2017-02-09 at 4 51 35 pm" src="https://cloud.githubusercontent.com/assets/6197997/22804674/0dbf27a6-eee8-11e6-8ee4-109a2834f27e.png">

[2017-02-10 21:26] mathturtle commented on #850
It doesn't seem like Qt provides a good way to hide the X button.  At least not without direct platoform-level calls.  There are some flags, but the implementation is free to ignore if the platform doesn't support it.  I have a branch (#886) that should fix the crash though.  But if the operator doesn't support canceling, it will keep running in the background until it finishes.

[2017-02-10 21:55] cjh1 opened #887 "AutoTiltAxisRotationAlignOperator error"
[code]

[2017-02-10 22:05] yijiang1 commented on #887
I don't get this error. Which data are you using?

[2017-02-10 22:06] cjh1 commented on #887
TiltSeries_NanoParticle_doi_10.1021-nl103400a.tif

[2017-02-10 22:09] yijiang1 commented on #887
Interesting... I can execute the transform with no error.

[2017-02-10 22:11] yijiang1 commented on #887
What is in line 55?

[2017-02-13 14:46] cjh1 commented on #887
@yijiang1 I found this issue, its a python 2 vs 3 issue. In python 2 / is integer division, in python 3 its float division. I have push a fix #889, to use the integer division operator, do we have similar usage else where in other operators?

[2017-02-13 16:25] yijiang1 commented on #887
I'll take a look.

So all python code should follow python 3's syntax from now on?
I thought tomviz support both 2 and 3.

[2017-02-13 16:36] cjh1 commented on #887
Thanks

We want the operators to run using python 2 or 3 ( // is supported by both )

[2017-02-13 19:36] ercius opened #890 "Tilt series sample data missing angles"
I loaded the sample data  to test some things out with the manual alignment widget. However, the tilt angles are not loaded with this dataset in 0.9.3. This makes it difficult to use as a test data set.

[2017-02-13 19:45] yijiang1 commented on #890
Are you able to set tilt angles manually?

[2017-02-13 19:47] ercius opened #891 "Manual tilt series alignment not advancing reference image with keyboard a/s"
The manual tilt series alignment widget does not advance the reference image when a/s keyboard shortcuts are pressed. Clicking on the arrows next to the image number has the desired effect though.
![screen shot 2017-02-13 at 11 42 45 am](https://cloud.githubusercontent.com/assets/15657108/22900125/2112d706-f1e2-11e6-97a2-c2697a4ba398.png)

[2017-02-13 19:52] yijiang1 commented on #891
Yo need to click the tilt image on the left first. Same for arrow keys.

[2017-02-13 19:53] ercius commented on #872
Regarding this: It is also not possible to zoom or pan in the left or center reconstruction window. Only the right reconstruction window can be zoomed and panned with the middle mouse button. That is worth fixing if possible.

[2017-02-13 19:56] ercius commented on #891
I just double checked that, but no luck. The arrow keys work for shifting but the a/s still does not advance the reference image. I have to click on the Static radio button and then back to Prev. Then it updates.

[2017-02-13 19:58] ercius commented on #890
Yes. But I don't know the correct start/stop/step. Its probably 2 degrees per tilt, but the correct values should be loaded automatically.

[2017-02-13 20:02] yijiang1 commented on #891
Yeah you have to do this for changing the REFERENCE image.

The A/S shortcut adjusts the CURRENT image.

[2017-02-13 20:07] yijiang1 commented on #890
I don't think tomviz ever gets tilt angles when loading a data set.
Are tilt angles stored in typical tilt series files?

[2017-02-13 20:16] yijiang1 commented on #887
Does the binary version use python 2 or 3?

[2017-02-13 20:28] cjh1 commented on #887
2 currently, I am running 3, we will move to 3 in the future.

[2017-02-13 20:53] yijiang1 commented on #887
I see.
I found some other potential errors for python 3:
Line 36 & 44 in Recon_DFT.py
Line 157 & 228 in Recon_DFT_constraint.py

[2017-02-13 20:58] cjh1 commented on #887
If you want to push the changes to the PR, I can test them on python 3 for you.

[2017-02-13 21:14] yijiang1 commented on #887
Can I push changes directly to your PR ( #889 )? If yes, how should I do it?

[2017-02-13 21:17] cjh1 commented on #887
Yes, you should be able to:

[code]

[2017-02-13 21:28] yijiang1 commented on #887
I got Permission denied when executing `git fetch cjh1`

[2017-02-13 21:31] cjh1 commented on #887
Do you have your ssh keys setup?

[2017-02-13 21:33] cjh1 commented on #887
If you are using https, the url would be https://github.com/cjh1/tomviz.git

[2017-02-13 21:35] cjh1 commented on #887
Actually looks like your not in right group to push directly to the PR, so I will go ahead a make that changes, sorry about that.

[2017-02-13 21:38] cjh1 commented on #887
or you can push another PR ...

[2017-02-13 21:39] yijiang1 commented on #887
I can do this

[2017-02-13 21:59] ercius commented on #890
This is true.

Some data sets store the tilt angles. Sometimes they are stored in a separate file (i.e. filename.rawtlt in FEI's case).

I suggest that the test tilt series data set from the pull down menu should load the data and set the tilt angles.  Otherwise the user has to guess the angles which is not ideal for a test dataset.

[2017-02-13 22:03] ercius commented on #891
This is not the expected behavior.

What you describe is the expected behaviour when the Static button is selected. Then a/s should only advance the current image.

If the Prev. or Next radio button is selected then the Reference AND Current image should advance by +1 for a and -1 for s.

Furhter, the behavior is different for clicking the Current image up/down arrows compared to the a/s keyboard

[2017-02-13 22:20] yijiang1 commented on #891
Yeah this is the feature we need but missing in tomviz currently.

[2017-02-13 22:32] ercius commented on #891
Im really confused then. What are Prev. and Next radio buttons for then?

[2017-02-13 22:55] ercius opened #894 "Accessing shift/rotate values?"
After aligning the tilt axis using the manual tilt axis widget two operators are added to the pipeline: Shift and Rotate. The code of these operators does not indicate how much shift or rotation will be applied.

In order to track what has been done to a data set, it would be useful to retrieve the shift and rotate values. Suggestions:
1) Write the values into the operator code as the default inpu

[2017-02-14 14:21] #887 closed

[2017-02-14 16:26] thewtex opened #895 "Create a transform to segment particles"
To operate on the *LARGE_PtCu_NanoParticles.tiff* dataset.

[2017-02-14 16:26] thewtex opened #896 "Create a transform to segment pores"
To operate on the LARGE_PtCu_NanoParticles.tiff dataset.

[2017-02-16 19:53] yijiang1 opened #905 "Crash when re-executing alignment transforms"
Binary: 0.9.3-146-gd5e4a10 macOS

1. Load a data set. Mark it as tilt series.
2. Do an automatic alignment transform.
3. Open the python script from pipeline, make some changes (e.g. insert a blank line), and click "OK".
4. Crash.

[2017-02-16 20:02] yijiang1 opened #906 "Crash when deleting recon child data"
Binary: 0.9.3-146-gd5e4a10 macOS

[2017-02-16 20:04] cryos commented on #891
I noticed issues in the interaction, and it did not feel natural to me. It would be good to define what we want, and ensure that the interaction is as expected here. I would have expected what Peter expected, and the way it is written the next and prev buttons do not behave as I would have thought - I would have thought static would do what @yijiang1 is stating.

[2017-02-16 20:07] cryos commented on #883
I am not seeing that here, but testing on Linux. There seem to be some issues with the color bar, I will investigate them as I suspect they are related to it not seeing the full length available during the layout phase.

[2017-02-16 20:08] cjh1 commented on #880
Fixed by #880

[2017-02-16 20:08] #880 closed

[2017-02-16 20:10] cryos commented on #838
I think this is resolved now, and the fixes are in the latest binaries.

[2017-02-16 20:10] #838 closed

[2017-02-16 20:10] yijiang1 commented on #906
This might be related to #881

[2017-02-16 20:25] yijiang1 opened #907 "Automatically hide parent data's visualization and turn on child data's visualization"
Users expect to see results immediately when transforms like tomography reconstruction finish.

Is it possible to automatically hide parent data's visualization and turn on some basic visualization modules (like Outline and Orthogonal Slice) for child data set?

[2017-02-16 20:35] yijiang1 opened #908 "Hide multiple visualization modules at once"
It would be nice to be able to hide multiple visualization modules by a single click.

One way to do this is adding a "Hide" option to the right-click menu.

[2017-02-16 20:41] yijiang1 opened #909 "Clone child data set"
I think it could be useful to be able to clone child data (in other words, make it parent).

[2017-02-16 20:52] cryos commented on #909
We need to think about what that would mean for the pipeline, we could promote the source to the top level, but what about if the reconstruction was rerun? If we want to do a deep copy of the data, and disconnect it from the rest of the pipeline it is relatively well defined. We could then safely delete the original data/pipeline without any issues, but its relation to the prior pipeline would be

[2017-02-16 21:00] yijiang1 commented on #909
This is what I'm thinking.

[2017-02-16 21:24] Hovden commented on #883
Yeah, I think it this is a recent issue (OSX). I recall ironing out these sort of issues in the past.

[2017-02-16 21:27] yijiang1 commented on #883
I see this bug on Mac from time to time, although I don't know how to reproduce it yet.

[2017-02-17 00:00] #905 closed

[2017-02-17 00:02] cryos commented on #890
I can look into improving this.

[2017-02-17 00:04] cryos commented on #825
Yes, we should refine some of these pipeline behaviors to be more consistent. Thanks for pointing this out.

[2017-02-17 00:06] cryos commented on #780
Closing for now, we can reopen if this happens again - it may have been a Qt bug as we could not see anything in the Tomviz code. Moving to Qt 5.8.0 cleared up a number of issues.

[2017-02-17 00:06] #780 closed

[2017-02-19 20:24] SirSharpest opened #911 "Enhancement Idea- Add support for .ISQ file types"
Myself and a few colleagues in my lab would be very happy if it were possible to load ISQ file formats into tomviz.

I realise this isn't a priority but I do know a lot of image analysis is done with this file format and it is one of the main reasons we are limited currently to using ImageJ with this plugin (http://www.dent.med.uni-muenchen.de/~kkunzelm/exponent-0.96.3/index.php?section=49)

Hope

[2017-02-20 01:58] Hovden commented on #878
Because the Units and Size is really just a voxel scale setting, we still are unable to provide scale in tomviz. It will be great to have a voxel scale and a separate dimensions parameter.

[2017-02-20 02:01] Hovden opened #912 "Display Camera lighting location"
Reporting where the light is coming from would add transparency to understanding the final visualization. It is hard for me to know where the light is coming from—I think it is coming from underneath the object in surface render.

[2017-02-20 15:56] cryos commented on #878
You might have to elaborate on that a little, I am not sure I get what you are saying. @tjcorona is doing quite a bit of work on scale, and we talked last week about him adding the voxel spacing parameter underneath the dimensions/units. He had some nice ideas about integration, and view versus data scale I am hoping that we can build in.

[2017-02-20 18:41] Hovden commented on #878
Right now the "Units and Size" is doing the same thing as voxel spacing (i.e. aspect ratio). The two should be separate. That is I should be able to specify a voxel aspect ratio that is 1x1x10 and a actual distances that are arbitrary in x,y,z (e.g. 20nm x 12nm x 5nm) and does not change the scale or aspect ratio of the object.

[2017-02-20 18:49] cryos commented on #878
I see what you mean, and totally agree. Thanks for the clarification.

[2017-02-21 16:39] cjh1 opened #918 "Add pugixml as a thirdparty dep"
Currently we are using vtk_pugixml which is really internal to ParaView ( so its not installed )

[2017-02-21 16:43] cjh1 commented on #918
Related to https://gitlab.kitware.com/paraview/paraview/issues/17163

[2017-02-21 20:29] cryos commented on #911
Please feel free to add requests, this is the right place to do so. I have never come across the format before.

[2017-02-21 21:23] mathturtle commented on #881
Step 5 crashes for me... I had noticed this when testing the reconstruction child datasets branch and was looking at it a bit, but I got pulled off on the OME-TIFF thing.

[2017-02-22 16:49] mathturtle commented on #621
Sure I can make it show the end points in the properties panel (and let you manually set them if you want).

This is a ParaView thing, there is a separate toggle for the arrow.  I'll link the two so that the arrow is forced off when the module is hidden.

I'll look at this, but I don't expect there will be anything easy.

Units: whatever the units on the data are (assuming the data spacing is set

[2017-02-22 18:24] cjh1 commented on #906
@yijiang1 What is resolved by #925 as well?

[2017-02-22 18:25] cjh1 commented on #881
Fixed by #925?

[2017-02-22 18:25] ercius opened #927 "tomviz crashes when used remotely by windows remote desktop"
I have a computer I use for calculations running windows 10, and I normally access it by remote desktop. However, tomviz will not run when I am using remote desktop. It does run when I connect a monitor to the computer.

The program just does not start and there is no error message. Windows event viewer logs the program crash and I can provide information from there if necessary.

Has anyone else

[2017-02-22 19:35] yijiang1 commented on #881
Yes.

[2017-02-22 19:35] #881 closed

[2017-02-22 19:37] yijiang1 commented on #906
It's fixed by #925

[2017-02-22 19:37] #906 closed

[2017-02-22 19:52] cryos commented on #927
I think we need to work on improving how gracefully Tomviz fails, but this is due to remote desktop not supporting modern OpenGL. You can set up VNC, and use that to remote to the machine and it should work as expected. I would like to make sure we report that the required OpenGL capabilities are not present, @utkarshayachit do you see the same behavior with ParaView here?

[2017-02-22 21:50] ercius commented on #927
Thanks for the information. Ill try VNC.

Ill leave this open until the Paraview question is answered.

[2017-02-23 03:31] cquammen commented on #927
ParaView will not work with Remote Desktop with the OpenGL 2 backend because it relies on the Microsoft generic renderer, which provides only a generic software renderer supporting OpenGL 1.1. ParaView/Tomviz require OpenGL 3.2. Shaders have never worked with Remote Desktop, and everything in the OpenGL 2 backed uses shaders.

I should be able to verify that ParaView does not run over Remote Deskt

[2017-02-23 14:50] cquammen commented on #927
I checked this morning and was stunned to learn that I *could* run ParaView 5.2.0 with the OpenGL 2 backend **and** Tomviz on my Windows 10 laptop when connecting from the Microsoft Remote Desktop client for Mac. Even volume rendering works!

The graphics driver reported in ParaView's About dialog box reported that it was using the Intel integrated graphics on that machine, which supports OpenGL 4

[2017-02-23 15:40] mathturtle commented on #927
@cquammen If I recall correctly from some experiments we did for the dashboards, they fixed it in Windows 10.  So if both sides are Windows 10 (or apparently Windows 10 compatible) it should work.  But you have an old remote desktop on either side, you can't do it.  I was going to check with Rob when he gets back next week since I couldn't remember the details.

[2017-02-23 16:25] ercius commented on #927
I'm using Windows 10 on both sides. Maybe I have some setting (i.e. lower
graphics mode) wrong though.

On Thu, Feb 23, 2017, 7:40 AM Shawn Waldon <notifications@github.com> wrote:

[2017-02-23 16:44] cryos commented on #927
It could also be limited by the OpenGL on either side, I suspect that Tomviz is still crashing when the required OpenGL version is not available (it does on my Windows 7 test machine using an older embedded Linux graphics card). We need to improve that, and at least inform you that the program is unlikely to be able to run correctly.

[2017-02-23 18:20] Hovden commented on #817
*bump
Color palette still overrides background color. Approach suggested by @cryos is sensible.

[2017-02-23 18:33] cryos commented on #817
@cquammen can you add the necessary changes for Tomviz please? To be clear when we choose a new palette that should override any custom background color that might have been chosen previously by our user. So if I choose a green background color, but later pick the black background palette I would like to then see the full palette including the black background.

[2017-02-23 18:36] cquammen commented on #817
Understood. Yes, will do.

[2017-02-23 19:01] yijiang1 opened #933 "Crash when deleting multiple transforms"
0.9.3-212-gd7acad9 on Mac

tomviz crashes when deleting multiple data transforms.
One example:
<img width="381" alt="screen shot 2017-02-23 at 1 58 03 pm" src="https://cloud.githubusercontent.com/assets/13088588/23274382/8bd76764-f9d0-11e6-8be9-c6c44fea02dd.png">

[2017-02-23 21:27] yijiang1 opened #935 "Data type is not toggled properly with child reconstruction"
1. Reconstruct a tilt series.
2. If we select the Reconstruction child in the pipeline, we can see that it is marked as volume, which is expected.
<img width="300" alt="screen shot 2017-02-23 at 4 12 58 pm" src="https://cloud.githubusercontent.com/assets/13088588/23279524/9a5ba2ba-f9e3-11e6-93f6-6781e6a40e4e.png"> <img width="300" alt="screen shot 2017-02-23 at 4 13 10 pm" src="https://cloud.githu

[2017-02-23 21:54] yijiang1 opened #937 "Skip child-dataset-generating transforms when re-executing pipeline"
tomviz always executes the entire pipeline like this:
<img width="345" alt="screen shot 2017-02-23 at 4 41 55 pm" src="https://cloud.githubusercontent.com/assets/13088588/23280765/7b093224-f9e8-11e6-87c8-49a29c50ade0.png">

I think we should skip transforms that generate child data set.

[2017-02-23 22:30] tjcorona commented on #843
#917

[2017-02-24 14:40] #933 closed

[2017-02-24 15:03] tjcorona commented on #793
This issue is partially addressed by MR #941.

[2017-02-25 22:03] ercius commented on #894
The proposed change in #932 sounds good to me. The suggestion to allow the user to reopen the tilt align GUI is the ideal situation as also mentioned.

[2017-02-25 22:11] ercius opened #945 "Confirmation for deleting dat sets and operators"
It is possible to delete data sets and operators in the pipeline by right clicking --> delete or simply pressing the delete key. I think a confirmation box before deleting these item(s) would stop the possibility of deleting things by accident. This could also be important when multiple items are selected (i.e. #873).

[2017-02-25 22:14] ercius commented on #308
Closed now that the Ruler module is impending (#931)

[2017-02-25 22:14] #308 closed

[2017-02-25 22:17] ercius commented on #494
bump @mathturtle

I still have issues with this when reading some MRC files from FEI instruments that indicate the uint16 data is int16. I use a custom transform to cast to float and subtract the array minimum (or shift by 0.5*2^16). It would be useful to add such a transform to the list.

[2017-02-25 22:20] ercius commented on #592
This still occurs in 0.9.3. Interestingly, it occurs when you add a slice (non-orthogonal) and the arrow end is outside the coordinate system. The coordinate system increases to include the arrow end and then the rotation center is offset from the center of the data. Its a slightly annoying usability issue, but nothing major.

[2017-02-25 22:22] ercius commented on #891
Should we define how this should work? @Hovden might have some input here as well. Currently, this GUI is a little difficult to work with during alignment.

[2017-02-26 18:31] cquammen commented on #895
@thewtex I'll be looking at this unless you have a solution ready to go.

[2017-02-26 18:32] cquammen commented on #896
@thewtex I'll be looking at this unless you have a solution ready to go.

[2017-02-26 18:52] cquammen opened #946 "Make 2D slicing of Contour possible, synced up with Orthogonal Slice"
In other applications, including Slicer, it is possible to view a 2D slice through a 3D contour or other geometry and display it just in front of an orthogonal slice through the image data.  I would like this for verifying segmentation algorithms.

[2017-02-26 21:32] thewtex commented on #896
@cquammen I'm working on it...

[2017-02-26 22:06] thewtex commented on #895
@cquammen A work in progress. Will appreciate your reviews.

[2017-02-27 16:31] mathturtle commented on #935
This should be merged now.

[2017-02-27 16:31] mathturtle commented on #933
This should also be fixed since the change is merged.

[2017-02-27 16:41] cquammen commented on #843
I have a bug to report on this feature. Should we close this issue since #917 is merged in master and open another issue?

[2017-02-27 16:49] #935 closed

[2017-02-27 16:54] thewtex opened #950 "Update "Custom ITK Transform" template contents"
We have improved best practices and changes required for the default to work.

[2017-02-27 18:06] cjh1 commented on #850
@yijiang1 I think this can be closed?

[2017-02-27 18:09] cjh1 commented on #937
@yijiang1 Not sure I understand why we could skip running the transform, does the Reconstruction step not working on the output of the Auto Tilt Axis Shift Align?

[2017-02-27 19:57] yijiang1 commented on #937
In practice, tomographic reconstruction takes hours to finish. By setting reconstructions to child datasets, I want to avoid repeating time-consuming transforms.

Here is a solution:
Say I have a pipeline like this:
Transform 1
Transform 2
Transform 3 -> Generates a child
Transform 4
Transform 5 -> Generates a child

If I edit Transform 4, tomviz only re-executes Transform 1, 2, 4, 5.
If I edit Tr

[2017-02-27 20:09] cryos commented on #937
I think we should add the option to detach a child data set to avoid this, but I don't think this would be a good default behavior in the general case. If we wanted to "freeze" then we should mark it as such.

[2017-02-27 20:11] yijiang1 commented on #937
Sounds good to me.

[2017-02-27 20:14] yijiang1 commented on #850
Yup it doesn't crash any more.

[2017-02-27 20:14] #850 closed

[2017-02-27 20:18] cryos commented on #937
We will prioritize this

[2017-02-27 20:44] yijiang1 opened #953 "Save child data sets in state file"
Another suggestion about skipping child dataset transforms.

Is possible to save child datasets in state files instead of only their transforms?
If I share a full tomography pipeline (tilt series + reconstruction + segmentation) with other people, I don't want them repeating hour-long reconstructions.

A less elegant solution is to clone the child data before saving  ( #909 ).

[2017-02-27 21:11] cryos opened #954 "Web export exception when built with Python 3"
$ ./bin/tomviz
Traceback (most recent call last):
  File "/home/marcus/build/tomvizpy3/lib/site-packages/tomviz/web.py", line 31, in web_export
    'phi': range(0, 360, deltaPhi),
TypeError: 'float' object cannot be interpreted as an integer
Failed to execute the script. (:0, )

[2017-02-27 21:13] cjh1 commented on #954
@jourdain I can take care of this if you like?

[2017-02-27 21:26] jourdain commented on #954
Since you are doing the hackathon, go for it.

[2017-02-27 21:51] cquammen commented on #950
Addressed by #957.

[2017-02-28 03:06] #950 closed

[2017-02-28 14:17] #945 closed

[2017-02-28 15:00] yijiang1 opened #958 "Deleting transforms that are still in progress is not properly handled"
Binary v0.9.3-247-g98a04f1 on Mac

Two issues:
1. tomviz crashes when deleting transforms (from pipeline) that are still in progress.

2. It's possible to have two transforms in progress.
    1. Load the sample tilt series data set. Mark it as tilt series.
    2. Do a transform.
    3. Start a reconstruction. Before it finishes, delete the previous transform.<img width="400" alt="screen shot 2017-

[2017-02-28 15:46] cquammen opened #959 "Polish: tab order for Properties panel in Sample Data source"
Click in a text entry widget. Now hit the tab key. The tab order of the widgets is not reasonable.

[2017-02-28 15:46] cryos commented on #918
Deferring for now, we will use build trees to compile against, and revisit in the superbuild in future if necessary.

[2017-02-28 15:46] #918 closed

[2017-02-28 16:29] cryos opened #961 "Check for empty image in load data reaction"
There is no reason to load an empty image, this should  result in an error rather than proceeding to add the data source with an empty data.

[2017-02-28 18:09] Hovden opened #962 "New contour prompts warning "Failed to located Property: Categorical Data""
Warning appears on OSX build 271.
Load sample dataset, then load contour.

[2017-02-28 18:14] tjcorona commented on #962
The contour method uses API from ParaView that has just been put into place. If you update your ParaView, you should be all set.

[2017-02-28 18:46] cryos commented on #962
I pushed ParaView forward in https://github.com/OpenChemistry/tomviz-superbuild/pull/160 so that the binaries will contain this update shortly.

[2017-02-28 19:15] #908 closed

[2017-02-28 20:35] cquammen opened #966 "Enable saving of spreadsheet results to CSV"
Desired behavior:

* Run data transform that produces a spreadsheet result
* Click on the result
* Select File -> Save Data and choose the CSV option

[2017-02-28 20:48] cquammen opened #969 "2X icons on Mac retina display not showing up"
The icons appear blocky.

[2017-02-28 22:23] cquammen commented on #966
Duplicate of #801. Closing.

[2017-02-28 22:23] #966 closed

[2017-03-01 03:56] cjh1 opened #976 "Investigate possible memory leaks when running pipeline"

[2017-03-02 15:36] #817 closed

[2017-03-02 15:40] yijiang1 commented on #891
bump

[2017-03-02 15:47] Hovden opened #979 "Child datasets and Caching in Pipeline"
I just wanted to follow up regarding the child datasets.

The primary intended functionality of child datasets was to cache the pipeline, not create a new branch. Branching is an added benefit but not something we need to make full featured—it is OK if modifications to a parent pipeline rerun entirely.

Using child datasets as a means to cache is important. So there should be a way to "create a ch

[2017-03-02 15:51] #318 closed

[2017-03-02 15:53] Hovden commented on #621
Ruler "Show Line" box becomes re-checked when highlighted in the pipeline.

[2017-03-02 15:55] #724 closed

[2017-03-02 15:58] Hovden commented on #396
@cquammen if this is ready to merge? If this will take significant additional effort, we should change it's priority.

[2017-03-02 16:00] Hovden commented on #87
Behavior has improved, closing.

[2017-03-02 16:00] #87 closed

[2017-03-02 16:01] #461 closed

[2017-03-02 16:03] #341 closed

[2017-03-02 16:03] cryos commented on #979
So, the point I was attempting to make earlier was that if we have a child dataset then it could be marked as such. If we make the assumption that a child dataset producing operation does not modify its parent then I think we can effectively mark it as frozen, use an :iceland: icon to denote that, and avoid rerunning that.

Alternately we could probably create a special operation object that effec

[2017-03-02 16:17] cquammen commented on #396
No, it is not ready yet, and will take some effort on the ParaView side.

[2017-03-02 16:26] Hovden commented on #979
I think we have added more functionality to child datasets than originally intended—we need simply to create marks (e.g. children) to prevent re-runing the whole pipeline. A child pipeline should rerun only the things after the beginning of its creation. A child doesn't need to see the rest of the parent's pipeline. Having many child datasets, and allowing more modifications to the parent, etc are

[2017-03-02 16:29] Hovden commented on #543
Is this still an issue? Things look fine on OSX.

[2017-03-02 16:31] yijiang1 commented on #979
I don't think it's OK to always rerun tomographic reconstructions that take a lot time in practice.

In this case, I'd suggest we clone reconstructions by default instead of making them child datasets.

[2017-03-02 16:34] cryos commented on #543
I think it is, I will try and spend a little time on Windows digging into this.

[2017-03-02 16:35] Hovden commented on #958
The right click has been prevented but if if you press the delete key to remove the running transform it crashes tomviz.

[2017-03-02 16:38] Hovden commented on #358
Problem is solved in latest OSX release.

[2017-03-02 16:38] #358 closed

[2017-03-02 16:39] mathturtle commented on #958
@Hovden too many ways to delete things ;) I missed one.

[2017-03-02 16:48] Hovden commented on #891
I agree with this: "If the Prev. or Next radio button is selected then the Reference AND Current image should advance by +1 for a and -1 for s."

@yijiang1 can you change the alignment interface so that when prev or next is selected you are always aligning to adjacent images in the series?

[2017-03-02 16:52] yijiang1 commented on #891
I'm not familiar with this interface but I can take a look.

[2017-03-02 16:54] Hovden commented on #891
@yijiang1 that's right, I thought you had helped with this.

@cryos might be better suited.

[2017-03-02 16:54] Hovden commented on #543
Ok. Not a big priority for 1.0

[2017-03-02 16:55] Hovden commented on #958
No worries. It's the art of the bug tester—I have leveled up over the years.

[2017-03-02 17:00] cryos commented on #891
I will get this fixed up, I think I know where the issue is, and should have something by the end of the day.

[2017-03-02 17:27] Hovden commented on #891
Great, thanks.

[2017-03-02 18:07] mathturtle commented on #979
@Hovden I thought the original point of having a child dataset was to produce a dataset of a different shape (i.e. reconstruction) without destroying the original (parent) data so that the user can continue to work with both.  Thus having multiple child datasets was the point of the feature.  Label maps could just as easily have been extra arrays on the existing image data, so they didn't need to

[2017-03-02 18:16] cryos commented on #979
I think introducing a simpler node that can largely reuse most of what was done, but that is created in a default detached state is reasonable. I think marking it as a hard caching node would be reasonable, and we can make it a special type to ensure no unexpected interactions are possible. I agree on the need for the simpler user case, and think it was subsumed by a need to more fully support lab

[2017-03-02 18:21] mathturtle commented on #979
Picture hopefully helps:
![pipeline_test](https://cloud.githubusercontent.com/assets/553788/23520959/09d5578c-ff4b-11e6-9efa-d3b385caa3e5.png)

Only the letters inside boxes are stored.  And there is no reason that the operator that produces R has to pass D through to E unmodified.  I don't have a use case that would do that... but it seems like an artificial limitation to put on the operator.

[2017-03-02 18:29] cryos commented on #979
Not sure who you are replying to, like I said creating a special node for caching would make the guarantee that nothing is modified but simply cached, and therefore make it simple to simply skip it as a no-op. This is the simpler case that is missing, and would not significantly complicate the pipeline (but it does make it more necessary to save data from the pipeline to support fully restorable p

[2017-03-02 18:30] #961 closed

[2017-03-02 18:30] cryos commented on #909
This is now working.

[2017-03-02 18:30] #909 closed

[2017-03-02 18:33] cryos commented on #953
I think this is something we need to consider, but it is more difficult. We should look into it though, and see what we can do. I don't think saving it in the state file is realistic unless we make the state file a container (such as a zip) as state files are XML and the data is normally saved in a binary format such as TIFF or HDF5.

[2017-03-02 18:34] ercius commented on #543
Its still an issue on 0.9.3-205-g1293187. But yes, low priority.

[2017-03-02 18:50] ercius commented on #891
You need to be careful with how you make this change. If you allow the user to choose the direction AND the Next/Prev button then you can spend an hour manually un-aligning your data by accident.

Lets take a case where you want to start at the middle 0-degree image and align outward from there.

If you set the Prev radio button then the reference image is 0-degree and the align image is +1. If yo

[2017-03-02 18:52] yijiang1 opened #981 "QObject::connect: invalid null parameter (:0, ) when quiting tomviz"
Binary v0.9.3-311-gaca2d21 on Mac

1. Load sample dataset
2. Quit or reset (File -> Reset) tomviz.
3. Output message prints
QObject::connect: invalid null parameter (:0, )

[2017-03-02 18:57] cryos commented on #891
Sorry I took so long to dig into it, but this should resolve the issue.

[2017-03-02 19:00] ercius commented on #891
@cryos We should be mindful of how flexible this use interface is according to my edited comment above. I think I got it right this time.

[2017-03-02 19:23] yijiang1 opened #983 "crash when loading state file with cloned data"
1. Load a dataset
2. Do some transform.
3. Clone data and choose "transformed data only" option
4. Save state
5. Load state file. Crash

[2017-03-02 20:07] cryos commented on #891
My change makes the keyboard shortcuts work as the user interface does, and so it is probably a reasonable improvement. I take your point @ercius that we should do a little work to prevent bad situations at either extreme.

[2017-03-02 20:14] yijiang1 commented on #979
Ok now I understand the problem thanks to @mathturtle 's example.

I think freezing the op by creating a special node is a good idea.

[2017-03-02 20:16] cryos commented on #979
Great, it sounds like we are in agreement assuming @Hovden has no further comments. We will see what we can get in place, but this and detached datasets depend to an extent on some improvement to the state file mechanism to be fully reproducible (detachment like this wasn't considered in the original design).

[2017-03-02 20:31] yijiang1 commented on #979
Also, for the record I'm totally OK with cloning reconstructions to new parent datasets.
We can just add some instructions/warnings in tutorial and transform descriptions.

[2017-03-02 21:16] cquammen commented on #793
@tjcorona Do you have a set of steps to run in Tomviz to show off the patch in #941, e.g., load data set, apply transform, create contour, set color map range, etc. I'm having trouble getting something reasonable visualized.

[2017-03-02 21:16] mathturtle commented on #981
I'm fairly certain I introduced these... I thought I had cleaned them all up, but I guess I missed some.  I'll look into it.

[2017-03-02 21:17] yijiang1 commented on #891
This can be done using the Static radio button right?

[2017-03-02 21:19] tjcorona commented on #793
Sure! I just followed your rubric: https://github.com/OpenChemistry/tomviz/pull/823

[2017-03-02 21:20] cquammen commented on #793
Another issue: we should disable point-to-cell data and nearest neighbor interpolation when coloring by "This Data".

![image](https://cloud.githubusercontent.com/assets/360056/23527484/20a72f76-ff64-11e6-97bc-e7aea01d24a1.png)

[2017-03-02 21:23] Hovden commented on #979
@yijiang1 Cloning a reconstruction (or anything down the pipeline) would lose reproducibility. The idea of a child dataset is it would retain the steps leading up to it by being associated with the parent pipeline. One should only want to clone the steps of the parent before the reconstruction and run an new reconstruction.

If I follow @cryos properly, he is suggesting that there is a way to cach

[2017-03-02 21:26] tjcorona commented on #793
I agree. Would you like me to put up a MR for it?

[2017-03-02 21:28] cquammen commented on #793
Sure. I'm happy to test it.

[2017-03-03 01:32] ercius commented on #891
Yes, but that was not what I really meant in the context of using a
non-profit static reference.

I mean you want to align
0 to 1, 1 to 2, 2 to 3...
0 to -1, -1 to -2, -2 to -3...
The 0 image is the global reference.

On Thu, Mar 2, 2017, 1:17 PM Yi Jiang <notifications@github.com> wrote:

[2017-03-03 02:10] #981 closed

[2017-03-03 13:43] Hovden commented on #843
@tjcorona I like the scale cube implementation. The most needed feature is the ability to turn on / off the annotation overlay (e.g. "(9nm)^2").

I also prefer to call it a 'scale cube' since that is already used by geologists and anthropologists (http://scaleobjects.com/photographycubes/photography.html)

[2017-03-03 14:03] tjcorona commented on #843
@Hovden Thanks for the feedback! Here are the changes you suggested: https://github.com/OpenChemistry/tomviz/pull/988

[2017-03-03 15:13] yijiang1 commented on #891
@ercius
Following my edited comment above, how about these tweaks?

1. Change the ui a little bit:
![picture1](https://cloud.githubusercontent.com/assets/13088588/23555161/d76fe572-fff5-11e6-8c3d-7325404a536b.png)

The box next to "Reference image" updates whenever the reference image changes and are disabled if prev or next are selected.

2. Always use 0-degree tilt image as the default reference

[2017-03-03 18:27] ercius commented on #891
This looks good. I would have to try it to see how it really works. Two quick ocmments:

Can you update the # in the reference and current image boxes, but also keep the reference image from being changed if Prev/Next is selected?  I think you have implemented this after reading your edited comment.

Also, can you swap the positions of the Reference image and Frame rate boxes?

[2017-03-03 19:12] cryos commented on #891
Checking I am understanding correctly. I think it would look great having reference image immediately below the current image selection. If next/prev are selected then the control for reference could be disabled and the text updated, i.e. if moving to current image of 7, with prev selected the reference would be 6 but still greyed out, only becoming active upon selecting static. If there was a des

[2017-03-03 19:28] yijiang1 commented on #891
This is what I'm thinking. I'm working on a branch to implement this. I'll push it shortly.

[2017-03-03 19:37] Hovden commented on #843
OK. I think this looks good to close. Moving the cube and changing its color would be obvious next features, but not critical to the functionality.

[2017-03-03 19:37] #843 closed

[2017-03-03 19:51] cryos commented on #891
Sounds great, I look forward to taking a look.

[2017-03-03 19:52] cryos commented on #843
Thanks for the reviews @Hovden, I think this is looking great.

[2017-03-03 20:20] Hovden commented on #953
Child datasets should be treated the same as unsaved data. States that contain unsaved data should tell the user to save the data before saving state.

[2017-03-03 20:28] yijiang1 commented on #891
@ercius How does the UI look in #991 ?

[2017-03-07 13:31] Hovden commented on #891
Looks great.

[2017-03-07 13:31] #891 closed

[2017-03-07 16:34] tjcorona opened #1000 "disable point-to-cell data and nearest neighbor interpolation when coloring by "This Data""
From here: https://github.com/OpenChemistry/tomviz/issues/793#issuecomment-283787628

[2017-03-07 17:55] cjh1 commented on #954
This is now resolve by #963

[2017-03-07 17:55] #954 closed

[2017-03-07 21:21] ercius commented on #894
Working nicely in 0.9.4

[2017-03-07 21:21] #894 closed

[2017-03-07 21:39] tjcorona opened #1002 "OperatorRunningDelegate runs when no filters are active"
All tomviz modules have a visibility query every 50 ms, regardless of the state of the pipeline.

[2017-03-08 00:55] cryos commented on #1002
Confirmed, hopefully @cjh1 will have some ideas on a fix.

[2017-03-08 03:28] ercius opened #1003 "Menu bars"
Tomviz 0.9.4 release, windows 10

When first started the menu lists don't render properly. If you select the data transforms menu then the last part of the list is cut off. I can't attach a picture right now but I can later if needed.

The second time you select the menu it renders properly.

[2017-03-08 04:07] yijiang1 commented on #1003
I don't see the problem on my windows 10.

[2017-03-08 04:25] yijiang1 opened #1004 "QWindowsWindow::setGeometry warning when opening some UIs"
binary v0.9.4 on windows 10

When I mark a dataset as tilt series, tomviz prints out this message:

QWindowsWindow::setGeometry: Unable to set geometry 100x30+437+365 on QWidgetWindow/'tomviz::EditOperatorDialogClassWindow'. Resulting geometry:  120x30+437+365 (frame: 8, 31, 8, 8, custom margin: 0, 0, 0, 0, minimum size: 0x0, maximum size: 16777215x16777215). (:0, )

[2017-03-08 04:38] yijiang1 opened #1005 "File->Reset doesn't close dialogs"
File->Reset only deletes everything in the pipeline.
Shouldn't it also close all active dialogs and terminate ongoing transforms?
tomviz crashes if I reset the pipeline when a transform is running...

[2017-03-08 05:04] ercius commented on #1003
Thanks for testing. I closed/reopened it a couple of times with the same
result. I'll double check a couple of other systems tomorrow.

On Tue, Mar 7, 2017, 8:07 PM Yi Jiang <notifications@github.com> wrote:

[2017-03-08 18:07] cryos commented on #1003
I haven't seen this, but will see if I can reproduce it locally.

[2017-03-08 18:11] ercius commented on #1003
This is only happening on my windows 10 laptop. It did not happen on a win10 desktop at my lab with a discrete Nvidia graphics card. So, its based on hardware. My Dell XPS 13 laptop runs on a Intel HD Graphics 5500.

This is only aesthetic. If you launch the same menu twice then you have access to the entire list.

See the attached phone picture. Getting a screen shots was non-trivial.
![img_20170

[2017-03-08 19:10] Hovden commented on #1003
It probably makes sense to create a "Segmentation" top level menu and put the segmentation routines there..

[2017-03-08 19:19] cryos commented on #1003
Great minds, I was just saying to @cjh1 that splitting off segmentation would shorten this, and possibly avoid some of the issues that may be due to the menu being quite long.

[2017-03-08 20:50] cjh1 commented on #976
OK, this should now be resolved by the following VTK fix:

https://gitlab.kitware.com/vtk/vtk/merge_requests/2566

This was our heap profile for 10 executions of the invert operator before this fix:

![before](https://cloud.githubusercontent.com/assets/1031053/23723348/d64c4292-0416-11e7-98d3-eb2fd174384d.png)

And this is our profile with the VTK fix:

![after](https://cloud.githubusercontent.com

[2017-03-08 20:58] cryos commented on #976
Thanks for digging into this @cjh1! I know it has been quite a bit of work, but our limited memory thanks you! Let's make sure we keep track of this and ensure it is in our next release.

[2017-03-08 21:00] cryos commented on #1000
I think this is now fixed, closing. Please reopen if not.

[2017-03-08 21:00] #1000 closed

[2017-03-08 21:00] cryos commented on #962
This should be resolved now.

[2017-03-08 21:00] #962 closed

[2017-03-08 21:17] cquammen opened #1009 "Coloring Contour by label map has some glitches"
* Load SMALL_PtCu_NanoParticle.tif
* Apply Binary Threshold, Lower Threshold = 150, Upper Threshold 255
* Add Contour to SMALL_PtCu_NanoParticle dataset
* Set "Color By" to Thresholded Segmentation and "Value" to 200. The contour should be yellow because it is entirely inside the thresholded region, but it is blue.
* Adjust the color bar scalar range to [0, 1]. No effect.
* In the Contour module,

[2017-03-08 22:18] Hovden commented on #976
Great find. Big impact for serious researchers using tomviz.

[2017-03-08 23:10] ercius commented on #976
Excellent work. This will help a lot.

On Wed, Mar 8, 2017, 2:18 PM Robert Hovden <notifications@github.com> wrote:

[2017-03-09 00:18] cjh1 commented on #958
I think this is now resolved by #984

[2017-03-09 00:18] #958 closed

[2017-03-09 14:58] cquammen commented on #874
Here's what I have so far:

![image](https://cloud.githubusercontent.com/assets/360056/23755606/ef14c3d8-04ae-11e7-808d-ac7710951646.png)

There is still some vertical space that could be saved, but it is proving elusive to find out where that space is added.

[2017-03-09 16:03] cryos commented on #874
It looks better, shame about the vertical space but I would take this as a step in the right direction.

[2017-03-09 23:35] cryos commented on #1002
This has been resolved.

[2017-03-09 23:35] #1002 closed

[2017-03-09 23:36] cryos commented on #870
This has been resolved.

[2017-03-10 05:17] cquammen commented on #382
ParaView merge request supporting reading/writing of camera links to state file is at https://gitlab.kitware.com/paraview/paraview/merge_requests/1459.

[2017-03-10 06:15] cryos commented on #1003
#1014 separates the menus out, and will probably help with this issue.

[2017-03-10 14:22] tjcorona commented on #1009
@cquammen Thanks for pointing this out! This is definitely not what it should be doing, but I'm not exactly sure what the appropriate behavior should be (when we switch "Color By", should the histogram change?). When following your recipe, another way to get the color to fix itself is to select the "Reset Data Range" (the automagic one, not the manual one). @cryos What do you think the right react

[2017-03-10 14:36] yijiang1 commented on #870
Binary: 0.9.4-35-g807197b

Sample datasets that are created by python transforms still go to the first RenderView window.

[2017-03-10 14:44] cquammen commented on #870
Confirmed in master.

[2017-03-10 15:12] yijiang1 opened #1019 "Eye icon does not update"
Binary: 0.9.4-35-g807197b on Mac

The eye icon for visualization modules do not update automatically.

[2017-03-10 15:14] cquammen commented on #1019
Could you provide more details?

[2017-03-10 15:21] cryos commented on #1019
I see it on my local Linux build if you just click the eyeball but don't move the mouse. I suspect this is related to @cjh1 fixing the bug where the animation timeout was always running (and causing redraws). I think we have always missed an updated/changed signal for item state.

[2017-03-10 15:28] yijiang1 commented on #1019
I have the same problem on my local Mac build.

For binary version, I see the problem when there are multiple RenderViews.
For example, I load a sample tilt series in the first RenderView and a sample reconstruction in the second RenderView.
When the second RenverView is active, I can still turn on/off the Orthogonal Slice module in the first RenderView. However, I can't do the same for Outline mo

[2017-03-10 15:30] mathturtle commented on #653
Select the camera as the proxy to animate and the default option is create an orbit.

![image](https://cloud.githubusercontent.com/assets/553788/23801046/9978529a-057c-11e7-9846-73082f14e692.png)

[2017-03-10 15:36] cquammen commented on #653
Thanks @mathturtle . It looks like there was a Tomviz-specific UI to create an orbit animation, but it no longer exists?

[2017-03-10 15:39] mathturtle commented on #653
If you're referring to the picture above that @Hovden posted, that is what pops up when clicking the plus with Camera+Orbit selected.  I don't recall ever having a custom orbit UI.

[2017-03-10 15:44] cquammen commented on #653
Ah, I see. Thanks for the explanation, @mathturtle !

[2017-03-10 15:44] cryos commented on #869
This should now be resolved.

[2017-03-10 15:44] #869 closed

[2017-03-10 15:45] cryos commented on #1003
This should now be resolved, please reopen if the latest binaries from this evening are still causing issues.

[2017-03-10 15:45] #1003 closed

[2017-03-10 17:54] cryos commented on #870
So #1018 resolves this second issue, and has been merged. Hopefully this resolves the issue fully, as noted we may want to circle back around to this and refactor some code but I think there are other more pressing issues at this moment.

[2017-03-10 17:54] #870 closed

[2017-03-10 17:54] cryos commented on #1009
So I think we went over this in person and came up with a good plan, let me know if not.

[2017-03-11 03:29] cquammen commented on #798
#1008 addressed this.

[2017-03-11 03:29] #798 closed

[2017-03-11 03:35] cquammen opened #1022 "Camera zoom factor can be off when module is added to empty view"
* Load SMALL_PtCu_NanoParticles
* Create new Render View
* Add Outline module. The new view looks like

![image](https://cloud.githubusercontent.com/assets/360056/23820201/b4b9a0da-05e1-11e7-9a17-b9018d23a261.png)

It should look like

![image](https://cloud.githubusercontent.com/assets/360056/23820207/d1605cd8-05e1-11e7-9756-da292ea52994.png)

[2017-03-11 18:13] #1022 closed

[2017-03-11 22:51] Hovden opened #1025 "Improve Gradient Opacity Defaults / UX"
The gradient opacity feature is an interesting was to visualize volumetric data. Right now it is fairly opaque to it's inner workings.

-There is no clear explanation of what the gradient opacity is doing. My understanding is that it is the gradient magnitude (not the laplacian, or a weighted Fourier filter right?) with a transparency map that is multiplied with the volumetric visualization. If so

[2017-03-13 19:31] cquammen opened #1033 "Screen shots are 2x requested size in each dimension on Retina macs"
Same behavior is observed in ParaView when high-resolution capable display is enabled.

[2017-03-13 21:28] cquammen opened #1034 "Crash when creating Crop data transform"
Backtrace:

[code]

[2017-03-14 01:59] cquammen commented on #959
Fixed in #1035.

[2017-03-14 01:59] #959 closed

[2017-03-14 02:06] cquammen commented on #382
This is now merged in #1016.

[2017-03-14 02:06] #382 closed

[2017-03-14 03:09] cryos commented on #983
This is a general issue with any data that is not saved to disk, we will look into it and add some fixes. It also affects the new cache operator for the same reasons.

[2017-03-14 03:10] cryos commented on #979
This is now resolved, and we will track the issue with state files crashing in #983.

[2017-03-14 03:10] #979 closed

[2017-03-14 03:11] cryos commented on #937
This is now resolved.

[2017-03-14 03:11] #937 closed

[2017-03-14 15:15] yijiang1 opened #1039 "Volume rendering cropped for snapshot data"
Binary v0.9.4-77-g569e1a9 on Mac

1. Load sample tilt series dataset.
2. Mark it as tilt series.
3. Snapshot the transform.
<img width="261" alt="screen shot 2017-03-14 at 11 07 52 am" src="https://cloud.githubusercontent.com/assets/13088588/23907263/f07be9e4-08a6-11e7-8dd0-4a0366df2860.png">
4. Hide visualizations of the parent data and start a volume rendering for snapshot data.
<img width="247"

[2017-03-14 15:28] yijiang1 opened #1040 "Make the basic user guide accessible"
tomviz comes with a good user guide made by @bdalevin (https://github.com/OpenChemistry/tomviz/blob/master/docs/TomvizBasicUserGuide.pdf).
We should make it easily accessible through the software.

[2017-03-15 13:49] #874 closed

[2017-03-15 15:38] #1019 closed

[2017-03-15 19:20] cquammen commented on #819
Confirmed in 0.9.4.

[2017-03-15 23:24] cryos commented on #746
I would favor exporting versions to JSON in the about dialog (maybe copy to clipboard or similar). The state file serves a different purpose, to aid in transparency/reproducibility. I had envisioned gathering all of this information in a small helper function that would populate the about dialog, copy a JSON/simple key-value pair to a clipboard, and enable us to insert more verbose information in

[2017-03-16 01:33] cryos commented on #1039
I don't see any different in the data, looking at extents, values, isosurfaces. It is possible you are seeing issues with clipping planes, in playing with the data I was able to find some states where it looked like the near/far clipping planes for the volume render alone (with no other modules activ

[2017-03-16 13:06] tjcorona commented on #1009
This should be addressed in the following MR: https://github.com/OpenChemistry/tomviz/pull/1038

[2017-03-16 13:10] alvarosan commented on #1025
That is correct, it is the gradient magnitude mapping opacity values (in addition to the scalar opacity of the regular HistogramWidget).  Internally, the volume mapper computes the gradient magnitude on-the-fly and fetches an opacity value from this table.  The gradient magnitude histogram is currently not computed so it is left empty (this is also why the gradient magnitude range is unknown, so t

[2017-03-17 18:26] cquammen commented on #621
The "Show Line" problem should be fixed by #1052.

[2017-03-20 13:51] cquammen commented on #819
Developer's note: this is an edge case where the Crop operator is the only operator in the pipeline. If an operator precedes the Crop operator, it is possible to increase the bounds of the Crop operator. This is because the logic in `DataSource::ImageFuture* DataSource::getCopyOfImagePriorTo(Operator* op)` is not quite correct, and the original data set is never copied to the current data set prod

[2017-03-20 13:55] cquammen commented on #819
There is also a crash in the following scenario:

* Load data
* Apply `Invert Data` operator
* Apply `Crop` operator. Select smaller region than original.
* Edit `Crop` operator. Change the selected region.
* Edit `Crop` operator again. Crash.

Relevant portion of stack trace:

[code]

[2017-03-20 14:13] cquammen commented on #621
#1052 was merged.

[2017-03-20 14:13] #621 closed

[2017-03-20 14:24] cquammen commented on #819
The above crash occurs if you swap the `Invert Data` operator with the `Shift Volume` operator.

[2017-03-20 15:13] mathturtle commented on #1005
You seem to have found another way to delete a running operator.  I'll look into it.

[2017-03-20 18:45] mathturtle commented on #1005
@cryos Would it be a good enough solution to disable the reset action when there is an operator running similar to how we disable the delete actions?

[2017-03-20 19:02] cryos commented on #1005
Yes, I think that would be reasonable.

[2017-03-20 22:22] alvarosan opened #1057 "Color bar in HistogramWidget shrinks when data range changes."
1. Load MEDIUM_CoP dataset.
2. File Menu -> Reset
3. Load SMALL_PtCu.

![bug_color_bar](https://cloud.githubusercontent.com/assets/767484/24124450/2bcb713e-0d9a-11e7-94af-c3c664950392.png)

[2017-03-21 13:42] #1039 closed

[2017-03-21 15:01] cquammen opened #1060 "Multiple box widgets can be created for Crop operator"
* Add a Crop operator to a data set. Apply it.
* Double-click the pipeline entry to edit it. Do not apply the edited settings.
* Double-click the pipeline entry again. A second box widget will appear.

You can get as many box widgets as you want by double-clicking the Crop operator as many times as you wish.

[2017-03-21 15:13] cquammen commented on #1060
You also get multiple dialogs

[2017-03-21 17:18] Hovden commented on #1060
I would just emphasize that the crop tool is one of the most used features for our analysis in tomviz.

[2017-03-21 18:50] cquammen commented on #976
Is this issue ready to be closed?

[2017-03-21 18:51] cjh1 commented on #976
Yes :+1:

[2017-03-21 18:51] #976 closed

[2017-03-21 18:52] cquammen commented on #834
Are you still planning to work on this one @cjh1 ?

[2017-03-21 18:59] cjh1 commented on #834
Yes, almost done with it ...

[2017-03-21 19:52] cquammen opened #1064 "Python not working in Mac Nightly build from 2017-03-21"
I downloaded Mac Nightly build from http://tomviz.org/files/tomviz_nightly_bin/tomviz-latest-Darwin-64bit.dmg. When trying to execute any Python operator or opening the Python console, the application crashes.

Relevant stack trace portion here:

[code]

[2017-03-21 20:08] cjh1 commented on #1064
Interesting, I tested this on bigmac and it seems to run OK.

[2017-03-21 20:12] cjh1 commented on #1064
Which as @mathturtle points out is not an ideal test as its the machine that package was built on.

[2017-03-21 20:14] cquammen commented on #1064
Indeed.

Here's the output of `otool -L`

[code]

I don't see any smoking guns 🚬 🔫

[2017-03-21 20:21] mathturtle commented on #1064
Neither do I... what OSX version are you running Cory?  Maybe the minimum OSX version is bad on some library somewhere in the bundle.

[2017-03-21 20:22] cquammen commented on #1009
Looks like it is all fixed up now. Thanks for fixing, @tjcorona !

[2017-03-21 20:22] #1009 closed

[2017-03-21 20:24] cquammen commented on #1064
Nothing too ancient :-)

![image](https://cloud.githubusercontent.com/assets/360056/24169084/d63ddc8e-0e52-11e7-9cb7-ffcb4555c897.png)

[2017-03-21 20:32] mathturtle commented on #1064
Then that could be the problem.  The build machine is running 10.12.  I think `otool -l` shows the minimum OSX version somewhere in its output, but you'd have to run it on each library to find the bad one...

[2017-03-21 20:57] cquammen commented on #1064
Attached is the output of running

`ls *.dylib | xargs -I {} sh -c 'echo {}; otool -l {} | grep LC_VERSION_MIN_MACOSX --after-context=4 | grep version'`

from

`/Applications/tomviz.app/Contents/Libraries`

[mac_min_version.txt](https://github.com/OpenChemistry/tomviz/files/859642/mac_min_version.txt)

Looks like most libraries support 10.9. The following require 10.10:

[code]

Some support 10.12

[2017-03-21 20:58] cquammen commented on #1064
Ah, and there it is. `libpython3.6m.dylib` won't run on my 10.11. Please don't make me upgrade to 10.12 🙏

[2017-03-21 21:08] cjh1 commented on #1064
We are building with 10.9 sysroot and min version of 10.9, so I'm not sure why it requires 10.12 :frowning:

[2017-03-21 21:14] mathturtle commented on #1064
I knew about the ones that require 10.10... I didn't have a 10.9 system to get 10.9 versions of them and I had to copy the old ones off of bigmac before we upgraded it to 10.12.  So that is our minimum version :(.  No one has complained though (even though the website still claims we support 10.9, it lies).  The others are potential problems (and although I think the `libpython3.6m.dylib` is proba

[2017-03-21 23:54] cquammen commented on #819
After spending a fair amount of time tracking down this crash, it seems to have gone away once I updated to latest ParaView master. The latest Tomviz nightly build also did not exhibit this behavior. I'll be on the lookout for it to re-emerge, though.

@ElliotPadgett @Hovden Mind testing out latest master to verify that this is fixed?

[2017-03-22 04:04] cquammen commented on #1060
This actually is true for any Operator that has a custom editor widget, not just the Crop editor.

[2017-03-22 12:32] cjh1 commented on #1064
OK, I have found ( by digging into the configure command ). -mmacosx-version-min=10.9 is not enough we also need to set a environment variable MACOSX_DEPLOYMENT_TARGET ...

[2017-03-22 12:47] cjh1 commented on #1064
Merged change into superbuild :crossed_fingers:

[2017-03-22 12:50] cjh1 commented on #1064
Those other 10.12 dylib's are coming from ffmpeg

[2017-03-22 12:57] cjh1 commented on #1064
Looks like others have run into the same issue: http://ffmpeg.gusari.org/viewtopic.php?f=8&t=1736

[2017-03-22 13:04] cjh1 commented on #1064
It might be worth trying passing the  -mmacosx-version-min=10.9 option to -extra-cflags="..." is case its overriding the CFLAGS environment variable.

[2017-03-22 13:09] cjh1 commented on #1064
Scratch that, the paraview-superbuild is doing that, but has the same issue ...

[2017-03-22 13:31] Hovden commented on #819
It's not working for me. The bounding box changes, but the volume render remains exactly the same when using the crop tool.

[2017-03-22 13:34] Hovden opened #1068 "Integrate tiff reader voxel dimensions into data properties panel"
We discussed integrating the tiff reader voxel dimensions into data properties panel so users aren't inundated with the configure parameters popup every time data is loaded.

[2017-03-22 14:16] cquammen commented on #1060
Fixed in #1062.

[2017-03-22 14:16] #1060 closed

[2017-03-22 14:22] cquammen commented on #819
Confirmed in master. I also get the following error message twice:

[code]

Note that the Orthogonal Slice and Outline modules update appropriately. A Slice module does not.

I'm investigating.

[2017-03-22 14:39] cryos commented on #1068
This is a duplicate of #878, there are some updates on the way there.

[2017-03-22 14:39] #1068 closed

[2017-03-22 14:44] cryos commented on #878
After looking at this more closely we can improve the experience by suppressing the TIFF reader dialog as it serves no useful purpose. The setting of units using spacing is the only way that we can viably support units in the 3D visualization. After looking at this further I am not sure that we want to support anything different, at least without more thought.

We can support non-square voxels, bu

[2017-03-22 15:16] cjh1 commented on #1064
@cquammen Could you try out the latest: https://open.cdash.org/viewFiles.php?buildid=4819432

[2017-03-22 15:31] cquammen commented on #819
#1069 should fix the problem with the Volume not updating (it was unrelated to the Crop box issue).

[2017-03-22 15:37] cquammen commented on #1064
No go. Crash with the same call stack as reported initially.

[2017-03-22 15:41] cjh1 commented on #1064
@cquammen can you check libpython3.6m.dylib with your otool magic?

[2017-03-22 15:43] cquammen commented on #1064
Good news: Python no longer requires 10.12, but the following still do:

[code]

libpython is down to

[code]

[2017-03-22 15:45] cjh1 commented on #1064
The ffmpeg ones shouldn't be a problem as paraview has the same problem, but paraview  works on you machine  ( I assume! ) ...

[2017-03-22 15:51] cryos commented on #828
Resolved.

[2017-03-22 15:51] #828 closed

[2017-03-22 15:51] cryos commented on #875
Resolved.

[2017-03-22 15:51] #875 closed

[2017-03-22 15:52] cryos commented on #1057
Resolved.

[2017-03-22 15:52] #1057 closed

[2017-03-22 15:54] cryos commented on #1064
It may not when he attempts to export a movie... I think we can live with that for now, if everything else is working and at the end of the day Mac users can upgrade for free :apple:

[2017-03-22 17:03] cquammen commented on #1064
Yep ParaView runs fine - you can't even save out an MPEG on the Mac in either ParaView or Tomviz.  I'm not sure why we ship those with ParaView - probably an oversight.

[2017-03-22 18:08] cryos commented on #1064
If you upgrade to Sierra maybe you can? We got some additional clues on Bob's Mac,

Could not find platform independent libraries <prefix>
Could not find platform dependent libraries <exec_prefix>
Consider setting $PYTHONHOME to <prefix>[:<exec_prefix>]
Fatal Python error: Py_Initialize: unable to load the file system codec
ModuleNotFoundError: No module named 'encodings'

So that led to some new

[2017-03-22 19:01] cquammen commented on #819
@cryos confirmed the Volume is now updating after cropping.

[2017-03-22 19:01] #819 closed

[2017-03-22 20:19] mathturtle commented on #890
It shouldn't be too hard to add to the example data if we just want something custom for that dataset (which is what we have to do for now I think).  If someone can find out the correct angles, I can add that.  But I have no idea what the right values should be.

[2017-03-22 20:25] mathturtle commented on #872
I'll look at why those reconstruction slices can't be zoomed.  It is probably something simple.  I'm not sure about the 'enter' thing... I looked at it before and it gets tricky.  You have to grab they key events yourself, and I don't remember where you have to grab them to make it work.

[2017-03-22 21:35] alvarosan opened #1074 "Color bar does not resize with window"
1. Load dataset.
2. Click on the edge of the window and drag to resize.

![screenshot from 2017-03-22 17 30 57](https://cloud.githubusercontent.com/assets/767484/24221631/79421364-0f25-11e7-884a-515bf4ec2390.png)

[2017-03-22 23:43] #834 closed

[2017-03-22 23:50] cryos commented on #1074
Confirmed, and it looks like a new regression, I will try to track this down later. I was actually testing a branch and couldn't reproduce, but this issue is present in master...

[2017-03-23 04:53] cryos commented on #1074
Should be working as expected now.

[2017-03-23 04:53] #1074 closed

[2017-03-23 12:57] yijiang1 opened #1080 "Crash when running python transforms"
Binary v.0.9.4-197-g8a9c881. Mac

tomviz crashes when executing any python transform.

[2017-03-23 12:58] cjh1 commented on #1080
The package is currently broken, see #1064 we are working on it.

[2017-03-23 12:59] yijiang1 opened #1081 "Crash when opening "About tomviz" dialog"
Binary v.0.9.4-197-g8a9c881. Mac

[2017-03-23 13:00] cjh1 commented on #1081
This is because of #1064 this package is broken.

[2017-03-23 13:01] yijiang1 commented on #1080
Oops I didn't see that. I'll close this issue then.

[2017-03-23 13:01] #1080 closed

[2017-03-23 13:24] cquammen commented on #1081
Yep. It consults Python, and once Python is fixed in the Mac package, this will be fixed.

[2017-03-23 13:37] cquammen commented on #883
Checking master (eb115beda0ce45ea5e0b27e2249817096bb5ae8d), I see the color bar shrink immediately after Square Root is run, but then the histogram recomputes and the color bar expands to full size again.

[2017-03-23 17:17] cjh1 commented on #494
@mathturtle Do we have a way forward for this issue?

[2017-03-23 17:26] mathturtle commented on #494
@cjh1 I'm not sure.  @ercius hasn't sent me a file that demonstrates this.  We could add the transform he suggests, but I'm not sure what else could be done for this.  MRC is somewhat loosely defined as a format and if FEI is generating files inconsistent with the majority of the format definitions I have seen then I'm not sure how we can handle that since it will break another MRC file writer's f

[2017-03-23 17:54] cryos commented on #878
I am going to mark this as resolved, I think we can open new issues if we need to push further into distorted rendering scenarios where units in different directions have non-uniform scaling. There is an easy path to abuse the units and set them to the stretch you wish but you must remember any measurements along those axes will be incorrect.

[2017-03-23 17:54] #878 closed

[2017-03-23 17:55] cryos commented on #1081
We had everything working in one of the recent builds, just some warnings.

[2017-03-23 18:01] cryos commented on #494
What about adding a simple transform that applies this using numpy, set defaults to what was suggested and offer simple UI/ability to edit code to do more. This would be a useful example filter too for manipulating voxel values using basic math.

[2017-03-23 18:02] yijiang1 commented on #1040
bump

[2017-03-23 18:28] #872 closed

[2017-03-23 18:57] #1025 closed

[2017-03-23 19:00] cryos commented on #1040
I will take a look, and see about adding this to the packaging process/application menu.

[2017-03-23 19:00] cryos commented on #1040
@mathturtle if you would like to take a stab at this it is likely to be something I get to late Friday/Saturday.

[2017-03-23 19:01] cryos commented on #883
This is working now after a number of fixes to the color bar/histogram code.

[2017-03-23 19:01] #883 closed

[2017-03-23 19:02] cryos commented on #1064
This should be working now, if you get a chance @cquammen we would appreciate a few extra data points. If you see a crash please try running on the command line to capture extra debug output from Python.

[2017-03-23 19:03] cryos commented on #1081
As in the other bug, we would appreciate confirmation but it should be working as expected in recent builds.

[2017-03-23 19:04] cryos commented on #1034
Is this still an issue? I have never seen it, perhaps Apple specific?

[2017-03-23 19:04] cryos commented on #1005
This should be resolved now.

[2017-03-23 19:04] #1005 closed

[2017-03-23 19:08] cquammen commented on #1034
Nope, as I have created a lot of Crop operators lately :corn: 🍅 🌾

[2017-03-23 19:08] #1034 closed

[2017-03-23 19:10] cquammen commented on #1064
I'm happy to try it if you point me to the binary.

[2017-03-23 19:13] cquammen commented on #494
I can whip up a transform if no one else is working on it.

[2017-03-23 19:14] alvarosan opened #1086 "Chart in GradientOpacityWidget not updating/initializing properly."
The chart is not updating/initializing properly when the transfer function is set before the chart is shown at least once.  The plot does not resize to the axis as expected, this does not occur if the gradient opacity chart is visible before adding the volume.

The issue can be reproduced as follows:
1. Load data.
2. Add volume representation.
3. Show the gradient opacity chart.
4. Drag the edge o

[2017-03-23 19:14] cryos commented on #1064
The nightly (which isn't really just nightly) from http://www.tomviz.org/downloads/ should work.

[2017-03-23 19:20] cquammen commented on #1064
Roger that.

I get the same errors when run from the command line:

[code]

[2017-03-23 19:23] cquammen commented on #1064
FWIW, the directory `/Applications/tomviz.app/Contents/Python/encodings` exists in the installed bundle.

[2017-03-23 19:31] cquammen commented on #1064
If in my terminal I set

`export PYTHONPATH=/Applications/tomviz.app/Contents/Python/`

and launch Tomviz, Python works! I still get the following messages:

[code]

but at least 🐍 works.

[2017-03-23 19:43] cjh1 commented on #1064
I am working at setting PYTHONHOME, to if that up.

[2017-03-23 19:55] cjh1 commented on #1034
:tractor:

[2017-03-23 21:50] cquammen commented on #494
Here's a transform that strictly does the task needed in this issue, which is reinterpreting integral types to unsigned integral types:

[code]

Please advise if you had something else in mind, @cryos .

[2017-03-24 02:04] cryos commented on #494
Seems reasonable to me, if it satisfies @ercius use case then let's get it added @cquammen - I hadn't thought too deeply about how it should be done.

[2017-03-24 02:17] ercius commented on #494
I just saw this after leaving work. I'll take a look tomorrow and can also
provide an example dataset.

On Thu, Mar 23, 2017, 7:04 PM Marcus D. Hanwell <notifications@github.com>
wrote:

[2017-03-24 02:19] cryos commented on #1064
Just reproduced here, I think the shell we used in testing earlier still had PYTHONPATH exported, fresh shell it fails until I set PYTHONPATH. Thanks for catching that @cquammen!

[2017-03-24 02:37] cquammen commented on #494
Another possibility - and maybe more generally useful one - add a transform that simply adds a constant to the data. We could include a checkbox to set the constant to the minimum value in the dataset.

[2017-03-24 02:37] cryos commented on #1064
I think this perhaps explains why it is not working, some of these paths must be available while Python is being initialized,

    /**
     * Prepends the path to the sys.path variable. If Python has been
     * initialized, this call will update the sys.path variable otherwise the same
     * will be done once Python has been initialized. The paths added are saved so
     * that if Python is init

[2017-03-24 12:51] cjh1 commented on #1064
The call to ```InitializePythonEnvironment(...)``` occurs from ```main(...)``` which is before we init our Python interrupter so I would expect this to work :frowning:

[2017-03-24 13:09] cjh1 commented on #1064
Actually, looking at the implementation on ```vtkPythonAppInitPrependPythonPath```, python is definitely already running.  As @cryos pointed out its append to sys.path directly. Lets hope the qputenv approach works.

[2017-03-24 13:19] cryos commented on #1064
It did fail before, and work in my test. I will reboot the Mac in a minute to be as clean as possible, but I think we are good...

[2017-03-24 18:05] cryos commented on #1081
This is fixed in the latest binaries, 0.9.4-220 or later should work without issue.

[2017-03-24 18:05] #1081 closed

[2017-03-24 18:05] cryos commented on #1064
This is fixed in the latest binaries, 0.9.4-220 or later should work without issue.

[2017-03-24 18:05] #1064 closed

[2017-03-24 18:07] cryos commented on #494
What you proposed seems like a nice approach, why don't we test that, and we can always add something else later. I would imagine this would be useful where you know there is a type issue, but general mathematical transforms such as adding and/or multiplying the voxel values would be of use too.

[2017-03-24 18:08] cryos commented on #890
This is now resolved in the latest binaries, and works well in my testing.

[2017-03-24 18:08] #890 closed

[2017-03-24 18:09] cryos commented on #746
@cquammen The VTK version always says 7.1.0 for me, when I don't think it is. If this is an easy tweak I would fix it, otherwise maybe just drop it and keep the ParaView version for now at least - one is implied by the other as we do not manually move VTK back or forward.

[2017-03-24 18:10] cryos commented on #793
I think we have resolved a lot of issues here, please reopen if I am mistaken.

[2017-03-24 18:10] #793 closed

[2017-03-24 18:10] cryos commented on #836
This was merged a little while back, and we have at least basic support now.

[2017-03-24 18:10] #836 closed

[2017-03-24 18:12] cquammen commented on #746
You are technically right that VTK is not at version 7.1.0. As it is unimportant, I think I'll just remove it.

[2017-03-24 18:16] cryos commented on #746
Sounds great, I am happy with that. Once that is merged we can close this issue out - it satisfies my initial requirements and can be extended as needed in the future.

[2017-03-24 19:45] cquammen commented on #1064
confirmed that this works on my machine. High five.

[2017-03-24 19:48] cryos commented on #1064
That's great - thanks for the confirmation!

[2017-03-24 19:52] mathturtle opened #1095 "Camera position wrong when loading state file with slice module"
Create a state file where the only visible module is a non-orthogonal slice.  When loading it back in, the camera position (either default or reset) is not useful for seeing the module.  (in my testing the slice was offscreen completely).  Probably not a big deal since most people will leave the outline visible when slicing and the outline will help the camera find a good position.

[2017-03-24 20:52] #895 closed

[2017-03-24 22:37] ercius commented on #494
The transform above transform_scalars(dataset) works just as expected. Ill test it in the binary when it gets incorporated.

I also like the second approach (add a constant with option min() checkbox), which would be more versatile.

[2017-03-24 22:37] #494 closed

[2017-03-25 00:53] cryos commented on #1040
Tested in the latest binaries, and it works great.

[2017-03-25 00:53] #1040 closed

[2017-03-25 00:55] cryos commented on #745
We have added a number of changes in VTK, and I think this has improved. It isn't perfect, but I think it is at least improved. I would like to circle back given a little more time in the future to see if we can pop up a more explicit dialog, mainly impeded by strange behavior on macOS machines.

[2017-03-25 00:55] #745 closed

[2017-03-26 00:46] cryos commented on #801
This was resolved in #966

[2017-03-26 00:47] cryos commented on #764
This is now working.

[2017-03-26 00:47] #764 closed

[2017-03-26 00:50] cryos commented on #421
This is now the case when the axis grid feature was refactored.

[2017-03-26 00:50] #421 closed

[2017-03-26 00:52] cryos commented on #408
This was resolved, there are still one or two ParaView open/save file dialogs lingering, but we did replace a number of them to offer better consistency.

[2017-03-26 00:52] #408 closed

[2017-03-26 00:54] cryos commented on #240
I think this is resolved, at least in  some form, by the convert to float operator.

[2017-03-26 00:54] #240 closed

[2017-03-26 00:57] cryos commented on #34
We have methods of caching now, and we are tracking the state file bugs in other issues. I am going to mark this as resolved, and use those issues to ensure we enable saving  state.

[2017-03-26 00:57] #34 closed

[2017-03-26 00:59] cryos commented on #20
I think we have most of this, if we want to add support for rotation we can track it in a new issue, but translation is now supported, scaling and/or rotation are possible too.

[2017-03-26 00:59] #20 closed

[2017-03-26 14:28] cryos commented on #746
I am going to close this, #1103 removes the VTK version information as discussed.

[2017-03-26 14:28] #746 closed

[2017-03-26 17:37] cryos commented on #26
So while we never addressed this directly, you can threshold using ITK operators, and you can color by label maps. I think we could make this a little smoother, but I think it should enable the types of workflows you would like. The color by label map offers ways of classifying voxels and then applying that to a contour in a very flexible way. I am going to close this issue, but we may want to cir

[2017-03-26 17:37] #26 closed

[2017-03-26 17:39] cryos commented on #91
This has been available for a while now, as described, but got disconnected from this issue. Sorry about that, closing this issue.

[2017-03-26 17:39] #91 closed

[2017-03-26 17:41] cryos commented on #166
This is not perfect, but it is now much improved. This is a macOS/Qt 5 issue based upon the UI guidelines from Apple. If you double-click any operator that has an open dialog it will now call raise, which should bring that dialog into the foreground. I think this is the best we can do as we do not wish to make the dialogs modal (that would prevent any interaction with anything but the dialog).

[2017-03-26 17:41] #166 closed

[2017-03-26 18:30] #435 closed

[2017-03-26 19:05] cryos commented on #1004
Confirmed on one of our test machines here too, this doesn't happen on other platforms, and is a little strange. The interface all shows up as normal, if it wasn't for ParaView displaying all console errors you would never know.

[2017-03-26 19:37] cryos commented on #1033
I am going to call this close enough, as the screen shot sizes are passed in as an integer, dividing by 2 leads to a rounding, meaning that any odd number will be rounded down on retinal Macs. Who really wants a 269x100 screenshot? If they do I think a more elegant fix will be required, but this rounds any odd pixel down by one pixel at worst in my testing.

[2017-03-26 19:37] #1033 closed

[2017-03-26 19:39] cryos opened #1106 "Warning when loading example data on startup"
I see this on macOS and Linux with the binaries, I wonder if the state file is perhaps too old, and we just need to create an updated one:

    Warning: In /home/buildslave/dashboards/buildbot/tomviz-tomviz_debian7dash-linux-shared-release_superbuild/build/paraview/src/paraview/VTK/Charts/Core/vtkPlotBar.cxx, line 1001
    vtkPlotBar (0xf53070): SelectColorArray called with no input table set.

Ad

[2017-03-27 00:22] cryos opened #1108 "Save screen shot and save to web should use system file dialogs"
These three files reference/use the pqFileDialog, and look inconsistent, we should use QFileDialog for consistency

tomviz/SaveScreenshotReaction.cxx
tomviz/SaveWebReaction.cxx
tomviz/WebExportWidget.cxx

[2017-03-27 03:09] cryos commented on #387
This is linked to from a page on documentation, we should expand the page a littlel too, but I think this at least adds the basics. Sorry it took a while, this slipped my mind.

[2017-03-27 03:09] #387 closed

[2017-03-27 03:23] cquammen commented on #801
Hmm, #966 was closed because it was a duplicate of this issue. I just tested in recent master whether it was possible to save the table data out to a CSV file and it was not. One can save only the Point, Cell, or Field data from the current DataSource image.

[2017-03-27 03:27] cryos commented on #801
Thanks @cquammen, I obviously misread as I was working through stale bugs.

[2017-03-27 03:29] cryos commented on #543
Sorry, this won't make 1.0, but I will try and get to this as it is irritating on Windows.

[2017-03-27 03:53] cquammen commented on #1033
Confirmed, it works reasonably well.

[2017-03-27 14:33] cquammen commented on #799
Tested in master. This is no longer an issue.

[2017-03-27 14:33] #799 closed

[2017-03-27 14:35] cquammen commented on #825
Update: it is not longer possible to delete child datasets via the context menu, but it is possible to delete with the delete key.

[2017-03-27 14:53] Hovden commented on #983
We should either prevent the user from saving state without first saving the cloned data
or warn the user that the data will not be saved into the state file (and prevent a crash).

[2017-03-27 15:06] cryos commented on #983
Yes, @cjh1 is working on this, and I think at a minimum we can warn and skip problematic nodes in the graph so that we end up with a valid state file.

[2017-03-27 15:55] cryos commented on #983
We just merged #1098 which does as discussed. New binaries should be available within an hour to test, there are some unexpected issues with saving cloned/child data that we are looking into. I think this issue is now resolved, but the larger issue of saving/restoring child data in the pipeline may require some larger changes.

[2017-03-27 17:09] cryos commented on #1108
@mathturtle I am not sure how much work this is, but it would be nice for improved uniformity. There is one pending PR with changes to the web export code, the main thing is ensuring the file ending us used which I remember you working on in another set of commits.

[2017-03-27 19:25] #1106 closed

[2017-03-27 19:39] cryos commented on #801
This is now resolved.

[2017-03-27 19:39] #801 closed

[2017-03-27 19:40] cryos commented on #983
I am going to mark this as resolved now, there are other issues tracking the need to ensure child/clone/snapshot data can be saved correctly.

[2017-03-27 19:40] #983 closed

[2017-03-27 19:41] cquammen commented on #653
I cannot reproduce this. After modifying a dataset with the crop operator, I do need to remove the current Camera Orbit and add it again, but it is centered about the current data source when I do so. The Center settings are set to a reasonable setting, that is, the center of the data source.

[2017-03-27 19:58] cquammen commented on #927
To close the loop on this, we won't be able to make Tomviz work on every Windows 10 Remote Desktop connection. We can perhaps do smarter OpenGL version testing, and that issue is tracked in #745. That's probably about the best we can do.

[2017-03-27 19:58] #927 closed

[2017-03-27 19:59] alvarosan commented on #1086
The fix worked for me too, thanks @cryos.

[2017-03-27 20:56] ElliotPadgett opened #1122 "Histogram font is tiny on Mac retina display"
Almost all other text and icons are fine, but the text labels on the histogram are very small on my Mac retina display.  Update: Looks fine on a Mac with regular displays.

[2017-03-27 21:02] cquammen commented on #1122
Confirmed.

[2017-03-27 21:13] cquammen commented on #825
I must have been confused before. It is possible to delete child datasets via the context menu.

[2017-03-27 21:23] ElliotPadgett commented on #1122
Actually I found that the outline axes labels are impacted by this as well.

[2017-03-27 21:30] ElliotPadgett opened #1123 "Scale cube features"
I like the scale cube!  It would be even nicer with a few new features.  Here are some that I would like:
1) Set the color
2) Allow the user to type in the position
3) Allow the user to set the side lengths independently so that it is not necessarily a "cube".  This would allow you the flexibility to make something like a platform for the object to sit above.

[2017-03-27 23:14] cryos commented on #1108
This is resolved in master now.

[2017-03-27 23:14] #1108 closed

[2017-03-27 23:14] cryos commented on #825
This is resolved in master now.

[2017-03-27 23:14] #825 closed

[2017-03-27 23:16] cryos commented on #323
I will see if I can pull this off, I have the correct certificate type now, but we  have extended what we package a little too.

[2017-03-27 23:57] ercius commented on #543
Thanks for the update. It's only an irritation as you say.

On Mon, Mar 27, 2017, 4:55 AM Marcus D. Hanwell <notifications@github.com>
wrote:

[2017-03-28 01:54] cquammen commented on #767
It appears to me that the CropOperator offers the same functionality intended by `Crop_Data.py`, and it already uses the "SelectVolumeWidget". I suggest the file be removed, but it's not urgent for the 1.0 release.

[2017-03-28 03:54] Hovden commented on #1122
I don't mind it. But I was the person that cranked the CRT pixel density to an obscene value.

[2017-03-28 14:45] mathturtle commented on #616
Yeah, you still can't restore child datasets' operators or modules.

[2017-03-28 14:52] cryos commented on #616
No, things are currently being filtered out if they cannot be restored correctly.

[2017-03-28 15:26] yijiang1 opened #1129 "Add more descriptions to snapshot data in pipeline"
When I snapshot a transform, the pipeline only shows "Snapshot *".
<img width="297" alt="screen shot 2017-03-28 at 11 19 31 am" src="https://cloud.githubusercontent.com/assets/13088588/24413176/a81e7c9a-13a8-11e7-9d05-cd21140a2f88.png">

Is it possible to show the transform name as well?

[2017-03-28 15:30] cryos commented on #1129
What transform name? You mean of the operator before the snapshot operator? There are certainly things that could be added, but they are already present in the pipeline. Ideally you save the data, and the name will update to what you save it as too.

[2017-03-28 15:49] yijiang1 commented on #1129
Yes.

Where are they? I don't see any thing that tells me which operator the snapshot comes from.
<img width="301" alt="screen shot 2017-03-28 at 11 43 31 am" src="https://cloud.githubusercontent.com/assets/13088588/24414468/7c829ff4-13ac-11e7-97f6-c8ef79aa5062.png">

[2017-03-28 17:03] cquammen commented on #1122
#1126 was merged, so this should be fixed now.

[2017-03-28 17:03] #1122 closed

[2017-03-28 17:25] cryos commented on #1129
The pipeline display expresses that information, the highlighted snapshot is a child of the snapshot operator, which uses data from the preceding operator, i.e. Delete Slices. The snapshot option should only be available on an operator, and will always apply to the last operator in a pipeline.

We are working on adding support to save the data, and when that is done the italics/* will go away, and

[2017-03-28 17:27] cryos commented on #1129
In the original screen capture you took a snapshot of a snapshot, we should add some logic to prevent that as it is confusing. You cannot snapshot at arbitrary points in the pipeline, so maybe the context menu could be more selective to only show up on the final operator - it does get added in the correct location.

[2017-03-28 17:54] cquammen commented on #592
Developer's note: ParaView sets the enabled state of the "Reset Center" button based on whether a representation is active - when no representation is active, it is disabled, when a representation is active, it is enabled. ModuleSlice does not create a representation but instead adds a widget directly to the view's render window. As a result, when it is selected, no representation is active, and t

[2017-03-28 18:42] cryos commented on #592
Good to know, we should override that behavior as we don't want to be restricted to representations. Thanks for the extra information.

[2017-03-28 19:56] Hovden opened #1130 "Setting current image = 0 crashes in manuel alignment tomviz"
1. Open manual alignment tool
2. Setting current image to 0
Tomviz crashes

[Windows]

[2017-03-28 20:08] mathturtle commented on #1130
I'll look at this.

[2017-03-28 20:12] Hovden opened #1132 "Data Transform Dialogues (progress bars) do not appear when loading states"
1. Create a pipeline of data steps (e.g. auto alignment (XCORR).
2. Save State.
3. Clear and reload state.
Progress bars do not appear and you are left guessing the time it takes to calculate.

[2017-03-28 20:13] cquammen commented on #570
Related to https://gitlab.kitware.com/paraview/paraview/issues/14786

[2017-03-28 20:18] mathturtle commented on #1130
Hmmm, doesn't happen here on Linux.  I'll try on Windows.

[2017-03-28 20:27] Hovden opened #1133 "Manual Alignment Crashes on Third Use"
1. Load the Manual Alignment tool.
2. Click OK or Apply.
3. Reload the same manual alignment by double clicking in pipeline. Click OK or apply.
4. Repeat once more and it crashes.
[OSX and Windows]

Most tomography users will adjust the manual alignment tool many times. So this is a more significant bug for tomography.

[2017-03-28 20:46] mathturtle commented on #1130
It doesn't happen on Windows either.  I'm not sure what you did but I can't reproduce it.

[2017-03-28 20:49] mathturtle commented on #1133
I can reproduce this one.  Looking at it now.

[2017-03-28 20:57] cquammen commented on #1130
Could not reproduce on macOS either. @Hovden If you could specify step-by-step directions you took that led to the crash (data set loaded, menu items selected, etc.)? That might get us closer to reproducing the issue.

[2017-03-28 21:26] mathturtle commented on #1133
So this is something to do with our caching of previously used midpoint steps...  I can disable the caching as a quick solution, but nothing is jumping out at me as the problem.  Any ideas @cryos @cjh1?  This should probably be a 1.0 blocker...

Code (see DataSource.cxx line 853 or so)
[code]

[2017-03-28 22:01] yijiang1 opened #1134 "Progress dialog disappears after an operator snapshot"
1. Load a dataset.
2. Do a transform.
3. Snapshot the transform.
<img width="304" alt="screen shot 2017-03-28 at 6 00 27 pm" src="https://cloud.githubusercontent.com/assets/13088588/24429546/82093f76-13e0-11e7-8af8-0444d968030e.png">

4. Do a long data transform. e.g. Direct Fourier method reconstruction.
5. The progress dialog does not appear during transform.

[2017-03-28 22:11] ercius opened #1135 "FFT and fortran array"
Left over from #880: Data Transforms --> FFT (abs log) gives warning about fortran array.

Warning, array does not have Fortran order, making deep copy and fixing...
...done.

[2017-03-28 22:36] cryos commented on #1133
I could reproduce, and it looks like something isn't right in the caching code as you suggested. replacing cached with false, and bypassing that code resulted in no crashes here. I would rather rerun the pipeline than risk crashing, so that would be reasonable to do. I can try and take a better look at the code later/in the morning.

[2017-03-28 22:37] cryos commented on #323
I have made a signed application, and shared it with a few testers locally. Initial results look good, it required some manual fixup of the Qt frameworks, mainly deleting debug versions and prl files. I think we should be able to put out a 1.0 macOS binary that is signed.

[2017-03-28 23:12] cryos opened #1137 "Remove menu entries inserted by macOS"
The macOS default is to add "Enter Full Screen" to the view menu, among other things. We should remove this, but it looks like it needs Objective-C code. Let's plan on fixing this up, but probably as part of a bug fix after the next release.

https://forum.qt.io/topic/60623/qt-5-4-2-os-x-10-11-el-capitan-how-to-remove-the-enter-full-screen-menu-item

[2017-03-28 23:16] cryos commented on #1133
There should be some updated binaries shortly that contain this workaround for testing, I just merged a patch disabling the caching for now.

[2017-03-29 00:13] ercius commented on #653
Ive seen this a couple of times and was able to reproduce it in 1.0.0-RC1. The way it works is strange though.

1) Load the example dataset
2) Delete the current camera - orbit in the Animations window (you can only have 1 of these)
3) Add a new ortho slice
2) Delete the ortho slice
3) Add a camera -- orbit module in the Animation window
4) The Center is not auto populated
![clipboard01](https://c

[2017-03-29 00:19] ercius opened #1138 "Manual alignment colormaps"
The reconstructions on the bottom of the manual alignment GUI do not auto populate with the current selected color map. I think they default to plasma.
![clipboard02](https://cloud.githubusercontent.com/assets/15657108/24432978/97affc08-13da-11e7-98e9-b716a09376cd.png)

[2017-03-29 13:08] yijiang1 commented on #1135
I think I just fix this.
It seems my branch didn't go through pull request and somehow merged into master directly???

[2017-03-29 13:38] cquammen commented on #653
Thanks for the steps. I was able to reproduce the problem.

I looked into the implementation in ParaView. To be honest, the "Create Orbit" dialog is not really ready for primetime. This issue and #570 are symptoms of the rough implementation on the ParaView side. The only types of orbits that work well are orbits where you don't change the Normal setting in this dialog.

Further compounding the pr

[2017-03-29 13:47] #1135 closed

[2017-03-29 13:48] cryos commented on #323
Marking this as resolved, it seems we have this working and it will feature in the 1.0 release. Thanks to those who tested this, or let me access their machines to test it.

[2017-03-29 13:48] #323 closed

[2017-03-29 13:50] cquammen commented on #37
If this refers to locking down the camera rotation center, I don't think this makes sense. It would prevent one from zooming in on a group of particles and rotating about it, for instance. Instead, the rotation center would be relatively far away, making any rotation very fast and difficult to control, and would effectively prevent you from easily viewing all sides of a subregion of the data.

[2017-03-29 13:51] cryos commented on #37
This is an ancient request, and I don't think it is relevant amid all the other changes/update.

[2017-03-29 13:51] #37 closed

[2017-03-29 14:08] cquammen commented on #323
Very cool!

[2017-03-29 14:11] cryos commented on #1133
I am going to mark this as resolved for now, the caching was added as an optimization for C++ operators that had custom GUI and needed to know about the previous step.

[2017-03-29 14:11] #1133 closed

[2017-03-29 14:50] cryos commented on #1130
I also failed to reproduce this, and looking at the code I don't see an obvious bad path.

[2017-03-29 14:51] cryos commented on #170
I think we addressed the major points I was concerned about here.

[2017-03-29 14:51] #170 closed

[2017-03-29 14:55] cryos commented on #180
I don't think this is something we necessarily want to address, this is the way we designed the visualization modules to work. I am going to close this, but if we want to head in this direction I think we need to revisit some other design decisions.

[2017-03-29 14:55] #180 closed

[2017-03-29 14:56] yijiang1 commented on #1130
I can't reproduce this either.

[2017-03-29 15:03] cjh1 commented on #1132
Should be fixed by #1142

[2017-03-29 15:03] Hovden commented on #1130
Ok. We were using a dataset from nat.data paper. I guess just close this until I can provide more details.

[2017-03-29 15:35] cjh1 commented on #1132
#1142 resolves the progress issue, however, the color map and control points are not restored until the execution of the pipeline is complete. Fixing this up will require a little more work.

[2017-03-29 15:37] cryos commented on #1138
This is resolved, thanks for catching this @ercius

[2017-03-29 15:37] #1138 closed

[2017-03-29 15:38] cryos commented on #1132
Thanks @cjh1, glad we could find a simple fix.

[2017-03-29 15:38] #1132 closed

[2017-03-29 23:21] ElliotPadgett opened #1145 ""Separate color map" feature broken for contour"
The "separate color map" check box appears to be broken for contour renderings.  to replicate the problem:
1) open sample data (and leave up slice rendering)
2) add contour rendering
3) check "separate color map" and change the color map
When this is done the contour does not change color, but the pre-existing slice will change color!  Also, the colormap histograms change for the dataset and the s

[2017-03-29 23:26] ElliotPadgett opened #1146 ""Show legend as cube" menu item crashes tomviz"
I don't know what this thing is supposed to do, but when I click it the program crashes.

[2017-03-30 03:21] yijiang1 commented on #1146
I don't have see this bug on Windows 10. Maybe it only crashes on Mac.

[2017-03-30 03:49] Hovden commented on #1146
It works ok on the osx 1.0 release I have.

[2017-03-30 04:15] ercius commented on #1146
This crashed for me on Windows 10 after playing with an RC1 install
yesterday. However, with a fresh tomviz instance it worked. So, it's not a
trivial thing to reproduce.

On Wed, Mar 29, 2017, 8:49 PM Robert Hovden <notifications@github.com>
wrote:

[2017-03-30 20:53] ElliotPadgett commented on #1146
Ok, let me check again and see if I can reproduce the conditions.

[2017-04-02 23:42] cryos commented on #1145
I will see what  I can do, we added some special features to contour, and they are causing this off behavior. Thanks for reporting the issue.

[2017-04-02 23:45] cryos commented on #1146
I don't see a crash, but do see some issues where it doesn't always render. I will see if I can get to the bottom of it.

[2017-04-04 14:57] Hovden opened #1153 "font size too big on histogram - numbers overlap"
When we fixed the font size for the histogram it was made too big. We need that Goldilocks font size. Maybe 1/2 the current size.

<img width="960" alt="screen shot 2017-04-04 at 10 55 04 am" src="https://cloud.githubusercontent.com/assets/6197997/24663261/64ba61bc-1925-11e7-96f4-d6b5ad2f49db.png">

[2017-04-04 15:02] cquammen commented on #1153
I would say the font size is reasonable, but the overlap is not. That's a bug in the axis implementation that should be fixed in VTK.

[2017-04-04 15:42] Hovden commented on #1153
This screenshot loses some context. The axis font is larger than the other text in the program. I would say the axis should have a font no bigger, and probably smaller than the rest of the application.

[2017-04-04 16:18] cryos commented on #1153
I will take a look, I tend to agree that the text should be on bigger than what we have in the application and it feels a little big to me too. The overlap should be handled by the vtkAxis, but reducing the font size will at least alleviate issues a little.

[2017-04-05 06:34] thewtex opened #1158 "WebExport does not support Python 3"
`File -> Export to Web...` is currently broken:

[code]

[2017-04-05 06:36] thewtex opened #1159 "Opacity entries in the animation timeline have no effect"
A camera entry in the animation timeline works, but opacity on a Volume, Contour, or Orthogonal Slice have no effect.

[2017-04-05 14:14] thewtex commented on #911
I am adding support for this file format in ITK, which may be an avenue to get support for this in Tomviz in the future.

[2017-04-05 15:08] Hovden commented on #1159
I noticed this too, but I wasn't sure if I was using the animation tool correctly.

[2017-04-05 15:12] cryos commented on #1158
Thanks @thewtex, must have missed these in last minute changes as we were preparing the release. We will hopefully get it fixed up soon.

[2017-04-05 15:22] cryos commented on #1159
This needs some work, the view the animation tool has on the scene is rather limited right now due to the advanced features not being exposed to the proxies.

[2017-04-06 03:11] cryos commented on #1153
I have merged a few changes tweaking the DPI passed to VTK, we took a look on a retinal iMac, and on my Dell Linux laptop running a hi-DPI screen. It is not perfect, but I think it is a good workaround. It looks like there are some issues with the DPI code, as the fonts seem to get too large as the DPI increases. The latest builds should show the new behavior.

[2017-04-13 17:47] cryos opened #1162 "Python formatting enforcement"
I came across https://github.com/google/yapf and wondered if this might be a useful addition (and/or replacement). Adding this issue as more of a reminder, it seems to share more with clang-format than autopep8 etc.

[2017-04-13 17:51] cryos commented on #1158
The #1160 PR fixed the code in Tomviz, but the [VTK](https://gitlab.kitware.com/vtk/vtk/merge_requests/2666) PR (merged), and the [ParaView](https://gitlab.kitware.com/paraview/paraview/merge_requests/1530#note_249521) PR are needed. This will require bumping ParaView once the outstanding PR has been merged.

[2017-05-03 17:30] ercius opened #1164 "Export orthoSlice and nonOrthoSlice as TIF"
I wanted to revisit #419. Extracting a slice as an image file is a common task I want to complete using tomviz. This is very useful for making figures for journal articles.

I wrote a VTK script in python to implement [vtkImageReslice()](http://www.vtk.org/doc/nightly/html/classvtkImageReslice.html) and [vtkImageSlabReslice](http://www.vtk.org/doc/nightly/html/classvtkImageSlabReslice.html). I wan

[2017-05-03 17:30] #419 closed

[2017-05-03 18:05] cryos commented on #1164
Totally agree, it was on my list to connect more of the visualization modules to writers. You can also write out the triangles of a contour to an STL file for 3D printing, and of course slices to images. Thanks fro bringing this up, I will see if we can get this added soon.

[2017-05-04 07:41] jabl opened #1165 "Stereoscopic rendering"
It would be nice if tomviz would support stereoscopic rendering.

Preferably using different methods that can be chosen depending on what kind of 3D hardware is available. E.g.

- OpenGL quad buffering with shutter glasses.

- Anaglyph using red-cyan glasses (cheap, doesn't require any hw support). E.g. https://threejs.org/examples/webgl_effects_anaglyph.html

- Stereo support for 3D TV's and thin

[2017-05-05 19:37] Hovden commented on #1165
@jabl that's a great idea. It would help the promotion and outreach of 3D visualization in science. With the 1.0 release we are now focusing effort to broaden the user base. When we return to new feature development we will look into this. Thanks for the idea.

[2017-05-10 12:45] jabl commented on #1165
Good to hear. Is there anything I can do to help get this done? I can afford to spend some work hours on this.

[2017-05-12 19:43] zoetaite commented on #745
Hello...wondering this software has ever been tested in a VDI environment? We are currently migrating some of our Labs over to VMware Horizon View and we use a 3D software Renderer.

![image](https://cloud.githubusercontent.com/assets/28659305/26014145/6b7c99c6-3729-11e7-8b29-36653b2db938.png)

When I click would you like to load an example the application shows an error that tomviz.exe has stoppe

[2017-05-12 20:14] cryos commented on #745
We have not tested in this type of environment, we really need GPU accelerated rendering for best performance. If there is no valid OpenGL we may be able to test out approaches using software rendering.

[2017-05-16 08:25] jabl commented on #1165
There seems to be (undocumented?) command-line options --stereo and --stereo-type= that implement this. This seems to be coming from paraview, as there is not mention of stereo anywhere in the tomviz source tree.

I wonder, would it be possible to change the stereo enabling and type from some widget in the application? I guess adding command-line options is difficult for windows/mac users who laun

[2017-05-31 15:22] cjh1 opened #1170 "Segfault with ParaView 5.4"
[code]

[2017-05-31 15:34] cjh1 commented on #1170
@jourdain @utkarshayachit Any ideas what might be causing this?

[2017-05-31 15:35] jourdain commented on #1170
Was it when starting Tomviz? Or else?

[2017-05-31 15:37] cjh1 opened #1171 "Web export menu issue"
The exported app doesn't seem the be able to create the menu:

![error](https://cloud.githubusercontent.com/assets/1031053/26640332/6eeedb20-45f5-11e7-9e12-4db814cf041a.png)
![error2](https://cloud.githubusercontent.com/assets/1031053/26640337/733510dc-45f5-11e7-8f65-73b01e1e30cc.png)

[2017-05-31 15:37] cjh1 commented on #1171
@jourdain This is with 5.4 rc 3

[2017-05-31 15:40] jourdain commented on #1171
The issue is in tomviz-web but I had a branch a while back to update it after the release.
I don't know if my PR has been merged or not.

[2017-05-31 15:45] cquammen commented on #1170
I believe this is related to https://gitlab.kitware.com/paraview/paraview/issues/17471. I get the same `vtkPVDataDeliveryManager` error when working around the segfault in that issue. It seems to have to do with the recent addition of `vtkPVGridAxes3DRepresentation`.

[2017-05-31 15:58] cryos commented on #1170
Thanks for the info @cquammen

[2017-05-31 17:01] cryos commented on #1170
@cjh1 any hints on reproducing it, I haven't been able to make it happen with latest master.

[2017-05-31 17:01] utkarshayachit commented on #1170
@jourdain does ParaViewWeb use `InteractiveRender`?

[2017-05-31 17:09] cryos opened #1172 "Web export failure on volume export with Python 3.6"
I see the following when trying to export a volume geometry with a stride of 2, it looks like an issue with the tupleHolder set by causing range. Just tracking issues right now as I want to make sure web export works in our next release.

[code]

[2017-05-31 17:12] cryos commented on #1130
Closing for now, please reopen if you have a recipe to reproduce

[2017-05-31 17:12] #1130 closed

[2017-05-31 17:42] cryos commented on #1171
This seems to be fixed now I merged the branch @jourdain mentioned.

[2017-05-31 17:42] #1171 closed

[2017-05-31 18:07] cryos commented on #1172
Fixed in #1174

[2017-05-31 18:07] #1172 closed

[2017-05-31 18:08] cryos commented on #1158
Should be fixed in the latest binaries, there were a few levels to work through, apologies for the delay.

[2017-05-31 18:08] #1158 closed

[2017-05-31 18:10] thewtex commented on #1158
@cryos great, thanks!

[2017-05-31 18:21] jourdain commented on #1170
Yes PVW use InteractiveRender, but normally not within the export scripts of Tomviz.